﻿<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<style>
    .top-buffer {
        margin-top: 20px;
    }

</style>

<script>
    $(document).ready(function () {
        $('#btnInsertLocations').click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("insertLocations", "Location")',
                success: function (msg) {
                    $('#spanInsertLocations').html(msg);
                }
            });
        });
    });
</script>

<div style="width:100%; height:100%;">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>LocationController</h2>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <button type="button" id="btnInsertLocations" class="btn btn-info" style="margin-right:10px;">Press it</button>
                <span id="spanInsertLocations"></span>

            </div>
        </div>
    </div>
</div>