﻿@model IQueryable<CAB.Data.EF.Models.F_CAB_QUEUE_CODE_REQ_CASK>
@Html.DevExpress().GridView(s => {
    s.Name = "gvRequestCasks";
    s.KeyFieldName = "QCRC_SEQUENCE";
    s.Styles.Table.BackColor = System.Drawing.Color.PaleGoldenrod;
    s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    s.CallbackRouteValues = new { Controller = "CABAuthorize", Action = "CABRequestCasksPartial", id = Model.FirstOrDefault().QCRC_FK_CODE_REQUEST };

    GridViewCommandColumn commandColumn2 = new GridViewCommandColumn();
    commandColumn2.Width = System.Web.UI.WebControls.Unit.Pixel(50);
    commandColumn2.Visible = true;

    s.Columns.Add(commandColumn2);                        
    
    s.Columns.Add(column => {
        column.FieldName = "F_CAB_CD_CASK.CDCA_CASK_CODE";
        column.Caption = "Fust Code";
        column.Width = System.Web.UI.WebControls.Unit.Pixel(100);
    });
    s.Columns.Add(column => {
        column.FieldName = "F_CAB_CD_CASK.CDCA_CASK_DESC";
        column.Caption = "Fust Omscr.";
        column.Width = System.Web.UI.WebControls.Unit.Pixel(100);
    });
    s.Columns.Add(column => {
        column.FieldName = "QCRC_NUM_OF_UNITS";
        column.Caption = "Aantal pr fust";
        column.Width = System.Web.UI.WebControls.Unit.Pixel(100);
    });
    s.Columns.Add(column => {
        column.FieldName = "QCRC_UNITS_PER_LAYER";
        column.Caption = "Fusten pr laag";
        column.Width = System.Web.UI.WebControls.Unit.Pixel(100);
    });
    s.Columns.Add(column => {
        column.FieldName = "QCRC_LAYERS_PER_TROLLEY";
        column.Caption = "Lagen pr VBA";
        column.Width = System.Web.UI.WebControls.Unit.Pixel(100);
    });
    s.SetEditFormTemplateContent(t => {
                
        ViewContext.Writer.Write("<table><tr><td style=\"padding-left: 65px;\">");
        //Html.DevExpress().Label(s => {
        //    s.AssociatedControlName = "cb_newCask";
        //    s.Text = "Fustcode:";
        //    s.Attributes.CssStyle.Add("margin", "5px;");
        //}).Render();
        //Html.RenderPartial("~/Views/CABRequest/Req/CaskComboPartial.cshtml");
        Html.RenderAction("CaskComboPartial", "CABRequest");
        ViewContext.Writer.Write("</td><td>");
        //Html.DevExpress().Label(s => {
        //    s.AssociatedControlName = "cask_prunit";
        //    s.Text = "Aantal per fust";
        //    s.Attributes.CssStyle.Add("margin", "5px;");
        //}).Render();
        Html.DevExpress().TextBox(txt => {
            txt.Name = "cask_prunit";
            txt.Properties.NullText = "Aantal pr fust";
            txt.Width = System.Web.UI.WebControls.Unit.Pixel(120);
            txt.Attributes.CssStyle.Add("margin", "5px;");
        }).Render();
        ViewContext.Writer.Write("</td><td>");
        //Html.DevExpress().Label(s => {
        //    s.AssociatedControlName = "cask_prlayer";
        //    s.Text = "Fusten per laag";
        //    s.Attributes.CssStyle.Add("margin", "5px;");
        //}).Render();
        Html.DevExpress().TextBox(txt => {
            txt.Name = "cask_prlayer";
            txt.Properties.NullText = "Fust pr laag";
            txt.Attributes.CssStyle.Add("margin", "5px;");
            txt.Width = System.Web.UI.WebControls.Unit.Pixel(120);
        }).Render();
        ViewContext.Writer.Write("</td><td>");
        Html.DevExpress().TextBox(txt => {
            txt.Name = "cask_prtrolley";
            txt.Properties.NullText = "Lagen pr VBA";
            txt.Attributes.CssStyle.Add("margin", "5px;");
            txt.Width = System.Web.UI.WebControls.Unit.Pixel(120);
        }).Render();
        ViewContext.Writer.Write("</td></tr><tr><td></td><td></td><td>");
        Html.DevExpress().Button(btnSettings => {
            btnSettings.Name = "btnSaveCask";
            btnSettings.ControlStyle.CssClass = "button";
            btnSettings.Attributes.CssStyle.Add("margin", "5px;");
            btnSettings.Text = "Opslaan";
            btnSettings.Images.Image.Url = "~/Content/save.png";
            btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
            btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
            btnSettings.Width = System.Web.UI.WebControls.Unit.Percentage(93);
            btnSettings.ClientSideEvents.Click = "addNewCaskToRequest";
        }).Render();
        ViewContext.Writer.Write("</td><td>");
        Html.DevExpress().Button(btnSettings => {
            btnSettings.Name = "btnCancelCask";
            btnSettings.ControlStyle.CssClass = "button";
            btnSettings.Attributes.CssStyle.Add("margin", "5px;");
            btnSettings.Text = "Annuleren";
            btnSettings.Images.Image.Url = "~/Content/cancel.png";
            btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
            btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
            btnSettings.Width = System.Web.UI.WebControls.Unit.Percentage(93);
            btnSettings.ClientSideEvents.Click = "function(s, e){ gvRequestCasks.CancelEdit(); }";
        }).Render();
        ViewContext.Writer.Write("</td></tr></table>");                
    });

}).Bind(Model).GetHtml()
        
