﻿@using LogiCAB.Web.DAL;
@model int
@{
    var propTypes = EFHelper.ctx.F_CAB_CD_CAB_PROP_TYPE.Where(x => x.CDPT_FK_PROP_GROUP == Model).Select(y => new { y.CDPT_SEQUENCE, y.CDPT_DESC });
//    var propValues = EFHelper.ctx.F_CAB_CD_CAB_PROP_TYPE.Where(x => x.CDPT_FK_PROP_GROUP == Model).Select(y => new { y.CDPT_SEQUENCE, y.CDPT_DESC });
    var propValues = EFHelper.ctx.F_CAB_CD_CAB_PROP_LOOKUP.Where(x => x.CDPL_FK_PROP_TYPE == Model).Select(y => new { y.CDPL_SEQUENCE, y.CDPL_LOOKUP_VALUE }).ToList();
}
<table>
    <tr>
        <td>Kennmerk Type</td>
        <td>Waarde</td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().ComboBox(cb => {
                cb.Name = "cbPropType";
                cb.Width = 180;
                cb.Properties.DropDownWidth = 180;
                cb.Properties.DropDownStyle = DropDownStyle.DropDown;
                cb.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                cb.SelectedIndex = 0;
                cb.Properties.TextField = "CDPT_DESC";
                cb.Properties.ValueField = "CDPT_SEQUENCE";
                cb.Properties.ValueType = typeof(int);
                //cb.Properties.ClientInstanceName = "comboProperty_" + Model;
                //cb.Properties.ClientSideEvents.SelectedIndexChanged = "propTypeChanged";
                cb.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) {cbPropValue.PerformCallback(); }";
                //cb.Properties.ClientSideEvents.Init = "function(s,e) {cbPropValue.PerformCallback(); }";
                cb.Properties.Columns.Add("CDPT_DESC", "Desc", 290);
            }).BindList(propTypes).GetHtml()

        </td>
        <td>
          @Html.Action("PropValueComboPartial", "CABAuthorize", new { proptype = propTypes.FirstOrDefault().CDPT_SEQUENCE })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "btnUpdate";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = Extensions.dict(Usr.Language, "save");
                btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                btnSettings.Images.Image.Url = "~/Content/save.png";
                btnSettings.Images.Image.Height = Unit.Pixel(16);
                btnSettings.Images.Image.Width = Unit.Pixel(16);
                btnSettings.Width = Unit.Pixel(100);
                btnSettings.ClientSideEvents.Click = "btnSaveProperty";
            }).GetHtml()
        </td>
        <td></td>
    </tr>
</table>
