﻿@using CAB.Domain.Helpers;
@model LogiCAB.Web.Domain.CABRequest
@{
    Unit dimmension = Unit.Pixel(16);
    if (Model.cdgr != null) {
        Session["currentCABGroup"] = Model.cdgr.CDGR_SEQUENCE;
    }
    Usr.SelectedMaingroup = Model.cdgt.CDGT_FK_MAIN_GROUP;
}
<input type="hidden" value="@Model.seq" id="currentRequest" />
<script>

    $(document).ready(function () {
    });

</script>
<div id="container">
    <div id="header">
        <h2>
            @Model.requester - @Model.cabdesc - @Model.request_date
        </h2>
    </div>
    @Html.Partial("CABAuthorizeMenuPartial")
    <div id="content-container">
        <div id="content">
            <table id="table1">
                <tr>
                    <!-- Aangevraagd Op  -->
                    <td class="paddingRight">Aangevraagd op</td>
                    <td>
                        @Html.DevExpress().DateEdit(d => {
                       d.Name = "request_date";
                       d.Width = 220;
                   }).Bind(Model.request_date).GetHtml()
                    </td>
                    <td rowspan="10" valign="top">
                        <table>
                            <tr>
                                <td colspan="3">
                                    @Html.DevExpress().ComboBox(settings => {
           settings.Name = "mgCombo";
           settings.Width = 180;
           settings.SelectedIndex = Usr.SelectedMaingroup - 1;
           settings.Properties.DisplayFormatString = "Maingroup: {0}";
           settings.Properties.ValueType = typeof(string);

           settings.Properties.Items.Add("Planten", 1);
           settings.Properties.Items.Add("Bloemen", 2);
           settings.Properties.Items.Add("Vissen", 3);
           settings.Properties.Items.Add("Aanverwante producten", 4);
           settings.Properties.Items.Add("Droogbloemen", 5);
           //    settings.Properties.ClientSideEvents.SelectedIndexChanged = "mgComboChanged";
       }).GetHtml()
                                </td>
                                <td>CAB Group Type</td>
                                <td>
                                    @Html.DevExpress().TextBox(txt => {
                                   txt.Name = "NewCabGroupType";
                                   txt.Properties.NullText = "Grouptype";
                                   txt.Style.Add("float", "left");
                                   txt.Style.Add("margin-right", "15px");

                               }).GetHtml()
                                    @Html.DevExpress().Button(btn => {
                                   btn.Name = "AddCabGroupType";
                                   btn.Text = "Add";
                                   btn.Style.Add("float", "left");
                                   btn.ClientSideEvents.Click = "addCabGroupType";
                               }).GetHtml()
                                </td>

                            </tr>

                            <tr>
                                <td>CAB Group</td>
                                <td>
                                    @Html.DevExpress().TextBox(txt => {
                                   txt.Name = "NewCabGroup";
                                   txt.Properties.NullText = "Uses selected Group Type";
                                   txt.Style.Add("float", "left");
                                   txt.Style.Add("margin-right", "15px");

                               }).GetHtml()
                                    @Html.DevExpress().Button(btn => {
                           btn.Name = "AddCabGroup";
                           btn.Text = "Add";
                           btn.Style.Add("float", "left");
                           btn.ClientSideEvents.Click = "addCabGroup";
                       }).GetHtml()
                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td id="AddCabGroupMsg"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <!-- Voor VBN artike  -->
                    <td class="paddingRight">Voor VBN artikel</td>
                    <td>
                        @Html.DevExpress().TextBox(t => {
                       t.Name = "vbninfo";
                       t.Width = 220;
                       t.Text = String.Format("{0} - {1}", Model.vbn.VBNC_VBN_CODE, Model.vbn.VBNC_DESC);
                   }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <!-- Aangevr. CAB omschrijving  -->
                    <td class="paddingRight">Aangevr. CAB omschrijving</td>
                    <td>
                        @Html.DevExpress().TextBox(t => {
                       t.Name = "cabdesc";
                       t.Width = 220;
                   }).Bind(Model.cabdesc).GetHtml()
                    </td>
                </tr>
                <tr>
                    <!-- Afgehandeld op  -->
                    <td class="paddingRight">Afgehandeld op</td>
                    <td>
                        @Html.DevExpress().DateEdit(d => {
                       d.Name = "handledon";
                       d.Width = 220;
                   }).Bind(DateTime.Now).GetHtml()
                    </td>
                </tr>
                <tr>
                    <!-- Afgehandeld door  -->
                    <td class="paddingRight">Afgehandeld door</td>
                    <td>
                        @Html.DevExpress().TextBox(t => {
                       t.Name = "handledby";
                       t.Width = 220;
                   }).Bind(Usr.Person.FullName.Trim()).GetHtml()
                    </td>
                </tr>
                <tr>
                    <!-- Toegewezen CAB Groep Type  -->
                    <td class="paddingRight">
                        Toegewezen CAB Groep Type
                    </td>
                    <td>@{Html.RenderAction("GroupTypeCBPartial", new { id = Model.cdgt.CDGT_SEQUENCE });}</td>
                </tr>
                <tr>
                    <!-- Toegewezen CAB Groep:  -->
                    <td class="paddingRight">
                        Toegewezen CAB Groep
                    </td>
                    <td>@{Html.RenderAction("CABGroupCBPartial", new { id = Model.cdgr != null ? Model.cdgr.CDGR_SEQUENCE : -1 });}</td>
                </tr>
                <tr>
                    <!-- PD Groep:  -->
                    <td class="paddingRight">
                        PD Groep
                    </td>
                    <td>@{Html.RenderAction("PDGroupCBPartial", new { id = Model.pdgr != null ? Model.pdgr.CDPD_SEQUENCE : -1 });}</td>
                </tr>
                <tr>
                    <!-- Toegewezen CAB Code:  -->
                    <td class="paddingRight">
                        Toegewezen CAB Code
                    </td>
                    <td>
                        @Html.DevExpress().TextBox(t => {
                       t.Name = "AssignedCAbCode";
                       t.Width = 220;
                       t.Properties.NullText = "Nog geen";
                       t.ReadOnly = true;
                   }).Bind(Model.getCABCode()).GetHtml()
                    </td>
                </tr>
                <tr>
                    <!-- Opm. van leverancier  -->
                    <td class="paddingRight">
                        Opm. van leverancier
                    </td>
                    <td>
                        @Html.DevExpress().TextBox(t => {
                       t.Name = "remark";
                       t.Width = 220;
                   }).Bind(Model.remark).GetHtml()
                    </td>
                </tr>
                <tr>
                    <!-- Opmerking  -->
                    <td class="paddingRight">
                        Opmerking
                    </td>
                    <td>
                        @Html.DevExpress().TextBox(t => {
                       t.Name = "authremark";
                       t.Width = 220;
                       t.Properties.NullText = "Nog geen";
                   }).Bind(Model.authremark).GetHtml()
                    </td>
                </tr>
            </table>
            <h3 style="float: left; margin-bottom: 0;">Kenmerken</h3>
            @Html.DevExpress().Button(btnSettings => {
           btnSettings.Name = "btnAddDetailRequest";
           btnSettings.ControlStyle.CssClass = "button";
           btnSettings.Text = "Kenmerk toevoegen";
           btnSettings.Attributes.CssStyle.Add("margin", "5px");
           btnSettings.Attributes.CssStyle.Add("margin-right", "1px");
           btnSettings.Attributes.CssStyle.Add("margin-bottom", "0");
           btnSettings.Attributes.CssStyle.Add("float", "right");
           btnSettings.Images.Image.Url = "~/Content/plus.png";
           btnSettings.Images.Image.Height = Unit.Pixel(16);
           btnSettings.Images.Image.Width = Unit.Pixel(16);
           btnSettings.Width = Unit.Pixel(170);
           btnSettings.ClientSideEvents.Click = "function(s, e){ gvRequestDetails.AddNewRow(); }";
       }).GetHtml()
            @{Html.RenderAction("CABRequestDetailsPartial", new { id = Model.seq });} <!-- Replace with In-Model properties -->

            <h3 style="float: left; margin-bottom: 0;">Fusten</h3>
            @Html.DevExpress().Button(btnSettings => {
           btnSettings.Name = "btnAddCaskRequest";
           btnSettings.ControlStyle.CssClass = "button";
           btnSettings.Text = "Fust toevoegen";
           btnSettings.Attributes.CssStyle.Add("margin", "5px");
           btnSettings.Attributes.CssStyle.Add("margin-right", "1px");
           btnSettings.Attributes.CssStyle.Add("margin-bottom", "0");
           btnSettings.Attributes.CssStyle.Add("float", "right");
           btnSettings.Images.Image.Url = "~/Content/plus.png";
           btnSettings.Images.Image.Height = Unit.Pixel(16);
           btnSettings.Images.Image.Width = Unit.Pixel(16);
           btnSettings.Width = Unit.Pixel(170);
           btnSettings.ClientSideEvents.Click = "function(s, e){ gvRequestCasks.AddNewRow(); }";
       }).GetHtml()
            @{Html.RenderAction("CABRequestCasksPartial", new { id = Model.seq });} <!-- Replace with In-Model properties -->
        </div>
        <div id="aside">
            <table id="table2">
                @*<tr>
                        <td style="padding: 25px;" colspan="2">
                            <img class="plain" src="@Url.Content(Model.picture).Replace("Small", "")" width="350" style="max-width: 350px;" />
                        </td>
                    </tr>*@
                <tr>
                    <td style="text-align: center;">
                        @using (Html.BeginForm("Assortiment", "CallbacksImageUpload", FormMethod.Post, new { @class = "imagePreview" })) {
                            <div class="imageContainer">
                                <img alt="" id="cabImage" width="350" src="@Url.Content(Model.picture).Replace("Small", "")" />
                            </div>
                            <div class="uploadContainer">
                                @Html.DevExpress().UploadControl(ucSettings => {
                               ucSettings.Name = "ucCallbacks";
                               ucSettings.CallbackRouteValues = new { Controller = "CABAuthorize", Action = "CallbacksImageUpload" };
                               ucSettings.ControlStyle.CssClass = "editorArea";
                               ucSettings.Attributes.CssStyle.Add("float", "left");
                               ucSettings.Attributes.CssStyle.Add("margin", "5px");
                               ucSettings.ShowProgressPanel = true;
                               ucSettings.ClientSideEvents.TextChanged = "function(s, e){ ucCallbacks.Upload(); }";
                               ucSettings.ClientSideEvents.FileUploadComplete = "function(s,e){ console.log(e.callbackData); if(e.callbackData != '') $('#cabImage').attr('src', '" + Url.Content("~/Image/ShowImage/") + "' + e.callbackData); }";
                           }).GetHtml()
                                @Html.DevExpress().Button(btnSettings => {
                               btnSettings.Name = "uploadImage";
                               btnSettings.ControlStyle.CssClass = "button";
                               btnSettings.Text = "VKC Foto";
                               btnSettings.Attributes.CssStyle.Add("margin", "5px");
                               btnSettings.Attributes.CssStyle.Add("float", "right");
                               btnSettings.Images.Image.Url = "~/Content/save.png";
                               btnSettings.Images.Image.Height = Unit.Pixel(12);
                               btnSettings.Images.Image.Width = Unit.Pixel(12);
                               btnSettings.Width = Unit.Pixel(100);
                               //                           btnSettings.ClientSideEvents.Click = "function(s,e) { setVKCImage(" + c.KeyValue + "); }";
                           }).GetHtml()
                            </div>
                        }
                    </td>



                </tr>
                <tr>
                    <td>
                        <h4>Relateerde CAB codes</h4>
                        <div id="ExistsResultDiv" style="display:none;"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @{Html.RenderAction("RelatedCABCodesPartial", new { id = Model.vbn.VBNC_SEQUENCE });}
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div style="clear: both;"></div>
        <div id="footer">
        </div>
    </div>
</div>



