﻿@using LogiCAB.Web.DAL;
@model IEnumerable<LogiCAB.Web.Domain.CABRequest>
@{
    ViewBag.Title = "CABAuthorize";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CABAuthorize.css")" />
<script>
    var myGlobal = {};
    var callbackInitDate;
    var command;

    function OnStartCallback(s, e) {
        callbackInitDate = new Date();
        command = e.command;
    }
    function OnEndCallback(s, e) {
        var currentDate = new Date();
        var time = currentDate - callbackInitDate;
    }

    function SavePropertyToDetail(propType, propValue) {

        var sendData = {
            propType: propType,
            propValue: propValue
        };
        console.log(sendData);
        var imgs = document.getElementById("SavedImg" + propType);
        imgs.setAttribute('src', baseUrl + 'Content/loader.gif');
        //statusimg.SetImageUrl(baseUrl + '/Content/loader.gif');
        $.ajax({
            type: "POST",
            url: '@Url.Action("SavePropertyToDetail", "CABAuthorize")',
            data: sendData,
            success: function (msg) {
                if (msg == "ok") {
                    //statusimg.SetImageUrl(baseUrl + '/Content/ok.png');
                    imgs.setAttribute('src', baseUrl + 'Content/ok.png');
                } else {
                    //                    statusimg.SetImageUrl(baseUrl + '/Content/cancel.png');
                    imgs.setAttribute('src', baseUrl + 'Content/cancel.png');
                }
            }
        });
    }

    function fnReject(s, requestSeq) {
        s.SetImageUrl('@Url.Content("~/Content/loader.gif")');
        var AuthorizerRemark = authremark.GetValue();
        $.ajax({
            type: "POST",
            url: '@Url.Action("RejectRequest", "CABAuthorize")',
            data: { id: requestSeq, remark: AuthorizerRemark },
            success: function (data) { // Format: Grower, CABDesc, Notify?
                if (data != null) {
                    if (data.Error == "") {
                        s.SetImageUrl('@Url.Content("~/Content/ok.png")');
                    } else {
                        s.SetImageUrl('@Url.Content("~/Content/live.png")');
                    }
                }
                setTimeout(function () {
                    s.SetImageUrl('@Url.Content("~/Content/cancel.png")');
                    gvCABRequests.CancelEdit();
                }, 2000);

            },
        });

    }

    function fnSave(s, requestSeq) {
        s.SetImageUrl('@Url.Content("~/Content/loader.gif")');
        var currentRequest = {
            Seq: requestSeq,
            CABGroupSeq: cbCabGroup.GetValue(),
            CABGroupTypeSeq: cbGroupType.GetValue(),
            PDGroupSeq: cbPDGroup.GetValue(),
            VBNInfo: vbninfo.GetValue(),
            AuthorizerRemark: authremark.GetValue(),
            CABDescRequested: cabdesc.GetValue()
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveRequest", "CABAuthorize")',
            data: { req: JSON.stringify(currentRequest) },
            success: function (data) { // Format: Grower, CABDesc, Notify?
                if (data != null) {
                    s.SetImageUrl('@Url.Content("~/Content/ok.png")');
                }
                setTimeout(function () {
                    //                    s.SetImageUrl('@Url.Content("~/Content/cancel.png")');
                    gvCABRequests.CancelEdit();
                }, 2000);

            },
        });

    }

    function fnExists(s, cabSeq) {
        s.SetImageUrl('@Url.Content("~/Content/loader.gif")');
        console.log(cabSeq + ' allready exists, add to assortiment.');
        $.ajax({
            type: "POST",
            url: '@Url.Action("ExistingRequest", "CABAuthorize")',
            data: { id: cabSeq },
            success: function (data) { // Format: Grower, CABDesc, Notify?
                if (data != null) {
                    if (data.Error == "") {
                        s.SetImageUrl('@Url.Content("~/Content/assort.png")');
                        s.SetText('Added to Assortiment');
                        $('#ExistsResultDiv').html('');
                        $('#ExistsResultDiv').html('Grower: ' + data.Grower + '</br>CAB: ' + data.CABDesc);
                        console.log('Grower: ' + data.Grower);
                        console.log('CAB: ' + data.CABDesc);
                        console.log('Notify: ' + 'button content');
                        $('#ExistsResultDiv').css('color', 'green');
                        $('#ExistsResultDiv').show();
                        setTimeout(function () {
                            gvCABRequests.CancelEdit();
                        }, 2000);
                    } else {
                        s.SetImageUrl('@Url.Content("~/Content/live.png")');
                        s.SetText('An error occured.');
                        $('#ExistsResultDiv').html('');
                        $('#ExistsResultDiv').html('Error: ' + data.Error);
                        $('#ExistsResultDiv').css('color', 'red');
                        $('#ExistsResultDiv').show();
                    }
                }

            },
        });
        setTimeout(function () {
        }, 2000);
    }

    function ApproveRequest(s, requestSeq) {
        /*
        Certain elements like picture, properties & cask is saved to the request immedietly as changes are made,
        hence it is not required to submit it in the ajax-call.
        */
        var returnEnum = ["Failed", "Success", "MissingInfo", "MissingRequest", "MissingProperties", "MissingCasks", "MissingPicture", "MissingVBNCode"];
        var currentRequest = {
            Seq: requestSeq,
            CABGroupSeq: cbCabGroup.GetValue(),
            CABGroupTypeSeq: cbGroupType.GetValue(),
            PDGroupSeq: cbPDGroup.GetValue(),
            VBNInfo: vbninfo.GetValue(),
            AuthorizerRemark: authremark.GetValue(),
            CABDescRequested: cabdesc.GetValue()
        };
        s.SetImageUrl('@Url.Content("~/Content/loader.gif")');
        $('#msgSpan').html('<strong>Approving request...</strong>');
        $.ajax({
            type: "POST",
            url: '@Url.Action("ApproveRequest", "CABAuthorize")',
            data: { req: JSON.stringify(currentRequest) },
            success: function (msg) {
                if (returnEnum[msg] === "Success") {
                    s.SetImageUrl('@Url.Content("~/Content/ok.png")');
                    gvCABRequests.CancelEdit();
                    $('#msgSpan').html('<strong>Request approved. CAB-Code created.</strong>');
                    btnApprove.SetEnabled(0);
                    setTimeout(function () {
                        $('#msgSpan').html('');
                        gvCABRequests.CancelEdit();
                    }, 5000);
                } else {
                    s.SetImageUrl('@Url.Content("~/Content/needsupdate.png")');
                    $('#msgSpan').html('<strong>Approving request failed.</strong>');
                    setTimeout(function () {
                        $('#msgSpan').html('');
                    }, 5000);
                }
            }
        });
    }

    function addNewCaskToRequest(s, e) {
        var currentRequest = parseInt($('#currentRequest').val());
        $('#msgSpan img').attr('src', loaderImg);
        $('#msgSpan span').html('');
        $('#msgSpan').show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("addNewCaskToRequest", "CABAuthorize")',
            dataType: "text",
            data: {
                cdca_seq: cb_newCask.GetValue(),
                prcask: cask_prunit.GetValue(),
                prlayer: cask_prlayer.GetValue(),
                prtrolley: cask_prtrolley.GetValue(),
                qcrq: currentRequest
            },
            beforeSend: function () {
            },
            success: function (msg) {
                console.log(msg);
                console.log(msg == "");
                if (msg == "") {
                    $('#msgSpan img').attr('src', successImg);
                    $('#msgSpan span').html('Success');
                    setTimeout(function () {
                        $('#msgSpan').fadeOut();
                    }, 2500);
                } else {
                }
                gvRequestCasks.Refresh();
                gvRequestCasks.CancelEdit();
            }
        });
    }
    function addCabGroup(s, e) {
        var cabGroup = NewCabGroup.GetText();
        var groupType = cbGroupType.GetValue();
        $('#AddCabGroupMsg').html('');
        $.ajax({
            type: 'POST',
            data: { type: groupType, group: cabGroup },
            url: '@Url.Action("addCabGroup", "CAB")',
            success: function (data) {
                console.log(data);
                $('#AddCabGroupMsg').html(data);
                s.SetText("Added");
                setTimeout(function () {
                    s.SetText("Add");
                    NewCabGroup.SetText("");
                }, 2500);

            }
        });

    }
    function addCabGroupType(s, e) {
        var cabGroupType = NewCabGroupType.GetText();
        var mgSeq = mgCombo.GetValue(); 
//        var groupType = cbGroupType.GetValue();
//        $('#AddCabGroupMsg').html('');
        $.ajax({
            type: 'POST',
            data: { mg: mgSeq, grouptype: cabGroupType },
            url: '@Url.Action("addCabGroupType", "CAB")',
            success: function (data) {
                console.log(data);
//                $('#AddCabGroupMsg').html(data);
                s.SetText("Added");
                setTimeout(function () {
                    s.SetText("Add");
                    NewCabGroupType.SetText("");
                }, 2500);

            }
        });

    }
    function propTypeChanged(s, e) {
        //console.log(s.GetValue());
        cbPropValue.PerformCallback();
    }
    function cbPropValBeginCallback(s,e) {
        e.customArgs["proptype"] = cbPropType.GetValue();
    }

    function btnSaveProperty()
    {
        var propType = cbPropType.GetValue();
        var propValue = cbPropValue.GetText();

        SavePropertyToDetail(propType, propValue);
        gvRequestDetails.CancelEdit();
    }

</script>
<h2>CAB Authorization</h2>
@Html.Partial("List")
<div style="display: none; position: absolute; z-index: 110; left: 400px; top: 100px; width: 15px; height: 15px" id="preview_div"></div>
