﻿@using CAB.Data.EF.Models;
@using LogiCAB.Web.Domain;
@model IQueryable<CABCode>
@{
    IQueryable<F_CAB_QUEUE_CODE_REQ_DETAIL> details = LogiCAB.Web.Controllers.CABAuthorizeController._getCABRequestDetails(Int32.Parse(Session["currentrequest"].ToString()));
}
<ul style="list-style:none;">
@foreach (CABCode cabc in Model) {
    <li><h4 style="font-style:italic;">@cabc.CABC_CAB_CODE - @cabc.CABC_CAB_DESC</h4>
        @{
            List<String> reqdetails = new List<String>();
            bool match = true;        
            foreach (var det in cabc.details) {
                if (details.Any(x => x.QCRD_FK_CAB_PROP_TYPE == det.CABD_FK_TYPE && x.QCRD_PROP_VALUE == det.CABD_VALUE)) {
                    reqdetails.Add(String.Format("<li style=\"color:green; font-weight: bold;\">{0} : {1}</li>", det.F_CAB_CD_CAB_PROP_TYPE.CDPT_DESC, det.CABD_VALUE));
                } else {
                    match = false;
                    reqdetails.Add(String.Format("<li>{0} : {1}</li>", det.F_CAB_CD_CAB_PROP_TYPE.CDPT_DESC, det.CABD_VALUE));
                }
            }         
            String matchStyle = match == true ? "background-color: lightgreen;" : "background-color: lightpink;";
            
        }
        <ul style="list-style:none; @matchStyle">
            @foreach (var det in reqdetails) {
                @Html.Raw(det)
            }
        </ul>
    </li>        
    
}
</ul>
