﻿@using CAB.Data.EF.Models;
@using LogiCAB.Web.Domain;
@model List<CABCode>
@{
    IQueryable<F_CAB_QUEUE_CODE_REQ_DETAIL> reqdetails = LogiCAB.Web.Controllers.CABAuthorizeController._getCABRequestDetails(Int32.Parse(Session["currentrequest"].ToString()));
    var imgUrl = Url.Action("ShowImage", "Image");
}
@Html.DevExpress().GridView(settings => {
    settings.Name = "gvRelatedCABCodes";
    settings.KeyFieldName = "CABC_SEQUENCE";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.SettingsBehavior.AllowSelectByRowClick = true;
    settings.SettingsPager.PageSize = 100;

    settings.Columns.Add(column => {
        column.Caption = "#";
        column.SetDataItemTemplateContent(td => {
            Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "addToAssortiment_" + td.KeyValue;
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Bestaat al";
                btnSettings.ToolTip = "Voeg toe aan kwekers assortiment";
                btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                btnSettings.Images.Image.Url = "~/Content/exists.png";
                btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(90);
                btnSettings.ClientSideEvents.Click = "function(s,e) { fnExists(s," + td.KeyValue + "); }"; // Get the rest of the variables from controlls.GetValue()
            }).GetHtml();            

        });
    });    
    
    settings.Columns.Add(column => {
        column.FieldName = "CABC_CAB_DESC";
        column.Caption = "Omschrijving ";
        column.SetDataItemTemplateContent(td => {
            var cabDesc = (string)DataBinder.Eval(td.DataItem, "CABC_CAB_DESC");
            var cabCode = (string)DataBinder.Eval(td.DataItem, "CABC_CAB_CODE");
            ViewContext.Writer.Write(String.Format("{0}<br />{1}", cabDesc, cabCode));
        });
    });

    settings.Columns.Add(column => {
        column.FieldName = "CABC_CAB_CODE";
        //column.Caption = "Code";
        //column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        column.Visible = false;
    });
    
    // Subgrid, details:
    settings.Columns.Add(column => {
        column.Caption = "Details";
        
        column.SetDataItemTemplateContent(td => {
            try {
                var cabCode = Model.FirstOrDefault(x => x.CABC_SEQUENCE == (int)td.KeyValue);
                var cabDetails = cabCode.details;
                
                Html.DevExpress().GridView(gd => {
                    gd.Name = "gvCABCodeDetails" + td.KeyValue;
                    gd.KeyFieldName = "CABD_SEQUENCE";
                    gd.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    var allMatching = true;
                    gd.HtmlDataCellPrepared = (sender, e) => {
                        if (e.DataColumn.FieldName == "CABD_VALUE") {
                            var currentDet = e.CellValue.ToString();
                            if (reqdetails.Any(x => x.QCRD_PROP_VALUE == currentDet)) {
                                e.Cell.BackColor = System.Drawing.Color.PaleGreen;
                            } else {
                                allMatching = false;
                                e.Cell.BackColor = System.Drawing.Color.IndianRed;
                            }
                        }
                    };
                    gd.HtmlRowPrepared = (sender, e) => {
                        if (e.RowType == GridViewRowType.Data) { 
                            if (allMatching) {
                                e.Row.BackColor = System.Drawing.Color.PaleGreen;
                            }
                        }
                    };
//                    gd.Html
                    gd.Columns.Add(cd => {
                        cd.FieldName = "CABD_VALUE";
                        cd.Caption = "Value";
                    });
                }).Bind(cabDetails).Render();
            } catch (Exception ex) {
                ViewContext.Writer.Write("No details!");
            }

        });        
    });

    settings.Columns.Add(column => {
        column.Caption = "Photo";
        column.SetDataItemTemplateContent(t => {
            var img = (int)DataBinder.Eval(t.DataItem, "CABC_FK_PICTURE");
            ViewContext.Writer.Write(String.Format("<img src=\"{0}/{1}\" height=\"80\" />", imgUrl, img));
        });
    });
    /*
    settings.Columns.Add(column => {
        column.FieldName = "GroupDescription";
        column.Caption = "Group";
        column.Width = System.Web.UI.WebControls.Unit.Pixel(120);
    });
/*
    settings.Columns.Add(column => {
        column.FieldName = "CABC_IS_AUTHORISED";
        column.Caption = "Is Geauthoriseerd";
        column.ColumnType = MVCxGridViewColumnType.CheckBox;
        column.Width = System.Web.UI.WebControls.Unit.Pixel(120);
    });
 */ 
}).Bind(Model).GetHtml()