﻿<h3>@Extensions.dict(Usr.Language, "change password")</h3>
<table width="700" cellpadding="2">
    <tr>
        <td>@Html.DevExpress().Label(s => {
           s.Text = Extensions.dict(Usr.Language, "current password");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>@Html.DevExpress().TextBox(s => {
           s.Name = "old_password";
           s.Properties.Password = true;
           s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
       }).GetHtml()</td>
    </tr>
    <tr>
        <td>@Html.DevExpress().Label(s => {
           s.Text = Extensions.dict(Usr.Language, "new password");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>@Html.DevExpress().TextBox(s => {
           s.Name = "new_password1";
           s.Properties.Password = true;
           s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
       }).GetHtml()</td>
    </tr>
    <tr>
        <td>@Html.DevExpress().Label(s => {
           s.Text = Extensions.dict(Usr.Language, "repeat new password");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>@Html.DevExpress().TextBox(s => {
           s.Name = "new_password2";
           s.Properties.Password = true;
           s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
       }).GetHtml()</td>
    </tr>
    <tr>
        <td>@Html.DevExpress().Label(s => {
           s.Name = "label_passwordInfo";
           s.Text = "";
           s.Attributes.CssStyle.Add("color", "red;");
       }).GetHtml()
            <div id="passProgress" style="float: right;">
                <img src="@Url.Content("~/Content/loader.gif")" />
            </div>
        </td>
        <td>
            @Html.DevExpress().Button(settings => {
           settings.Name = "btn_ChangePassword";
           settings.Text = Extensions.dict(Usr.Language, "change my password");
           settings.ClientSideEvents.Click = "changePassword";
           settings.Images.Image.Url = "~/Content/loginlock.png";
           settings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(26);
           settings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(26);
           settings.Width = System.Web.UI.WebControls.Unit.Pixel(230);
       }).GetHtml()
        </td>
    </tr>
</table>