﻿@using CAB.Domain.Helpers;
@using LogiCAB.Web.Domain;
@{
    List<PersonLogin> personList = LogiCAB.Web.Controllers.UserController._getContactPersons();
}

@model List<LogiCAB.Web.Domain.PersonLogin>
@{
var grid = Html.DevExpress().GridView(settings => {
    settings.Name = "gvContactPersons";
    settings.KeyFieldName = "PERS_SEQUENCE";
    settings.Styles.Table.BackColor = System.Drawing.Color.PaleGoldenrod;
    settings.Width = System.Web.UI.WebControls.Unit.Pixel(685);
    settings.Settings.ShowColumnHeaders = true;
    settings.Attributes.CssStyle.Add("margin", "5px;");
    settings.CallbackRouteValues = new { Controller = "User", Action = "getContactPersons" };

    settings.Columns.Add(column3 => {
        column3.Caption = Extensions.dict(Usr.Language, "blocked");
        column3.Width = System.Web.UI.WebControls.Unit.Pixel(40);
        
        column3.SetDataItemTemplateContent(c => {
            var currentSequence = (int)DataBinder.Eval(c.DataItem, "LOGI_SEQUENCE");
             
            Html.DevExpress().CheckBox(txtSettings => {
                if(currentSequence == Usr.LoginSequence || currentSequence == 0) {
                    txtSettings.Enabled = false;
                    txtSettings.ClientVisible = false;
                }
                txtSettings.Name = "logi_blocked_" + c.KeyValue + DateTime.Now.Ticks;
                txtSettings.Checked = (short)DataBinder.Eval(c.DataItem, "LOGI_BLOCKED_YN") == 1;
                txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ BlockLoginToggle(s, '{0}', '{1}'); }}", currentSequence, Url.Action("BlockLogin", "User", null));
            }).Render();
        });         
    });    
   
    settings.Columns.Add(column3 => {
        column3.Caption = Extensions.dict(Usr.Language, "surname");
        column3.FieldName = "PERS_LAST_NAME";
        column3.Width = System.Web.UI.WebControls.Unit.Pixel(180);
    });

    settings.Columns.Add(column3 => {
        column3.Caption = Extensions.dict(Usr.Language, "firstname");
        column3.FieldName = "PERS_FIRST_NAME";
    });
    settings.Columns.Add(column3 => {
        column3.Caption = Extensions.dict(Usr.Language, "phone");
        column3.FieldName = "PERS_PHONE_NO";
    });
    settings.Columns.Add(column3 => {
        column3.Caption = Extensions.dict(Usr.Language, "email");
        column3.FieldName = "PERS_EMAIL";
    });
    settings.Columns.Add(column3 =>
    {
        column3.Caption = Extensions.dict(Usr.Language, "login");
        column3.FieldName = "LOGI_USER_NAME";
    });   
});
}
@grid.Bind(personList).GetHtml().ToHtmlString()



