﻿@using LogiCAB.Web.Domain;
@model DeliveryMomentDetail


@Html.DevExpress().TextBox(s => {
    s.Name = "Header";
    s.ClientVisible = false;
}).Bind(Model.Header).GetHtml()

<table style="width:100%; padding: 15px;">

    <tr>
        <td>
            Description
        </td>
        <td>
            @Html.DevExpress().TextBox(s => {
           s.Name = "Description";
           s.Width = Unit.Percentage(90);
           s.Text = Model.Description;
           //s.Attributes.CssStyle.Add("margin", "5px;");
       }).Bind(Model.Description).GetHtml()

        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @Html.DevExpress().Button(btnSettings => {
           btnSettings.Name = "btnUpdate";
           btnSettings.ControlStyle.CssClass = "button";
           btnSettings.Text = "Update";
           btnSettings.Images.Image.Url = "~/Content/save.png";
           btnSettings.Images.Image.Height = Unit.Pixel(16);
           btnSettings.Images.Image.Width = Unit.Pixel(16);
           btnSettings.Width = Unit.Pixel(100);
           btnSettings.ClientSideEvents.Click = "function (s,e) { gvDeliveryMomentHeaders.UpdateEdit(); }";

       }).GetHtml()
            @Html.DevExpress().Button(btnSettings => {
           btnSettings.Name = "btnCancel";
           btnSettings.ControlStyle.CssClass = "button";
           btnSettings.Text = "Cancel";
           btnSettings.Images.Image.Url = "~/Content/cancel.png";
           btnSettings.Images.Image.Height = Unit.Pixel(16);
           btnSettings.Images.Image.Width = Unit.Pixel(16);
           btnSettings.Width = Unit.Pixel(100);
           btnSettings.ClientSideEvents.Click = "function (s,e) { gvDeliveryMomentHeaders.CancelEdit(); }";

       }).GetHtml()
        </td>
    </tr>
</table>

<!-- table.maintable>tr.infoRow*2>td.infoCell*3-->