﻿@using LogiCAB.Web.Domain;
@using CAB.Domain.Helpers;
@model DeliveryMomentHeader


@Html.DevExpress().TextBox(s => {
           s.Name = "Grower";
           s.ClientVisible = false;
}).Bind(Model.Grower).GetHtml()
@Html.DevExpress().TextBox(s => {
    s.Name = "Code";
    s.ClientVisible = false;
}).Bind(Model.Code).GetHtml()
<table style="width:100%; padding: 15px;">
    <tr>
        <td>
            @Extensions.dict(Usr.Language, "Description");
        </td>
        <td>
            @Html.DevExpress().TextBox(s => {
            s.Name = "Description";
            s.Width = Unit.Percentage(90);
            s.Text = Model.Description;
            //s.Attributes.CssStyle.Add("margin", "5px;");
            }).Bind(Model.Description).GetHtml()

        </td>
    </tr>
    <tr>
        <td>


        </td>
        <td>
            @Html.DevExpress().Button(btnSettings => {
           btnSettings.Name = "btnUpdate";
           btnSettings.ControlStyle.CssClass = "button";
           btnSettings.Text = Extensions.dict(Usr.Language, "Save");
           btnSettings.Images.Image.Url = "~/Content/save.png";
           btnSettings.Images.Image.Height = Unit.Pixel(16);
           btnSettings.Images.Image.Width = Unit.Pixel(16);
           btnSettings.Width = Unit.Pixel(100);
           btnSettings.ClientSideEvents.Click = "function (s,e) { gvDeliveryMomentHeaders.UpdateEdit(); }";

       }).GetHtml()
            @Html.DevExpress().Button(btnSettings => {
            btnSettings.Name = "btnCancel";
            btnSettings.ControlStyle.CssClass = "button";
            btnSettings.Text = Extensions.dict(Usr.Language, "cancel");
            btnSettings.Images.Image.Url = "~/Content/cancel.png";
            btnSettings.Images.Image.Height = Unit.Pixel(16);
            btnSettings.Images.Image.Width = Unit.Pixel(16);
            btnSettings.Width = Unit.Pixel(100);
            btnSettings.ClientSideEvents.Click = "function (s,e) { gvDeliveryMomentHeaders.CancelEdit(); }";

            }).GetHtml()
        </td>
    </tr>
</table>

<!-- table.maintable>tr.infoRow*2>td.infoCell*3-->