﻿@using CAB.Domain.Helpers;
@using LogiCAB.Web.Domain;
@{
    ViewBag.Title = "Index";
    CAB.Data.EF.Models.F_CAB_ORGANISATION orga = (CAB.Data.EF.Models.F_CAB_ORGANISATION)ViewBag.Orga;
    string oradMembertype = "";
    string oradStatus = "";
    CAB.Data.EF.Models.F_CAB_BUYER buyr = orga.F_CAB_BUYER.FirstOrDefault();
    switch (orga.F_CAB_ORGANISATION_ADMIN.FirstOrDefault().ORAD_MEMBERTYPE) {
        case 1:
        oradMembertype = "Goud";
        break;
        case 2:
        oradMembertype = "Zilver";
        break;
        case 3:
        oradMembertype = "Bronze";
        break;
        default:
        oradMembertype = "N/A";
        break;
    }
    switch (orga.F_CAB_ORGANISATION_ADMIN.FirstOrDefault().ORAD_STATUS) {
        case 1:
        oradStatus = "Prospect";
        break;
        case 3:
        oradStatus = "Actief";
        break;
        case 4:
        oradStatus = "Afgemeld";
        break;
        default:
        oradStatus = " ";
        break;
    }    
}
<script>
    $(document).ready(function () {
        $('#passProgress').toggle();
    });

    function changePassword(s, e) {
        $('#label_passwordInfo').html('');
        var oldPassword = old_password.GetValue();
        var newPassword1 = new_password1.GetValue();
        var newPassword2 = new_password2.GetValue();
        if (newPassword1 != newPassword2) {
            $('#label_passwordInfo').html('New password mismatch');
            return false;
        }
        $('#passProgress').toggle();
        $.ajax({
            type: "POST",
            url: baseUrl + "/User/changePassword",
            data: {
                oldPassword: old_password.GetValue(),
                newPassword1: new_password1.GetValue(),
                newPassword2: new_password2.GetValue()
            },
            beforeSend: function () {
            },
            success: function (msg) {
                $('#passProgress').toggle();
                // 0 == Success, old password match, new1 and new2 are equal and changes are saved
                // 1 == fail, old password not matching
                if (msg == "0")
                    btn_ChangePassword.SetText('Password changed');
                if (msg == "1")
                    $('#label_passwordInfo').html('Incorrect current password');
                if (msg == "-1")
                    $('#label_passwordInfo').html('Unforseen error occured');
            }
        });
    }
    function addContactPerson() {
        var firstname = new_first_name.GetValue();
        var middlename = new_middle_name.GetValue();
        var lastname = new_last_name.GetValue();
        var phone = new_phone_number.GetValue();
        var email = new_email.GetValue();
        $.ajax({
            type: "POST",
            url: baseUrl + "/User/addContactPerson",
            data: {
                firstname: firstname,
                middlename: middlename,
                lastname: lastname,
                phone: phone,
                email: email
            },
            success: function (msg) {
                if (msg == "Incomplete") {
                    $('#label_personInfo').html('Adding person failed.');
                } else if (msg == "Complete") {
                    $('#label_personInfo').html('Persoon toegevoegd');
                    //gvContactPersons.Refresh();
                }

            }
        });
    }
    function changeTransport(s, e) {
        $.ajax({
            type: "POST",
            url: baseUrl + "/User/saveTransporttype",
            data: {
                id: s.GetValue()
            },
            success: function (msg) {
                console.log(msg);
            }
        });
    }
    function saveChanges(s, e) {
        $.ajax({
            type: "POST",
            url: baseUrl + "/User/saveInformation",
            data: {
                type: s.name,
                value: s.GetValue()
            },
        });
    }
    function BlockLoginToggle(s, logiSeq, url) {
        $.ajax({
            type: "POST",
            url: url,
            data: {
                id: logiSeq
            },
            success: function (msg) {
                gvContactPersons.Refresh();
            }
        });
    }
    function fnSaveAddress(s, e) {
        // Collect data:
        var payload = {
            street: orga_adress_street.GetValue(),
            streetNr: orga_adress_street_nr.GetValue(),
            zipcode: orga_adress_zipcode.GetValue(),
            city: orga_adress_city.GetValue()
        };
        $.ajax({
            type: "POST",
            url: baseUrl + "/User/saveAddress",
            data: payload,
        });
    }

</script>
<img src="~/Content/manual.png" height="48" style="float:right;" />
<h2>@Extensions.dict(Usr.Language, "your details") - @orga.ORGA_NAME</h2>
<hr />

<table width="700" cellpadding="2">
    <tr>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_name";
           s.Text = Extensions.dict(Usr.Language, "name");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>@Html.DevExpress().ButtonEdit(s => {
           s.Name = "orga_name";
           s.Text = orga.ORGA_NAME;
           s.Width = 230;
           s.Properties.Buttons.Add("");
           s.Properties.Buttons[0].Image.Url = "~/Content/save.png";
           s.Properties.Buttons[0].Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
           s.Properties.ClientSideEvents.ButtonClick = "saveChanges";
       }).GetHtml()
        </td>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_type";
           s.Text = Extensions.dict(Usr.Language, "organisation_type");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>@Html.DevExpress().TextBox(s => {
           s.Name = "orga_type";
           s.Text = orga.ORGA_TYPE;
           s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
           s.Enabled = false;
       }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_phone";
           s.Text = Extensions.dict(Usr.Language, "phone");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>
            @Html.DevExpress().ButtonEdit(s => {
           s.Name = "orga_phone";
           s.Text = orga.ORGA_PHONE_NO;
           s.Width = 230;
           s.Properties.Buttons.Add("");
           s.Properties.Buttons[0].Image.Url = "~/Content/save.png";
           s.Properties.Buttons[0].Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
           s.Properties.ClientSideEvents.ButtonClick = "saveChanges";
       }).GetHtml()
        </td>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_ean";
           s.Text = Extensions.dict(Usr.Language, "ean_code");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>
            @Html.DevExpress().ButtonEdit(s => {
           s.Name = "orga_ean";
           s.Text = orga.ORGA_EAN_CODE;
           s.Width = 230;
           s.Properties.Buttons.Add("");
           s.Properties.Buttons[0].Image.Url = "~/Content/save.png";
           s.Properties.Buttons[0].Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
           s.Properties.ClientSideEvents.ButtonClick = "saveChanges";
       }).GetHtml()

        </td>
    </tr>
    <tr>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_fax";
           s.Text = Extensions.dict(Usr.Language, "fax");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>
            @Html.DevExpress().ButtonEdit(s => {
           s.Name = "orga_fax";
           s.Text = orga.ORGA_FAX_NO;
           s.Width = 230;
           s.Properties.Buttons.Add("");
           s.Properties.Buttons[0].Image.Url = "~/Content/save.png";
           s.Properties.Buttons[0].Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
           s.Properties.ClientSideEvents.ButtonClick = "saveChanges";
       }).GetHtml()

        </td>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_landgard";
           s.Text = Extensions.dict(Usr.Language, "landgard_nr");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>@Html.DevExpress().TextBox(s => {
           s.Name = "orga_landgard";
           s.Text = orga.ORGA_BVH_NUMBER;
           //s.Text = "From where?";
           s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
           //s.Attributes.CssStyle.Add("margin", "5px;");
       }).GetHtml()</td>
    </tr>
    <tr>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_email";
           s.Text = Extensions.dict(Usr.Language, "email");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>
            @Html.DevExpress().ButtonEdit(s => {
           s.Name = "orga_email";
           s.Text = orga.ORGA_EMAIL;
           s.Width = 230;
           s.Properties.Buttons.Add("");
           s.Properties.Buttons[0].Image.Url = "~/Content/save.png";
           s.Properties.Buttons[0].Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
           s.Properties.ClientSideEvents.ButtonClick = "saveChanges";
       }).GetHtml()

        </td>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_startdate";
           s.Text = Extensions.dict(Usr.Language, "startdate");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>@Html.DevExpress().TextBox(s => {
           s.Name = "orga_startdate";
           s.Text = orga.ORGA_START_DATE.ToShortDateString();
           s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
           s.Enabled = false;
           //s.Attributes.CssStyle.Add("margin", "5px;");
       }).GetHtml()</td>
    </tr>
    <tr>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_btw";
           s.Text = Extensions.dict(Usr.Language, "btw_nr");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>
            @Html.DevExpress().ButtonEdit(s => {
           s.Name = "orga_btw";
           s.Text = orga.ORGA_VAT_NUMBER;
           s.Width = 230;
           s.Properties.Buttons.Add("");
           s.Properties.Buttons[0].Image.Url = "~/Content/save.png";
           s.Properties.Buttons[0].Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
           s.Properties.ClientSideEvents.ButtonClick = "saveChanges";
       }).GetHtml()

        </td>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_enddate";
           s.Text = Extensions.dict(Usr.Language, "enddate");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>@Html.DevExpress().TextBox(s => {
           s.Name = "orga_enddate";
           s.Text = orga.ORGA_END_DATE.ToShortDateString();
           s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
           s.Enabled = false;
           //s.Attributes.CssStyle.Add("margin", "5px;");
       }).GetHtml()</td>
    </tr>
    <tr>
        <td>
            @if (orga.ORGA_TYPE == "GROW") {
                @Html.DevExpress().Label(s => {
               s.AssociatedControlName = "orga_kwb";
               s.Text = Extensions.dict(Usr.Language, "mailbox_kwb");
               s.Attributes.CssStyle.Add("color", "black;");
           }).GetHtml()
            } else if (orga.ORGA_TYPE == "BUYR" || orga.ORGA_TYPE == "COMM") {
                @Html.DevExpress().Label(s => {
               s.AssociatedControlName = "orga_ekt";
               s.Text = Extensions.dict(Usr.Language, "mailbox_ekt");
               s.Attributes.CssStyle.Add("color", "black;");
           }).GetHtml()                
            }
        </td>
        <td>
            @if (orga.ORGA_TYPE == "GROW") {
                @Html.DevExpress().ButtonEdit(s => {
               s.Name = "orga_kwb";
               s.Text = orga.ORGA_MAILBOX;
               s.Width = 230;
               s.Properties.Buttons.Add("");
               s.Properties.Buttons[0].Image.Url = "~/Content/save.png";
               s.Properties.Buttons[0].Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
               s.Properties.ClientSideEvents.ButtonClick = "saveChanges";
           }).GetHtml()
            } else if (orga.ORGA_TYPE == "BUYR" || orga.ORGA_TYPE == "COMM") {
                @Html.DevExpress().ButtonEdit(s => {
               s.Name = "orga_ekt";
               s.Text = orga.ORGA_MAILBOX;
               s.Width = 230;
               s.Properties.Buttons.Add("");
               s.Properties.Buttons[0].Image.Url = "~/Content/save.png";
               s.Properties.Buttons[0].Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
               s.Properties.ClientSideEvents.ButtonClick = "saveChanges";
           }).GetHtml()                
            }

        </td>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_code";
           s.Text = Extensions.dict(Usr.Language, "orga_code");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>@Html.DevExpress().TextBox(s => {
           s.Name = "orga_code";
           s.Text = orga.ORGA_CODE;
           s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
           s.Enabled = false;
           //s.Attributes.CssStyle.Add("margin", "5px;");
       }).GetHtml()</td>
    </tr>
    <tr>
        <td rowspan="4">@Html.DevExpress().Label(s => {
                       s.AssociatedControlName = "orga_picture";
                       s.Text = Extensions.dict(Usr.Language, "logo");
                       s.Attributes.CssStyle.Add("color", "black;");
                   }).GetHtml()</td>
        <td rowspan="4">@*@Html.DevExpress().Image(s => {
                       s.Name = "orga_picture";
                       s.ImageUrl = String.Format("~/Image/ShowImage/{0}", orga.ORGA_FK_PICTURE);
                       s.Attributes.CssStyle.Add("width", "200px");
                   }).GetHtml()*@
            @using (Html.BeginForm("User", "CallbacksImageUpload", FormMethod.Post, new { @class = "imagePreview" })) {
                ViewContext.Writer.Write("<div class=\"imageContainer\" style=\"margin: 5px;\"><img alt=\"\" id=\"previewImage\" width=\"200\" src=\"" + Url.Content(String.Format("~/Image/ShowImage/{0}", orga.ORGA_FK_PICTURE)) + "\" /></div>");
                ViewContext.Writer.Write("<div class=\"uploadContainer\">");
                Html.DevExpress().UploadControl(ucSettings => {
                    ucSettings.Name = "ucCallbacks";
                    ucSettings.CallbackRouteValues = new { Controller = "User", Action = "CallbacksImageUpload" };
                    ucSettings.ControlStyle.CssClass = "editorArea";
                    ucSettings.Attributes.CssStyle.Add("float", "left");
                    ucSettings.Attributes.CssStyle.Add("margin", "5px");
                    ucSettings.ShowProgressPanel = true;
                    ucSettings.ClientSideEvents.TextChanged = "function(s, e){ " + "ucCallbacks.Upload(); }";
                    ucSettings.ClientSideEvents.FileUploadComplete = "function(s,e){ if(e.callbackData != '') $('#previewImage').attr('src', '" +Url.Content("~/") + "' + e.callbackData); }";
                }).GetHtml();
            }
        </td>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_oradstatus";
           s.Text = Extensions.dict(Usr.Language, "subscriptionstatus");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>@Html.DevExpress().TextBox(s => {
           s.Name = "orga_oradstatus";
           s.Text = oradStatus;
           s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
           s.Enabled = false;
       }).GetHtml()</td>
    </tr>
    <tr>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_oradmembertype";
           s.Text = Extensions.dict(Usr.Language, "subscriptiontype");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>@Html.DevExpress().TextBox(s => {
           s.Name = "orga_oradmembertype";
           s.Text = oradMembertype;
           s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
           s.Enabled = false;
       }).GetHtml()</td>
    </tr>
    <tr>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_bvhnr";
           s.Text = Extensions.dict(Usr.Language, "bvh_nr");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>
            @Html.DevExpress().ButtonEdit(s => {
           s.Name = "orga_bvhnr";
           s.Text = orga.ORGA_VBA_NUMBER;
           s.Width = 230;
           s.Properties.Buttons.Add("");
           s.Properties.Buttons[0].Image.Url = "~/Content/save.png";
           s.Properties.Buttons[0].Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
           s.Properties.ClientSideEvents.ButtonClick = "saveChanges";
       }).GetHtml()

        </td>
    </tr>
    <tr>
        <td>
            @if (orga.ORGA_TYPE == "BUYR") {
@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "buyr_transport";
           s.Text = s.Text = Extensions.dict(Usr.Language, "transport_types");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()
            }
        </td>
        <td>
            @if (orga.ORGA_TYPE == "BUYR") {

        @Html.DevExpress().ComboBox(
                settings => {
                    settings.Name = "buyr_transport";
                    settings.Width = 230;
                    settings.SelectedIndex = 0;
                    settings.Style.Add("float", "left");       
                    //settings.Properties.DisplayFormatString = "DXp v. {0}";
                    settings.Properties.ValueType = typeof(string);
                    settings.Properties.Items.Add(Extensions.dict(Usr.Language, "transport_car"), 2);
                    settings.Properties.Items.Add(Extensions.dict(Usr.Language, "transport_air"), 1);
                    settings.Properties.Items.Add(Extensions.dict(Usr.Language, "both"), 0);
                    // No save button, save on the fly.
                    //settings.Properties.ClientSideEvents.ValueChanged = "function(s,e) { console.log('transportType changed to: ' + s.GetValue());}";
                    settings.Properties.ClientSideEvents.ValueChanged = "changeTransport";
                }
            ).GetHtml()

            }

        </td>
    </tr>
    @*<tr>
        <td>@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_adress";
           s.Text = s.Text = Extensions.dict(Usr.Language, "address");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()</td>
        <td>
            @Html.DevExpress().ButtonEdit(s => {
           s.Name = "orga_adress";
           s.Text = String.Format("{0}, {1}, {2}, {3}", orga.F_CAB_ADDRESS.FirstOrDefault().ADDR_STREET, orga.F_CAB_ADDRESS.FirstOrDefault().ADDR_NO, orga.F_CAB_ADDRESS.FirstOrDefault().ADDR_ZIPCODE, orga.F_CAB_ADDRESS.FirstOrDefault().ADDR_CITY);
           s.Width = 230;
           s.Properties.Buttons.Add("");
           s.Properties.Buttons[0].Image.Url = "~/Content/save.png";
           s.Properties.Buttons[0].Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
           s.Properties.ClientSideEvents.ButtonClick = "saveChanges";
       }).GetHtml()

        </td>
        <td></td>
        <td></td>
    </tr>*@
    
    <tr>
        <td><h3>Address</h3></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>
@Html.DevExpress().Label(s => {
    s.AssociatedControlName = "orga_adress_street";
    s.Text = s.Text = Extensions.dict(Usr.Language, "address_street");
    s.Attributes.CssStyle.Add("color", "black;");
}).GetHtml()
        </td>
        <td>
@Html.DevExpress().TextBox(s => {
    s.Name = "orga_adress_street";
    s.Text = orga.F_CAB_ADDRESS.FirstOrDefault().ADDR_STREET;
    s.Properties.NullDisplayText = "Street";
    s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
    s.Enabled = true;
}).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s => {
           s.AssociatedControlName = "orga_adress_street_nr";
           s.Text = s.Text = Extensions.dict(Usr.Language, "address_street_nr");
           s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()
        </td>
        <td>
@Html.DevExpress().TextBox(s => {
    s.Name = "orga_adress_street_nr";
    s.Text = orga.F_CAB_ADDRESS.FirstOrDefault().ADDR_NO;
    s.Properties.NullDisplayText = "StreetNr";
    s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
    s.Enabled = true;
}).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
@Html.DevExpress().Label(s => {
    s.AssociatedControlName = "orga_adress_zipcode";
    s.Text = s.Text = Extensions.dict(Usr.Language, "address_zipcode");
    s.Attributes.CssStyle.Add("color", "black;");
}).GetHtml()
        </td>    
        <td>
@Html.DevExpress().TextBox(s => {
    s.Name = "orga_adress_zipcode";
    s.Text = orga.F_CAB_ADDRESS.FirstOrDefault().ADDR_ZIPCODE;
    s.Properties.NullDisplayText = "Zipcode";
    s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
    s.Enabled = true;
}).GetHtml()
        </td>    
        <td>
@Html.DevExpress().Label(s => {
    s.AssociatedControlName = "orga_adress_city";
    s.Text = s.Text = Extensions.dict(Usr.Language, "address_city");
    s.Attributes.CssStyle.Add("color", "black;");
}).GetHtml()
        </td>    
        <td>
@Html.DevExpress().TextBox(s => {
    s.Name = "orga_adress_city";
    s.Text = orga.F_CAB_ADDRESS.FirstOrDefault().ADDR_CITY;
    s.Properties.NullDisplayText = "City";
    s.Width = System.Web.UI.WebControls.Unit.Pixel(230);
    s.Enabled = true;
}).GetHtml()
        </td>    
    </tr>
    <tr>
        <td></td>
        <td>
            @Html.DevExpress().Button(settings => {
           settings.Name = "btnSaveAddress";
           settings.Text = Extensions.dict(Usr.Language, "save");
           settings.ClientSideEvents.Click = "fnSaveAddress";
           settings.Images.Image.Url = "~/Content/save.png";
           settings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
           settings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(22);
           settings.Width = System.Web.UI.WebControls.Unit.Pixel(110);
       }).GetHtml()
        </td>
        <td></td>
        <td></td>
    </tr>
</table>
<br />

@Html.DevExpress().PageControl(pg => {
    pg.Name = "pcFeatures";
    //pg.ActivateTabPageAction = DevExpress.Web.ASPxTabControl.ActivateTabPageAction.Click;
//    pg
    pg.ActivateTabPageAction = ActivateTabPageAction.Click;
    pg.EnableHotTrack = true;
    pg.SaveStateToCookies = true;
    pg.TabAlign = TabAlign.Left;
    pg.TabPosition = TabPosition.Top;
    //pg.TabAlign = DevExpress.Web.ASPxTabControl.TabAlign.Left;
    //pg.TabPosition = DevExpress.Web.ASPxTabControl.TabPosition.Top;
    pg.TabPages.Add(Extensions.dict(Usr.Language, "password")).SetContent(() => {
                    
        Html.RenderPartial("ChangePasswordPartial");
    });
    pg.TabPages.Add(Extensions.dict(Usr.Language, "contactpersons")).SetContent(() => {
        ViewContext.Writer.Write("<h3>" + Extensions.dict(Usr.Language, "contactpersons") + "</h3>");
        Html.RenderPartial("ContactPersons");
        ViewContext.Writer.Write("<br /><hr />");
        Html.RenderPartial("NewContactPersonPartial");

    });
}).GetHtml()








