﻿@model IEnumerable<CAB.Domain.Models.Login>
@{
    ViewBag.Title = "Users";
}
<h2>Users</h2>
<hr />
<table>
    <tr>
        <td style="vertical-align:top;">
            @Html.Partial("ListPartial", Model)
        </td>
    </tr>
</table>