﻿@{
    ViewBag.Title = "ListOnline";
}
@model IQueryable<LogiCAB.Web.Controllers.ActiveUser>
<h2>Gebruikers Online</h2>
<span style="font-weight:bold; font-size:16px;">Update in: </span><span style="font-weight:bold; font-size:16px; color:red;" id="timer"></span>
<br /><br />
@Html.Partial("ListOnlinePartial", Model)

<script>
    var count = 5;
    function updateTimer() {
        document.getElementById("timer").innerHTML = count + " secs";
        if (count > 0) {
            count--;                
        } else {
            gvActiveUser.Refresh();
            count = 5;
        }
    }
    $(document).ready(function () {
        countTimer = setInterval(updateTimer, 1000);
    });
</script>
