﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html class="html">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="LogiCAB uw online handelsplaats voor versproducten" />
    <meta name="keywords" content="LogiCAB, LogiPlaza, LogiFlora, onlinehandelsplaats, versproducten, groene sector, bloemen, planten, vis, fruit, groenten, melk" />
    <meta name="generator" content="7.3.5.244" />
    <title>LogiCAB &#45; Home</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=IE8" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/site_global.css?4278001186")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/master_a-master.css?4127742079")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/index.css?404147348")" id="pagesheet" />
    <!-- Other scripts -->
    <script type="text/javascript">
        document.documentElement.className += ' js';
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-36348820-4', 'logicab.nl');
        ga('send', 'pageview');

    </script>

</head>
<body>

    <!--HTML Widget code-->

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <div class="clearfix" id="page">
        <!-- column -->
        <div class="position_content" id="page_position_content">
            <div class="clearfix colelem" id="pu3473">
                <!-- group -->
                <div id="u3473">
                    <!-- animation -->
                    <iframe id="U4170_animation" src="@Url.Content("~/assets/spheres/spheres.html")" scrolling="no" class="animationContainer an_invi"></iframe>
                </div>
                <div class="browser_width" id="u4365"><!-- simple frame --></div>
            </div>
            <div class="browser_width pinned-colelem" id="u4363"><!-- simple frame --></div>
            <div class="SlideShowWidget clearfix colelem" id="slideshowu486">
                <!-- none box -->
                &nbsp;
                <div class="popup_anchor" id="u490popup">
                    <div class="SlideShowContentPanel clearfix fullscreen" id="u490">
                        <!-- stack box -->
                        <div class="SSSlide clip_frame fullscreen" id="u4402">
                            <!-- image -->
                            <img class="ImageInclude" id="u4402_img" data-src="@Url.Content("~/images/back07.jpg")" src="@Url.Content("~/images/blank.gif")" alt="" data-width="1149" data-height="718" />
                        </div>
                        <div class="SSSlide invi clip_frame fullscreen" id="u4411">
                            <!-- image -->
                            <img class="ImageInclude" id="u4411_img" data-src="@Url.Content("~/images/back06.jpg")" src="@Url.Content("~/images/blank.gif")" alt="" data-width="1149" data-height="718" />
                        </div>
                        <div class="SSSlide invi clip_frame fullscreen" id="u4420">
                            <!-- image -->
                            <img class="ImageInclude" id="u4420_img" data-src="@Url.Content("~/images/back05.jpg")" src="@Url.Content("~/images/blank.gif")" alt="" data-width="1149" data-height="718" />
                        </div>
                        <div class="SSSlide invi clip_frame fullscreen" id="u4429">
                            <!-- image -->
                            <img class="ImageInclude" id="u4429_img" data-src="@Url.Content("~/images/back04.jpg")" src="@Url.Content("~/images/blank.gif")" alt="" data-width="1149" data-height="718" />
                        </div>
                        <div class="SSSlide invi clip_frame fullscreen" id="u4438">
                            <!-- image -->
                            <img class="ImageInclude" id="u4438_img" data-src="@Url.Content("~/images/back03.jpg")" src="@Url.Content("~/images/blank.gif")" alt="" data-width="1149" data-height="718" />
                        </div>
                        <div class="SSSlide invi clip_frame fullscreen" id="u4447">
                            <!-- image -->
                            <img class="ImageInclude" id="u4447_img" data-src="@Url.Content("~/images/back02.jpg")" src="@Url.Content("~/images/blank.gif")" alt="" data-width="1149" data-height="718" />
                        </div>
                        <div class="SSSlide invi clip_frame fullscreen" id="u4456">
                            <!-- image -->
                            <img class="ImageInclude" id="u4456_img" data-src="@Url.Content("~/images/back01.jpg")" src="@Url.Content("~/images/blank.gif")" alt="" data-width="1149" data-height="718" />
                        </div>
                        <div class="SSSlide invi clip_frame fullscreen" id="u4484">
                            <!-- image -->
                            <img class="ImageInclude" id="u4484_img" data-src="@Url.Content("~/images/back08.jpg" )" src="images/blank.gif" )" alt="" data-width="1149" data-height="718" />
                        </div>
                        <div class="SSSlide invi clip_frame fullscreen" id="u4610">
                            <!-- image -->
                            <img class="ImageInclude" id="u4610_img" data-src="@Url.Content("~/images/back10.jpg" )" src="images/blank.gif" )" alt="" data-width="1149" data-height="718" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clip_frame pinned-colelem" id="u4556">
                <!-- image -->
                <img class="block" id="u4556_img" src="@Url.Content("~/images/kweker.png")" alt="" width="120" height="148" />
            </div>
            <div class="clip_frame pinned-colelem" id="u4551">
                <!-- image -->
                <img class="block" id="u4551_img" src="@Url.Content("~/images/handelaar.png")" alt="" width="156" height="137" />
            </div>
            <div class="clip_frame pinned-colelem" id="u4509">
                <!-- image -->
                <img class="block" id="u4509_img" src="@Url.Content("~/images/logicab-logo.png")" alt="" width="254" height="58" />
            </div>
            <div class="clearfix pinned-colelem" id="u4515-4">
                <!-- content -->
                <p>Uw online handelsplaats voor versproducten</p>
            </div>
            <div class="browser_width pinned-colelem" id="u4514"><!-- simple frame --></div>
            <div class="clearfix pinned-colelem" id="u4620-11">
                <!-- content -->
                <p id="u4620-2">NOG GEEN LID?</p>
                <p id="u4620-4">Klik hier voor aanmelden als</p>
                <p id="u4620-8"><a class="nonblock" href="http://www.logiplaza.nl/subscriptions/grower" target="_blank">KWEKER/LEVERANCIER</a></p>
                <p id="u4620-9">&nbsp;</p>
            </div>
            <div class="clearfix pinned-colelem" id="u4621-10">
                <!-- content -->
                <p id="u4621-2">NOG GEEN LID?</p>
                <p id="u4621-4">Klik hier voor aanmelden als</p>
                <p id="u4621-8"><a class="nonblock" href="http://www.logiplaza.nl/subscriptions/buyer" target="_blank">KOPER/EXPORTEUR</a></p>
            </div>
            <div class="clearfix pinned-colelem" id="u4507-4">
                <!-- content -->
                <p>WELKOM</p>
            </div>
            <div class="pinned-colelem" id="u4640">
                <!-- custom html -->
                <a class="twitter-timeline" href="https://twitter.com/LogiFlora" data-widget-id="474533598507192321">Tweets van @@LogiFlora</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>


            </div>
            <div class="browser_width pinned-colelem" id="u4364"><!-- simple frame --></div>

            <form action="@Url.Action("Login", "User")" id="loginform" method="post">
                <div class="shadow rounded-corners pinned-colelem" id="u4598"><!-- simple frame --></div>
                <div class="clearfix pinned-colelem" id="u4601-4">
                    <!-- content -->
                    @*<p>gebruikersnaam</p>*@
                    <input id="username_I" name="username" type="text" placeholder="Gebruikersnaam" autofocus>
                </div>
                <div class="shadow rounded-corners pinned-colelem" id="u4599"><!-- simple frame --></div>
                <div class="clearfix pinned-colelem" id="u4602-4">
                    <!-- content -->
                    @*<p>wachtwoord</p>*@
                    <input id="password_I" name="password" type="password" placeholder="Wachtwoord">
                </div>
                <div class="shadow gradient rounded-corners pinned-colelem" id="u4600"><!-- simple frame --></div>
                <div class="clearfix pinned-colelem" id="u4603-4">
                    <!-- content -->
                    <input value="Inloggen &gt;&gt;" type="submit" name="loginButton" readonly="readonly" style="color: #B6D42A; background-color:transparent; width:100%; cursor:pointer;">
                    @*<p>inloggen &gt;&gt;</p>*@
                >>>>>>>></div>
            </form>
                <div class="rounded-corners pinned-colelem" id="u4625"><!-- simple frame --></div>
                <div class="clearfix pinned-colelem" id="u4579-10">
                    <!-- content -->
                    <p><a class="nonblock" href="http://logiflora.nl/faq.html" target="_blank" title="FAQ"><span id="u4579">Klik hier voor</span></a></p>
                    <p><a class="nonblock" href="http://logiflora.nl/faq.html" target="_blank" title="FAQ"><span id="u4579-5">veel gestelde vragen</span></a></p>
                </div>
                <div class="browser_width pinned-colelem" id="u4366"><!-- simple frame --></div>
                <div class="browser_width pinned-colelem" id="u4532"><!-- simple frame --></div>
                <a class="nonblock nontext clip_frame pinned-colelem" id="u4546" href="https://www.facebook.com/Logiflorabv" target="_blank"><!-- image --><img class="block" id="u4546_img" src="@Url.Content("~/images/facebook-icon.png")" alt="" width="28" height="28" /></a>
                <div class="pinned-colelem" id="u4627">
                    <!-- custom html -->

                    <div class="fb-like" data-href="https://www.facebook.com/Logiflorabv" data-send="false" data-width="181" data-show-faces="false" data-colorscheme="light" data-layout="button_count" data-action="like"></div>

                </div>
                <div class="pinned-colelem" id="u4516">
                    <!-- custom html -->

                    <a href="https://twitter.com/LogiFlora" class="twitter-follow-button" data-lang="nl" data-show-screen-name="false" data-size="medium"></a>

                </div>
                <div class="clearfix colelem" id="ppu4523">
                    <!-- group -->
                    <a class="nonblock nontext" id="u4523" href="http://www.logiflora.nl" target="_blank"><!-- state-based BG images --></a>
                    <a class="nonblock nontext" id="u4493" href="http://www.logiplaza.nl/" target="_blank"><!-- state-based BG images --></a>
                </div>
                <div class="clearfix pinned-colelem" id="u4522-7">
                    <!-- content -->
                    <p>LogiCAB is onderdeel van LogiFlora BV: Witteweg 62, 1431 GZ Aalsmeer • T&nbsp; 0297 36 27 76 • F&nbsp; 0297 365721 • E&nbsp; <a class="nonblock" href="mailto:info@logiflora.nl" target="_blank">info@logiflora.nl</a></p>
                </div>
                <div class="verticalspacer"></div>
</div>
    </div>
    <div class="preload_images">
        <img class="preload" src="@Url.Content("~/images/u4523-r.png")" alt="" />
        ><img class="preload" src="@Url.Content("~/images/u4493-r.png")" alt="" />
    </div>
    <!-- JS includes -->
    <script type="text/javascript">
        if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
    </script>
    <script type="text/javascript">
        window.jQuery || document.write('\x3Cscript src="@Url.Content("~/scripts/jquery-1.8.3.min.js")" type="text/javascript">\x3C/script>');
    </script>
    <script src="@Url.Content("~/scripts/museutils.js?3880880085")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.tobrowserwidth.js?152985095")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/webpro.js?33264525")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/musewpslideshow.js?272207905")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.museoverlay.js?466079611")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/touchswipe.js?261777990")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.watch.js?4199601726")" type="text/javascript"></script>
    <!-- Other scripts -->
    <script type="text/javascript">
        $(document).ready(function () {
            try {
                Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
                $('.browser_width').toBrowserWidth();/* browser width elements */
                Muse.Utils.prepHyperlinks(true);/* body */
                Muse.Utils.initializeAnimations();/* animations */
                Muse.Utils.initWidget('#slideshowu486', function (elem) { $(elem).data('widget', new WebPro.Widget.ContentSlideShow(elem, { heroFitting: 'fillFrameProportionally', autoPlay: true, displayInterval: 3000, slideLinkStopsSlideShow: false, transitionStyle: 'fading', lightboxEnabled_runtime: false, shuffle: false, transitionDuration: 4000, enableSwipe: false, fullScreen: true })); });/* #slideshowu486 */
                Muse.Utils.fullPage('#page');/* 100% height page */
                Muse.Utils.showWidgetsWhenReady();/* body */
                Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
            } catch (e) { Muse.Assert.fail('Error calling selector function:' + e); }
        });
    </script>

    <!--HTML Widget code-->

    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

</body>
</html>
