﻿@using CAB.Domain.Helpers;
@using LogiCAB.Web.Domain;
@model IEnumerable<LogiCAB.Web.Domain.MailMatrix>
@{
    ViewBag.Title = "Mail";
}
<script>
    function addMailGroupPerson() {
        $.ajax({
            type: "POST",
            url: baseUrl + "/User/addMailGroupPerson",
            data: {
                pers_seq: cb_ContactPerson.GetValue(),
                cabgroup_seq: cb_CabGroup.GetValue()
            },
            success: function (msg) {
                if(msg == 1) {
                    btn_AddPerson.SetText("Saved.");
                    gvEditing.Refresh();
                }
                if(msg == -1) {
                    $('#mailGroupMessage').html("Combination allready exists");
                    $('#mailGroupMessage').show();
                    setTimeout(function () {
                        $('#mailGroupMessage').fadeOut();
                    }, 3500);
                }
            }
        });
    }

</script>
<img src="~/Content/phonebig.png" height="48" style="float:right;" />
<h2>@Extensions.dict(Usr.Language, "mailgroup settings")</h2>
<hr />
@Html.Partial("MailList", Model)
<br />
<h3>Nieuw</h3>
        @Html.DevExpress().Label(s => {
            s.Text = Extensions.dict(Usr.Language, "cab_group");
            s.Attributes.CssStyle.Add("color", "black;");
        }).GetHtml()
        @Html.Partial("CabGroup")

        @Html.DevExpress().Label(s => {
            s.Text = Extensions.dict(Usr.Language, "contactperson");
            s.Attributes.CssStyle.Add("color", "black;");
        }).GetHtml()
        @Html.Partial("ContactPerson")
<br />
            @Html.DevExpress().Button(settings => {
                settings.Name = "btn_AddPerson";
                settings.Text = Extensions.dict(Usr.Language, "save");
                settings.ClientSideEvents.Click = "addMailGroupPerson";
                settings.Images.Image.Url = "~/Content/save.png";
                settings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(22);
                settings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(22);
                settings.Width = System.Web.UI.WebControls.Unit.Pixel(180);
            }).GetHtml()
<div id="mailGroupMessage" style="display:none; color:red; width:300px;"></div>