﻿@using CAB.Domain.Helpers;
@using LogiCAB.Web.Domain;
<h3>@Extensions.dict(Usr.Language, "new")</h3>
<table width="700" cellpadding="2">
    <tr>
        <td>
            @Html.DevExpress().Label(s => {
           s.Text = Extensions.dict(Usr.Language, "firstname");
           //s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s => {
           s.Name = "new_first_name";
           s.Width = System.Web.UI.WebControls.Unit.Pixel(130);
       }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s => {
           s.Text = Extensions.dict(Usr.Language, "middlename");
           //s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s => {
           s.Name = "new_middle_name";
           s.Width = System.Web.UI.WebControls.Unit.Pixel(130);
       }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s => {
           s.Text = Extensions.dict(Usr.Language, "surname");
           //s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s => {
           s.Name = "new_last_name";
           s.Width = System.Web.UI.WebControls.Unit.Pixel(130);
       }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Label(s => {
           s.Name = "label_personInfo";
           s.Text = "";
           s.Attributes.CssStyle.Add("color", "red;");
       }).GetHtml()
        </td>
        <td></td>
        <td>
            @Html.DevExpress().Label(s => {
           s.Text = Extensions.dict(Usr.Language, "phone");
           //s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s => {
           s.Name = "new_phone_number";
           s.Width = System.Web.UI.WebControls.Unit.Pixel(130);
       }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s => {
           s.Text = Extensions.dict(Usr.Language, "email");
           //s.Attributes.CssStyle.Add("color", "black;");
       }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s => {
           s.Name = "new_email";
           s.Width = System.Web.UI.WebControls.Unit.Pixel(130);
       }).GetHtml()
        </td>
    </tr>
    <tr>
        <td colspan="6" style="padding-right: 19px;">
            @Html.DevExpress().Button(settings => {
           settings.Name = "btn_AddContactPerson";
           settings.Text = Extensions.dict(Usr.Language, "add_person");
           settings.Style.Add("float", "right");

           settings.ClientSideEvents.Click = "addContactPerson";
           settings.Images.Image.Url = "~/Content/save.png";
           settings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(22);
           settings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(22);
           settings.Width = System.Web.UI.WebControls.Unit.Pixel(330);
       }).GetHtml()
        </td>
    </tr>
</table>