﻿@using CAB.Domain.Helpers;
@using LogiCAB.Web.Domain;
@{
    ViewBag.Title = "Profiel";
}
<style>
    #DeliveryDetails {
        font-weight: bold;
        font-size:12px;
    }
</style>
<script>
    function btnShowDetailsClicked(id, description) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("getDeliveryMomentDetails", "User")',
            data: { id: id },
            success: function (msg) {
                console.log(msg);
                //gvCABCodes.Refresh();
                $('#DeliveryDetails').html(description);
//                console.log(msg);
                gvDeliveryMomentDetails.Refresh();
            }
        });
//        console.log(id);

    }
</script>

<h2>Profiel</h2>
<hr />

<table>
    <tr>
        <td>
            <h3>@Extensions.dict(Usr.Language, "DeliveryMoments")</h3>
        </td>
        <td>
            <div id="DeliveryDetails"></div>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top;">
            @{
                Html.RenderAction("DeliveryMomentHeadersPartial");
            }
            @Html.DevExpress().Button(btnSettings => {
           btnSettings.Name = "btnNew";
           btnSettings.ControlStyle.CssClass = "button";
           btnSettings.Text = Extensions.dict(Usr.Language, "New");
           btnSettings.Images.Image.Url = "~/Content/plus.png";
           btnSettings.Images.Image.Height = Unit.Pixel(16);
           btnSettings.Images.Image.Width = Unit.Pixel(16);
           btnSettings.Width = Unit.Pixel(100);
           btnSettings.Style.Add("margin-top", "10px");
           btnSettings.ClientSideEvents.Click = "function (s,e) { gvDeliveryMomentHeaders.AddNewRow(); }";
       }).GetHtml()
        </td>
        <td style="vertical-align:top;">
            
            @Html.Partial("DeliveryMomentDetailsPartial")            
        </td>
    </tr>
</table>

   