﻿@using CAB.Data.EF.Models;
@using LogiCAB.Web.DAL;
@using LogiCAB.Web.Domain;
@using CAB.Domain.Helpers;
@{
    var languagesStatic = new List<Tuple<string, string>>();
    languagesStatic.Add(new Tuple<string, string>("nl", "NED"));
    languagesStatic.Add(new Tuple<string, string>("en", "ENG"));

    string toBind = "nl";
    if (Usr.Language == 23 || Usr.Language == 32) {
        toBind = "en";
    }
    
}
<table>
    <tr>
        <td>
            @Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "logout";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "";
                btnSettings.Images.Image.Url = Url.Content("~/Content/logout.png");
                btnSettings.Images.Image.Height = Unit.Pixel(16);
                btnSettings.Images.Image.Width = Unit.Pixel(16);
                btnSettings.Width = Unit.Percentage(100);
                btnSettings.RouteValues = new { Controller = "User", Action = "LogOff" };
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(ccs => {
                ccs.Name = "comboLanguageGlobal";
                ccs.Properties.ShowImageInEditBox = true;
                ccs.Width = Unit.Percentage(100);
                ccs.Height = Unit.Pixel(20);
                ccs.Properties.ItemImage.Height = 20;
                ccs.Properties.ValueType = typeof(string);
                ccs.SelectedIndex = 0;
                foreach (var l in languagesStatic) {
                    ccs.Properties.Items.Add(l.Item2, l.Item1, Url.Content(String.Format("~/Content/flags/{0}.png", l.Item1)));
                }
                ccs.Properties.ClientSideEvents.SelectedIndexChanged = "fnChangeLanguage";
                }).Bind(toBind).GetHtml()
        </td>
    </tr>
</table>


