﻿@using CAB.Domain.Enums;
@using LogiCAB.Web.Domain;
@model int
<input type="hidden" name="persSequence" id="persSequence" value="@Model">
<table>
    <tr>

        <td>
            <table border="0">
                <tr>
                    <td>Username</td>
                    <td>
                        <input type="text" size="12" name="loginUsernameLogin_@Model" id="loginUsernameLogin_@Model" onkeyup="CheckLoginNameOnly('@Model');" />
                        <img src="~/Content/ok.png" height="24" style="float: right; display:none;" id="loginUsernameOnlyPic_@Model">
                        <img src="~/Content/delete.png" height="24" style="float: right; display:none;" id="loginUsernameOnlyPicExists_@Model">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="text" size="12" name="loginPasswordLogin_@Model" id="loginPasswordLogin_@Model" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Language
                    </td>
                    <td>
                        @Html.DevExpress().ComboBox(ccs => {
                           ccs.Name = "combo_login_ccL" + Model;
                           ccs.Properties.ShowImageInEditBox = true;
                           ccs.Properties.ItemImage.Height = 16;
                           ccs.SelectedIndex = 0;
                           ccs.Properties.Items.Add("NL", 1, Url.Content("~/Content/flags/nl.png"));
                           ccs.Properties.Items.Add("ENG", 32, Url.Content("~/Content/flags/gb.png"));
                           ccs.Properties.Items.Add("DUI", 31, Url.Content("~/Content/flags/de.png"));
                           ccs.Properties.Items.Add("NOR", 36, Url.Content("~/Content/flags/no.png"));
                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:right;padding-right:5px;">
                        @Html.DevExpress().Button(btnSettings => {
                       btnSettings.Name = "btn_createLoginOnly" + Model;
                       btnSettings.ControlStyle.CssClass = "button";
                       btnSettings.Text = "Create Login";
                       btnSettings.CustomJSProperties = (s, e) => {
                           e.Properties["cpPerson"] = Model;
                       };
                       btnSettings.Style.Add("font-weight", "bold");
                       btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                       //btnSettings.Attributes.CssStyle.Add("padding-top", "13px;");
                       btnSettings.Images.Image.Url = "~/Content/plus.png";
                       btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(10);
                       btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(10);
                       btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(160);
                       btnSettings.ClientSideEvents.Click = "fnCreateLoginOnly";
                   }).GetHtml()
                    </td>

                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>

                        <h4>Info</h4>
                        <div id="infoPanelLoginOnly_@Model"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script type="text/html" id="newLoginOnlyTemplate">
    <table border="1">
        <tr>
            <td>Person</td>
            <td>##persName##</td>
        </tr>
        <tr>
            <td>Login</td>
            <td>##logiName##</td>
        </tr>
    </table>
</script>