﻿@using CAB.Domain.Enums;
@using LogiCAB.Web.Domain;
@model CAB.Domain.Models.Organisation

<form id="newOrgaForm">
    <table>
        <tr>
            <td>
                <img src="~/Content/plus.png" height="24" style="float: left;margin-top: 4px;padding: 5px;">
                <h3> New Organisation</h3>
            </td>
            <td style="text-align:right;padding-right:5px;">
                @Html.DevExpress().Button(btnSettings => {
           btnSettings.Name = "btn_createOrga";
           btnSettings.ControlStyle.CssClass = "button";
           btnSettings.Text = "Create Organisation";
           btnSettings.Style.Add("font-weight", "bold");
           btnSettings.Attributes.CssStyle.Add("margin", "5px;");
           //btnSettings.Attributes.CssStyle.Add("padding-top", "13px;");
           btnSettings.Images.Image.Url = "~/Content/plus.png";
           btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(10);
           btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(10);
           btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(160);
           btnSettings.ClientSideEvents.Click = "fnCreateOrganisation";
       }).GetHtml()
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            Naam
                        </td>
                        <td>
                            <input type="text" size="24" name="orgaName" id="orgaName" />
                            <img src="/LogiCAB/Content/ok.png" height="24" style="float: right; display:none;" id="orgaNamePic">
                            <br />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            E-Mail
                        </td>
                        <td>
                            <input type="text" size="24" name="orgaEmail" id="orgaEmail" />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Type
                        </td>
                        <td>
                            <hr />
                            <input type="radio" name="orgaType" value="BUYR" />Buyer<br />
                            <input type="radio" name="orgaType" value="GROW" />Grower<br />
                            <input type="radio" name="orgaType" value="COMM" />Commisionaire<br />
                            <input type="radio" name="orgaType" value="LOGP" />Logistics<br />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Maingroups
                        </td>
                        <td>
                            <hr />
                            <input type="checkbox" name="orgaMaingroup" class="orgaMaingroup" value="2">Flowers<br />
                            <input type="checkbox" name="orgaMaingroup" class="orgaMaingroup" value="1" />Plants<br />
                            <input type="checkbox" name="orgaMaingroup" class="orgaMaingroup" value="4" />Misc<br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Functions
                        </td>
                        <td>
                            <hr />
                            @foreach (Function f in LogiCAB.Web.Controllers.OrganisationController.Functions) {
                                var fSeq = (int)f;
                                
                                if (f == Function.LOGIOFFERTE || f == Function.BUY_STOCK || f == Function.BUY_OFFER) {
                                    <input type="checkbox" name="orgaFunctions" class="orgaFunctions" value="@fSeq"><span style="color:green; font-weight:bold;">@f</span><br />
                                } else {
                                    <input type="checkbox" name="orgaFunctions" class="orgaFunctions" value="@fSeq">@f<br />
                                }

                            }
                        </td>







                    </tr>
                </table>
               
            </td>
            <td style="vertical-align:top; border-left: 2px dotted black;padding-left:10px;">
                <table border="0">
                    <tr>
                        <td>
                            <h4>Address</h4>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>Street</td>
                        <td>
                            <input type="text" size="48" name="addrStreet" id="addrStreet" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nr
                        </td>
                        <td>
                            <input type="text" size="12" name="addrNr" id="addrNr" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Zipcode
                        </td>
                        <td>
                            <input type="text" size="12" name="addrZip" id="addrZip" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            City
                        </td>
                        <td>
                            <input type="text" size="24" name="addrCity" id="addrCity" />
                        </td>
                    </tr>
                </table>
                <table border="0">
                    <tr>
                        <td>
                            <h4>Person</h4>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>Last name</td>
                        <td>
                            <input type="text" size="24" name="persLastName" id="persLastName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            First name
                        </td>
                        <td>
                            <input type="text" size="12" name="persFirstName" id="persFirstName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Middle name
                        </td>
                        <td>
                            <input type="text" size="12" name="persMiddleName" id="persMiddleName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Emai
                        </td>
                        <td>
                            <input type="text" size="12" name="persEmail" id="persEmail" />
                        </td>
                    </tr>

                </table>
                <table border="0">
                    <tr>
                        <td>
                            <h4>Login</h4>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>
                            <input type="text" size="12" name="loginUsername" id="loginUsername" />
                            <img src="~/Content/ok.png" height="24" style="float: right; display:none;" id="loginUsernamePic">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password
                        </td>
                        <td>
                            <input type="text" size="12" name="loginPassword" id="loginPassword" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Language
                        </td>
                        <td>
                            @*<input type="text" size="12" name="loginLanguage" />*@
                            @Html.DevExpress().ComboBox(ccs => {
                           ccs.Name = "combo_login_cc";
                           ccs.Properties.ShowImageInEditBox = true;

                           ccs.Properties.ItemImage.Height = 16;
                           ccs.SelectedIndex = 1;
                           ccs.Properties.Items.Add("NL", 1, Url.Content("~/Content/flags/nl.png"));
                           ccs.Properties.Items.Add("ENG", 32, Url.Content("~/Content/flags/gb.png"));
                           ccs.Properties.Items.Add("DUI", 31, Url.Content("~/Content/flags/de.png"));
                           ccs.Properties.Items.Add("NOR", 36, Url.Content("~/Content/flags/no.png"));

                           //               ccs.SelectedIndex = Model.Orad.Type;
                           //               ccs.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) { orad_Member_OnValueChanged(s,e, " + Model.Orad.Sequence + ") }";
                           //                        ccs.Properties.ClientSideEvents.SelectedIndexChanged = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
                           //ccs.Properties.ClientSideEvents.TextChanged = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
                           //                        ccs.Properties.ClientSideEvents.CloseUp = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
                           //                        ccs.Properties.ClientSideEvents.LostFocus = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
                       }).GetHtml()
                        </td>
                    </tr>

                </table>
            </td>
            <td style="vertical-align:top; border-left: 2px dotted black;padding-left:10px;">
                <h4>Info</h4>
                <div id="infoPanel"></div>
            </td>
        </tr>
    </table>
</form>
<script type="text/html" id="newOrgaTemplate">
    <table border="1">
        <tr>
            <td>Organisation</td>
            <td>##orgaName##</td>
        </tr>
        <tr>
            <td>Person</td>
            <td>##persName##</td>
        </tr>
        <tr>
            <td>Login</td>
            <td>##logiName##</td>
        </tr>
</table>
</script>
