﻿@using CAB.Domain.Enums;
@using LogiCAB.Web.Domain;
@model int
<input type="hidden" name="orgaSequence" id="orgaSequence" value="@Model">
<table>
    <tr>

        <td>
            <table border="0">

                <tr>
                    <td>

                        <h4>Person</h4>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>
                        <input type="text" size="24" name="persLastName" id="persLastName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        First name
                    </td>
                    <td>
                        <input type="text" size="12" name="persFirstName" id="persFirstName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Middle name
                    </td>
                    <td>
                        <input type="text" size="12" name="persMiddleName" id="persMiddleName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        <input type="text" size="12" name="persEmail" id="persEmail" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone
                    </td>
                    <td>
                        <input type="text" size="12" name="persPhone" id="persPhone" />
                    </td>
                </tr>

            </table>
            <table border="0">
                <tr>
                    <td>
                        <h4>Login</h4>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>
                        <input type="text" size="12" name="loginUsernamePerson" id="loginUsernamePerson" onkeyup="CheckLoginName();" />
                        <img src="~/Content/ok.png" height="24" style="float: right; display:none;" id="loginUsernamePic">
                        <img src="~/Content/delete.png" height="24" style="float: right; display:none;" id="loginUsernamePicExists">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="text" size="12" name="loginPassword" id="loginPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Language
                    </td>
                    <td>
                        @*<input type="text" size="12" name="loginLanguage" />*@
                        @Html.DevExpress().ComboBox(ccs => {
                       ccs.Name = "combo_login_ccP";
                       ccs.Properties.ShowImageInEditBox = true;

                       ccs.Properties.ItemImage.Height = 16;
                       ccs.SelectedIndex = 1;
                       ccs.Properties.Items.Add("NL", 1, Url.Content("~/Content/flags/nl.png"));
                       ccs.Properties.Items.Add("ENG", 32, Url.Content("~/Content/flags/gb.png"));
                       ccs.Properties.Items.Add("DUI", 31, Url.Content("~/Content/flags/de.png"));
                       ccs.Properties.Items.Add("NOR", 36, Url.Content("~/Content/flags/no.png"));

                       //               ccs.SelectedIndex = Model.Orad.Type;
                       //               ccs.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) { orad_Member_OnValueChanged(s,e, " + Model.Orad.Sequence + ") }";
                       //                        ccs.Properties.ClientSideEvents.SelectedIndexChanged = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
                       //ccs.Properties.ClientSideEvents.TextChanged = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
                       //                        ccs.Properties.ClientSideEvents.CloseUp = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
                       //                        ccs.Properties.ClientSideEvents.LostFocus = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
                   }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:right;padding-right:5px;">
                        @Html.DevExpress().Button(btnSettings => {
                       btnSettings.Name = "btn_createLogin";
                       btnSettings.ControlStyle.CssClass = "button";
                       btnSettings.Text = "Create Login";
                       btnSettings.Style.Add("font-weight", "bold");
                       btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                       //btnSettings.Attributes.CssStyle.Add("padding-top", "13px;");
                       btnSettings.Images.Image.Url = "~/Content/plus.png";
                       btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(10);
                       btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(10);
                       btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(160);
                       btnSettings.ClientSideEvents.Click = "fnCreateLogin";
                   }).GetHtml()
                    </td>

                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>

                        <h4>Info</h4>
                        <div id="infoPanelLogin"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script type="text/html" id="newLoginTemplate">
    <table border="1">
        <tr>
            <td>Person</td>
            <td>##persName##</td>
        </tr>
        <tr>
            <td>Login</td>
            <td>##logiName##</td>
        </tr>
    </table>
</script>