﻿<!-- TODO: Define New Organisation Model w/ Validation! -->

<h3>New Organisation</h3>
<style>
    .altB {
        background-color: rgb(206, 255, 218);
    }
</style>
@using (Html.BeginForm("OrganisationPost", "Organisation", FormMethod.Post)) {
<table>
    <tr style="vertical-align:top;">
        <td>
            <table>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtOrganisationName"; l.Text = "Name"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtOrganisationName"; }).GetHtml() </td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtOrganisationPhone"; l.Text = "Phone"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtOrganisationPhone"; }).GetHtml()</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtOrganisationEmail"; l.Text = "Email"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtOrganisationEmail"; }).GetHtml()</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtOrganisationEmailKWB"; l.Text = "KWBEmail"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtOrganisationEmailKWB"; }).GetHtml()</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtOrganisationLandgard"; l.Text = "Landgard nr."; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtOrganisationLandgard"; }).GetHtml()</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtOrganisationEAN"; l.Text = "EAN nr."; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtOrganisationEAN"; }).GetHtml()</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtOrganisationCode"; l.Text = "Orga Code"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtOrganisationCode"; }).GetHtml()</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtOrganisationBVH"; l.Text = "BVH nr."; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtOrganisationBVH"; }).GetHtml()</td>
                </tr>
                <tr>
                    <td><h4>Address</h4></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtAddressStreet"; l.Text = "Street"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtAddressStreet"; }).GetHtml()</td>
                </tr>
                <tr>
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtAddressStreetNo"; l.Text = "No."; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtAddressStreetNo"; }).GetHtml()</td>
                </tr>
                <tr>
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtAddressZipCode"; l.Text = "Zipcode"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtAddressZipCode"; }).GetHtml()</td>
                </tr>
                <tr>
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtAddressCity"; l.Text = "City"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtAddressCity"; }).GetHtml()</td>
                </tr>
                <tr>
                    <td><h4>Person</h4></td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtPersFirst"; l.Text = "First Name"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtPersFirst"; }).GetHtml()</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtPersLast"; l.Text = "Last Name"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtPersLast"; }).GetHtml()</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtPersPhone"; l.Text = "Phone Nr.Name"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtPersPhone"; }).GetHtml()</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtPersEmail"; l.Text = "Pers. Email"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtPersEmail"; }).GetHtml()</td>
                </tr>

                <tr>
                    <td><h4>Login</h4></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtLoginName"; l.Text = "Login Name"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtLoginName"; }).GetHtml()</td>
                </tr>
                <tr>
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtLoginPass"; l.Text = "Login Password"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtLoginPass"; }).GetHtml()</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtOrganisationType"; l.Text = "Type"; }).GetHtml()</td>
                    <td>
                        @Html.DevExpress().ComboBox(ccs => {
                       ccs.Name = "txtOrganisationType";
                       ccs.Properties.ShowImageInEditBox = true;
                       ccs.Properties.ItemImage.Height = 16;
                       ccs.Properties.Items.Add("Grower", 0);
                       ccs.Properties.Items.Add("Buyer", 1);
                       ccs.Properties.Items.Add("Commisionaire", 2);
                       //ccs.Properties.Items.Add("Logistics", 3);
                   }).GetHtml()
                    </td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtOrganisationSkin"; l.Text = "Shop skin"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtOrganisationSkin"; }).GetHtml()</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtOrganisationORAD"; l.Text = "Subscription"; }).GetHtml()</td>
                    <td>
                        @Html.DevExpress().ComboBox(ccs => {
                       ccs.Name = "txtOrganisationORAD";
                       ccs.Properties.ShowImageInEditBox = true;
                       ccs.Properties.ItemImage.Height = 16;
                       ccs.Properties.Items.Add("Goud", 0);
                       ccs.Properties.Items.Add("Zilver", 1);
                       ccs.Properties.Items.Add("Bronze", 2);
                   }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "chkMaingroups"; l.Text = "Maingroups"; }).GetHtml()</td>
                    <td>
                        @Html.DevExpress().CheckBoxList(settings => {
                       settings.Name = "chkMaingroups";
                       //settings.Properties.RepeatLayout = options.RepeatLayout;
                       settings.Properties.RepeatDirection = RepeatDirection.Horizontal;
                       settings.Properties.RepeatColumns = 1;
                       settings.Properties.Items.Add("Planten");
                       settings.Properties.Items.Add("Bloemen");
                       settings.Properties.Items.Add("Vissen");
                       settings.Properties.Items.Add("Aanverwante producten");
                       settings.Properties.Items.Add("Droogbloemen");
                   }).GetHtml()

                    </td>
                </tr>

                <tr>
                    <td><h4>Shipping information</h4></td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "chkShippingDays"; l.Text = "Shipping days"; }).GetHtml()</td>
                    <td>
                        @Html.DevExpress().CheckBoxList(settings => {
                       settings.Name = "chkShippingDays";
                       //settings.Properties.RepeatLayout = options.RepeatLayout;
                       settings.Properties.RepeatDirection = RepeatDirection.Horizontal;
                       settings.Properties.RepeatColumns = 3;
                       settings.Properties.Items.Add("Ma");
                       settings.Properties.Items.Add("Di");
                       settings.Properties.Items.Add("Wo");
                       settings.Properties.Items.Add("Do");
                       settings.Properties.Items.Add("Vr");
                       settings.Properties.Items.Add("Za");
                       settings.Properties.Items.Add("Zo");
                   }).GetHtml()
                    </td>
                </tr>

                <tr class="altB">
                    <td>
                        <table>
                            <tr>
                                <td><b>Order</b></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtShippingOrderDelivery"; l.Text = "Delivery days"; }).GetHtml()</td>
                                <td>@Html.DevExpress().TextBox(t => { t.Name = "txtShippingOrderDelivery"; }).GetHtml()</td>
                            </tr>
                            <tr>
                                <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtShippingOrderOffset"; l.Text = "Offset days"; }).GetHtml()</td>
                                <td>@Html.DevExpress().TextBox(t => { t.Name = "txtShippingOrderOffset"; }).GetHtml()</td>
                            </tr>
                            <tr>
                                <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtShippingOrderDeadline"; l.Text = "Deadline"; }).GetHtml()</td>
                                <td>@Html.DevExpress().TextBox(t => { t.Name = "txtShippingOrderDeadline"; }).GetHtml()</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td><b>Offer</b></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtShippingOfferDelivery"; l.Text = "Delivery days"; }).GetHtml()</td>
                                <td>@Html.DevExpress().TextBox(t => { t.Name = "txtShippingOfferDelivery"; }).GetHtml()</td>
                            </tr>
                            <tr>
                                <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtShippingOfferOffset"; l.Text = "Offset days"; }).GetHtml()</td>
                                <td>@Html.DevExpress().TextBox(t => { t.Name = "txtShippingOfferOffset"; }).GetHtml()</td>
                            </tr>
                            <tr>
                                <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtShippingOfferDeadline"; l.Text = "Deadline"; }).GetHtml()</td>
                                <td>@Html.DevExpress().TextBox(t => { t.Name = "txtShippingOfferDeadline"; }).GetHtml()</td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        @Html.DevExpress().Label(s => {
                            s.AssociatedControlName = "ucCallbacks";
                            s.Text = "Logo";
                            s.Attributes.CssStyle.Add("color", "black;");
                        }).GetHtml()
                    </td>
                    <td>
                        @using (Html.BeginForm("CallbacksImageUpload", "User", FormMethod.Post, new { @class = "imagePreview" })) {
                            ViewContext.Writer.Write("<div class=\"imageContainer\" style=\"margin: 5px;\"><img alt=\"\" id=\"previewImage\" width=\"200\" src=\"" + Url.Content("~/Content/nopic.jpg") + "\" /></div>");
                            ViewContext.Writer.Write("<div class=\"uploadContainer\">");
                            Html.DevExpress().UploadControl(ucSettings => {
                                ucSettings.Name = "ucCallbacks";
                                ucSettings.CallbackRouteValues = new { Controller = "User", Action = "CallbacksImageUpload" };
                                ucSettings.ControlStyle.CssClass = "editorArea";
                                ucSettings.Attributes.CssStyle.Add("float", "left");
                                ucSettings.Attributes.CssStyle.Add("margin", "5px");
                                ucSettings.ShowProgressPanel = true;
                                ucSettings.ClientSideEvents.TextChanged = "function(s, e){ " + "ucCallbacks.Upload(); }";
                                ucSettings.ClientSideEvents.FileUploadComplete = "function(s,e){ if(e.callbackData != '') $('#previewImage').attr('src', baseUrl + e.callbackData); }";
                            }).GetHtml();
                        }
                    </td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtShopSkin"; l.Text = "Shop skin"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtShopSkin"; }).GetHtml()</td>
                </tr>
                <tr class="altB">
                    <td>@Html.DevExpress().Label(l => { l.AssociatedControlName = "txtShopEvidence"; l.Text = "Shop url root"; }).GetHtml()</td>
                    <td>@Html.DevExpress().TextBox(t => { t.Name = "txtShopEvidence"; }).GetHtml()</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
}


@Html.DevExpress().Button(b => {
    b.Name = "btnOrgaSave";
    b.Text = "Save";
    b.Images.Image.Url = Url.Content("~/Content/save.png");
    b.Images.Image.Height = Unit.Pixel(16);
    b.Images.Image.Width = Unit.Pixel(16);
    b.Width = Unit.Pixel(175);
    b.UseSubmitBehavior = true;
}).GetHtml()