﻿@using CAB.Domain.Helpers;
@using LogiCAB.Web.Domain;
@using CAB.Domain.Enums;
@model CAB.Domain.Models.Organisation
@{
    string imgsrc = "";
    string oradMembertype = "";
	Session["currentOrga"] = Model.Sequence;
    switch (Model.Orad.Type) {
        case SubscriptionType.Bronze:
            imgsrc = "bronze.jpg";
            break;
        case SubscriptionType.Silver:
            imgsrc = "silver.jpg";
            break;
        case SubscriptionType.Gold:
            imgsrc = "gold.jpg";
            break;
        default:
            imgsrc = "nopic.jpg";
            break;
    }
    string logoimg = "";
    if (Model.Picture == null) {
        logoimg = Url.Content("~/Content/nopic.jpg");
    } else {
        logoimg = Url.Content(String.Format("~/Image/ShowImage/{0}", Model.Picture));
    }



}
@*<td rowspan="10" style="padding-right:10px; background:none; vertical-align:top;"><img src="@logoimg" style="width:250px;" /></td>*@
<style>
    td.info {
        width: 150px;
        padding: 5px;
        /*background-color: magenta;*/
    }

    #orgaInfoContainer {
        padding: 10px;
    }
</style>
<form>
    <div id="orgaInfoContainer">
        <h3>@Model.Name</h3>
        <table class="orgaInfo">
            <tr>
                <td class="info">Telefoon</td>
                <td class="info">@Html.DevExpress().TextBox(t => { t.Name = "Phone"; }).Bind(Model.Phone).GetHtml()</td>
                <td class="info">Organisatie Type</td>
                <td class="info">@Html.DevExpress().TextBox(t => { t.Name = "Type"; }).Bind(Model.Type).GetHtml()</td>
                <td rowspan="10" style="padding-right:10px; background:none; vertical-align:top;">
                    <img id="orgaLogo" src="@logoimg" style="width:250px;" /><br/>
                        @Html.DevExpress().UploadControl(ucSettings => {
                            ucSettings.Name = "ucCallbacks";
                            ucSettings.CallbackRouteValues = new { Controller = "Organisation", Action = "CallbacksImageUpload" };
                            ucSettings.ControlStyle.CssClass = "editorArea";
                            ucSettings.Attributes.CssStyle.Add("float", "left");
                            ucSettings.Attributes.CssStyle.Add("margin", "5px");
                            ucSettings.ShowProgressPanel = true;
                            ucSettings.ClientSideEvents.TextChanged = "function(s, e){ ucCallbacks.Upload(); }";
                            ucSettings.ClientSideEvents.FileUploadComplete = "function(s,e){ console.log(e.callbackData); if(e.callbackData != '') $('#orgaLogo').attr('src', '" + Url.Content("~/Image/ShowImage/") + "' + e.callbackData); }";
                        }).GetHtml();

                    
                </td>
            </tr>
            <tr style="background-color: rgb(221, 231, 255);">
                <td class="info">E-mail</td>
                <td class="info">@Html.DevExpress().TextBox(t => { t.Name = "Email"; }).Bind(Model.Email).GetHtml()</td>
                <td class="info">EAN Code</td>
                <td class="info">@Html.DevExpress().TextBox(t => { t.Name = "EAN"; }).Bind(Model.EAN).GetHtml()</td>

            </tr>
            <tr>
                <td class="info">BTW nummer</td>
                <td class="info">@Html.DevExpress().TextBox(t => { t.Name = "VAT"; }).Bind(Model.VAT).GetHtml()</td>
                <td class="info">Orga. code</td>
                <td class="info">@Html.DevExpress().TextBox(t => { t.Name = "Code"; }).Bind(Model.Code).GetHtml()</td>

            </tr>
            <tr style="background-color: rgb(221, 231, 255);">
                <td class="info">Mailbox (KWB/EKT)</td>
                <td class="info">@Html.DevExpress().TextBox(t => { t.Name = "Mailbox"; }).Bind(Model.Mailbox).GetHtml()</td>
                <td class="info">BVH nr.</td>
                <td class="info">@Html.DevExpress().TextBox(t => { t.Name = "VBA"; }).Bind(Model.VBA).GetHtml()</td>

            </tr>
            <tr>
                <td class="info">LandGard nr.</td>
                <td class="info">@Html.DevExpress().TextBox(t => { t.Name = "BVH"; }).Bind(Model.BVH).GetHtml()</td>
                <td class="info"></td>
                <td class="info"></td>

            </tr>
            <tr style="background-color: rgb(221, 231, 255);">
                <td class="info">
                    @Extensions.dict(Usr.Language, "status")
                    <span id="oradStatusIndicator" style="display:none;float:right;"><img src="@Url.Content("~/Content/loader.gif")" style="height:16px;" /></span>
                </td>
                <td class="info">
                    @Html.DevExpress().ComboBox(ccs => {
                   ccs.Name = "combo_ORAD_Status";
                   ccs.Properties.ShowImageInEditBox = true;
                   ccs.Properties.ItemImage.Height = 16;
                   ccs.Properties.Items.Add("Geen", 0);
                   ccs.Properties.Items.Add("Prospect", 1);
                   ccs.Properties.Items.Add("Onbekend", 2);
                   ccs.Properties.Items.Add("Actief", 3);
                   ccs.Properties.Items.Add("Afgemeld", 4);
                   ccs.SelectedIndex = Model.Orad.Status;
                   ccs.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) { orad_Status_OnValueChanged(s,e, " + Model.Orad.Sequence + ") }";
               }).GetHtml()
                </td>
                <td class="info">
                    @Extensions.dict(Usr.Language, "subscription")
                    <span id="oradMemberIndicator" style="display:none;float:right;"><img src="@Url.Content("~/Content/loader.gif")" style="height:16px;" /></span>
                </td>
                <td class="info">
                    @Html.DevExpress().ComboBox(ccs => {
                   ccs.Name = "combo_ORAD_Member";
                   ccs.Properties.ShowImageInEditBox = true;
                   ccs.Properties.ItemImage.Height = 16;
                   ccs.Properties.Items.Add("Geen", 0, Url.Content("~/Content/nopic.jpg"));
                   ccs.Properties.Items.Add("Goud", SubscriptionType.Gold, Url.Content("~/Content/gold.jpg"));
                   ccs.Properties.Items.Add("Zilver", SubscriptionType.Silver, Url.Content("~/Content/silver.jpg"));
                   ccs.Properties.Items.Add("Bronze", SubscriptionType.Bronze, Url.Content("~/Content/bronze.jpg"));
                   ccs.SelectedIndex = Model.Orad.Type;
                   ccs.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) { orad_Member_OnValueChanged(s,e, " + Model.Orad.Sequence + ") }";
               }).GetHtml()
                </td>

            </tr>
            <tr>
                <td colspan="4" style="padding:10px;">
                    @Html.DevExpress().Button(btnSettings => {
                    btnSettings.Name = "btnUpdate";
                    btnSettings.ControlStyle.CssClass = "button";
                    btnSettings.Text = Extensions.dict(Usr.Language, "save");
                    btnSettings.Images.Image.Url = "~/Content/save.png";
                    btnSettings.Images.Image.Height = Unit.Pixel(16);
                    btnSettings.Images.Image.Width = Unit.Pixel(16);
                    btnSettings.Width = Unit.Pixel(100);
                    btnSettings.ClientSideEvents.Click = "function(s, e){ gvOrganisationList.UpdateEdit(); }";
                    }).GetHtml()
                    @Html.DevExpress().Button(btnSettings => {
                   btnSettings.Name = "btnCancel";
                   btnSettings.ControlStyle.CssClass = "button";
                   btnSettings.Text = Extensions.dict(Usr.Language, "cancel");
                   btnSettings.Images.Image.Url = "~/Content/cancel.png";
                   btnSettings.Images.Image.Height = Unit.Pixel(16);
                   btnSettings.Images.Image.Width = Unit.Pixel(16);
                   btnSettings.Width = Unit.Pixel(100);
                   btnSettings.ClientSideEvents.Click = "function(s, e){ gvOrganisationList.CancelEdit(); }";
               }).GetHtml()
                </td>

            </tr>
            <tr>
                <td colspan="4" style="padding:20px;">
                    @Html.DevExpress().PageControl(
            settings => {
                settings.Name = "pcMisc";
                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                settings.TabPages.Add(p => {
                    p.Text = "Modules";
                    p.Name = "tabOrganisationsModules";
                    p.TabImage.Url = "~/Content/assort.png";
                    p.TabImage.Height = Unit.Pixel(16);
                    p.TabImage.Width = Unit.Pixel(16);
                    p.SetContent(() => {
                        Html.RenderAction("OrgaModulesPartial", "Organisation", new { id = Model.Sequence });
                    });
                });                
                settings.TabPages.Add(p => {
                    p.Text = "Contactpersoonen";
                    p.Name = "tabOrganisationsContactPersons";
                    p.TabImage.Url = "~/Content/users.png";
                    p.TabImage.Height = Unit.Pixel(16);
                    p.TabImage.Width = Unit.Pixel(16);
                    p.SetContent(() => {
                        Html.RenderAction("OrgaContactPersonsPartial", "Organisation", new { id = Model.Sequence });
                    });
                });
                settings.TabPages.Add(p => {
                    p.Text = "Adres";
                    p.Name = "tabOrganisationsAdres";
                    p.TabImage.Url = "~/Content/map.png";
                    p.TabImage.Height = Unit.Pixel(16);
                    p.TabImage.Width = Unit.Pixel(16);
                    p.SetContent(() => {
                        Html.RenderPartial("AddressTemplatePartial", Model.Addresses);
                    });
                });
                settings.TabPages.Add(p => {
                    p.Text = "Hoofgroep";
                    p.Name = "tabOrganisationMaingroup";
                    p.TabImage.Url = "~/Content/misc.png";
                    p.TabImage.Height = Unit.Pixel(16);
                    p.TabImage.Width = Unit.Pixel(16);
                    p.SetContent(() => {
                        Html.RenderAction("OrgaMaingroupPartial", "Organisation" );
                    });
                });                
                settings.TabPages.Add(p => {
                    p.Text = "New login";
                    p.Name = "tabNewLogin";
                    p.TabImage.Url = "~/Content/loginlock.png";
                    p.TabImage.Height = Unit.Pixel(16);
                    p.TabImage.Width = Unit.Pixel(16);
                    p.SetContent(() => {
                        Html.RenderPartial("CreateLoginPartial", Model.Sequence);
                    });
                });

            }).GetHtml()

                </td>

            </tr>
        </table>


    </div>
</form>

@*<table border="1">
      <tr>
        <th>Month</th>
        <th>Savings</th>
        <th>Savings for holiday!</th>
      </tr>
      <tr>
        <td>January</td>
        <td>$100</td>
        <td rowspan="2">$50</td>
      </tr>
      <tr>
        <td>February</td>
        <td>$80</td>
      </tr>
    </table>*@