﻿@using LogiCAB.Web.Domain;
@using CAB.Domain.Helpers;
@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        gvTranslations.Refresh();
        gvMissingTranslations.Refresh();
    });
</script>

<div>
    <img src="~/Content/translations.png" height="48" style="float:right; position:relative; top: -15px;" />
    <h2>Translations</h2>
    <hr />
</div>
@Html.DevExpress().PageControl(settings => {
    settings.Name = "tabTranslation";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

    settings.TabPages.Add(p => {
        p.Name = "tabTranslations";
        p.Text = Extensions.dict(Usr.Language, "Translations");
        p.TabImage.Url = "~/Content/users.png";
        p.TabImage.Height = Unit.Pixel(16);
        p.TabImage.Width = Unit.Pixel(16);
        p.SetContent(() => {
            Html.RenderPartial("List");
        });
    });
    settings.TabPages.Add(p => {
        p.Text = Extensions.dict(Usr.Language, "Missingtranslations");
        p.Name = "tabMissingTranslations";
        p.TabImage.Url = "~/Content/map.png";
        p.TabImage.Height = Unit.Pixel(16);
        p.TabImage.Width = Unit.Pixel(16);
        p.SetContent(() => {
            Html.RenderPartial("ListMissing");
        });
    });

}).GetHtml()
