﻿@using LogiCAB.Web.Domain;
@using CAB.Domain.Helpers;
@using CAB.Domain.Models;
@model List<Translation>
@Html.DevExpress().GridView(s => {
    s.Name = "gvMissingTranslations";
    s.KeyFieldName = "Sequence";
    s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    s.CallbackRouteValues = new { Controller = "Translation", Action = "ListMissing" };
    s.SettingsEditing.UpdateRowRouteValues = new { Controller = "Translation", Action = "UpdateMissingTranslation" };
    s.SettingsEditing.Mode = GridViewEditingMode.Inline;

    s.Settings.ShowFilterRow = true;
    s.Settings.ShowGroupPanel = true;
    s.Settings.ShowFooter = true;
    s.Settings.ShowHeaderFilterButton = true;
    s.SettingsPopup.HeaderFilter.Height = 200;


    GridViewCommandColumn commandColumn = new GridViewCommandColumn();
    commandColumn.Width = Unit.Pixel(100);
    commandColumn.Visible = true;
    //commandColumn.EditButton.Visible = true;
    commandColumn.ShowEditButton = true;
    s.Columns.Add(commandColumn);    
    
    s.Settings.UseFixedTableLayout = true;
    s.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;
    s.SettingsPager.PageSize = 50;

    /*s.SetGroupRowContentTemplateContent(t => {
        if (t.Column.Name == "LanguageCol") {
            var langDesc = DataBinder.Eval(t.DataItem, "Language") as String;
            ViewContext.Writer.Write(String.Format("{0}", langDesc));            
        }
        //var langDesc = DataBinder.Eval(t.DataItem, "Language") as String;
        //DateTime validFrom = (DateTime)DataBinder.Eval(t.DataItem, "ValidFrom");
//        DateTime validTo = (DateTime)DataBinder.Eval(t.DataItem, "ValidTo");
//        vc.Writer.Write(String.Format("{0} <span class=\"pull-right\">{1} {2} - {3} {4}</span>", DataBinder.Eval(t.DataItem, "Supplier"), validFrom.ToShortDateString(), validFrom.ToString("HH:mm"), validTo.ToShortDateString(), validTo.ToString("HH:mm")));
    });    */
    

    s.Columns.Add(c => {
        c.FieldName = "LanguageSeq";
        c.Caption = "CDLA_SEQ";
///        c.Name = "LanguageCol";
        c.ReadOnly = true;
        c.Width = 0;
//        c.Visible = false;
//        c.Caption = Extensions.dict(Usr.Language, "Language");
//        c.Width = Unit.Pixel(150);
//        c.ReadOnly = true;

/*        c.SetDataItemTemplateContent(t => {
            var langDesc = DataBinder.Eval(t.DataItem, "Language") as String;
            ViewContext.Writer.Write(langDesc);
        });
 */ 
//        c.SetEditItemTemplateContent(t => {
//            var langDesc = DataBinder.Eval(t.DataItem, "Language") as String;
//            ViewContext.Writer.Write(langDesc);
//        });

    });
    s.Columns.Add(c => {
        c.FieldName = "Language";
        c.Caption = Extensions.dict(Usr.Language, "Language");
        c.ReadOnly = true;
    });    
    
    s.Columns.Add(c => {
        c.FieldName = "Name";
        c.Caption = Extensions.dict(Usr.Language, "Label");
        c.ReadOnly = true;
    });
    s.Columns.Add(c => {
        c.FieldName = "TranslationText";
        c.Caption = Extensions.dict(Usr.Language, "Translation");
    });
}).Bind(Model).GetHtml()
