﻿@using LogiCAB.Web.Domain;
@model BillingFooter
@{
    var goldSubscriptionCost = 250.0;
    var silverSubscriptionCost = 75.0;
    var GoldTotal = Model.Subscriptions[3] * goldSubscriptionCost;
    var SilverTotal = Model.Subscriptions[4] * silverSubscriptionCost;
    var AbonTotal = GoldTotal + SilverTotal;
    var Total = Model.TotalCommSummary + GoldTotal + SilverTotal;
}
<style>
    #SummaryLeft {
        float: left;
    }

    #SummaryRight {
        float: right;
        text-align:right;
    }
    #SummaryRight > td:nth-child(2) {
        color: green;
        font-size: 14px;
        font-weight: bold;
    }

</style>
<div id="SummaryFooter">
    <div id="SummaryLeft">
        @Html.Raw(Model.DateSelection)
    </div>
    <div id="SummaryRight">
        <table>
            <tr>
                <td>@Extensions.dict(Usr.Language, "turnover")</td>
                <td style="width:250px; font-size: 18px; color:green; font-weight: bold;">@Model.TotalSummary.ToString("C2")</td>
            </tr>
            <tr>
                <td>@Extensions.dict(Usr.Language, "commission")</td>
                <td style="font-size: 18px; color:green; font-weight: bold;">@Model.TotalCommSummary.ToString("C2")</td>
            </tr>
            <tr>
                <td>@Extensions.dict(Usr.Language, "gold")</td>
                <td style="font-size: 14px; color:green; font-weight: bold;">@Model.Subscriptions[3] x @goldSubscriptionCost.ToString("C2")<br />@GoldTotal.ToString("C2")</td>
            </tr>
            <tr>
                <td>@Extensions.dict(Usr.Language, "silver")</td>
                <td style="font-size: 14px; color:green; font-weight: bold;">@Model.Subscriptions[4] x @silverSubscriptionCost.ToString("C2")<br />@SilverTotal.ToString("C2")</td>
            </tr>
            <tr>
                <td>@Extensions.dict(Usr.Language, "total") @Extensions.dict(Usr.Language, "subscription")</td>
                <td style="font-size: 14px; color:green; font-weight: bold;">@AbonTotal.ToString("C2")</td>
            </tr>
            <tr>
                <td>@Extensions.dict(Usr.Language, "total")</td>
                <td style="font-size: 20px; color:green; font-weight: bold;">@Total.ToString("C2")</td>
            </tr>
        </table>
    </div>
</div>
