﻿@using LogiCAB.Web.Domain;
@model List<BillingRecordL>
@{
    ViewBag.Title = "Facturatie - KVK LogiService";
    DateTime startDateTime = new DateTime();
    DateTime endDateTime = new DateTime();
    TimeSpan startTime = new TimeSpan();
    TimeSpan endTime = new TimeSpan();
    if (DateTime.Now.Hour > 9) {
        startTime = TimeSpan.FromHours(0);
        startDateTime = DateTime.Today;
        endTime = TimeSpan.FromMinutes(24*60-1);
        endDateTime = DateTime.Today.AddDays(1);
    } else {
        startTime = TimeSpan.FromHours(0);
        startDateTime = DateTime.Today.AddDays(-1);
        endTime = TimeSpan.FromMinutes(24*60-1);
        endDateTime = DateTime.Today;
    }
}
<script>
    function GetListClicked(s, e) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("setSelectedDate", "Billing")',
            data: {
                startDate: start_date.GetText(),
                endDate: end_date.GetText(),
                startTime: start_time.GetText(),
                endTime: end_time.GetText()
            },
            success: function (msg) {
                gvbillingList.Refresh();
            }
        });
    }
</script>

<h2>@Extensions.dict(Usr.Language, "billing") - @Extensions.dict(Usr.Language, "kvkservice")</h2>
<table>
    <tr>
        <td>
            @Html.DevExpress().Label(s => {
                s.AssociatedControlName = "start_date";
                //s.Text = "Startdatum";
                s.Text = Extensions.dict(Usr.Language, "startdate");
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
            }).GetHtml()
            @Html.DevExpress().DateEdit(s => {
                s.Name = "start_date";
                s.Properties.UseMaskBehavior = true;
                s.Properties.EditFormat = EditFormat.Custom;
                s.Properties.EditFormatString = "dd/MM/yyyy";
                s.Date = startDateTime;
                s.Attributes.CssStyle.Add("margin", "5px;");
            }).GetHtml()
            @Html.DevExpress().TimeEdit(s=> {
                s.Name = "start_time";
                s.Properties.EditFormat = EditFormat.Custom;
                s.Properties.EditFormatString = "HH:mm tt";
                s.DateTime = startDateTime.Add(startTime);
                s.Attributes.CssStyle.Add("margin", "5px;");
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s => {
                s.AssociatedControlName = "end_date";
                //s.Text = "Eind datum";
                s.Text = Extensions.dict(Usr.Language, "enddate");
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
            }).GetHtml()
            @Html.DevExpress().DateEdit(s => {
                s.Name = "end_date";
                s.Properties.UseMaskBehavior = true;
                s.Properties.EditFormat = EditFormat.Custom;
                s.Properties.EditFormatString = "dd/MM/yyyy";
                s.Date = endDateTime;
                s.Attributes.CssStyle.Add("margin", "5px;");
            }).GetHtml()
            @Html.DevExpress().TimeEdit(s => {
                s.Name = "end_time";
                s.Properties.EditFormat = EditFormat.Custom;
                s.Properties.EditFormatString = "HH:mm tt";
                s.DateTime = endDateTime.Add(endTime);
                s.Attributes.CssStyle.Add("margin", "5px;");
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s => {
                s.AssociatedControlName = "GetList";
                s.Text = "";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
            }).GetHtml()
            @Html.DevExpress().Button(s => {
                s.Name = "GetList";
                //s.ControlStyle.CssClass = "button";
                //s.Text = "Ophalen";
                s.Text = Extensions.dict(Usr.Language, "retrieve");
                s.Attributes.CssStyle.Add("margin", "5px");
                s.Images.Image.Url = "~/Content/ok.png";
                s.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(24);
                s.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(24);
                s.Width = System.Web.UI.WebControls.Unit.Pixel(100);
                s.Height = System.Web.UI.WebControls.Unit.Pixel(32);
                s.ClientSideEvents.Click = "GetListClicked";
            }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Button(s => {
                s.Name = "exportExcel";
                //s.ControlStyle.CssClass = "button";
                //s.Text = "Excel";
                s.Text = Extensions.dict(Usr.Language, "excel");
                s.Enabled = false;
                s.Attributes.CssStyle.Add("margin", "5px");
                s.Images.Image.Url = "~/Content/save.png";
                s.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                s.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
                s.Width = System.Web.UI.WebControls.Unit.Pixel(100);
            }).GetHtml()
        </td>
    </tr>
</table>
@Html.Partial("ListKVKService")