﻿@using LogiCAB.Web.Domain;
@model List<BillingRecordL>
@{
    ViewBag.Title = "Facturatie - Kwekers";
}
<script>
    function GetListClicked(s, e) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("setSelectedDate", "Billing")',
            data: {
                startDate: start_date.GetText(),
                endDate: end_date.GetText(),
                startTime: start_time.GetText(),
                endTime: end_time.GetText()
            },
            success: function (msg) {
                gvbillingList.Refresh();
            }
        });
    }
</script>
<h2>@Extensions.dict(Usr.Language, "billing") - @Extensions.dict(Usr.Language, "growers")</h2>
<table>
    <tr>
        <td>
            @{
                DateTime startDateTime = new DateTime();
                DateTime endDateTime = new DateTime();

                TimeSpan startTime = new TimeSpan();
                TimeSpan endTime = new TimeSpan();

                if (DateTime.Now.Hour > 9) {
                    startTime = TimeSpan.FromHours(0);
                    //startDateTime = LogiCAB.Web.Controllers.OrderController.PreviousWorkday(DateTime.Today);
                    startDateTime = DateTime.Today;
                    endTime = TimeSpan.FromMinutes(24 * 60 - 1);
                    //endDateTime = LogiCAB.Web.Controllers.OrderController.NextWorkday(DateTime.Today.AddDays(1));
                    endDateTime = DateTime.Today.AddDays(1);
                } else {
                    startTime = TimeSpan.FromHours(0);
                    //startDateTime = LogiCAB.Web.Controllers.OrderController.PreviousWorkday(DateTime.Today.AddDays(-1));
                    startDateTime = DateTime.Today.AddDays(-1);
                    endTime = TimeSpan.FromMinutes(24 * 60 - 1);
                    //endDateTime = LogiCAB.Web.Controllers.OrderController.NextWorkday(DateTime.Today);
                    endDateTime = DateTime.Today;
                }
            }

@Html.DevExpress().Label(s =>
{
    s.AssociatedControlName = "start_date";
    s.Text = "Startdatum";
    s.Text = Extensions.dict(Usr.Language, "startdate");
    s.Attributes.CssStyle.Add("margin", "5px;");
    s.Attributes.CssStyle.Add("font-weight", "bold;");
}).GetHtml()
@Html.DevExpress().DateEdit(s =>
{
    s.Name = "start_date";
    s.Properties.UseMaskBehavior = true;
    s.Properties.EditFormat = EditFormat.Custom;
    s.Properties.EditFormatString = "dd/MM/yyyy";
    s.Date = startDateTime;
    s.Attributes.CssStyle.Add("margin", "5px;");

}).GetHtml()
@Html.DevExpress().TimeEdit(
    settings =>
    {
        settings.Name = "start_time";
        settings.Properties.EditFormat = EditFormat.Custom;
        settings.Properties.EditFormatString = "HH:mm tt";
        settings.DateTime = startDateTime.Add(startTime);
        settings.Attributes.CssStyle.Add("margin", "5px;");
    }
).GetHtml()
        </td>
        <td>
@Html.DevExpress().Label(s =>
{
    s.AssociatedControlName = "end_date";
    //s.Text = "Eind datum";
    s.Text = Extensions.dict(Usr.Language, "enddate");
    s.Attributes.CssStyle.Add("margin", "5px;");
    s.Attributes.CssStyle.Add("font-weight", "bold;");
}).GetHtml()
@Html.DevExpress().DateEdit(s =>
{
    s.Name = "end_date";
    s.Properties.UseMaskBehavior = true;
    s.Properties.EditFormat = EditFormat.Custom;
    s.Properties.EditFormatString = "dd/MM/yyyy";
    s.Date = endDateTime;
    s.Attributes.CssStyle.Add("margin", "5px;");
}).GetHtml()
@Html.DevExpress().TimeEdit(
    settings =>
    {
        settings.Name = "end_time";
        settings.Properties.EditFormat = EditFormat.Custom;
        settings.Properties.EditFormatString = "HH:mm tt";
        settings.DateTime = endDateTime.Add(endTime);
        settings.Attributes.CssStyle.Add("margin", "5px;");
    }
).GetHtml()
        </td>
        <td>
@Html.DevExpress().Label(s =>
{
    s.AssociatedControlName = "GetList";
    s.Text = "";
    s.Attributes.CssStyle.Add("margin", "5px;");
    s.Attributes.CssStyle.Add("font-weight", "bold;");
}).GetHtml()
@Html.DevExpress().Button(btnSettings =>
{
    btnSettings.Name = "GetList";
    btnSettings.ControlStyle.CssClass = "button";
    btnSettings.Text = "Ophalen";
    btnSettings.Text = Extensions.dict(Usr.Language, "retrieve");
    btnSettings.Attributes.CssStyle.Add("margin", "5px");
    btnSettings.Images.Image.Url = "~/Content/ok.png";
    btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(24);
    btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(24);
    btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(100);
    btnSettings.Height = System.Web.UI.WebControls.Unit.Pixel(32);
    btnSettings.ClientSideEvents.Click = "GetListClicked";
}).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
@Html.DevExpress().Button(btnSettings =>
{
    btnSettings.Name = "exportExcel";
    btnSettings.ControlStyle.CssClass = "button";
    //btnSettings.Text = "Excel";
    btnSettings.Text = Extensions.dict(Usr.Language, "excel");
    //btnSettings.Enabled = false;
    btnSettings.Attributes.CssStyle.Add("margin", "5px");
    btnSettings.Images.Image.Url = "~/Content/save.png";
    btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
    btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
    btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(100);
    btnSettings.RouteValues = new { Controller = "Billing", Action = "ExportToGrower" };
}).GetHtml()
        </td>
    </tr>
</table>
@Html.Partial("ListGrowers")