﻿@using LogiCAB.Web.Domain;
@model List<BillingRecordL>

@Html.DevExpress().GridView(s => {
s.Name = "gvbillingList";
s.KeyFieldName = "OrderDetailSequence";
s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
s.CallbackRouteValues = new { Controller = "Billing", Action = "ListBuyers" };

s.Settings.UseFixedTableLayout = true;
s.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.TopAndBottom;
s.SettingsPager.PageSize = 15;
s.SettingsPager.PageSizeItemSettings.Visible = true;
    
s.Settings.ShowFilterRow = true;
s.Settings.ShowGroupPanel = true;
s.Settings.ShowFooter = true;
s.Settings.ShowHeaderFilterButton = true;
s.SettingsPopup.HeaderFilter.Height = 200;


ASPxSummaryItem sItem = new ASPxSummaryItem();
sItem.FieldName = "_Total";
sItem.ValueDisplayFormat = "{0:C2}";
sItem.SummaryType = DevExpress.Data.SummaryItemType.Sum;


DateTime startDateLocal = DateTime.Now;
DateTime endDateLocal = DateTime.Now;

if (Session["Billing_ordersStartDate"] != null) {
    startDateLocal = (DateTime)Session["Billing_ordersStartDate"];
}
if (Session["Billing_ordersEndDate"] != null) {
    endDateLocal = (DateTime)Session["Billing_ordersEndDate"];
}
TimeSpan dateTimespan = endDateLocal - startDateLocal;
string dateSelection = String.Format("({0} to {1} = {2} Day(s), {3} Hour(s), {4} Minute(s))",
    startDateLocal,
    endDateLocal,
    dateTimespan.Days, dateTimespan.Hours, dateTimespan.Minutes
);
string dateSelectionFooter = String.Format("{0}<br />{1}<br/>{2} Day(s), {3} Hour(s), {4} Minute(s)",
    startDateLocal,
    endDateLocal,
    dateTimespan.Days, dateTimespan.Hours, dateTimespan.Minutes
);     
    
s.GroupSummary.Add(sItem);

s.SetGroupRowContentTemplateContent(t => {
    try { 
    var grid = t.Grid;        
    var totalSummaryItem = grid.GroupSummary["_Total"];
    Double totalSummary = (Double)grid.GetGroupSummaryValue(t.VisibleIndex, totalSummaryItem);


    if (t.Column.FieldName == "Subscription") {
        string sub = (string)t.KeyValue;
        string imgsrc = "";
        switch (sub) {
            case "Goud":
                imgsrc = "gold.jpg";
                break;
            case "Zilver":    
                imgsrc = "silver.jpg";
                break;
            case "Bronze":    
                imgsrc = "bronze.jpg";
                break;
            default:
                imgsrc = "nopic.jpg";
                break;
        }               
        Html.DevExpress().Image(img => {
            img.ImageUrl = Url.Content(String.Format("~/Content/{0}", imgsrc));
            img.Height = 16;
            img.Style.Add("margin-right", "5px");
        }).GetHtml();
        string content = String.Format("{0} : {1}", totalSummary.ToString("C2"),dateSelection);
        ViewContext.Writer.Write(content);
    } else {
        ViewContext.Writer.Write(totalSummary);
    }
    } catch (Exception ex) {
        
    }

});  
s.SetFooterRowTemplateContent(t => {
    try { 
    var grid = t.Grid;
    var totalSummaryItem = grid.TotalSummary["_Total"];
    var totalCommSummaryItem = grid.TotalSummary["Commision"];
    Double totalSummary = (Double)grid.GetTotalSummaryValue(totalSummaryItem);
    Double totalCommSummary = (Double)grid.GetTotalSummaryValue(totalCommSummaryItem);
    // Get Additional info from ViewData!
    string content = "<span style=\"float:left; color:red; font-size:14px; font-weight:bold;\">{0}</span><span style=\"float:right;\">Omzet: <span style=\"color:green;font-size:18px; font-weight:bold;\">{1}</span><br />";
    content += "<span>Commissie: <span style=\"color:green;font-size:16px; font-weight:bold;\">{2:C2}</span></span></span>{3}";
    var Subs = (int[])Session["Subscriptions"];
    var abonSummary = String.Format("<span style=\"float:right;color:green; font-size:14px; font-weight: bold;\">Goud: {0} x € 250,00: {3:C2}<br />Zilver: {1} x € 75,00: {4:C2}<br />{2} Bronze </span>",
        Subs[3],
        Subs[4],
        Subs[5],
        Subs[3] * 250,
        Subs[4] * 75
    );
    Html.RenderPartial("BuyerSummaryPartial", new BillingFooter { TotalSummary = totalSummary, TotalCommSummary = (Double)totalCommSummary, Subscriptions = Subs, DateSelection = dateSelectionFooter });
    } catch (Exception ex) {
        
    }
});

ASPxSummaryItem sItemT = new ASPxSummaryItem();
sItemT.FieldName = "_Total";
sItemT.ValueDisplayFormat = "{0:C2}";
sItemT.SummaryType = DevExpress.Data.SummaryItemType.Sum;
    
s.TotalSummary.Add(sItemT);

ASPxSummaryItem sItemTC = new ASPxSummaryItem();
sItemTC.FieldName = "Commision";
sItemTC.ValueDisplayFormat = "{0:C2}";
sItemTC.SummaryType = DevExpress.Data.SummaryItemType.Sum;
s.TotalSummary.Add(sItemTC);
    
s.Columns.Add(c => {
    c.FieldName = "Organisation";
    c.Caption = Extensions.dict(Usr.Language, "Organisation");
    c.SortIndex = 0;
    c.SortOrder = DevExpress.Data.ColumnSortOrder.Ascending;
});
s.Columns.Add(c => {
    c.FieldName = "_Total";
    c.Visible = false;
});    
s.Columns.Add(c => {
    c.FieldName = "Subscription";
    c.Caption = Extensions.dict(Usr.Language, "subscription");
    c.Width = System.Web.UI.WebControls.Unit.Pixel(120);
    c.GroupIndex = 0;
    c.SetDataItemTemplateContent(t => {
        string abon = (string)DataBinder.Eval(t.DataItem, "Subscription");
        string imgsrc = "";
        switch (abon) {
            case "Goud":
                imgsrc = "gold.jpg";
                break;
            case "Zilver":    
                imgsrc = "silver.jpg";
                break;
            case "Bronze":    
                imgsrc = "bronze.jpg";
                break;
            default:
                imgsrc = "nopic.jpg";
                break;
        }
        ViewContext.Writer.Write(
            Html.DevExpress().Image(img => {
                img.ImageUrl = Url.Content(String.Format("~/Content/{0}", imgsrc));
                img.Height = 16;
            }).GetHtml()
        );
    });
});

s.Columns.Add(c => {
    c.FieldName = "_Total";
    c.Caption = Extensions.dict(Usr.Language, "netvalue");
    c.PropertiesEdit.DisplayFormatString = "{0:C2}";
    c.Width = System.Web.UI.WebControls.Unit.Pixel(120);
});    

s.Columns.Add(c => {
    c.FieldName = "Commision";
    c.Caption = Extensions.dict(Usr.Language, "commission");
    c.PropertiesEdit.DisplayFormatString = "{0:C2}";
    c.Width = System.Web.UI.WebControls.Unit.Pixel(280);
    c.SetDataItemTemplateContent(t => {
        string sub = (string)DataBinder.Eval(t.DataItem, "Subscription");
        double comm = (double)DataBinder.Eval(t.DataItem, "Commision");
        bool service = (bool)DataBinder.Eval(t.DataItem, "LogiService");
        string subComm = "";
        var months = dateTimespan.Days / 30;
        if (months == 0) months = 1;
        string servicestr = String.Format("<br />Service: {0} x {1:C2} = {2:C2}", months, 75, months * 75);
        switch(sub) {
            case "Goud":
                double aboncost = 250 * months;
                if (service) {
                    aboncost += 75 * months;
                }      
                subComm = subComm = String.Format("<span style=\"color:green; font-weight:bold;\">{0:C2}</span><br />Abon: {1} x {2:C2} = {3:C2}", 
                        aboncost, 
                        months, 
                        250, 
                        250 * months
                        );
                if (service) subComm += servicestr;
                break;
            case "Zilver":
                aboncost = 50 * months;
                if (service) {
                    aboncost += 75 * months;
                }
                aboncost += comm;
                subComm = subComm = String.Format("<span style=\"color:green; font-weight:bold;\">{0:C2}</span><br />Comm: {1:C2}<br />Abon: {2} x {3:C2} = {4:C2}", 
                        aboncost, 
                        comm,
                        months, 
                        50, 
                        50 * months
                        );
                if (service) subComm += servicestr;
                break;
            case "Bronze":
                aboncost = 0;
                if (service) {
                    aboncost += 75 * months;
                }
                aboncost += comm;
                subComm = subComm = String.Format("<span style=\"color:green; font-weight:bold;\">{0:C2}</span><br />Comm: {1:C2}", aboncost, comm);
                if (service) subComm += servicestr;
                break;                
            default:
                break;
        }
        ViewContext.Writer.Write(subComm);

    });
});
s.Columns.Add(c => {
    c.FieldName = "LogiService";
    c.Caption = "LogiService";
    c.Width = System.Web.UI.WebControls.Unit.Pixel(100);
    c.ColumnType = MVCxGridViewColumnType.CheckBox;
});    
}).Bind(Model).GetHtml()
