﻿@using LogiCAB.Web.Domain;
@model List<BillingRecordL>

@Html.DevExpress().GridView(s => {
    s.Name = "gvbillingList";
    s.KeyFieldName = "OrderDetailSequence";
    s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    s.CallbackRouteValues = new { Controller = "Billing", Action = "ListGrowers" };

    s.Settings.UseFixedTableLayout = true;
    s.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.TopAndBottom;
    s.SettingsPager.PageSize = 15;
    s.SettingsPager.PageSizeItemSettings.Visible = true;

    s.Settings.ShowFilterRow = true;
    s.Settings.ShowGroupPanel = true;
    s.Settings.ShowFooter = true;
    s.Settings.ShowHeaderFilterButton = true;
    s.SettingsPopup.HeaderFilter.Height = 200;


    ASPxSummaryItem sItem = new ASPxSummaryItem();
    sItem.FieldName = "_Total";
    sItem.ValueDisplayFormat = "{0:C2}";
    sItem.SummaryType = DevExpress.Data.SummaryItemType.Sum;


    DateTime startDateLocal = DateTime.Now;
    DateTime endDateLocal = DateTime.Now;

    if (Session["Billing_ordersStartDate"] != null) {
        startDateLocal = (DateTime)Session["Billing_ordersStartDate"];
    }
    if (Session["Billing_ordersEndDate"] != null) {
        endDateLocal = (DateTime)Session["Billing_ordersEndDate"];
    }
    TimeSpan dateTimespan = endDateLocal - startDateLocal;
    string dateSelection = String.Format("({0} to {1} = {2} Day(s), {3} Hour(s), {4} Minute(s))",
        startDateLocal,
        endDateLocal,
        dateTimespan.Days, dateTimespan.Hours, dateTimespan.Minutes
    );
    string dateSelectionFooter = String.Format("{0}<br />{1}<br/>{2} Day(s), {3} Hour(s), {4} Minute(s)",
        startDateLocal,
        endDateLocal,
        dateTimespan.Days, dateTimespan.Hours, dateTimespan.Minutes
    );

    s.GroupSummary.Add(sItem);
    //s.Settings.ShowGroupFooter = GridViewGroupFooterMode.VisibleAlways;
    //s.GroupSummary.Add(DevExpress.Data.SummaryItemType.Sum, "_Total").ShowInGroupFooterColumn = "_Total";
    s.SetGroupRowContentTemplateContent(t => {
        var grid = t.Grid;
        var totalSummaryItem = grid.GroupSummary["_Total"];
        var tVal = grid.GetGroupSummaryValue(t.VisibleIndex, totalSummaryItem);
        Double totalSummary = (Double)tVal;


        if (t.Column.FieldName == "Subscription") {
            string sub = (string)t.KeyValue;
            string imgsrc = "";
            switch (sub) {
                case "Goud":
                    imgsrc = "gold.jpg";
                    break;
                case "Zilver":
                    imgsrc = "silver.jpg";
                    break;
                case "Bronze":
                    imgsrc = "bronze.jpg";
                    break;
                default:
                    imgsrc = "nopic.jpg";
                    break;
            }
            Html.DevExpress().Image(img => {
                img.ImageUrl = Url.Content(String.Format("~/Content/{0}", imgsrc));
                img.Height = 16;
                img.Style.Add("margin-right", "5px");
            }).GetHtml();
            string content = String.Format("{0} : {1}", totalSummary.ToString("C2"), dateSelection);
            ViewContext.Writer.Write(content);
        } else {
            ViewContext.Writer.Write(totalSummary);
        }

    });
    s.SetFooterRowTemplateContent(t => {
        var grid = t.Grid;
        var totalSummaryItem = grid.TotalSummary["_Total"];
        var totalCommSummaryItem = grid.TotalSummary["Commision"];
        Double totalSummary = (Double)grid.GetTotalSummaryValue(totalSummaryItem);
        double totalCommSummary = (double)grid.GetTotalSummaryValue(totalCommSummaryItem);
        // Get Additional info from ViewData!
        string content = "<span style=\"float:left; color:red; font-size:14px; font-weight:bold;\">{0}</span><span style=\"float:right;\">Total: <br /><span style=\"color:green;font-size:18px; font-weight:bold;\">{1}</span><br />";
        content += "<span style=\"float:right;\">Comm:<br /> <span style=\"color:green;font-size:16px; font-weight:bold;\">{2:C2}</span></span></span>";
//        ViewContext.Writer.Write(String.Format(content, dateSelectionFooter, totalSummary.ToString("C2"), totalCommSummary));
        var Subs = (int[])Session["Subscriptions"];
//        ViewContext.Writer.Write(String.Format("<span style=\"color:blue; font-size:20px; font-weight: bold;\">{0} Goud<br /> {1} Zilver<br />{2} Bronze </span>", Subs[0], Subs[1], Subs[2]));
        Html.RenderPartial("GrowerSummaryPartial", new BillingFooter { TotalSummary = totalSummary, TotalCommSummary = (Double)totalCommSummary, Subscriptions = Subs, DateSelection = dateSelectionFooter });        
    });
    ASPxSummaryItem sItemT = new ASPxSummaryItem();
    sItemT.FieldName = "_Total";
    sItemT.ValueDisplayFormat = "{0:C2}";
    sItemT.SummaryType = DevExpress.Data.SummaryItemType.Sum;
    s.TotalSummary.Add(sItemT);

    ASPxSummaryItem sItemTC = new ASPxSummaryItem();
    sItemTC.FieldName = "Commision";
    sItemTC.ValueDisplayFormat = "{0:C2}";
    sItemTC.SummaryType = DevExpress.Data.SummaryItemType.Sum;
    
    s.TotalSummary.Add(sItemTC);    
    s.Columns.Add(c => {
        c.FieldName = "Organisation";
        //c.Caption = "Organisation";
        c.Caption = Extensions.dict(Usr.Language, "Organisation");
        c.SortIndex = 0;
        c.SortOrder = DevExpress.Data.ColumnSortOrder.Ascending;
    });
    s.Columns.Add(c => {
        c.FieldName = "_Total";
        c.Visible = false;
    });
    s.Columns.Add(c => {
        c.FieldName = "Subscription";
        c.Caption = "Subscription";
        c.Width = System.Web.UI.WebControls.Unit.Pixel(120);
        c.GroupIndex = 0;
        c.SetDataItemTemplateContent(t => {
            string abon = (string)DataBinder.Eval(t.DataItem, "Subscription");
            string imgsrc = "";
            switch (abon) {
                case "Goud":
                    imgsrc = "gold.jpg";
                    break;
                case "Zilver":
                    imgsrc = "silver.jpg";
                    break;
                case "Bronze":
                    imgsrc = "bronze.jpg";
                    break;
                default:
                    imgsrc = "nopic.jpg";
                    break;
            }
            ViewContext.Writer.Write(
                Html.DevExpress().Image(img => {
                    img.ImageUrl = Url.Content(String.Format("~/Content/{0}", imgsrc));
                    img.Height = 16;
                }).GetHtml()
            );
        });
    });
    /*s.Columns.Add(c => {
        c.FieldName = "GrowerOrgaName";
        c.Caption = "Grower";
    });*/
    /*s.Columns.Add(c => {
        c.FieldName = "GrowerContractStr";
        c.Caption = "Grower Abon.";
        c.Width = System.Web.UI.WebControls.Unit.Pixel(120);
        c.SetDataItemTemplateContent(t => {
            string abon = (string)DataBinder.Eval(t.DataItem, "GrowerContractStr");
            string imgsrc = "";
            switch (abon) {
                case "Goud":
                    imgsrc = "bronze.jpg";
                    break;
                case "Zilver":
                    imgsrc = "silver.jpg";
                    break;
                case "Bronze":
                    imgsrc = "gold.jpg";
                    break;
                default:
                    imgsrc = "nopic.jpg";
                    break;
            }
            ViewContext.Writer.Write(
                Html.DevExpress().Image(img => {
                    img.ImageUrl = Url.Content(String.Format("~/Content/{0}", imgsrc));
                    img.Height = 16;
                }).GetHtml()
            );
        });
    });        */
    /*
    s.Columns.Add(c => {
        c.FieldName = "OrderDetailNettPrice";
        c.Caption = "Orderdet Nett.";
        c.PropertiesEdit.DisplayFormatString = "{0:C2}";
        c.Width = System.Web.UI.WebControls.Unit.Pixel(120);
    });
     */
    /*s.Columns.Add(c => {
        c.FieldName = "OrderNo";
    });      */
    s.Columns.Add(c => {
        c.FieldName = "_Total";
//        c.Caption = "Order Nett.";
        c.Caption = Extensions.dict(Usr.Language, "netvalue");
        c.PropertiesEdit.DisplayFormatString = "{0:C2}";
        c.Width = System.Web.UI.WebControls.Unit.Pixel(120);
    });
    /*s.Columns.Add(c => {
        c.FieldName = "OrderDateShort";
        c.Caption = "Date";
        c.Width = System.Web.UI.WebControls.Unit.Pixel(100);

    });*/
    s.Columns.Add(c => {
        c.FieldName = "Commision";
        c.Caption = Extensions.dict(Usr.Language, "commission");
        c.PropertiesEdit.DisplayFormatString = "{0:C2}";
        c.Width = System.Web.UI.WebControls.Unit.Pixel(280);
        c.SetDataItemTemplateContent(t => {
            string sub = (string)DataBinder.Eval(t.DataItem, "Subscription");
            double comm = (double)DataBinder.Eval(t.DataItem, "Commision");
            bool service = (bool)DataBinder.Eval(t.DataItem, "LogiService");
            string subComm = "";
            var months = dateTimespan.Days / 30;
            var weeks = dateTimespan.Days / 7;
            if (weeks == 0) weeks = 1;
            if (months == 0) months = 1;
            //string servicestr = String.Format("<br />Service: {0} x {1:C2} = {2:C2}", months, 75, months * 75);
            switch (sub) {
                case "Goud":
                    double aboncost = 20 * months*4;
//                    if (service) {
//                        aboncost += 75 * months;
//                    }
                    subComm = subComm = String.Format("<span style=\"color:green; font-weight:bold;\">{0:C2}</span><br />Abon: {1} x {2:C2} = {3:C2}",
                            aboncost,
                            weeks,
                            20,
                            20 * weeks 
                            );
//                    if (service) subComm += servicestr;
                    break;
                case "Zilver":
                    //aboncost = 75 * (months/12 == 0 ? 1 : months);
                    aboncost = 75;
/*                    if (service) {
                        aboncost += 75 * months;
                    }*/
                    aboncost += comm;
                    subComm = subComm = String.Format("<span style=\"color:green; font-weight:bold;\">{0:C2}</span><br />Comm: {1:C2}<br />Abon: {2} x {3:C2} = {4:C2}",
                            aboncost,
                            comm,
                            (months / 12 == 0 ? 1 : months / 12),
                            75,
                            75 * (months/12 == 0 ? 1: months/12)
                            );
                    //if (service) subComm += servicestr;
                    break;
                case "Bronze":
                    aboncost = 0;
/*                    if (service) {
                        aboncost += 75 * months;
                    }*/
                    aboncost += comm;
                    subComm = subComm = String.Format("<span style=\"color:green; font-weight:bold;\">{0:C2}</span><br />Comm: {1:C2}", aboncost, comm);
//                    if (service) subComm += servicestr;
                    break;
                default:
                    break;
            }
            ViewContext.Writer.Write(subComm);

        });
    });
    s.Columns.Add(c => {
        c.FieldName = "LogiService";
        c.Caption = "LogiService";
        c.Width = System.Web.UI.WebControls.Unit.Pixel(100);
        c.ColumnType = MVCxGridViewColumnType.CheckBox;
    });


    /*s.Columns.Add(c => {
        c.Caption = "Commission";
        c.Width = System.Web.UI.WebControls.Unit.Pixel(380);
        c.SetDataItemTemplateContent(t => {
            var orderDetVal = (double)DataBinder.Eval(t.DataItem, "OrderNettValue");
            var GrowerSub = (string)DataBinder.Eval(t.DataItem, "GrowerContractStr");
            var BuyerSub = (string)DataBinder.Eval(t.DataItem, "BuyerContractStr");
            var BuyerService = (bool)DataBinder.Eval(t.DataItem, "BuyerService");
            double GrowerCommTotal = 0.0;
            double BuyerCommTotal = 0.0;
            double GrowerComm = 0.0;
            double BuyerComm = 0.0;
            double GrowerAbon = 0.0;
            double BuyerAbon = 0.0;

            double BuyerServiceAbon = 0.0;

            switch (GrowerSub) {
                case "Goud":
                    GrowerComm = 0;
                    GrowerAbon = 250;
                    GrowerCommTotal = GrowerComm + GrowerAbon;
                    break;
                case "Zilver":
                    GrowerComm = orderDetVal * 0.005;
                    GrowerAbon = 75;
                    GrowerCommTotal = GrowerComm + GrowerAbon;
                    break;
                case "Bronze":
                    GrowerComm = orderDetVal * 0.01;
                    GrowerAbon = 0;
                    GrowerCommTotal = GrowerComm + GrowerAbon;
                    break;
                default:
                    break;
            }
            switch (BuyerSub) {
                case "Goud":
                    BuyerComm = 0;
                    BuyerAbon = 250;
                    BuyerCommTotal = BuyerComm + BuyerAbon;
                    break;
                case "Zilver":
                    BuyerComm = orderDetVal * 0.005;
                    BuyerAbon = 75;
                    BuyerCommTotal = BuyerComm + BuyerAbon;
                    break;
                case "Bronze":
                    BuyerComm = orderDetVal * 0.01;
                    BuyerAbon = 0;
                    BuyerCommTotal = BuyerComm + BuyerAbon;
                    break;
                default:
                    break;
            }
            if (BuyerService) {
                BuyerServiceAbon = 75;
                BuyerCommTotal += 75;
            }
            var resultStr = String.Format("<span style=\"font-weight:bold; text-decoration:underline;\">Commission</span></br> Grower: {0:C2} (Comm: {1:C2}, Abon: {2:C2})<br/> Buyer: {3:C2} (Comm: {4:C2}, Abon: {5:C2})<br/>LogiService: {6}",
                GrowerCommTotal,
                GrowerComm,
                GrowerAbon,
                BuyerCommTotal,
                BuyerComm,
                BuyerAbon,
                BuyerService ? ("Yes(€ 75,00)") : "No"
            );
            ViewContext.Writer.Write(resultStr);

        });
    });    */
}).Bind(Model).GetHtml()
