﻿@using LogiCAB.Web.Domain;
@model List<BillingRecordL>

@Html.DevExpress().GridView(s => {
s.Name = "gvbillingList";
s.KeyFieldName = "OrderDetailSequence";
s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
s.CallbackRouteValues = new { Controller = "Billing", Action = "ListKVKService" };

s.Settings.UseFixedTableLayout = true;
s.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.TopAndBottom;
s.SettingsPager.PageSize = 15;
s.SettingsPager.PageSizeItemSettings.Visible = true;
    
s.Settings.ShowFilterRow = true;
s.Settings.ShowGroupPanel = true;
s.Settings.ShowFooter = true;
s.Settings.ShowHeaderFilterButton = true;
s.SettingsPopup.HeaderFilter.Height = 200;


ASPxSummaryItem sItem = new ASPxSummaryItem();
sItem.FieldName = "_Total";
sItem.ValueDisplayFormat = "{0:C2}";
sItem.SummaryType = DevExpress.Data.SummaryItemType.Sum;


DateTime startDateLocal = DateTime.Now;
DateTime endDateLocal = DateTime.Now;

if (Session["Billing_ordersStartDate"] != null) {
    startDateLocal = (DateTime)Session["Billing_ordersStartDate"];
}
if (Session["Billing_ordersEndDate"] != null) {
    endDateLocal = (DateTime)Session["Billing_ordersEndDate"];
}
TimeSpan dateTimespan = endDateLocal - startDateLocal;
string dateSelection = String.Format("({0} to {1} = {2} Day(s), {3} Hour(s), {4} Minute(s))",
    startDateLocal,
    endDateLocal,
    dateTimespan.Days, dateTimespan.Hours, dateTimespan.Minutes
);
string dateSelectionFooter = String.Format("{0}<br />{1}<br/>{2} Day(s), {3} Hour(s), {4} Minute(s)",
    startDateLocal,
    endDateLocal,
    dateTimespan.Days, dateTimespan.Hours, dateTimespan.Minutes
);     
    
s.GroupSummary.Add(sItem);




ASPxSummaryItem sItemT = new ASPxSummaryItem();
sItemT.FieldName = "_Total";
sItemT.ValueDisplayFormat = "{0:C2}";
sItemT.SummaryType = DevExpress.Data.SummaryItemType.Sum;
    
s.TotalSummary.Add(sItemT);

ASPxSummaryItem sItemTC = new ASPxSummaryItem();
sItemTC.FieldName = "Commision";
sItemTC.ValueDisplayFormat = "{0:C2}";
sItemTC.SummaryType = DevExpress.Data.SummaryItemType.Sum;
s.TotalSummary.Add(sItemTC);
    
s.Columns.Add(c => {
    c.FieldName = "Organisation";
    c.Caption = Extensions.dict(Usr.Language, "Organisation");
    c.SortIndex = 0;
    c.SortOrder = DevExpress.Data.ColumnSortOrder.Ascending;
});
s.Columns.Add(c => {
    c.FieldName = "_Total";
    c.Visible = false;
});    
s.Columns.Add(c => {
    c.FieldName = "Commisionaire";
    c.Caption = Extensions.dict(Usr.Language, "Commisionaire");
    c.Width = System.Web.UI.WebControls.Unit.Pixel(120);
    c.GroupIndex = 0;
});

s.Columns.Add(c => {
    c.FieldName = "_Total";
    c.Caption = Extensions.dict(Usr.Language, "netvalue");
    c.PropertiesEdit.DisplayFormatString = "{0:C2}";
    c.Width = System.Web.UI.WebControls.Unit.Pixel(120);
});    

s.Columns.Add(c => {
    c.FieldName = "Commision";
    c.Caption = Extensions.dict(Usr.Language, "commission");
    c.PropertiesEdit.DisplayFormatString = "{0:C2}";
    c.Width = System.Web.UI.WebControls.Unit.Pixel(280);
    c.SetDataItemTemplateContent(t => {
        string sub = (string)DataBinder.Eval(t.DataItem, "Subscription");
        double comm = (double)DataBinder.Eval(t.DataItem, "Commision");
        bool service = (bool)DataBinder.Eval(t.DataItem, "LogiService");
        string subComm = "";
        var months = dateTimespan.Days / 30;
        if (months == 0) months = 1;
        string servicestr = String.Format("<br />Service: {0} x {1:C2} = {2:C2}", months, 25, months * 25);

        var aboncost = 0.0;
//        if (service) {
            aboncost += 25 * months;
//        }
        aboncost += comm;
        subComm = subComm = String.Format("<span style=\"color:green; font-weight:bold;\">{0:C2}</span><br />Comm: {1:C2}", aboncost, comm);
        if (service) subComm += servicestr;
        ViewContext.Writer.Write(subComm);

    });
});
s.Columns.Add(c => {
    c.FieldName = "LogiService";
    c.Caption = "LogiService";
    c.Width = System.Web.UI.WebControls.Unit.Pixel(100);
    c.ColumnType = MVCxGridViewColumnType.CheckBox;
});    
}).Bind(Model).GetHtml()
