﻿@model IEnumerable<LogiCAB.Web.Domain.CABRequest>
@{
    ViewBag.Title = "Index";
}
<h2>CAB-Requests</h2>
@Html.Partial("ListAuthorizer", Model)
<div style="display: none; position: absolute; z-index: 110; left: 400px; top: 100px; width: 15px; height: 15px" id="preview_div"></div>

