﻿@using System.Web.UI.WebControls;
@{
    var baseUrl = "/logicab";
}
@model IEnumerable<LogiCAB.Web.Domain.CABRequest>
@{
var grid = Html.DevExpress().GridView(settings => {
    settings.Name = "gvEditing";
    settings.KeyFieldName = "seq";
    settings.Width = Unit.Percentage(100);
    settings.CallbackRouteValues = new { Controller = "CABRequest", Action = "ListRequester" };
    settings.SettingsPager.Position = PagerPosition.TopAndBottom;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowFooter = true;            

    settings.Settings.ShowHeaderFilterButton = true;
    settings.SettingsPopup.HeaderFilter.Height = 200;

    settings.SettingsPager.PageSize = 15;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;            

    settings.ClientSideEvents.EndCallback = "imagePreview";
    
    
            
    var vbndesc = "";
    settings.HtmlDataCellPrepared = (sender, e) => {                
        if(e.DataColumn.FieldName == "vbncode") {
            vbndesc = e.CellValue.ToString();
        }
        if (e.DataColumn.FieldName == "status") {
            if (e.CellValue.ToString() == "Afgekeurd")
                e.Cell.BackColor = System.Drawing.Color.IndianRed;                
            if (e.CellValue.ToString() == "Aangevraagd")
                e.Cell.BackColor = System.Drawing.Color.Orange;
            if (e.CellValue.ToString() == "Bestaat al")
                e.Cell.BackColor = System.Drawing.Color.OrangeRed;
            if (e.CellValue.ToString() == "Goedgekeurd")
                e.Cell.BackColor = System.Drawing.Color.PaleGreen;
        }
        if (e.DataColumn.FieldName == "pictureseq") {
            var imgUrl = Url.Action("ShowImage", "Image");            
            e.Cell.Attributes.Add("href", imgUrl + "/" + e.CellValue);//  String.Format("alert('{0}');", e.CellValue));
            e.Cell.Attributes.Add("title", vbndesc);
            e.Cell.CssClass = "dxgv preview";
        }
    };  

    settings.Columns.Add(column => {
        column.Caption = "#";
        column.Width = Unit.Pixel(45);
/*        column.SetHeaderCaptionTemplateContent(hct => {
            ViewContext.Writer.Write("<p>hi</p>");
        });*/
        column.SetHeaderTemplateContent(htc => {
            ViewContext.Writer.Write("<input type=\"checkbox\" >");
        });
        column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        column.SetDataItemTemplateContent(c => {
            String statusText = DataBinder.Eval(c.DataItem, "status") as String;
            int? reqSeq = DataBinder.Eval(c.DataItem, "seq") as int?;
            if (statusText == "Bestaat al" || statusText == "Goedgekeurd") {
                Html.DevExpress().Image(img => {
                    img.Name = "hideRequest_" + c.KeyValue;
                    img.ClientEnabled = true;
                    img.Properties.ClientInstanceName = "hideRequest_" + c.KeyValue;
                    img.ImageUrl = Url.Content("~/Content/disable.png");
                    img.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                    img.Properties.ClientSideEvents.Click = "function(s,e) { ReqAction(" + c.KeyValue + ", 'hide', hideRequest_" + c.KeyValue + ");}";
                    img.Style.Add("cursor", "pointer");
                    img.Style.Add("margin-right", "5px");
                    img.ToolTip = "Verborgen";
                }).Render();                 
            }
            if (statusText == "Afgekeurd" || statusText == "Onvolledig") {
                
                /*Html.DevExpress().Button(bts => {
                    bts.Name = "resendRequest_" + c.KeyValue;
                    bts.Text = "Opnieuw";
                    bts.RouteValues = new { Controller = "CABRequest", Action = "ReqRedo", id = reqSeq };
                }).Render();*/
                Html.DevExpress().Image(img => {
                    img.Name = "redoRequest_" + c.KeyValue;
                    img.ClientEnabled = true;
                    img.ImageUrl = Url.Content("~/Content/refresh.png");
                    img.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                    img.Properties.ClientSideEvents.Click = "function(s,e) { ReqAction("+c.KeyValue+", 'redo', redoRequest_"+c.KeyValue+");}";
                    img.Style.Add("cursor", "pointer");
                    img.Style.Add("margin-right", "5px");
                    img.ToolTip = "Opnieuw";
                }).Render();                 
                 Html.DevExpress().Image(img => {
                    img.Name = "deleteRequest_" + c.KeyValue;
                    img.ClientEnabled = true;
                    img.Properties.ClientInstanceName = "deleteRequest_" + c.KeyValue;
                    img.ImageUrl = Url.Content("~/Content/delete.png");
                    img.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                    img.Properties.ClientSideEvents.Click = "function(s,e) { ReqAction(" + c.KeyValue + ", 'delete', deleteRequest_" + c.KeyValue + ");}";
                    img.Style.Add("cursor", "pointer");
                    img.Style.Add("margin-right", "5px");
                    img.ToolTip = "Verwijderen";             
                }).Render();                            
            }
        });
    });      

    settings.Columns.Add(column => {
        column.FieldName = "request_date";
        column.Caption = "Aanvr. op";
        column.Width = Unit.Pixel(80);
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
        column.Settings.AllowHeaderFilter = DefaultBoolean.False;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
    });
    settings.Columns.Add(column => {
        column.FieldName =  "status"; 
        column.Caption = "Status";
        column.Width = Unit.Pixel(1);
        column.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
        column.Settings.AllowAutoFilter = DefaultBoolean.False;
    });
    
  
 
    settings.Columns.Add(column => {
        column.FieldName = "vbncode";
        column.Caption = "VBN Code"; 
        column.Width = Unit.Pixel(220);
    });
    settings.Columns.Add(column => {
        column.FieldName = "cabdesc";
        column.Caption = "CAB omschr.";
        column.Width = Unit.Pixel(150);
    });
    settings.Columns.Add(column => {
        column.FieldName = "cabgroup";
        column.Caption = "CAB groep";
        column.Width = Unit.Pixel(100);
    });
    settings.Columns.Add(column => {
        column.FieldName = "handledby";
        column.Caption = "Beh. door";
        column.Width = Unit.Pixel(100);
    });
            
    settings.Columns.Add(column => {
        column.FieldName = "handledon";
        column.Caption = "Beh. op";
        column.Width = Unit.Pixel(80);
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
        column.Settings.AllowHeaderFilter = DefaultBoolean.False;
    });
    settings.Columns.Add(column => {
        column.FieldName = "remark";
        column.Caption = "Opmerking";                
    });
    settings.Columns.Add(column => {
        column.FieldName = "pictureseq";
        column.Caption = "Foto";
        column.Width = Unit.Pixel(120);
        column.SetDataItemTemplateContent(t => {
            try { 
            var imgSeq = (int)DataBinder.Eval(t.DataItem, "pictureseq");
            if (imgSeq > 0) { 
                Html.DevExpress().Image(img => {
                    img.ImageUrl = Url.Action("ShowImageSmall", "Image", new { id = imgSeq });
                    img.Properties.ImageHeight = Unit.Pixel(60);
                }).Render();
            }
            } catch (Exception ex) {
                
            }
        });
    });    
});

if (ViewData["EditError"] != null){
    grid.SetEditErrorText((string)ViewData["EditError"]);
}
}

@grid.Bind(Model).GetHtml().ToHtmlString()



