﻿@*@model CAB.Models.F_CAB_QUEUE_CODE_REQUEST*@
@model CAB.Data.EF.Models.F_CAB_QUEUE_CODE_REQUEST
@{
    ViewBag.Title = "CAB Code Aanvragen";
}
<h2>CAB Code Aanvragen</h2>
<style>
    .pCont {
        display: none;
        position: absolute;
        z-index: 110;
        left: 400px;
        top: 100px;
        width: 15px;
        height: 15px;
    }
</style>
<script>
    var vbnseq = '@Model.F_CAB_CD_VBN_CODE.VBNC_SEQUENCE';
    var vbnseqCab = null;

    function addNewCaskToRequest(s, e) {
        $.ajax({
            type: "POST",
            url: baseUrl + "/CABRequest/addNewCaskToRequest",
            data: {
                cdca_seq: cb_newCask.GetValue(),
                prcask: cask_prunit.GetValue(),
                prlayer: cask_prlayer.GetValue(),
                prtrolley: cask_prtrolley.GetValue()
            },
            beforeSend: function () {
            },
            success: function (msg) {
                gvSub2Editing.Refresh();
                gvSub2Editing.CancelEdit();
            }            
        });
    }

    function saveVBNChoice() {
        var selVBN = vbnseq;
        $.ajax({
            type: "POST",
            url: baseUrl + "/CABRequest/saveVBNChoice",
            data: { vbn_seq: selVBN }
        });
        $.ajax({
            type: "GET",
            url: baseUrl + "/CABRequest/getVBNPicture",
            data: { seq: selVBN },
            success: function (data) {
                $('#previewImage').attr('src', data);
            }
        });
    }

    function saveCABDesc() {
        var selDesc = txtCommDesc.GetValue();
        $.ajax({
            type: "POST",
            url: baseUrl + "/CABRequest/saveCABDesc",
            data: { cab_desc: selDesc }
        });
    }

    function saveCABCode(cab_seq) {
        $.ajax({
            type: "POST",
            url: baseUrl + "/CABRequest/saveCABCode",
            data: { cab_seq: cab_seq }
        });
    }

    function saveCABRequestType(type) {
        $.ajax({
            type: "POST",
            url: baseUrl + "/CABRequest/saveCABRequestType",
            data: { type: type }
        });
    }

    function saveGroupType() {
        var selGt = groupType_cb.GetValue();
        $.ajax({
            type: "POST",
            url: baseUrl + "/CABRequest/saveGroupType",
            data: { cdgt_seq: selGt }
        });
    }

    function saveGrowerRemark() {
        var selRemark = txtGrowerRemark.GetValue();
        $.ajax({
            type: "POST",
            url: baseUrl + "/CABRequest/saveGrowerRemark",
            data: { remark: selRemark }
        });
    }

    function btnOkVBNClicked(s, e) {
        nbFeatures2.GetGroupByName('REQ1').SetExpanded(false);
        saveVBNChoice();
        //var numCabCodes = cb_vbnCode.GetSelectedItem().GetColumnText("numCabCodes");
        
        if (1 > 0) {
            nbFeatures2.GetGroupByName('relatedCABGroup').SetExpanded(true);
        } else {
            saveCABRequestType('New');
            nbFeatures2.GetGroupByName('REQ3').SetExpanded(true);
        }
    }

    function btnOkDescClick(s, e) {
        nbFeatures2.GetGroupByName('REQ3').SetExpanded(false);
        nbFeatures2.GetGroupByName('REQ4').SetVisible(true);
        nbFeatures2.GetGroupByName('REQ4').SetExpanded(true);
        saveCABDesc();
        saveGroupType();
    }

    function btnOkFotoClick(s, e) {
        nbFeatures2.GetGroupByName('REQ5').SetExpanded(false);
        nbFeatures2.GetGroupByName('REQ6').SetVisible(true);
        nbFeatures2.GetGroupByName('REQ6').SetExpanded(true);
        saveGrowerRemark();
        
    }

    function OnValueChangedVBN(s, e) {
        $('#SelectedCabCode').fadeOut();
        vbnseq = cb_vbnCode.GetValue();
        nbFeatures2.GetGroupByName('relatedCABGroup').SetVisible(false);
        nbFeatures2.GetGroupByName('REQ3').SetVisible(false);
        nbFeatures2.GetGroupByName('REQ4').SetVisible(false);
        nbFeatures2.GetGroupByName('REQ5').SetVisible(false);
        nbFeatures2.GetGroupByName('REQ6').SetVisible(false);
        if (!cbpExample.InCallback())
            cbpExample.PerformCallback();
    }

    function OnBeginCallback(s, e) {
        e.customArgs["vbnseq"] = vbnseq;
        vbnseqCab = vbnseq;
        vbnseq = null;
    }

    function OnEndCallback(s, e) {
        if (vbnseq!= null)
            cbpExample.PerformCallback();
    }

    function showHideRelatedCAB(s, e) {
        $('#gvRelatedCab').fadeToggle();
    }
    
    function OnBeginCallbackRelated(s, e) {
        var seq = s.GetRowKey(s.GetFocusedRowIndex());
        saveCABCode(seq);
        $.ajax({
            type: "GET",
            url: baseUrl + "/CABRequest/getCABDesc",
            data: { seq: seq },
            success: function (data) {
                txtCommDesc.SetValue(data);
            }
        });
        e.customArgs['cabseq'] = seq;
        e.customArgs["vbnseq"] = vbnseqCab;
    }

    function gvRelatedCabFunc(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'CABC_SEQUENCE;CABC_CAB_DESC', OnGetRowValues);
    }

    function OnGetRowValues(values) {
    }

    function cabRadioIndexChanged(s, e) {
        var selIndex = radioButtonList1.GetSelectedIndex();
        if (selIndex == 0) { // New
            saveCABRequestType('New');
            gvReqProperties.Refresh();
            gvSub2Editing.Refresh();
            nbFeatures2.GetGroupByName('relatedCABGroup').SetExpanded(false);
            nbFeatures2.GetGroupByName('REQ3').SetVisible(true);
            nbFeatures2.GetGroupByName('REQ3').SetExpanded(true);
            btnOkOverview.SetVisible(true);
            btnOkOverview2.SetVisible(true);
            btnOkOverview3.SetVisible(false);
        }
        if (selIndex == 1) { // Take properties
            saveCABRequestType('TakeProperties');
            gvReqProperties.Refresh();
            gvSub2Editing.Refresh();
            nbFeatures2.GetGroupByName('relatedCABGroup').SetExpanded(false);
            nbFeatures2.GetGroupByName('REQ3').SetVisible(true);
            nbFeatures2.GetGroupByName('REQ3').SetExpanded(true);
            btnOkOverview.SetVisible(true);
            btnOkOverview2.SetVisible(true);
            btnOkOverview3.SetVisible(false);
        }
        if (selIndex == 2) { // Add to assortiment
            saveCABRequestType('Assortiment');
            nbFeatures2.GetGroupByName('relatedCABGroup').SetExpanded(false);
            nbFeatures2.GetGroupByName('REQ3').SetVisible(false);
            nbFeatures2.GetGroupByName('REQ4').SetVisible(false);
            nbFeatures2.GetGroupByName('REQ6').SetVisible(true);
            nbFeatures2.GetGroupByName('REQ6').SetExpanded(true);
            btnOkOverview.SetVisible(false);
            btnOkOverview2.SetVisible(false);
            btnOkOverview3.SetVisible(true);
        }
    }
    function btnPropsOK(s, e) {
        // make sure all required properties are filled before collapsing current tab and expanding next.
        $.ajax({
            type: "POST",
            url: baseUrl + "/CABRequest/validateCABRequestClient", // Using userinfo.currentrequest serverside.
            success: function (msg) {
                if (msg == "Valid") {
                    nbFeatures2.GetGroupByName('REQ4').SetExpanded(false);
                    nbFeatures2.GetGroupByName('REQ5').SetVisible(true);
                    nbFeatures2.GetGroupByName('REQ5').SetExpanded(true);
                    $('#PropertyWarning').html('');
                }
                if (msg == "MissingProperty") {
                    $('#PropertyWarning').html('MissingProperty');
                }
            }
        });
    }
    function SavePropertyToDetail(proptype, statusimg, combo) {
/*        
        setTimeout(function () {
            statusimg.SetImageUrl('http://localhost/logicab/Content/ok.png');
        }, 1500);
        */
        var sendData = {
            propType: proptype,
            propValue: combo.GetText()
        };
        statusimg.SetImageUrl(baseUrl + '/Content/loader.gif');
        $.ajax({
            type: "POST",
            url: baseUrl + "/CABRequest/saveRequestDetail", // Using userinfo.currentrequest serverside.
            data: sendData,
            success: function (msg) {
                if(msg == "ok")  {
                    statusimg.SetImageUrl(baseUrl + '/Content/ok.png');
                } else {
                    statusimg.SetImageUrl(baseUrl + '/Content/cancel.png');
                }
            }
        });
    }
    var StoredProperties = [];
    function StoreProperty(imgobj, comboobj) {
        StoredProperties.push({ img: imgobj, combo: comboobj });

    }
    function txtCommDescInit(s, e) {
        $.ajax({
            type: "POST",
            url: baseUrl + "/CABRequest/getCABRequestDesc",
            success: function (msg) {
                txtCommDesc.SetValue(msg);
            }
        });
    }

    function gvReqPropertiesInit(s,e) {
        gvReqProperties.Refresh();
    }

    function txtGrowerRemarkInit(s,e) {
        $.ajax({
            type: "POST",
            url: baseUrl + "/CABRequest/getGrowerRemark",
            success: function (msg) {
                txtGrowerRemark.SetValue(msg);
            }
        });        
    }

    function ucImageInit(s, e) {
        $.ajax({
            type: "POST",
            url: baseUrl + "/CABRequest/getRequestredoImage",
            success: function (data) {
                $('#previewImage').attr('src',baseUrl +  data);
            }
        });

    }

</script>
@Html.DevExpress().NavBar(settings => {
    settings.Name = "nbFeatures2";
    settings.AllowExpanding = true;
    settings.AllowSelectItem = true;
    settings.AutoCollapse = false;
    settings.EnableHotTrack = true;
    settings.EnableAnimation = true;
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Height = System.Web.UI.WebControls.Unit.Percentage(50);
    LogiCAB.Web.Domain.UserInformation userinfo = (LogiCAB.Web.Domain.UserInformation)Session["userinfo"];       
    settings.Groups.Add(group => {
        group.Text = "Geef Uw VBN code";
        group.Name = "REQ1";
        group.SetContentTemplateContent(c => {
            ViewContext.Writer.Write("<table style=\"margin:5px; width: 100%;\"><tr><td style=\"width: 200px;\">");
            ViewContext.Writer.Write(String.Format("<span style=\"font-weight: bold;\">Chosen VBNCode:<br /> {0}<br />{1}</p>", Model.F_CAB_CD_VBN_CODE.VBNC_VBN_CODE, Model.F_CAB_CD_VBN_CODE.VBNC_DESC));
            ViewContext.Writer.Write("</td><td>");
            Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "btnOkVBNCode";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Ok";
                btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                btnSettings.Attributes.CssStyle.Add("padding-top", "13px;");
                btnSettings.Images.Image.Url = "~/Content/ok.png";
                btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(10);
                btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(10);
                btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(60);
                btnSettings.ClientSideEvents.Click = "btnOkVBNClicked";
            }).Render();
            ViewContext.Writer.Write("</td></tr></table>");
        });                      
    });
    /*
    settings.Groups.Add(group => {
        group.Name = "relatedCABGroup";
        group.Text = "Gerelateerde CAB Codes";
        group.SetContentTemplateContent(c => {
            ViewContext.Writer.Write("<table style=\"margin:5px; width: 100%;\"><tr><td>");
            Html.DevExpress().Label(s => {
                s.Text = "Gerelateerde CAB Codes";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
            }).Render();
            Html.RenderPartial("Req/Related", LogiCAB.Web.Controllers.CABRequestController.getRelatedCABCodes(Model.F_CAB_CD_VBN_CODE.VBNC_SEQUENCE));
            ViewContext.Writer.Write("</td></tr></table><table><tr><td>");
            Html.DevExpress().RadioButtonList(settingsrb => {
                settingsrb.Name = "radioButtonList1";
                settingsrb.Attributes.CssStyle.Add("margin", "5px;");
                settingsrb.ClientVisible = true;
                settingsrb.Properties.EnableClientSideAPI = true;
                settingsrb.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
                settingsrb.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
                settingsrb.Properties.RepeatColumns = 3;
                settingsrb.Properties.Items.Add("Nieuwe CAB artikel invoeren");
                settingsrb.Properties.Items.Add("Kenmerken van CAB code overnemen");
                settingsrb.Properties.Items.Add("CAB code toevoegen aan assortiment");
            }).Render();
            ViewContext.Writer.Write("</td><td>");
            Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "btn_relatedCAB";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Ok";
                btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                btnSettings.Images.Image.Url = "~/Content/ok.png";
                btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(60);
                btnSettings.Height = System.Web.UI.WebControls.Unit.Pixel(32);
                btnSettings.ClientSideEvents.Click = "cabRadioIndexChanged";
            }).Render();
            ViewContext.Writer.Write("</td></tr></table>");
        });
        
    });*/
    settings.Groups.Add(group => {
        group.Text = "Commerciele Omschrijving";
        group.Name = "REQ3";
        group.SetContentTemplateContent(c => {
            ViewContext.Writer.Write("<table style=\"margin:5px; width: 100%;\"><tr><td style=\"width: 345px;\">");
            Html.DevExpress().Label(s => {
                s.AssociatedControlName = "txtCommDesc";
                s.Text = "Commerciele Omschrijving";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
                s.Properties.ClientSideEvents.Init = "txtCommDescInit";
            }).Render();
            Html.DevExpress().TextBox(s => {
                s.Name = "txtCommDesc";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Width = System.Web.UI.WebControls.Unit.Pixel(300);
            }).Render();
            Html.DevExpress().ComboBox(s => {
                s.Name = "groupType_cb";
                s.SelectedIndex = 0;
                s.Width = 300;
                s.Properties.DropDownWidth = 350;
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Properties.DropDownStyle = DropDownStyle.DropDown;
                s.Properties.TextField = "CDGT_DESC";
                s.Properties.ValueField = "CDGT_SEQUENCE";
                s.Properties.ValueType = typeof(int);
                s.Properties.Columns.Add("CDGT_DESC", "Desc", 290);
            }).BindList(LogiCAB.Web.Controllers.CABRequestController.getGroupTypes(userinfo.selectedMaingroup)).Render();
            Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "btnOkDesc";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Ok";
                btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                btnSettings.Images.Image.Url = "~/Content/ok.png";
                btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(10);
                btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(10);
                btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(60);
                btnSettings.ClientSideEvents.Click = "btnOkDescClick";
            }).Render();
            ViewContext.Writer.Write("</td></tr></table>");
        });        
    });
    settings.Groups.Add(group => {
        group.Text = "Kenmerken/Fusten";
        group.Name = "REQ4";
        group.SetContentTemplateContent(c => {
            ViewContext.Writer.Write("<table style=\"margin:5px; width: 100%;\"><tr><td>");
            Html.DevExpress().Label(s => {
                s.Text = "Kenmerken";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
            }).Render();
            Html.DevExpress().Label(s => {
                s.Name = "PropertyWarning";
                s.Text = "";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
                s.Attributes.CssStyle.Add("color", "red;");
            }).Render();

            Html.RenderPartial("ReqRedo/Properties", ViewData["Properties"]);
            Html.DevExpress().Label(s => {
                s.Text = "Fusten";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
            }).Render();
            Html.RenderPartial("Req/Casks");
            Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "btnAddCask";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Fust toevoegen";
                btnSettings.Attributes.CssStyle.Add("margin", "5px");
                btnSettings.Attributes.CssStyle.Add("float", "left");
                btnSettings.Images.Image.Url = "~/Content/save.png";
                btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(170);
                btnSettings.ClientSideEvents.Click = "function(s, e){ gvSub2Editing.AddNewRow(); }";
            }).Render();
            ViewContext.Writer.Write("</td></tr><tr><td>");
            Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "btnOkPropCask";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Ok";
                btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                btnSettings.Images.Image.Url = "~/Content/ok.png";
                btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(10);
                btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(10);
                btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(60);
                btnSettings.ClientSideEvents.Click = "btnPropsOK";
            }).Render();
            ViewContext.Writer.Write("</td></tr></table>");
            ViewContext.Writer.Write("<div style=\"clear: both;\"></div>");
        });        
    });
    settings.Groups.Add(group => {
        group.Text = "Opmerking/Foto";
        group.Name = "REQ5";
        group.SetContentTemplateContent(c => {
            ViewContext.Writer.Write("<table style=\"margin:5px; width: 100%;\"><tr><td>");
            Html.DevExpress().Label(s => {
                s.AssociatedControlName = "txtGrowerRemark";
                s.Text = "Opmerking";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
                s.Properties.ClientSideEvents.Init = "txtGrowerRemarkInit";
            }).Render();
            Html.DevExpress().TextBox(s => {
                s.Name = "txtGrowerRemark";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Width = System.Web.UI.WebControls.Unit.Pixel(300);
            }).Render();
            Html.DevExpress().Label(s => {
                s.AssociatedControlName = "previewImage";
                s.Text = "Foto";
                s.Attributes.CssStyle.Add("float", "left");
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
            }).Render();
            ViewContext.Writer.Write("</td></tr><tr><td>");
            using (Html.BeginForm("CABRequest", "CallbacksImageUpload", FormMethod.Post, new { @class = "imagePreviewReq" })) {
                ViewContext.Writer.Write("<div class=\"imageContainer\" style=\"margin: 5px;\"><img alt=\"\" id=\"previewImage\" width=\"350\" src=\"\" /></div>");
                ViewContext.Writer.Write("<div class=\"uploadContainer\">");
                Html.DevExpress().UploadControl(ucSettings => {
                    ucSettings.Name = "ucCallbacksReq_" + userinfo.currentRequest.QCRQ_SEQUENCE;
                    ucSettings.CallbackRouteValues = new { Controller = "CABRequest", Action = "CallbacksImageUpload" };
                    ucSettings.ControlStyle.CssClass = "editorArea";
                    ucSettings.Attributes.CssStyle.Add("float", "left");
                    ucSettings.Attributes.CssStyle.Add("margin", "5px");
                    ucSettings.ShowProgressPanel = true;
                    ucSettings.ClientSideEvents.FileUploadComplete = "function(s,e){ if(e.callbackData != '') $('#previewImage').attr('src', e.callbackData); }";
                    ucSettings.ClientSideEvents.Init = "ucImageInit";
                }).GetHtml();
                Html.DevExpress().Button(btnSettings => {
                    btnSettings.Name = "uploadImage";
                    btnSettings.ControlStyle.CssClass = "button";
                    btnSettings.Text = "Upload";
                    btnSettings.Attributes.CssStyle.Add("margin", "5px");
                    btnSettings.Attributes.CssStyle.Add("float", "left");
                    btnSettings.Images.Image.Url = "~/Content/save.png";
                    btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(12);
                    btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(12);
                    btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(80);
                    btnSettings.ClientSideEvents.Click = "function(s, e){ " + "ucCallbacksReq_" + userinfo.currentRequest.QCRQ_SEQUENCE + ".Upload(); }";
                }).Render();
                ViewContext.Writer.Write("</div>");
            };
            ViewContext.Writer.Write("</td></tr><tr><td>");
            Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "btnOkFoto";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Ok";
                btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                btnSettings.Images.Image.Url = "~/Content/ok.png";
                btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(10);
                btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(10);
                btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(60);
                btnSettings.ClientSideEvents.Click = "btnOkFotoClick";
            }).Render();
            ViewContext.Writer.Write("</td></tr></table>");
            ViewContext.Writer.Write("<div style=\"clear: both;\"></div>");
        });        
    });
    settings.Groups.Add(group => {
        group.Text = "Overzicht";
        group.Name = "REQ6";
        group.SetContentTemplateContent(c => {
            ViewContext.Writer.Write("<table style=\"margin:5px; width: 100%;\"><tr><td>");
            Html.DevExpress().Label(s => {
                s.Text = "Overzicht";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
            }).Render();
            ViewContext.Writer.Write("</td></tr><tr><td>");
            string reqtype = "New";
            try {
                reqtype = (string)Session["cab_request_type"];
            }catch{
            }
            Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "btnOkOverview";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Versturen en Nieuw";
                btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                btnSettings.Attributes.CssStyle.Add("float", "left;");
                btnSettings.Images.Image.Url = "~/Content/ok.png";
                btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(260);
                btnSettings.RouteValues = new { Controller = "CABRequest", Action = "ProcessAndNew" }; 
            }).Render();
            Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "btnOkOverview2";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Versturen en Sluiten";
                btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                btnSettings.Attributes.CssStyle.Add("float", "left;");
                btnSettings.Images.Image.Url = "~/Content/ok.png";
                btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(260);
                btnSettings.RouteValues = new { Controller = "CABRequest", Action = "ProcessAndClose" }; 
            }).Render();
            Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "btnOkOverview3";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Toevoegen aan assortiment";
                btnSettings.ClientVisible = false;
                btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                btnSettings.Attributes.CssStyle.Add("float", "left;");
                btnSettings.Images.Image.Url = "~/Content/ok.png";
                btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(260);
                btnSettings.RouteValues = new { Controller = "CABRequest", Action = "ProcessAddToAssortiment" }; 
            }).Render();                                                    
            ViewContext.Writer.Write("</td></tr></table>");
            ViewContext.Writer.Write("<div style=\"clear: both;\"></div>");
        });
    });
}).GetHtml()
<div style="clear: both;">.</div>
<div class="pCont" id="preview_div"></div>
