﻿@model IEnumerable<LogiCAB.Web.Domain.CABRequest>
@{
    ViewBag.Title = "CAB Code Aanvragen Status";
}
<script>
    function ReqAction(id, action, statusimg) {

        statusimg.SetImageUrl(baseUrl + '/Content/loader.gif');
        if (action == "hide" || action == "delete") {
            var sendData = {
                id: id,
                action: action
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("requestAction", "CABRequest")',
                data: sendData,
                success: function (msg) {
                    if (msg == "ok") {
                        statusimg.SetImageUrl(baseUrl + '/Content/ok.png');
                    } else {
                        statusimg.SetImageUrl(baseUrl + '/Content/cancel.png');
                    }
                    gvEditing.Refresh();
                }
            });
        } else if (action == "redo") {            
            var url = '@Url.Action("ReqRedo", "CABRequest", new { id = "_id_" })'.replace('_id_', id);
            document.location.href = url;
        }
    }
</script>
<h2>CAB Code Aanvragen Status</h2>
@Html.Partial("ListRequester", Model)
<div style="display: none; position: absolute; z-index: 110; left: 400px; top: 100px; width: 15px; height: 15px" id="preview_div"></div>

