﻿@using LogiCAB.Web.Controllers;
@model List<VBNCodeRecord>
@{
    ViewBag.Title = "VBN Beheer";
}
<script>
    function fnAddNewVBNCodes(s, e) {
        s.SetImageUrl('@Url.Content("~/Content/loader.gif")');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddNewVBNCodes", "VBN")',
            success: function (data) {
                s.SetImageUrl('@Url.Content("~/Content/update.png")');
                console.log(data);
                location.reload();
            }
        });

    }
    function fnDownloadVBNCodes(s, e) {
        s.SetImageUrl('@Url.Content("~/Content/loader.gif")');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("downloadVBNCodes", "VBN")',
            success: function (data) {
                s.SetImageUrl('@Url.Content("~/Content/updatearrow.png")');
                console.log(data);
                location.reload();
            }
        });

    }
</script>
<h2>VBN Beheer</h2>

<table border="1">
    <tr>
        <td>
@Html.DevExpress().Button(b => {
    b.Name = "btnAddNewVBNCodes";
    b.Text = String.Format("Insert {0} new VBNCodes", Model.Count);
    b.Images.Image.Url = Url.Content("~/Content/update.png");
    b.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
    b.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
    b.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    b.ClientSideEvents.Click = "fnAddNewVBNCodes";
}).GetHtml()
        </td>
        <td>
@Html.DevExpress().Button(b => {
    b.Name = "btnDownloadVBNCodes";
    b.Text = "Download VBNList";
    b.Images.Image.Url = Url.Content("~/Content/updatearrow.png");
    b.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
    b.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
    b.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    b.ClientSideEvents.Click = "fnDownloadVBNCodes";
}).GetHtml()
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table border="1">
                <thead>
                    <tr>
                        <th style="width:75px;">Code</th>
                        <th style="width:250px;">Description</th>
                        <th style="width:75px;">Date</th>
                        <th style="width:75px;">Group</th>
                    </tr>
                </thead>
                @foreach (var vbn in Model.OrderByDescending(x => x.EntryDate)) {    
                    <tr>
                        <td>@vbn.VBNC_VBN_CODE</td>
                        <td>@vbn.VBNC_DESC</td>
                        <td>@vbn.EntryDate.ToShortDateString()</td>
                        <td>@vbn.VBNC_FK_VBN_GROUP</td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>



