﻿<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<style>
    .top-buffer {
        margin-top: 20px;
    }

    #searchCAB, #searchVBN {
        width: 200px;
        float: right;
    }

    .radio-inline input[type=radio] {
        position: relative !important;
    }
</style>
<script>

    var apiBaseUrl = "http://apitest.logicab.nl/api/v1/";
    var apiUrlPropGroups = apiBaseUrl + "propgroups";
    var apiUrlPropTypes = apiBaseUrl + "proptypes/";
    var apiUrlPropLookups = apiBaseUrl + "proplookups/";
    var apiUrlVBNPropLookups = apiBaseUrl + "vbnproplookups/";

    var apiUrlLink = apiBaseUrl +  "link/";
    var apiUrlUnlink = apiBaseUrl + "unlink/";

    $(document).ready(function () {
        var USERNAME = "bloemk";
        var PASSWORD = "bloemk";

        $.ajaxSetup({
            headers: {
                'Authorization': "Basic " + btoa(USERNAME + ":" + PASSWORD)
            }
        });
        getPropGroups();

        $('#searchCAB').keyup(function () {
            var val = $('#searchCAB').val();
            val = val.toLowerCase();
            if (val != "") {
                $('#cabPropLookups td[data-lookupvalue*="' + val + '"]').show();
                $('#cabPropLookups td:not([data-lookupvalue*="' + val + '"])').hide();
                $('#cabSearchResultCount').html($('#cabPropLookups td[data-lookupvalue*="' + val + '"]').length);
            } else {
                $('#cabPropLookups td').show();
                $('#cabSearchResultCount').html($('#cabPropLookups td').length);
            }
        });
        $('#searchVBN').keyup(function () {
            var val = $('#searchVBN').val();
            val = val.toLowerCase();
            if (val != "") {
                $('#vbnPropLookups td[data-lookupvalue*="' + val + '"]').show();
                $('#vbnPropLookups td:not([data-lookupvalue*="' + val + '"])').hide();
                $('#vbnSearchResultCount').html($('#vbnPropLookups td[data-lookupvalue*="' + val + '"]').length);
            } else {
                $('#vbnPropLookups td').show();
                $('#vbnSearchResultCount').html($('#vbnPropLookups td').length);
            }
        });
        $('input[name=rbRinkedFilter]:radio').change(rbRinkedFilterChanged);

        $('#btnLink').click(function () {
            console.log('Selected CAB:' + selectedCAB);
            console.log('Selected VBN:' + selectedVBN);
            var $btn = $(this);
            $btn.button('loading');
            $.ajax({
                type: "GET",
                url: apiUrlLink + selectedCAB + '/' + selectedVBN,
                //                dataType: 'json',
                async: true,
                //                data: { cab: selectedCAB, vbn: selectedVBN },
                success: function (data) {
                    console.log(data);
                    $btn.button('reset');
                    refreshLookups();
                }
            });
        });


        $('#btnUnlink').click(function () {
            console.log('Selected CAB:' + selectedCAB);
            console.log('Selected VBN:' + selectedVBN);
            var $btn = $(this);
            $btn.button('loading');
            $.ajax({
                type: "GET",
                url: apiUrlUnlink + selectedCAB + '/' + selectedVBN,
                //                dataType: 'json',
                async: true,
                //                data: { cab: selectedCAB, vbn: selectedVBN },
                success: function (data) {
                    console.log(data);
                    $btn.button('reset');
                    refreshLookups();
                }
            });
        });

    });

    function rbRinkedFilterChanged(evt) {
        var val = $("input[name=rbRinkedFilter]:checked").val();
        if (val == 0) {
            $('#cabPropLookups td').show();
        } else if (val == 1) {
            $('#cabPropLookups td[data-linked="true"]').show();
            $('#cabPropLookups td[data-linked="false"]').hide();
        } else if (val == 2) {
            $('#cabPropLookups td[data-linked="false"]').show();
            $('#cabPropLookups td[data-linked="true"]').hide();
        }

    }

    var crumbs = [];
    function breadcrumbBuilder(level, desc) {
        crumbs[level] = desc;
        var bc = $('.breadcrumb');
        $(bc).html('');

        for (var i = 0; i < crumbs.length; i++) {
            if (i == crumbs.length) {
                $(bc).append('<li class="active">' + crumbs[i] + '</li>');
            } else {
                $(bc).append('<li><a href="#">' + crumbs[i] + '</a></li>');
            }
        }
    }

    function adjustProgress(val) {
        $('.progress-bar').html(val + '%');
        $('.progress-bar').attr('aria-valuenow', val);
        $('.progress-bar').css('width', val + '%');
    }


    var selectedCAB = null;
    var selectedVBN = null;
    function getPropLookups(ele) {
        // also get vbn prop
        adjustProgress(0);
        var id = ele.id;
        var desc = ele.desc;
        breadcrumbBuilder(1, desc);
        $("input[name=rbRinkedFilter][value='0']").prop('checked', true);
        $.ajax({
            type: "GET",
            url: apiUrlPropLookups + id,
            dataType: 'json',
            async: true,
            success: function (data) {
                console.log(data);
                $('#cabPropLookups').html('');
                for (var i = 0; i < data.length; i++) {
                    var linked = true;
                    if (data[i].CVLM_SEQUENCE == null) linked = false;
                    $('#cabPropLookups').append('<tr><td data-lookupvalue="' + data[i].CDPL_LOOKUP_VALUE.toLowerCase() + '" data-linked="' + linked + '" data-vbn="' + data[i].CVLM_FK_VBN_LOOKUP_VALUE + '" data-id="' + data[i].CDPL_SEQUENCE + '">' +
                        '<input type="radio" name="cabRadio" />' +
                        data[i].CDPL_LOOKUP_VALUE + '</td></tr>');
                }
                $('#cabPropLookups td[data-linked="false"]').addClass('danger');
                $('#cabSearchResultCount').html($('#cabPropLookups td').length);
                $('input[name="cabRadio"]').click(function () {
                    $('#selectedCABText').html('');
                    $('#selectedVBNText').html('');
                    var ds = $(this).parent()[0].dataset;
                    selectedCAB = ds.id;
                    selectedVBN = ds.vbn;
                    $('#vbnPropLookups td').removeClass('success');
                    $('#vbnPropLookups td[data-id="' + ds.vbn + '"]').addClass('success');
                    if (selectedVBN != "null") {
                        var vbntext = $('#vbnPropLookups td[data-id="' + ds.vbn + '"]')[0].dataset.lookupvalue;
                        $('#selectedVBNText').html(vbntext);
                        $('#vbnPropLookups td').hide();
                        $('#vbnPropLookups td[data-id="' + ds.vbn + '"]').show();
                    } else {
                        $('#selectedVBNText').html('Not linked');
                        $('#vbnPropLookups td').show();
                    }
                    $('#selectedCABText').html(ds.lookupvalue);
                });
                adjustProgress(100);
            }
        });
    }

    function getVBNPropLookups(ele) {
        adjustProgress(0);
        var id = ele.vbn;
        $.ajax({
            type: "GET",
            url: apiUrlVBNPropLookups + id,
            dataType: 'json',
            async: true,
            success: function (data) {
                console.log(data);
                $('#vbnPropLookups').html('');
                for (var i = 0; i < data.length; i++) {
                    $('#vbnPropLookups').append('<tr><td data-lookupvalue="' + data[i].CDVL_LOOKUP_DESC.toLowerCase() + '" data-id="' + data[i].CDVL_SEQUENCE + '">' +
                        '<input type="radio" name="vbnRadio" />' +
                        data[i].CDVL_LOOKUP_DESC + ' (' + data[i].CDVP_VBN_PROP_CODE + ': ' + data[i].CDVL_LOOKUP_VALUE + ')</td></tr>');
                }
                $('#vbnSearchResultCount').html($('#vbnPropLookups td').length);
                $('input[name="vbnRadio"]').click(function () {
                    var ds = $(this).parent()[0].dataset;
                    console.log(ds);
                    selectedVBN = ds.id;
                    $('#selectedVBNText').html(ds.lookupvalue);
                });
                adjustProgress(100);
            }
        });
    }

    var selectedPropType = null;

    function refreshLookups() {
        console.log('refreshing lookups');
        getPropLookups(selectedPropType);
        getVBNPropLookups(selectedPropType);
    }

    function getPropTypes(ele) {
        adjustProgress(0);
        console.log('test');
        var id = ele.id;
        var desc = ele.desc;
        breadcrumbBuilder(0, desc);
        $('#cabPropLookups').html('');
        $('#cabSearchResultCount').html($('#cabPropLookups td').length);
        $('#vbnPropLookups').html('');
        $('#vbnSearchResultCount').html($('#vbnPropLookups td').length);
        $.ajax({
            type: "GET",
            url: apiUrlPropTypes + id,
            dataType: 'json',
            async: true,
            //data: '{ "comment" }',
            success: function (data) {
                console.log(data);
                $('#cabPropTypes').html('');
                for (var i = 0; i < data.length; i++) {
                    $('#cabPropTypes').append('<button type="button" class="btn btn-info" style="margin-right:10px;" data-id="' + data[i].CDPT_SEQUENCE + '" data-desc="' + data[i].CDPT_DESC + '" data-vbn="' + data[i].CDPT_FK_VBN_PROP_TYPE + '">' + data[i].CDPT_DESC + '</button>');
                }
                $('#cabPropTypes button').click(function (event) {
                    var eleData = event.target.dataset;
                    $('#cabPropTypes button').removeClass('btn-danger');
                    $('#cabPropTypes button[data-id=' + eleData.id + ']').toggleClass('btn-danger');
                    getPropLookups(eleData);
                    getVBNPropLookups(eleData);
                    selectedPropType = eleData;

                });
                adjustProgress(100);
            }
        });
    }
    function createPropTypeCallback(data) {
        console.log(data);
        return function () {
            getPropTypes(data);
        }
    }

    function getPropGroups() {
        adjustProgress(0);
        $.ajax({
            type: "GET",
            url: apiUrlPropGroups,
            dataType: 'json',
            async: true,
            //data: '{ "comment" }',
            success: function (data) {
                console.log(data);
                $('#cabPropGroups').html('');
                console.log("anything?");
                for (var i = 0; i < data.length; i++) {
                    var ele = '<button type="button" class="btn btn-info" style="margin-right:10px;" data-id="' + data[i].CDPG_SEQUENCE + '" data-desc="' + data[i].CDPG_DESC + '">' + data[i].CDPG_DESC + '</button>';
                    $('#cabPropGroups').append(ele);
                }
                $('#cabPropGroups button').click(function (event) {
                    var eleData = event.target.dataset;
                    $('#cabPropGroups button').removeClass('btn-danger');
                    $('#cabPropGroups button[data-id=' + eleData.id + ']').toggleClass('btn-danger');
                    getPropTypes(eleData);
                });
                adjustProgress(100);
            }
        });
    }

</script>
<div style="width:100%; height:100%;">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>CAB-VBN Property Link</h2>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="." id="cabPropGroups">

                </div>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="." id="cabPropTypes">

                </div>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title pull-left" style="padding-top: 7.5px;"><i class="glyphicon glyphicon-star"></i> CAB</h4>
                        <div class="input-group">
                            <input id="searchCAB" type="text" class="form-control" placeholder="Search">
                            <div class="pull-right" style="margin-right:10px;"><h4><span id="cabSearchResultCount"></span></h4></div>
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                                <!-- <button class="btn btn-primary"><i class="glyphicon glyphicon-wrench"></i></button>-->
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <label class="radio-inline">
                            <input type="radio" name="rbRinkedFilter" value="0"> All
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rbRinkedFilter" value="1"> Linked
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rbRinkedFilter" value="2"> Not linked
                        </label>
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody id="cabPropLookups"></tbody>
                        </table>
                    </div>
                    <!-- Table -->

                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                        </div>
                    </div>
                    <div class="panel-body" style="text-align:center;">
                        <ol class="breadcrumb"></ol>
                        <div class="row top-buffer">
                            <div class="col-xs-6">
                                <span class="label label-default" style="font-size:12px;">Select CAB Property</span>
                                <h4 id="selectedCABText"></h4>
                            </div>
                            <div class="col-xs-6">
                                <span class="label label-default" style="font-size:12px;">Select VBN Property</span>
                                <h4 id="selectedVBNText"></h4>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" data-loading-text="Linking..." id="btnLink">Link</button>
                        <button type="button" class="btn btn-danger" data-loading-text="Unlinking..." id="btnUnlink">Unlink</button>

                    </div>

                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title pull-left" style="padding-top: 7.5px;"><i class="glyphicon glyphicon-star"></i> VBN</h4>
                        <div class="input-group">
                            <input id="searchVBN" type="text" class="form-control" placeholder="Search">
                            <div class="pull-right" style="margin-right:10px;"><h4><span id="vbnSearchResultCount"></span></h4></div>
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                                <!-- <button class="btn btn-primary"><i class="glyphicon glyphicon-wrench"></i></button>-->
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody id="vbnPropLookups"></tbody>
                        </table>
                    </div>
                    <!-- Table -->

                </div>
            </div>

        </div>
    </div>





</div>