﻿@model List<SpecialArticle>
@{
    ViewBag.Title = "Homepagina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Extensions.dict(Usr.Language, "welcome") @Usr.Person.FullName @Extensions.dict(Usr.Language, "bij LogiCAB! Het commercieel artikel bestand!")</h2>
<h3>@ViewBag.messages</h3>


<h3>@Extensions.dict(Usr.Language, "New CAB Codes")</h3>
@Html.Partial("IndexDXSlider")


@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.timers-1.2.js")"></script>
}
