﻿@model List<SpecialArticle>
<style>
    #slider h3 {
        color: #9fc01b;
        text-decoration: none;
    }

    #slider a {
        color: #9fc01b;
        text-decoration: none;
    }
</style>
<div id="slider">
    @Html.DevExpress().ImageSlider(s => {
        s.Name = "imageSlider";
        s.EnableTheming = true;
        s.Width = Unit.Pixel(700);
        s.Height = Unit.Pixel(500);
        s.NavigateUrlFormatString = "javascript:void({0});";

        s.SettingsImageArea.ImageSizeMode = ImageSizeMode.FitProportional;
        s.SettingsImageArea.NavigationButtonVisibility = ElementVisibilityMode.Always;
        s.SettingsImageArea.ItemTextVisibility = ElementVisibilityMode.Always;
        s.SettingsImageArea.EnableLoopNavigation = true;
        //s.SettingsNavigationBar.Mode = DevExpress.Web.ASPxImageSlider.NavigationBarMode.Thumbnails;
        s.SettingsNavigationBar.Mode = NavigationBarMode.Thumbnails;

        s.SettingsSlideShow.AutoPlay = true;
        s.SettingsSlideShow.Interval = 3000;
        s.SettingsSlideShow.PausePlayingWhenMouseOver = false;
        s.SettingsSlideShow.PlayPauseButtonVisibility = ElementVisibilityMode.Always;
        s.SettingsSlideShow.StopPlayingWhenPaging = false;

        foreach (var p in Model) {
            s.Items.Add(item => {
                item.ImageUrl = p.PictureURL;
                string props = string.Empty;
                for (int i = 0; i < p.Properties.Count; i++) {
                    props += p.Properties[i].Item1 + ": " + p.Properties[i].Item2;
                    if (i != p.Properties.Count - 1) {

                        props = props + " <span style=\"color: #9fc01b;\">//</span> ";
                    }
                }
                item.SetTextTemplateContent(
                    "<h3>" + p.CAB.Item1 + " ( <span style=\"font-size:11px; font-weight:normal;color:white;\">CAB Code: " + p.CAB.Item2 + " / VBN: " + p.VBN.Item1 + ": " + p.VBN.Item2 + "</span> )" + "</h3>" +
                    "<p>Kenmerken: " + props + "</p>" +
                    "<p>Requested: " + p.RequestInfo.Item1.ToShortDateString() + " by " + p.RequestInfo.Item2 + " <span style=\"color: #9fc01b;\">//</span> Approved: " + p.ApproveInfo.Item1.ToShortDateString() + " by " + p.ApproveInfo.Item2 + "</p>"
                );
            });
        }
    }).GetHtml()
</div>