﻿@using LogiCAB.Web.DAL;
@model Dictionary<int, List<string>>
@{
    ViewBag.Title = "Orderoverzicht Excel";
    List<Tuple<string, string>> allFiles = new List<Tuple<string, string>>();
}
<style>
    ul {
        list-style:none;
    }
    li {
        list-style:none;
    }
</style>
<h2>Orderoverzicht Excel</h2>
@foreach (var k in Model.Keys) {

    foreach (var f in Model[k]) {
        var ele = f.Split('\\');
        var cDir = String.Format("Http://www.logioffer.nl/{0}/{1}/{2}/{3}", ele[ele.Length - 4], ele[ele.Length - 3], ele[ele.Length - 2], ele[ele.Length - 1]);            
        var fName = ele[ele.Length - 1];
        allFiles.Add(new Tuple<string, string>(cDir, fName));
    }
    allFiles.OrderByDescending(x => x.Item2);

}
<ul>
    @foreach (var f in allFiles)
    {
        <li><a href="@f.Item1">@f.Item2</a></li>
    }
</ul>
