﻿@using LogiCAB.Web.DAL;
@model List<Tuple<string, string, string>>
@{
    ViewBag.Title = "ExcelOverview";
}
<style>
    ul {
        list-style:none;
    }
    li {
        list-style:none;
    }
</style>

<h2>Orderoverzicht Excel</h2>
@if (Extensions.hasExcelOverview()) { 
    @Html.Partial("ExcelOverviewPartial", Model)
} else {
    <h2>@Extensions.dict(Usr.Language,"You currently do not have any orders in the system")</h2>
}


