﻿@using LogiCAB.Web.DAL;
@model List<string>
@{
    ViewBag.Title = "ExcelOverview";
}
<style>
    ul {
        list-style: none;
    }

    li {
        list-style: none;
    }
</style>
<img src="~/Content/map.png" height="48" style="float:right;" />
<h2>Transporter</h2>
<hr />
<table border="1">
    @foreach (var f in Model) {
        var href = Url.Content(String.Format("~/Content/Transport/{0}", f));
        <tr><td><img src="~/Content/excel.png" height="24" style="float:left;" /><a href="@href">@f</a></td></tr>
    }
</table>

