﻿@model IEnumerable<LogiCAB.Web.Domain.Handshake>

@{
    ViewBag.Title = "Index";
}

    <img src="~/Content/users.png" height="48" style="float:right;" />
    <h2>Relatie Beheer</h2>
    <hr />

@Html.Partial("List", Model)
<div style="display: none; position: absolute; z-index: 110; left: 400px; top: 100px; width: 15px; height: 15px" id="preview_div"></div>
