﻿@using System.Web.UI.WebControls;
@using CAB.Data.EF.Models;
@using CAB.Domain.Helpers;
@using CAB.Domain.Enums;
@using LogiCAB.Web.Domain;
@using LogiCAB.Web.DAL;
@{
    List<F_CAB_HANDSHAKE_OPTION_FIELDS> handshakeFields = new List<F_CAB_HANDSHAKE_OPTION_FIELDS>();
    handshakeFields = EFHelper.ctx.F_CAB_HANDSHAKE_OPTION_FIELDS.Where(x => x.HNOF_AUTH_LEVEL_GROWER.Contains("R")).ToList();
    IQueryable<F_CAB_ADDRESS> addresses = EFHelper.ctx.F_CAB_ADDRESS;
}
@model IEnumerable<LogiCAB.Web.Domain.Handshake>
@{
    var grid = Html.DevExpress().GridView(s => {
        s.Name = "gvEditing";
        s.KeyFieldName = "seq";
        s.Width = Unit.Percentage(70);
        s.CallbackRouteValues = new { Controller = "Transport", Action = "List" };
        s.SettingsEditing.Mode = GridViewEditingMode.EditForm;

        //s.SettingsPager.Position = PagerPosition.TopAndBottom;

//        s.Settings.ShowFilterRow = true;
//        s.Settings.ShowGroupPanel = true;
//        s.Settings.ShowFooter = true;

//        s.Settings.ShowHeaderFilterButton = true;
//        s.SettingsPopup.HeaderFilter.Height = 200;

//        s.SettingsPager.PageSize = 15;
//        s.SettingsPager.PageSizeItemSettings.Visible = true;


        s.Columns.Add(col => {
            col.FieldName = "buyerOrga";
            col.Caption = "Koper";
            col.Index = 4;
            col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        });
        foreach (F_CAB_HANDSHAKE_OPTION_FIELDS field in handshakeFields) {
            s.Columns.Add(col => {
                col.FieldName = "hndo." + field.HNOF_FIELD;
                col.Caption = field.HNOF_FIELD;
                col.Width = Unit.Pixel(80);
                col.Index = 8;
                bool allowEdit = ((Usr.OrganisationType == OrgaType.Buyer || Usr.OrganisationType == OrgaType.Comm) && field.HNOF_AUTH_LEVEL_BUYER.Contains("W")) || (Usr.OrganisationType == OrgaType.Grower && field.HNOF_AUTH_LEVEL_GROWER.Contains("W"));
                if (field.HNOF_FIELD.EndsWith("EKT_YN")) {
                    col.Caption = "Auto EKT";
                    col.Index = 9;
                    col.Visible = false;
                    col.ColumnType = MVCxGridViewColumnType.CheckBox;
                    col.SetDataItemTemplateContent(c => {
                        if (allowEdit) {
                            Html.DevExpress().CheckBox(txtSettings => {
                                txtSettings.Name = "chk_EKT_YN_" + c.KeyValue + DateTime.Now.Ticks;
                                txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                        } else {
                            Html.DevExpress().CheckBox(txtSettings => {
                                txtSettings.Name = "chk_EKT_YN_" + c.KeyValue + DateTime.Now.Ticks;
                                txtSettings.ReadOnly = true;
                            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                        }
                    });
                }
                if (field.HNOF_FIELD.EndsWith("KWB_YN")) {
                    col.Caption = "Auto KWB";
                    col.Index = 9;
                    col.Visible = false;
                    col.ColumnType = MVCxGridViewColumnType.CheckBox;
                    col.SetDataItemTemplateContent(c => {
                        if (allowEdit) {
                            Html.DevExpress().CheckBox(txtSettings => {
                                txtSettings.Name = "chk_KWB_YN_" + c.KeyValue + DateTime.Now.Ticks;
                                txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                        } else {
                            Html.DevExpress().CheckBox(txtSettings => {
                                txtSettings.Name = "chk_KWB_YN_" + c.KeyValue + DateTime.Now.Ticks;
                                txtSettings.ReadOnly = true;
                            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                        }
                    });
                }
                if (field.HNOF_FIELD.EndsWith("SEND_CONFIRM_MAIL_YN")) {
                    col.Caption = "Auto Mail";
                    col.Index = 11;
                    col.Visible = false;
                    col.ColumnType = MVCxGridViewColumnType.CheckBox;
                    col.SetDataItemTemplateContent(c => {
                        if (allowEdit) {
                            Html.DevExpress().CheckBox(txtSettings => {
                                txtSettings.Name = "chk_SCM_YN_" + c.KeyValue + DateTime.Now.Ticks;
                                //txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                        } else {
                            Html.DevExpress().CheckBox(txtSettings => {
                                txtSettings.Name = "chk_SCM_YN_" + c.KeyValue + DateTime.Now.Ticks;
                                txtSettings.ReadOnly = true;
                            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                        }
                    });
                }
                if (field.HNOF_FIELD.EndsWith("RECV_OFFER_MAIL_YN")) {
                    col.Caption = "Offertemail";
                    col.Index = 11;
                    col.Visible = false;
                    col.ColumnType = MVCxGridViewColumnType.CheckBox;
                    col.SetDataItemTemplateContent(c => {
                        if (allowEdit) {
                            Html.DevExpress().CheckBox(txtSettings => {
                                txtSettings.Name = "chk_RCV_YN_" + c.KeyValue + DateTime.Now.Ticks;
//                                txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                        } else {
                            Html.DevExpress().CheckBox(txtSettings => {
                                txtSettings.Name = "chk_RCV_YN_" + c.KeyValue + DateTime.Now.Ticks;
                                txtSettings.ReadOnly = true;
                            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                        }
                    });
                }
                if (field.HNOF_FIELD.EndsWith("CONFIRM_YN")) {
                    col.Caption = "Auto Accept";
                    col.Index = 7;
                    col.Visible = false;
                    col.ColumnType = MVCxGridViewColumnType.CheckBox;
                    col.SetDataItemTemplateContent(c => {
                        if (allowEdit) {
                            Html.DevExpress().CheckBox(txtSettings => {
                                txtSettings.Name = "chk_CONFIRM_YN_" + c.KeyValue + DateTime.Now.Ticks;
                                //txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                        } else {
                            Html.DevExpress().CheckBox(txtSettings => {
                                txtSettings.Name = "chk_CONFIRM_YN_" + c.KeyValue + DateTime.Now.Ticks;
                                txtSettings.ReadOnly = true;
                            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                        }
                    });
                }
                if (field.HNOF_FIELD.Contains("DELIVERY_TIME")) {
                    col.Caption = "Levertijd";
                    col.PropertiesEdit.DisplayFormatString = "t";
                    col.Index = 6;
                    col.SetDataItemTemplateContent(c => {
                        if (c != null) {
                            try {
                                DateTime fieldVal = (DateTime)DataBinder.Eval(c.DataItem, c.Column.FieldName);
                                if (fieldVal != null) {
                                    string fieldTime = fieldVal.ToString("HH:mm");
                                    ViewContext.Writer.Write(fieldTime);
                                }

                            } catch (Exception ex) {
                            }
                        }
                    });
                }
                if (field.HNOF_FIELD.Contains("DELIVERY_TYPE")) {
                    col.Caption = "Levertype";
                    col.Index = 5;
                    col.SetDataItemTemplateContent(c => {
                        F_CAB_HANDSHAKE_OPTIONS options = (F_CAB_HANDSHAKE_OPTIONS)DataBinder.Eval(c.DataItem, "hndo");
                        if (options != null) {
                            switch (options.HNDO_DELIVERY_TYPE) {
                                case "EXW":
                                    ViewContext.Writer.Write("Thuis gehaald");
                                    break;
                                case "DDP":
                                    ViewContext.Writer.Write("Afl. locatie klant");
                                    break;
                                default:
                                    ViewContext.Writer.Write("Thuis gehaald");
                                    break;
                            }
                        }
                    });

                }
                if (field.HNOF_FIELD.Contains("FK_ADDR")) {
                    col.Caption = "Leveradress";
                    col.Index = 6;
                    col.Width = Unit.Pixel(250);
                    col.PropertiesEdit.Style.HorizontalAlign = HorizontalAlign.Left;
                    col.SetDataItemTemplateContent(c => {
                        F_CAB_HANDSHAKE_OPTIONS options = (F_CAB_HANDSHAKE_OPTIONS)DataBinder.Eval(c.DataItem, "hndo");
                        if (options != null) {
                            //F_CAB_ADDRESS addr;
                            CAB.Domain.Models.Address addr;
                            if (Usr.OrganisationType == OrgaType.Grower) {
                                //addr = user.orga.F_CAB_ADDRESS.FirstOrDefault();
                                addr = Usr.Organisation.Address;
                            } else {
                                F_CAB_ORGANISATION gOrga = DataBinder.Eval(c.DataItem, "_buyerOrga") as F_CAB_ORGANISATION;
                                F_CAB_ADDRESS addrdb = gOrga.F_CAB_ADDRESS.FirstOrDefault();
                                if (addrdb == null) {
                                    addr = new CAB.Domain.Models.Address {
                                        Zipcode = "1234",
                                        City = "Missing",
                                        Street = "Missing",
                                        StreetNr = "N/A"
                                    };
                                } else {
                                    addr = new CAB.Domain.Models.Address {
                                        Zipcode = addrdb.ADDR_ZIPCODE,
                                        City = addrdb.ADDR_CITY,
                                        Street = addrdb.ADDR_STREET,
                                        StreetNr = addrdb.ADDR_NO
                                    };
                                }
                            }
                            string sAddress = "";
                            if (addr != null) {
                                sAddress = String.Format("{0}, {1}, {2} {3}", addr.Zipcode, addr.City, addr.Street, addr.StreetNr);
                            }
                            ViewContext.Writer.Write(sAddress);
                        }
                    });
                }
                col.Settings.AllowHeaderFilter = DefaultBoolean.False;
            });
        }
    });
    if (ViewData["EditError"] != null) {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml().ToHtmlString()



