﻿<script src="~/Scripts/jquery.globalize/globalize.js"></script>
<script src="~/Scripts/dx.chartjs.js"></script>

<div id="chartContainer" style="max-width:800px;height: 400px;"></div>
<script>
    //["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
    //data: [24594, 37606, 47015, 19635, 397638, 26877, 10837]
    var commonDataSource = [
      { Day: 'Sun', Orders: 24594 },
      { Day: 'Mon', Orders: 37606 },
      { Day: 'Tue', Orders: 47015 },
      { Day: 'Wed', Orders: 19635 },
      { Day: 'Thu', Orders: 397638 },
      { Day: 'Fri', Orders: 26877 },
      { Day: 'Sat', Orders: 10837 },
    ];
    $(document).ready(function () {
        $("#chartContainer").dxChart({
            dataSource: commonDataSource,
            series: [
                { valueField: 'Orders', name: 'Orders'},
//                { valueField: 'Kirkland' }
            ],
            commonSeriesSettings: {
                argumentField: 'Day',
                type: 'bar'
            },

        });
    });
</script>