﻿@Html.DevExpress().CallbackPanel(settings => {
    settings.Name = "cbpEABOutput";
    settings.CallbackRouteValues = new { Controller = "GM", Action = "EABOutput" };
    settings.Width = Unit.Percentage(100);

        settings.SetContent(() => {
            Html.DevExpress().Button(b => {
                //b.Text = "Toggle fullscreen";
                b.Text = Extensions.dict(Usr.Language, "Validate EAB");

                b.Name = "validateEAB";
                b.Width = Unit.Pixel(50);
                //b.Style.Add("float", "right");
                b.Images.Image.Url = Url.Content("~/Content/ok.png");
                b.Images.Image.Height = Unit.Pixel(24);
                b.Images.Image.Width = Unit.Pixel(24);

                b.ClientSideEvents.Click = "function(s,e) { cbpEABOutput.PerformCallback(); }";

            }).GetHtml();
            ViewContext.Writer.Write("<br /><hr />");
            var eabContent = ViewBag.EABContent as string;
            if (eabContent != null) { 
                eabContent = eabContent.Replace("\n", "<br />");
                
                ViewContext.Writer.Write(String.Format("<strong style=\"font-size:10px;\">{0}</strong>", eabContent));
            }
            ViewContext.Writer.Write("<br /><hr />");            
        });

}).GetHtml()