﻿
@{
    ViewBag.Title = "Index";      
}
<script>
    function UpdateLayoutForm() {
        console.log('Changed Auction');
    }

    function addArticleToList(s, e) {
        console.log('adding article');
    }

</script>


<h2 style="float:left;">Verkooporders</h2>
@Html.DevExpress().Button(b => {
    //b.Text = "Toggle fullscreen";
    b.Text = "";
    
    b.Name = "TogglePanes";
    b.Width = Unit.Pixel(50);
    b.Style.Add("float", "right");
    b.Images.Image.Url = Url.Content("~/Content/fullscreen.png");
    b.Images.Image.Height = Unit.Pixel(24);
    b.Images.Image.Width = Unit.Pixel(24);

//    b.ClientSideEvents.Click = "togglePanes";

}).GetHtml()
<style>
    .assignBtn {
        margin-left:25px;
        margin-right:25px;
        margin-bottom:10px;
    }
    #assignScreen {
        /*width:100%;*/
    }
    #assignBtnTd {
        text-align:center;
        vertical-align:top;
        padding-top:50px;
    }
    .pDiv {
        margin: 15px;
    }
</style>
@Html.DevExpress().Splitter(
    settings => {
        settings.Name = "splClientSideEvents";
        settings.Height = Unit.Percentage(100);
        settings.Width = Unit.Percentage(100);
        settings.Orientation = Orientation.Vertical;
        settings.ShowCollapseBackwardButton = true;
        settings.ShowCollapseForwardButton = true;
        

        settings.Panes.Add(pane => {
            pane.Name = "Pane 0";
            pane.Size = 235;
            pane.PaneStyle.BackColor = System.Drawing.Color.White;
            pane.SetContent(() => {

                Html.RenderPartial("~/Views/GM/OverviewPartial.cshtml");
            });
        });
        settings.Panes.Add(pane => {
            pane.Name = "Pane 1";
            pane.Panes.Add(p => {
                p.Name = "Pane 1-0";
                p.ScrollBars = ScrollBars.Vertical;
                p.SetContent(() => {
                    ViewContext.Writer.Write("<h3>Assortiment</h3>");
                    Html.RenderPartial("List");
                });
            });

            pane.Panes.Add(p => {
                p.Name = "Pane 1-2";
                p.ScrollBars = ScrollBars.Vertical;
                p.SetContent(() => {
                    ViewContext.Writer.Write("<h3>Aanvoerbrief</h3>");
                    Html.RenderPartial("EABOutput");
                    //Html.RenderPartial("ListNew");
                });
            });
        });
    }).GetHtml()


<script>
    $(document).ready(function () {
        GrowerModule.Refresh();
//        GrowerModuleNew.Refresh();
        $(TogglePanes.mainElement).click(function () {
            togglePanes();
        });
    });



    function togglePanes() {
        var panenavigation = splFullScreenMode.GetPaneByName('NavigationPane');
        var panefooter = splFullScreenMode.GetPaneByName('FooterPane');
        var paneheader = splFullScreenMode.GetPaneByName('HeaderPane');
        var panecontent = splFullScreenMode.GetPaneByName('ContentPane');

        if(panenavigation.IsCollapsed())
            panenavigation.Expand();
        else
            panenavigation.Collapse(panecontent);

        if (panefooter.IsCollapsed())
            panefooter.Expand();
        else
            panefooter.Collapse(panecontent);


        if (paneheader.IsCollapsed())
            paneheader.Expand();
        else
            paneheader.Collapse(panecontent);
        
        
    }

</script>
