﻿
@{
    ViewBag.Title = "Index";      
}
<style>
    .sectionGM {
        padding: 10px;
        text-align:center;
    }
    .sectionGM > p {
        font-weight: bold;
    }
    #mainInfoSection {
        width: 200px;
        height:100px;
        border: 1px solid red;
    }
    #assortimentSection {
        width: 200px;
        height:100px;
        border: 1px solid green;
        float:left;
    }
    #offerSection {
        width: 200px;
        height:100px;
        border: 1px solid blue;
        float:left;
        margin-left: 50px;
    }
</style>


<div id="mainInfoSection" class="sectionGM">
    <p>mainInfoSection</p>
</div>
<br />
<div id="assortimentSection" class="sectionGM">
    <p>assortimentSection</p>
</div>  
<div id="offerSection" class="sectionGM">
    <p>offerSection</p>
</div>