﻿<div class="pDiv">
    <h3>OverviewPartial</h3>
    <table>
        <tr>
            <td>
                @Html.DevExpress().FormLayout(settings => {
           settings.Name = "flOverview";
           settings.Items.AddGroupItem(groupSettings => {
               groupSettings.Caption = Extensions.dict(Usr.Language, "Auction");
               groupSettings.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;

               groupSettings.Items.Add(li => {
                   li.Name = "ordernr";
                   li.Caption = Extensions.dict(Usr.Language, "ordernr");
               });
               groupSettings.Items.Add(li => {
                   li.Name = "status";
                   li.Caption = "Lastname"; li.Caption = Extensions.dict(Usr.Language, "status");
                   li.NestedExtensionType = FormLayoutNestedExtensionItemType.Label;
                   var lbSettings = (LabelSettings)li.NestedExtensionSettings;
                   lbSettings.Text = "NEW";
                   lbSettings.Style.Add("background-color", "green");
                   lbSettings.Style.Add("color", "black");
               });
               groupSettings.Items.Add(li => {
                   li.Name = "Auction";
                   li.Caption = "Auction";
                   li.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox;

                   var cbSettings = (ComboBoxSettings)li.NestedExtensionSettings;
                   cbSettings.Properties.ClientSideEvents.ValueChanged = "UpdateLayoutForm";
                   cbSettings.Properties.ValueType = typeof(int);
                   cbSettings.Properties.NullText = "Select auction";
                   var auctions = LogiCAB.Web.Controllers.AuctionProvider.Get();
                   foreach (var a in auctions) {
                       cbSettings.Properties.Items.Add(a.Description, a.Sequence);    
                   }

               });
           });
       }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().FormLayout(settings => {
               settings.Name = "flOverview2";
               settings.Width = Unit.Pixel(350);
               settings.Items.AddGroupItem(groupSettings => {
                   groupSettings.Caption = "Date selection";                   
                   groupSettings.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;

                   groupSettings.Items.Add(li => {
                       li.Name = "Entrytime";
                       li.Caption = "Entrytime";
                       li.NestedExtensionType = FormLayoutNestedExtensionItemType.DateEdit;
                       var dtSettings = (DateEditSettings)li.NestedExtensionSettings;
                       dtSettings.Properties.NullText = "Select a date/time";
                       dtSettings.Width = Unit.Pixel(350);
                       dtSettings.Properties.TimeSectionProperties.Visible = true;
                       dtSettings.Properties.DisplayFormatString = "F";
                                       
                   });
                   groupSettings.Items.Add(li => {
                       li.Name = "SendTime";
                       li.Caption = "SendTime";
                       li.NestedExtensionType = FormLayoutNestedExtensionItemType.DateEdit;
                       var dtSettings = (DateEditSettings)li.NestedExtensionSettings;
                       dtSettings.Width = Unit.Pixel(350);
                       dtSettings.Properties.NullText = "Select a date/time";
                       dtSettings.Properties.DisplayFormatString = "F";
                   });
                   groupSettings.Items.Add(li => {
                       li.Name = "AuctionTime";
                       li.Caption = "AuctionTime";
                       li.NestedExtensionType = FormLayoutNestedExtensionItemType.DateEdit;
                       var dtSettings = (DateEditSettings)li.NestedExtensionSettings;
                       dtSettings.Width = Unit.Pixel(350);
                       dtSettings.Properties.NullText = "Select a date/time";
                       dtSettings.Properties.DisplayFormatString = "F";
                   });                   

               });
           }).GetHtml()
            </td>
        </tr>

    </table>

</div>