﻿@using LogiCAB.Service.Models;
@model DeliveryMoments
<table border="1" class="DeliveryMomentsTable" width="100%">
    <thead>
        <tr>
            <td>Order</td>
            <td>Delivery</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.MaxOrderTime.Count; i++) {
            <tr>
                <td>@Model.MaxOrderTime[i]</td>
                <td>@Model.MaxDeliverTime[i]</td>
            </tr>
        }
    </tbody>
</table>

@*<div class="editorContainer">
        @Html.DevExpress().ComboBox(settings => {
            settings.Name = "comboBox1" + Model.GetHashCode();
            settings.Width = 280;
            //settings.SelectedIndex = 0;
            settings.Properties.DisplayFormatString = "{0}";
            settings.Properties.ValueType = typeof(string);
            settings.Properties.NullDisplayText = "Order/Delivery";
            settings.Properties.NullText = "Order/Delivery";
            //settings.Properties.Columns.Add("MaxOrderTime", "MaxOrderTime", 130);
    //        settings.Properties.Columns.Add("MaxDeliverTime", "MaxDeliverTime", 130);
            for (int i = 0; i < Model.MaxOrderTime.Count; i++) {
                string dItem = String.Format("Order: {0} :: Delivery: {1}", Model.MaxOrderTime[i], Model.MaxDeliverTime[i]);
    //            settings.Properties.Items.Add()
                settings.Properties.Items.Add(dItem);

          }
        }).GetHtml()
    </div>*@