﻿@{
    ViewBag.Title = "Index";
}
<script>
    function LogiService_BeginCallback(s, e) {
        e.customArgs["endpoint"] = cbEndpointSelection.GetValue();
        e.customArgs["username"] = txtUsername.GetText();
        e.customArgs["password"] = txtPassword.GetText();
        //        e.customArgs["version"] = $('#version07').is(':checked') == true ? "0.7" : "0.5";
    }
</script>

<div>
    <img src="~/Content/globe.png" height="48" style="float:right; position:relative; top: -15px;" />
    <h2>LogiService</h2>
    <hr />
</div>
<div style="display: none; position: absolute; z-index: 110; left: 400px; top: 100px; width: 15px; height: 15px" id="preview_div"></div>
<table>
    <tr>
        <td>
            Service URL:
        </td>
        <td>
            @Html.DevExpress().ComboBox(s => {
    s.Name = "cbEndpointSelection";
    s.Width = 480;
    s.SelectedIndex = 0;
    s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
    s.Properties.DropDownStyle = DropDownStyle.DropDown;
    //s.Properties.ValueType = typeof(string);
    s.Properties.Items.Add(String.Format("{0}/Florecom/Jul2012/CommercialCustomer.asmx", "http://service.logicab.nl"));
    s.Properties.Items.Add(String.Format("{0}/Florecom/Jul2012/CommercialCustomer.asmx", "http://service.nieuw.logicab.nl"));

    s.Properties.Items.Add(String.Format("{0}/Florecom/Jul2012/CommercialCustomer.asmx", "http://testservice.logicab.nl"));
    s.Properties.Items.Add(String.Format("{0}/Florecom/Jul2012/CommercialCustomer.asmx", "http://testserviceanon.logicab.nl"));

    s.Properties.Items.Add(String.Format("{0}/Florecom/Jul2012/CommercialCustomer.asmx", "http://localhost/LogiService.Wcf/"));             
           
                                
           
           
           
}).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Button(btnSettings => {
           btnSettings.Name = "btnCallService";
           btnSettings.ControlStyle.CssClass = "button";
           btnSettings.Text = "Call service";
           btnSettings.Images.Image.Url = "~/Content/updatearrow.png";
           btnSettings.Images.Image.Height = Unit.Pixel(16);
           btnSettings.Images.Image.Width = Unit.Pixel(16);
           btnSettings.Width = Unit.Pixel(100);
           btnSettings.Style.Add("float", "right");
           btnSettings.Style.Add("margin-left", "10px");
           //       btnSettings.ClientSideEvents.Click = "function(s, e){ gvDelMoments.UpdateEdit(); }";
           btnSettings.ClientSideEvents.Click = "function(s, e){ gvLogiService.Refresh(); }";
       }).GetHtml()
        </td>
        <td id="statusArea" style="width:678px;border: 1px solid black; text-align:right;"></td>
    </tr>

        <tr>
            <td>
                @Html.DevExpress().TextBox(s => {
           s.Name = "username";
           s.Text = "koper1";
           s.Properties.NullDisplayText = "Username";
           s.Attributes.CssStyle.Add("margin", "5px;");
           s.Properties.ClientInstanceName = "txtUsername";
           s.Width = System.Web.UI.WebControls.Unit.Pixel(100);
       }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBox(s => {
       s.Name = "password";
       s.Text = "koper";
       s.Properties.NullDisplayText = "Password";
       s.Properties.ClientInstanceName = "txtPassword";
       s.Attributes.CssStyle.Add("margin", "5px;");
       s.Width = System.Web.UI.WebControls.Unit.Pixel(100);
   }).GetHtml()
            </td>
            </</tr>
    </table>
<script>



        var lastS = null;
        function fnPutOrder(s, id) {
            lastS = s;
            console.log('Attempting to PutOrder: ' + id);
            var selectedDeliveryMomentCB = window["cbDeliveryMomentSelection" + id];
            var selectedDeliveryMomentValue = selectedDeliveryMomentCB.GetValue();
            s.SetImageUrl('@Url.Content("~/Content/loader.gif")');
            var numItemsTxt = window["orderItemTxt" + id];
            console.log(numItemsTxt);
            var numItems = numItemsTxt.GetValue();
            var username = txtUsername.GetText();
            var password = txtPassword.GetText();
            $.ajax({
                type: "POST",
                url: '@Url.Action("PutOrder","LogiService")',
                data: {
                    id: id,
                    url: cbEndpointSelection.GetValue(),
                    delivery: selectedDeliveryMomentValue,
                    numItems: numItems,
                    username: username,
                    password: password
                },
                success: function (msg) {
                    s.SetImageUrl('@Url.Content("~/Content/ok.png")');
                    if (msg.Status == 'Officially acknowledged') {
                        $('#statusArea').html('<span style="color:green;font-weight:bold;">' + cbEndpointSelection.GetValue() + '<br />' + 'Status:' + msg.Status + ', Price: ' + msg.Price + ', Quantity: ' + msg.Quantity + ', Date: ' + msg.LineDateTime + '</span>');
                        console.log(msg);
                    }
                }
            });
        }
        function fnorderItemTxtKeyUp(s, e, id) {
            console.log(e.htmlEvent.keyCode);
            if (e.htmlEvent.keyCode == 13) {
                fnPutOrder(window["orderItem" + id], id);
            }

        }


</script>
    @Html.Partial("List")

