﻿@using CAB.Domain.Helpers;
@using LogiCAB.Web.Domain;
@using LogiCAB.Service.Models;
@model IEnumerable<ServiceOffer>
@Html.DevExpress().GridView(settings => {
    settings.Name = "gvLogiService";
    settings.KeyFieldName = "Seq";
    settings.Caption = "LogiService";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(80);
    settings.CallbackRouteValues = new { Controller = "LogiService", Action = "List" };

    settings.Settings.UseFixedTableLayout = true;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.TopAndBottom;
    settings.SettingsPager.PageSize = 15;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;


    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowFooter = true;
    settings.Settings.ShowHeaderFilterButton = true;
    settings.SettingsPopup.HeaderFilter.Height = 200;
    settings.ClientSideEvents.BeginCallback = "LogiService_BeginCallback";
    settings.ClientSideEvents.EndCallback = "imagePreview";

    settings.HtmlDataCellPrepared = (sender, e) => {
        if (e.DataColumn.FieldName == "ArticleImage") {
            e.Cell.Attributes.Add("href", e.CellValue.ToString());
            e.Cell.Attributes.Add("title", "");
            e.Cell.CssClass = "dxgv preview";
        }
    };

    settings.Columns.Add(column => {
        column.FieldName = "ArticleDescription";
        column.Caption = "Description";
        column.SortIndex = 1;
        column.Width = Unit.Pixel(185);
    });
    settings.Columns.Add(column => {
        column.FieldName = "ArticleImage";
        column.Caption = "Picture";
        column.ColumnType = MVCxGridViewColumnType.Image;
        column.Width = Unit.Pixel(95);
        var imageProperties = column.PropertiesEdit as ImageEditProperties;
        imageProperties.ImageHeight = System.Web.UI.WebControls.Unit.Pixel(80);
    });
    settings.Columns.Add(column => {
        column.FieldName = "Price";
        column.Caption = Extensions.dict(Usr.Language, "price");
        column.Width = Unit.Pixel(100);
        column.PropertiesEdit.DisplayFormatString = "C2";
    });
//    settings.Columns.Add("Price").Caption = "Price";
    settings.Columns.Add(column => {
        column.FieldName = "Quantity";
        column.Caption = "Quantity";
        column.Width = Unit.Pixel(200);
    });
    settings.Columns.Add(column => {
        column.FieldName = "PrBunch";
        column.Caption = "PrBunch";
        column.Width = Unit.Pixel(100);
    });    
    settings.Columns.Add(column => {
        column.FieldName = "SupplierName";
        column.Caption = "Supplier";
        column.Width = Unit.Pixel(185);
        //column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
    });
    settings.Columns.Add(column => {
        column.FieldName = "DeliveryMoments";
        column.Caption = "DeliveryMoments";
        column.Width = Unit.Pixel(400);

        column.SetDataItemTemplateContent(t => {
            DeliveryMoments dMoments = DataBinder.Eval(t.DataItem, "DeliveryMoments") as DeliveryMoments;
            string id = (string)DataBinder.Eval(t.DataItem, "Id");
            List<string> cbItems = new List<string>();
            for (int i = 0; i < dMoments.MaxOrderTime.Count; i++) {
                    cbItems.Add(String.Format("Order: {0}, Delivery: {1}", dMoments.MaxOrderTime[i], dMoments.MaxDeliverTime[i]));
            }            
            //Html.RenderPartial("DeliveryMomentsPartial", dMoments);
            Html.DevExpress().ComboBox(s => {
                s.Name = "cbDeliveryMomentSelection" + id;
                s.Width = 370;
                s.SelectedIndex = 0;
                s.Properties.DisplayFormatString = "{0}";
                s.Properties.ValueType = typeof(string);
                s.Properties.Items.AddRange(cbItems);
            }).GetHtml();
            
        });
        //column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
    });
  
    //settings.Columns.Add(c => {
    //    c.FieldName = "DeliveryMoments";
    //    c.Caption = "Delivery";
    //    c.SetDataItemTemplateContent(t => {
    //        string moments = "";

    //        List<DateTime> dMoments = DataBinder.Eval(t.DataItem, "DeliveryMoments") as List<DateTime>;
    //        foreach (var d in dMoments) {
    //            moments += d.ToString() + "<br />";
    //        }
    //        ViewContext.Writer.Write("<span style=\"color:green;font-weight: bold;\">" + moments + "</span>");
    //    });
    //});
    settings.Columns.Add(column => {
        column.Name = "Unbound";
        column.Caption = "Order";
        column.Width = Unit.Pixel(120);
        column.SetDataItemTemplateContent(t => {
            var identifier = new Random().Next(100000).ToString();
            var id = DataBinder.Eval(t.DataItem, "Id") as string;
            Html.DevExpress().TextBox(txtSettings => {
                txtSettings.Name = "orderItemTxt" + id;
                txtSettings.Attributes.CssStyle.Add("margin", "5px;");
                txtSettings.Width = Unit.Pixel(90);
                txtSettings.Properties.ClientSideEvents.KeyUp = "function(s,e) { fnorderItemTxtKeyUp(s,e, '" + id + "'); }";
            }).GetHtml();
            Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "orderItem" + id;
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Order";
                btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                btnSettings.Images.Image.Url = "~/Content/updatearrow.png";
                btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
                btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(90);
                btnSettings.ClientSideEvents.Click = "function(s,e) { fnPutOrder(s,'" + id + "'); }"; // Get the rest of the variables from controlls.GetValue()
            }).GetHtml();
        });
    });
    settings.Columns.Add(column => {
        column.Name = "Unbound2";
        column.Caption = "#";
    });
}).Bind(Model).GetHtml()
