﻿@using CAB.Domain.Helpers;
@using LogiCAB.Web.Domain;
@using System.Drawing;
@using System.Web.UI.WebControls;

@model LogiCAB.Web.Domain.CABProperties
@Html.DevExpress().GridView(s => {
    s.Name = "gvRequestDetailsVBN";
    s.KeyFieldName = "CVPS_SEQUENCE";
    s.Attributes.CssStyle.Add("margin-top", "5px");
    s.Styles.Table.BackColor = Color.PaleGoldenrod;
    s.Width = Unit.Pixel(610);
    s.CallbackRouteValues = new { Controller = "Assortiment", Action = "CABPropertiesVBNPartial" };
    s.SettingsEditing.UpdateRowRouteValues = new { Controller = "Assortiment", Action = "CABPropertiesVBNPartialUpdate" };
    s.SettingsEditing.Mode = GridViewEditingMode.EditForm;
    s.HtmlDataCellPrepared = (sender, e) => {
        if (e.DataColumn.FieldName == "VBN_PROP_LOOKUP")
            if (e.CellValue != null) {
                if (String.IsNullOrEmpty(e.CellValue.ToString())) {
                    e.Cell.BackColor = Color.PaleGoldenrod;
                }
            } else {
                e.Cell.BackColor = Color.PaleGoldenrod;
            }
    };


    GridViewCommandColumn commandColumn = new GridViewCommandColumn();
    commandColumn.Width = Unit.Pixel(50);
    commandColumn.Visible = true;
    commandColumn.ShowEditButton = true;
    s.SettingsCommandButton.EditButton.ButtonType = GridCommandButtonRenderMode.Image;
    s.SettingsCommandButton.EditButton.Image.Url = "~/Content/edit.png";
    s.SettingsCommandButton.DeleteButton.Image.IsResourcePng = true;
    s.Columns.Add(commandColumn);
    s.Columns.Add("Desc", Extensions.dict(Usr.Language, "description"));
    s.Columns.Add(column => {
        column.FieldName = "VBN_PROP_LOOKUP";
        column.Caption = Extensions.dict(Usr.Language, "property_value");
        column.PropertiesEdit.NullDisplayText = "N/A";
    });
    s.Columns.Add(column => {
        column.FieldName = "VBN_PROP_LOOKUP_DESC";
        column.Caption = Extensions.dict(Usr.Language, "description");
        //column.PropertiesEdit.NullDisplayText = "Not used";
    });
    s.Columns.Add(column => {
        column.FieldName = "CVPS_VBN_PROP_CODE";
        column.Caption = Extensions.dict(Usr.Language, "property_type");
        column.Width = Unit.Pixel(45);
    });
    s.Columns.Add(column => {
        column.FieldName = "CVPS_SORT_ORDER";
        column.Caption = Extensions.dict(Usr.Language, "property_order");
        column.SortIndex = 1;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Ascending;
        column.Width = Unit.Pixel(20);
    });
    s.Columns.Add(column => {
        column.FieldName = "CVPS_MANDATORY_YN";
        column.Caption = Extensions.dict(Usr.Language, "property_mandatory");
        column.ColumnType = MVCxGridViewColumnType.CheckBox;
        column.Width = Unit.Pixel(25);
    });
    s.SetEditFormTemplateContent(c => {
        var data = ViewData["DataItem"] != null ? ViewData["DataItem"] : c.DataItem;
        var propType = DataBinder.Eval(data, "CVPS_VBN_PROP_CODE").ToString();
        ViewContext.Writer.Write("<div class=\"edit_form\"><div style=\"float:left;\" />");
        Html.DevExpress().TextBox(t => {
            t.Name = "CVPS_VBN_PROP_CODE";
            t.Text = propType;
            t.ClientVisible = false;
        }).Render();
        Html.DevExpress().Label(l => {
            l.AssociatedControlName = "VBN_PROP_LOOKUP";
            l.Text = DataBinder.Eval(data, "Desc").ToString();
        }).Render();
        Html.DevExpress().ComboBox(cb => {
            cb.Name = "VBN_PROP_LOOKUP";
            cb.Width = 200;
            cb.SelectedIndex = 0;
            cb.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
            cb.Properties.TextField = "CDGL_LOOKUP_DESC";
            cb.Properties.ValueField = "CDGL_SEQUENCE";
        }).BindList(LogiCAB.Web.Controllers.AssortimentController.getVBNPropCodeValues(propType)).Render();

        ViewContext.Writer.Write("</div><div style=\"float:right;\">");
        Html.DevExpress().Button(btnSettings => {
            btnSettings.Name = "btnUpdateVBNGras";
            btnSettings.ControlStyle.CssClass = "button";
            btnSettings.Text = Extensions.dict(Usr.Language, "save");
            btnSettings.Images.Image.Url = "~/Content/save.png";
            btnSettings.Images.Image.Height = Unit.Pixel(16);
            btnSettings.Images.Image.Width = Unit.Pixel(16);
            btnSettings.Width = Unit.Pixel(100);
            btnSettings.ClientSideEvents.Click = "function(s, e){ gvRequestDetailsVBN.UpdateEdit(); }";
        }).Render();
        Html.DevExpress().Button(btnSettings => {
            btnSettings.Name = "btnCancelVBNGras";
            btnSettings.ControlStyle.CssClass = "button";
            btnSettings.Text = Extensions.dict(Usr.Language, "cancel");
            btnSettings.Images.Image.Url = "~/Content/cancel.png";
            btnSettings.Images.Image.Height = Unit.Pixel(16);
            btnSettings.Images.Image.Width = Unit.Pixel(16);
            btnSettings.Width = Unit.Pixel(100);
            btnSettings.ClientSideEvents.Click = "function(s, e){ gvRequestDetailsVBN.CancelEdit(); }";
        }).Render();
        ViewContext.Writer.Write("</div></div>");
    });
}).Bind(Model.vbnproperties).GetHtml()

@*<table style="margin-top:10px;">
    <tr>
        <td>
                        @Html.DevExpress().Label(s => {
                       s.AssociatedControlName = "cb_newGRASProperty";
                s.Text = "VBN Property Type";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().Label(s => {
                       s.AssociatedControlName = "cb_newGRASPropertyLookup";
                s.Text = "VBN Property Value";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Attributes.CssStyle.Add("font-weight", "bold;");
            }).GetHtml()
        </td>
        <td>

        </td>
    </tr>
<tr>
    <td>
@Html.DevExpress().ComboBox(settings => {
    settings.Name = "cb_newGRASProperty";
    settings.Width = 230;
    settings.Attributes.CssStyle.Add("float", "right");
    settings.Properties.DropDownWidth = 230;
    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
    settings.Properties.EnableCallbackMode = true;
    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
    settings.Properties.TextField = "CDGP_DESC";
    settings.Properties.ValueField = "CDGP_SEQUENCE";
    settings.Properties.ValueType = typeof(int);

    settings.Properties.Columns.Add("CDGP_DESC", "Desc", 230); //todo
    settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s, e) { cb_newGRASPropertyLookup.PerformCallback(); }";

}).BindList(Model.grasPropTypes).Bind(Model.grasPropTypes.FirstOrDefault(x => x.CDGP_SEQUENCE == 70).CDGP_DESC).GetHtml()
</td>
    <td>
@{ Html.RenderAction("GRASPropertyLookupPartial"); }
        </td>
    <td>
        @Html.DevExpress().Button(btnSettings => {
            btnSettings.Name = "AddProperty";
            btnSettings.ControlStyle.CssClass = "button";
            //btnSettings.Attributes.CssStyle.Add("float", "right");
            btnSettings.Text = "Toevoegen";
            btnSettings.Images.Image.Url = "~/Content/cabrequest.png";
            btnSettings.Images.Image.Height = Unit.Pixel(16);
            btnSettings.Images.Image.Width = Unit.Pixel(16);
            btnSettings.Width = Unit.Pixel(140);
        }).GetHtml()
    </td>
    </tr>
</table>

*@
