﻿@using CAB.Domain.Helpers;
@using LogiCAB.Web.Domain;
@{
    int assortSeq = (int)Session["currentAssort"];
}
@model List<LogiCAB.Web.Domain.Cask>
@Html.DevExpress().GridView(s => {
       s.Name = "gvSub2Editing";
       s.KeyFieldName = "seq";
       s.Styles.Table.BackColor = System.Drawing.Color.PaleGoldenrod;
       s.Width = Unit.Pixel(610);
       s.CallbackRouteValues = new { Controller = "Assortiment", Action = "Casks" };
//       s.ClientSideEvents.BeginCallback = "function (s,e) { e.customArgs['id'] = " + Model. + "; }";
       s.SettingsEditing.UpdateRowRouteValues = new { Controller = "Assortiment", Action = "EditCask" };
       s.SettingsEditing.DeleteRowRouteValues = new { Controller = "Assortiment", Action = "DeleteCask" };
       s.SettingsEditing.Mode = GridViewEditingMode.Inline;

       GridViewCommandColumn commandColumn = new GridViewCommandColumn();
       commandColumn.Width = Unit.Pixel(50);
       commandColumn.Visible = true;
       commandColumn.ShowEditButton = true;
       commandColumn.ShowDeleteButton = true;
       s.SettingsCommandButton.EditButton.ButtonType = GridCommandButtonRenderMode.Image;
       s.SettingsCommandButton.EditButton.Image.Url = "~/Content/edit.png";
       s.SettingsCommandButton.DeleteButton.ButtonType = GridCommandButtonRenderMode.Image;
       s.SettingsCommandButton.DeleteButton.Image.Url = "~/Content/delete.png";
       s.SettingsCommandButton.DeleteButton.Image.Height = Unit.Pixel(16);
       s.Columns.Add(commandColumn);
    
    

       s.SettingsPager.PageSize = 50;

       s.Columns.Add(column => {
           column.Caption = Extensions.dict(Usr.Language, "caskcode");
           column.FieldName = "caskcode";
           column.ReadOnly = true;
           column.EditFormSettings.Visible = DefaultBoolean.False;
           //column.EditFormSettings.
       });
       s.Columns.Add(column => {
           column.Caption = "Aantal per fust";
           column.FieldName = "cask_prunit";
           column.ReadOnly = true;
           column.Width = Unit.Pixel(30);
           column.EditFormSettings.Visible = DefaultBoolean.False;
       });
       s.Columns.Add(column => {
           column.Caption = "Fusten per laag";
           column.FieldName = "cask_prlayer";
           column.ReadOnly = true;
           column.Width = Unit.Pixel(30);
           column.EditFormSettings.Visible = DefaultBoolean.False;
       });
       string bulkCask = "";
       switch (Usr.SelectedMaingroup) {
           case 1:
               bulkCask = "CC";
               break;
           case 2:
               bulkCask = "VBA";
               break;
           default:
               bulkCask = "VBA";
               break;
       }
       s.Columns.Add(column => {
           column.Caption = String.Format("per {0}", bulkCask); // Check for selectedMainGroup
           column.FieldName = "cask_prtrolley";
           column.ReadOnly = true;
           column.Width = Unit.Pixel(30);
           column.EditFormSettings.Visible = DefaultBoolean.False;
       });
       s.Columns.Add(column => {
           column.Caption = Extensions.dict(Usr.Language, "cask_prbunch");
           column.FieldName = "cask_prbunch";
           column.Width = Unit.Pixel(30);
           column.SetEditItemTemplateContent(t =>
           {
               var prBunch = (decimal)DataBinder.Eval(t.DataItem, "cask_prbunch");
               var prCask = (decimal)DataBinder.Eval(t.DataItem, "cask_prunit");
               Html.DevExpress().TextBox(tb =>
               {
                   tb.Name = "cask_prbunch";
                   tb.Text = prBunch.ToString();
                   tb.Properties.ClientSideEvents.KeyUp = "function(s,e) { checkPrBunchMod(s,"+ prCask +"); }";

               }).Render();

           });
       });
       s.Columns.Add(column => {
           column.ToolTip = "Toon fust in offerte";
           column.FieldName = "showcask";
           column.Caption = Extensions.dict(Usr.Language, "showcask");
           column.EditFormSettings.Visible = DefaultBoolean.False;
           column.Width = Unit.Pixel(30);
           column.ColumnType = MVCxGridViewColumnType.CheckBox;
           column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
           column.SetDataItemTemplateContent(cs => { // TODO
               Html.DevExpress().CheckBox(cb => {
                   cb.Name = "chk_active" + cs.KeyValue;
                   cb.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", cs.Column.FieldName, cs.KeyValue, Url.Action("UpdateAssortiment", "Assortiment", null));
               }).Bind(DataBinder.Eval(cs.DataItem, cs.Column.FieldName)).Render();
           });
       });
       s.Columns.Add(column => {
           column.ToolTip = "Auto";
           column.FieldName = "transportType";
           column.EditFormSettings.Visible = DefaultBoolean.False;
           column.Caption = Extensions.dict(Usr.Language, "transport_auto");
           column.Width = Unit.Pixel(30);
           column.ColumnType = MVCxGridViewColumnType.CheckBox;
           column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
           column.SetDataItemTemplateContent(cs => { // TODO
               short? tt = DataBinder.Eval(cs.DataItem, cs.Column.FieldName) as short?;
               Html.DevExpress().CheckBox(cb => {
                   cb.Name = "chk_transportVracht" + cs.KeyValue;
                   cb.Checked = tt == 2;
                   //cb.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", cs.Column.FieldName, cs.KeyValue, Url.Action("UpdateAssortiment", "Assortiment", null));
               }).Render();
           });
       });
       s.Columns.Add(column => {
           column.ToolTip = "Lucht";
           column.FieldName = "transportType";
           column.EditFormSettings.Visible = DefaultBoolean.False;
           column.Caption = Extensions.dict(Usr.Language, "transport_air");
           column.Width = Unit.Pixel(30);
           column.ColumnType = MVCxGridViewColumnType.CheckBox;
           column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
           column.SetDataItemTemplateContent(cs => { // TODO
               short? tt = DataBinder.Eval(cs.DataItem, cs.Column.FieldName) as short?;
               Html.DevExpress().CheckBox(cb => {
                   cb.Name = "chk_transportVlugt" + cs.KeyValue;
                   cb.Checked = tt == 1;
                   //cb.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", cs.Column.FieldName, cs.KeyValue, Url.Action("UpdateAssortiment", "Assortiment", null));
                   // todo: add new matrix-entry for vlugt when clicked.
               }).Render();
           });
       });
    }).Bind(Model).GetHtml()
