﻿@using LogiCAB.Web.Domain;
@using CAB.Domain.Helpers;
@{
    ViewBag.Title = "Index";
}
<script>
    var callbackInitDate;
    var command;
    function startCallBack() {
        callbackInitDate = new Date();
    }

    function endedCallback() {
        var currentDate = new Date();
        var time = currentDate - callbackInitDate;
        document.getElementById("callbackTimer").innerHTML = time;
    }
</script>
<h2>@Extensions.dict(Usr.Language, "assortiment")</h2>
<p style="float:right;"><span style="width:100%; background-color: rgb(144, 255, 179); padding:5px;">External</span></p>
<p id="callbackTimer" style="display:none;">test</p>
@Html.Partial("List")
<div style="display: none; position: absolute; z-index: 110; left: 400px; top: 100px; width: 15px; height: 15px" id="preview_div"></div>
<script>
    function OnValueChanged(s, fieldName, keyValue, url) {
        $.ajax({
            type: "POST",
            url: url,
            data: { key: keyValue, field: fieldName, value: s.GetValue() },
            beforeSend: function () {
            },
            success: function (msg) {
            }
        });
    }

    function fnCheckPrBosKeyup(s, e) {
        var prcask = txt_newCaskPrCask.GetValue();
        var prBunch = txt_newNumberPrBos.GetValue();
        if (prcask % prBunch != 0 || prBunch == 0) {
            $(s.GetMainElement()).css('background-color', 'red');
//            $(s.GetInputElement()).css('background-color', '#FFF');
        } else {
            $(s.GetMainElement()).css('background-color', 'green');
        }



    }

    function checkPrBunchMod(s, prCask) {
//        console.log(s.GetValue());
//        console.log(prCask);
//        console.log('checkmod');
        var prcask = prCask;
        var prBunch = s.GetValue();
        if (prcask % prBunch != 0 || prBunch == 0) {
            $(s.GetMainElement()).css('background-color', 'red');
            //            $(s.GetInputElement()).css('background-color', '#FFF');
        } else {
            $(s.GetMainElement()).css('background-color', 'green');
        }
    }

    function addNewCaskAssortiment(s, gras) {
        $('#caskError').html('');
        var prBunch = txt_newNumberPrBos.GetValue();
        var prCask = txt_newCaskPrCask.GetValue();
        if (prBunch == null) prBunch = 0;
        else {
            if (prCask % prBunch != 0 && prBunch != 0) return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddCaskToAssortiment", "Assortiment")',
            data: {
                cdca_seq: cb_newCask.GetValue(),
                prcask: txt_newCaskPrCask.GetValue(),
                prlayer: txt_newCaskPrLayer.GetValue(),
                prtrolley: txt_newCaskPrTrolley.GetValue(),
                grasseq: gras,
                prbunch: prBunch
            },
            beforeSend: function () {
            },
            success: function (msg) {
                if (msg == "Exists") {
                    $('#caskError').html('Bestaat al');
                    $('#caskError').css('color', 'red');
                    $('#caskError').css('font-weight', 'bold');
                } else {
                    $('#caskError').html('');
                    s.SetText("Fust toegevoegd");
                    GrowerAssortGrid.Refresh();
                }
            }
        });
    }

    function setVKCImage(seq) {
        $.ajax({
            type: "POST",
            url: baseUrl + "/Assortiment/setVKCImage",
            data: {
                gras_seq: seq
            },
            success: function (data) {
                $('#previewImage').attr('src', data);
            }
        });
    }
</script>