﻿@{
    ViewBag.Title = "Version";
}
<script type="text/javascript">
    var i = 0;
    var urls = [
        'http://comm.logioffer.nl/',
        'http://109.109.109.25/Test/gfresh/',
        'http://aablotest.logioffer.nl/',
        'http://87.195.40.26/Test/ESM_Shop',
        'http://192.168.1.49/APHTest/',
        'http://109.109.104.231/thermextest/',
        'http://109.109.104.231/vidaverdetest/',
        'http://shop.mixtcreations.nl/Test/App/',
        'http://molenaar.logioffer.nl/Test/App/',
        'http://demo.logioffer.nl/'
    ];

    $(document).ready(function () {
        console.log('Initializing scripts.');
        $('#btn_GetVersions').click(function () {
            $('#versionResultDiv').html('');
            $('#resultTableBody').html('');
            i = 0;
            checkVersion(i);
        });
    });

    function checkVersion(n) {
        var webshopUrl = urls[n] + '/User/getVersion';
        console.log(webshopUrl);
        $.ajax({
            type: "GET",
            url: webshopUrl,
            dataType: "jsonp",
            jsonpCallback: "localJsonpCallback"
        });
    }
    var gJson = null;
    var gSon = [];
    function localJsonpCallback(json) {
        gSon.push(json);
        var resultTableBody = $('#resultTableBody');
        resultTableBody.append('<tr>');
        resultTableBody.append('<td>' + (i+1) + '</td>');
        resultTableBody.append('<td>' + json.Site + '</td>');
        resultTableBody.append('<td>' + json.Major + '</td>');
        resultTableBody.append('<td>' + json.Minor + '</td>');
        resultTableBody.append('<td>' + json.Build + '</td>');
        resultTableBody.append('<td><img src="@Url.Content("~/Content/ok.png")" style="height: 24px; padding: 5px;" /></td>');
        resultTableBody.append('</tr>');
        //        $('#versionResultDiv').append('<span>' + json.Site + ': ' + json.Major + '.' + json.Minor + ' Build: ' + json.Build + '</span><br />');
        console.log(json);
        i++;
        if (i < urls.length) {
            checkVersion(i);
        }
    }

</script>

<h2>Version</h2>
<button id="btn_GetVersions" type="button" name="GetVersions" value="Check versions">Check versions</button>
<br />
<div id="versionResultDiv">
    Results..
</div>

<table id="resultsTable" width="400" border="1">
    <thead>
        <tr>
            <th>#</th>
            <th>Site</th>
            <th>Minor</th>
            <th>Major</th>
            <th>Build</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody id="resultTableBody"></tbody>
</table>