@using CAB.Domain.Helpers;
@using CAB.Domain.Enums;
@using StackExchange.Profiling;
<!DOCTYPE HTML>
<html>
<head>
    <title>LogiCAB - @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/logicab.ico" type="image/x-icon" />
    <!-- IE Fix for console.log -->
    <script>
        if (!window.console) { window.console = { log: function () { } }; }
    </script>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    @Html.DevExpress().GetStyleSheets( 
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }, 
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
    )
    @Html.DevExpress().GetScripts( 
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
        new Script { ExtensionSuite = ExtensionSuite.GridView }, 
        new Script { ExtensionSuite = ExtensionSuite.Editors }
    )
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.dualSlider.0.3.css")" />
    <script src="@Url.Content("~/Scripts/mouseover.js")"></script>
    <script>
        var baseUrl = '@Url.Content("~/")';
        var baseUrlAPI = '@Url.Content("~/api/")';
        var loaderImg = '@Url.Content("~/Content/loader.gif")';
        var successImg = '@Url.Content("~/Content/ok.png")';
        function fnChangeLanguage(s, e) {
            var newSelection = s.GetValue();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetLanguage", "User")',
                data: { id: newSelection },
                success: function (data) {
                    console.log('Language changed to: ' + data);
                    location.reload();
                }
            });
        }
    </script>
    <style>
        .paneTable {
            width:100%;
        }
        #infoPanel {
            font-weight: bold;
            color: red;
        }
    </style>
</head>
<body>
    <div id="int-site-container">
        @Html.DevExpress().Splitter(settings => {
        settings.Name = "splFullScreenMode";
        settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
        settings.FullscreenMode = true;
        settings.Panes.Add(pane => {
            pane.Size = 80;
            pane.Name = "HeaderPane";
            pane.Separators.Visible = DefaultBoolean.False;
            pane.ShowCollapseForwardButton = DefaultBoolean.False;
            pane.ShowCollapseBackwardButton = DefaultBoolean.False;
            pane.Separator.Visible = DefaultBoolean.False;
            pane.AllowResize = DefaultBoolean.False;
            pane.PaneStyle.BackColor = System.Drawing.Color.FromArgb(0xDBF4DE);
            pane.PaneStyle.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);
            pane.PaneStyle.BackgroundImage.ImageUrl = @Url.Content("~/Content/CABheader_c.png");
            pane.PaneStyle.Border.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;
            pane.PaneStyle.BorderBottom.BorderStyle = System.Web.UI.WebControls.BorderStyle.Solid;
            pane.SetContent(() => {
                Html.RenderPartial("HeaderPartial");
            });
        });
        settings.Panes.Add(pane => {
            pane.Panes.Add(navigationPane => {
                navigationPane.Name = "NavigationPane";
                navigationPane.Size = System.Web.UI.WebControls.Unit.Pixel(180);
                navigationPane.ShowCollapseBackwardButton = DefaultBoolean.True;
                navigationPane.SetContent(() => {
                    /*
                     * Navigation & Language
                     */ 
                    Html.RenderPartial("NavigationPartial");
  
                });
            });
            pane.Panes.Add(contentPane => {
                contentPane.Separators.Visible = DefaultBoolean.False;
                contentPane.Name = "ContentPane";
                contentPane.PaneStyle.Border.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;
                contentPane.Panes.Add(mainContentPane => {
                    mainContentPane.ScrollBars = System.Web.UI.WebControls.ScrollBars.Vertical;
                    mainContentPane.ScrollBars = System.Web.UI.WebControls.ScrollBars.Auto;
                    /*
                     * Main Content
                    */
                    mainContentPane.SetContent(RenderBody().ToHtmlString());
                });

            });
        });
        settings.Panes.Add(footerPane => {
            footerPane.Name = "FooterPane";
            footerPane.Size = 60;
            footerPane.Separators.Visible = DefaultBoolean.False;
            footerPane.PaneStyle.BorderBottom.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;
            footerPane.ScrollBars = System.Web.UI.WebControls.ScrollBars.None;
            footerPane.ShowCollapseBackwardButton = DefaultBoolean.True;
            footerPane.ShowCollapseForwardButton = DefaultBoolean.True;
            footerPane.SetContent(() => {
                Html.RenderPartial("FooterPartial");
            });

        });
    }).GetHtml()
        <div style="clear:both;"><br /><br /></div>
    </div>
    <div style="clear:both;"><br /><br /></div>
    @RenderSection("scripts", required: false)
    <script>
        function sendHeartbeat() {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/User/heartbeat")',
                async: true
            });
        }
        $(document).ready(function () {
            heartbeatTimer = setInterval(sendHeartbeat, 30000);
        });
        function fnChangeLanguage(s, e) {
            var newSelection = s.GetValue();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetLanguage", "User")',
                data: { id: newSelection },
                success: function (data) {
                    console.log('Language changed to: ' + data);
                    location.reload();
                }
            });
        }
    </script>
    @*@MiniProfiler.RenderIncludes()*@
</body>
</html>