<!DOCTYPE HTML>
<html>
<head>
    <title>LogiCAB - @ViewBag.Title</title>
    <link rel="shortcut icon" href="http://localhost:9775/Content/logicab.ico" type="image/x-icon" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    @Html.DevExpress().GetStyleSheets( 
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
)
@Html.DevExpress().GetScripts( 
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
    new Script { ExtensionSuite = ExtensionSuite.Editors }
)
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />
</head>
<body>
    <div id="logo">
        <span style="float: left;"><img src="@Url.Content("~/Content/CABheader_l.png")" /></span>
        <span style="float: right;"><img src="@Url.Content("~/Content/CABheader_r.png")" /></span>
    </div>
    <div id="int-site-container">
        <div id="login-container">
    	    @RenderBody()
        </div>
    </div>
</body>
</html>