﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
    ViewBag.Title = "Error";

}

<h2>Error</h2>
<p>
    Onze excuses voor het ongemak, er is een fout opgetreden <br />
</p>