﻿<span style="float:right;">
    <span style="margin-right: 30px;">LogiFlora BV - Witteweg 62 - 1431 GZ Aalsmeer - Tel. 0297 362776 - Fax. 0297 365721 - Email: <a href="mailto:info@logiflora.nl">info@logiflora.nl</a></span>
    <a href="https://www.facebook.com/Logiflorabv"><img src="~/Content/facebook.png" style="margin-right: 20px; height:32px;"></a>
    <a href="http://www.logiflora.nl/"><img src="~/Content/linklogo.jpg" style="margin-right: 20px;height: 32px;"></a>
</span>
<span id="msgSpan" style="display:none;float:left; width: 200px;margin-top:10px;">
    <img src="~/Content/loader.gif" style="height:18px;" />
    <span style="font-size:16px; font-weight:bold;margin-left:10px;color:green;"></span>
</span>
<span id="msgSpan2" style="float:left; width: 300px;margin-top:10px;">
    <p style="font-weight:bold;margin-top:0;">LogiCAB© v.1.7.0.0 / LogiFlora© 2015</p>
</span>
