﻿@{
    string headerImg = "~/Content/CABheader_r.png";
    switch (Usr.SelectedMaingroup)
    {
        case 1: // Plants
            headerImg = "~/Content/CABheader_plants.png";
            break;
        case 2:
            headerImg = "~/Content/CABheader_flowers.png";
            break;
        case 3:
            headerImg = "~/Content/CABheader_fish.png";
            break;
        case 4:
            headerImg = "~/Content/CABheader_misc.png";
            break;
        case 5:
            headerImg = "~/Content/CABheader_driedflowers.png";
            break;
        default:
            headerImg = "~/Content/CABheader_r.png";
            break;
    }
}
<span style="float: left;">
    <a href="#">
        <img src="~/Content/CABheader_l.png" />
    </a>
</span>
<span style="float: right;">
    <img src="@Url.Content(headerImg)" />
</span>
