.html
{
	background-color: #B6D42A;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 612px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
	margin-bottom: -339px;
}

#pu3473
{
	width: 0.01px;
	padding-bottom: 960px;
	left: -100px;
	position: relative;
}

#u3473
{
	z-index: 24;
	width: 960px;
	height: 960px;
	background-color: transparent;
	position: fixed;
	top: -9px;
	left: 50%;
	margin-left: -480px;
}

#U4170_animation
{
	width: 960px;
	height: 960px;
	border: none;
}

#u4365
{
	z-index: 26;
	width: 968px;
	height: 157px;
	border-color: #000000;
	background-color: #2F3E45;
	position: fixed;
	top: -9px;
	left: 50%;
	margin-left: -50%;
}

#u4363
{
	z-index: 2;
	width: 968px;
	height: 74px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#slideshowu486
{
	z-index: 4;
	width: 0.01px;
	height: 0px;
	margin-left: 155px;
	top: -846px;
	position: relative;
}

#u490
{
	position: absolute;
	background-color: transparent;
}

#u490popup
{
	z-index: 5;
}

#u4402
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4411
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4420
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4429
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4438
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4447
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4456
{
	z-index: 18;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4484
{
	z-index: 20;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4610
{
	z-index: 22;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u4556
{
	z-index: 84;
	width: 120px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -385px;
}

#u4551
{
	z-index: 82;
	width: 156px;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: 227px;
}

#u4509
{
	z-index: 36;
	width: 255px;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: -128px;
}

#u4509_img
{
	padding-right: 1px;
}

#u4515-4
{
	z-index: 39;
	width: 768px;
	min-height: 32px;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
	font-weight: bold;
	position: fixed;
	top: 107px;
	left: 50%;
	margin-left: -385px;
}

#u4514
{
	z-index: 38;
	width: 968px;
	height: 64px;
	border-color: #000000;
	background-color: #2F3E45;
	opacity: 0.52;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=52)";
	filter: alpha(opacity=52);
	position: fixed;
	top: 148px;
	left: 50%;
	margin-left: -50%;
}

#u4620-11
{
	z-index: 96;
	width: 194px;
	min-height: 64px;
	position: fixed;
	top: 157px;
	left: 50%;
	margin-left: -383px;
}

#u4620-2
{
	font-size: 15px;
	text-align: left;
	line-height: 18px;
	font-weight: bold;
}

#u4620-4
{
	font-size: 12px;
	text-align: left;
	line-height: 14px;
}

#u4620-8
{
	font-size: 12px;
	text-align: left;
	line-height: 16px;
}

#u4621-10
{
	z-index: 86;
	width: 193px;
	min-height: 64px;
	text-align: right;
	position: fixed;
	top: 157px;
	left: 50%;
	margin-left: 190px;
}

#u4621-2
{
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
}

#u4620-9,#u4621-4
{
	font-size: 12px;
	line-height: 14px;
}

#u4621-8
{
	font-size: 12px;
	line-height: 16px;
}

#u4507-4
{
	z-index: 32;
	width: 768px;
	min-height: 189px;
	background-color: transparent;
	opacity: 0.31;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=31)";
	filter: alpha(opacity=31);
	text-align: center;
	font-size: 154px;
	line-height: 185px;
	color: #FFFFFF;
	font-weight: bold;
	position: fixed;
	top: 231px;
	left: 50%;
	margin-left: -385px;
}

#u4640
{
	z-index: 107;
	width: 200px;
	min-height: 304px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	bottom: 98px;
	left: 98px;
}

#u4364
{
	z-index: 3;
	width: 968px;
	height: 53px;
	bottom: 0px;
	left: 50%;
	margin-left: -50%;
}

#u4598
{
	z-index: 56;
	width: 234px;
	height: 25px;
	-pie-box-shadow: 6px 6px 8px #CECECE;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.19);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.19);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 5px 0px 5px 0px ;
	-webkit-border-radius: 5px 0px 5px 0px ;
	-khtml-border-radius: 5px 0px 5px 0px ;
	border-radius: 5px 0px 5px 0px ;
	position: fixed;
	top: 434px;
	left: 50%;
	margin-left: -118px;
}

#u4601-4
{
	z-index: 69;
	width: 106px;
	min-height: 13px;
	color: #C0C0C0;
	position: fixed;
	top: 440px;
	left: 50%;
	margin-left: -106px;
}

#u4599
{
	z-index: 57;
	width: 234px;
	height: 25px;
	-pie-box-shadow: 6px 6px 8px #CECECE;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.19);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.19);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 5px 0px 5px 0px ;
	-webkit-border-radius: 5px 0px 5px 0px ;
	-khtml-border-radius: 5px 0px 5px 0px ;
	border-radius: 5px 0px 5px 0px ;
	position: fixed;
	top: 468px;
	left: 50%;
	margin-left: -118px;
}

#u4602-4
{
	z-index: 73;
	width: 106px;
	min-height: 13px;
	color: #C0C0C0;
	position: fixed;
	top: 473px;
	left: 50%;
	margin-left: -106px;
}

#u4600
{
	z-index: 68;
	width: 234px;
	height: 25px;
	-pie-box-shadow: 6px 6px 8px #CECECE;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.19);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.19);
	background: #7F7F7F url("../images/u4600-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(48%, #2F3E45),to(#7F7F7F));
	background: -webkit-linear-gradient(top,#2F3E45 48%,#7F7F7F );
	background: -moz-linear-gradient(top,#2F3E45 48%,#7F7F7F );
	background: -ms-linear-gradient(top,#2F3E45 48%,#7F7F7F );
	background: -o-linear-gradient(top,#2F3E45 48%,#7F7F7F );
	background: linear-gradient(to bottom,#2F3E45 48%,#7F7F7F );
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 5px 0px 5px 0px ;
	-webkit-border-radius: 5px 0px 5px 0px ;
	-khtml-border-radius: 5px 0px 5px 0px ;
	border-radius: 5px 0px 5px 0px ;
	position: fixed;
	top: 503px;
	left: 50%;
	margin-left: -118px;
}

#u4603-4
{
	z-index: 77;
	width: 229px;
	min-height: 22px;
	text-align: center;
	color: #B6D42A;
	position: fixed;
	top: 508px;
	left: 50%;
	margin-left: -112px;
}

#u4625
{
	z-index: 25;
	width: 154px;
	height: 158px;
	border-style: none;
	border-color: transparent;
	background-color: #2F3E45;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: fixed;
	bottom: -19px;
	left: 50%;
	margin-left: -77px;
}

#u4579-10
{
	z-index: 58;
	width: 191px;
	min-height: 34px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	color: #2F3E45;
	position: fixed;
	bottom: 88px;
	left: 50%;
	margin-left: -96px;
}

#u4579,#u4579-5
{
	color: #FFFFFF;
}

#u4366
{
	z-index: 27;
	width: 968px;
	height: 106px;
	border-color: #000000;
	background-color: #2F3E45;
	position: fixed;
	bottom: -18px;
	left: 50%;
	margin-left: -50%;
}

#u4532
{
	z-index: 28;
	width: 968px;
	height: 41px;
	border-color: #000000;
	position: fixed;
	bottom: 35px;
	left: 50%;
	margin-left: -50%;
	background: #FFFFFF url("../images/texture.jpg") repeat center center;
}

#u4546
{
	z-index: 54;
	width: 28px;
	background-color: transparent;
	position: fixed;
	bottom: 43px;
	left: 50%;
	margin-left: -380px;
}

#u4546:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px 0px 0px -380px;
}

#u4627
{
	z-index: 81;
	width: 181px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	bottom: -33px;
	left: 50%;
	margin-left: -313px;
}

#u4516
{
	z-index: 43;
	width: 236px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	bottom: 43px;
	left: 50%;
	margin-left: -119px;
}

#ppu4523
{
	width: 0.01px;
	padding-bottom: 27px;
	margin-left: 501px;
	top: -303px;
	margin-bottom: -27px;
	position: relative;
}

#u4523
{
	z-index: 52;
	height: 27px;
	width: 127px;
	vertical-align: top;
	background: url("../images/u4523.png") no-repeat 0px 0px;
	position: fixed;
	bottom: 43px;
	left: 50%;
	margin-left: 117px;
}

#u4523:hover
{
	background: url("../images/u4523-r.png") no-repeat 0px 0px;
}

#u4493
{
	z-index: 30;
	height: 27px;
	width: 125px;
	vertical-align: top;
	background: url("../images/u4493.png") no-repeat 0px 0px;
	position: fixed;
	bottom: 43px;
	left: 50%;
	margin-left: 259px;
}

#u4493:hover
{
	background: url("../images/u4493-r.png") no-repeat 0px 0px;
}

#u4522-7
{
	z-index: 44;
	width: 768px;
	min-height: 24px;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: -384px;
}

body
{
	padding-bottom: 106px;
}

#page .verticalspacer
{
	clear: both;
}

