﻿@using LogiCAB.Web.Domain;
@using CAB.Domain.Helpers;
@using CAB.Data.EF.Models;
@model F_CAB_CD_CAB_CODE
@{
    Session["currentCABSequence"] = Model.CABC_SEQUENCE;
    var imgUrl = Url.Action("ShowImage", "Image");
}
<form>
    <h3>@Model.CABC_CAB_CODE : @Model.CABC_CAB_DESC</h3>
    <table class="orgaInfo">
        <tr>
            <td class="info">Omschrijving</td>
            <td class="info">@Html.DevExpress().TextBox(t => { t.Name = "CABC_CAB_DESC"; }).Bind(Model.CABC_CAB_DESC).GetHtml()</td>
            <td class="info">CAB Code</td>
            <td class="info">@Html.DevExpress().TextBox(t => { t.Name = "CABC_CAB_CODE"; t.ReadOnly = true; }).Bind(Model.CABC_CAB_CODE).GetHtml()</td>
            <td rowspan="10" style="padding-right:10px; background:none; vertical-align:top;">
                <img id="orgaLogo" src="@String.Format("{0}/{1}",imgUrl, Model.CABC_FK_PICTURE)" style="width:350px;" /><br />
                @Html.DevExpress().UploadControl(ucSettings => {
                       ucSettings.Name = "ucCallbacks";
                       ucSettings.CallbackRouteValues = new { Controller = "CAB", Action = "CallbacksImageUpload" };
                       ucSettings.ControlStyle.CssClass = "editorArea";
                       ucSettings.Attributes.CssStyle.Add("float", "left");
                       ucSettings.Attributes.CssStyle.Add("margin", "5px");
                       ucSettings.ShowProgressPanel = true;
                       ucSettings.ClientSideEvents.TextChanged = "function(s, e){ ucCallbacks.Upload(); }";
                       ucSettings.ClientSideEvents.FileUploadComplete = "function(s,e){ console.log(e.callbackData); if(e.callbackData != '') $('#orgaLogo').attr('src', '" + Url.Content("~/Image/ShowImage/") + "' + e.callbackData); }";
                   }).GetHtml()


            </td>
        </tr>
        <tr>
            <td>Group Type</td>
            @*<td>@Model.F_CAB_CD_CAB_GROUP.F_CAB_CD_GROUP_TYPE.CDGT_DESC</td>*@
            <td>@Html.Partial("GroupTypePartial")</td>
            <td></td>
            <td></td>
        </tr>
        <tr style="background-color: rgb(221, 231, 255);">
            <td class="info">CAB Group</td>
            <td class="info">@Html.Partial("CABGroupComboPartial")</td>            
            @*<td class="info">@Html.DevExpress().TextBox(t => { t.Name = "CABC_FK_CAB_GROUP"; }).Bind(Model.F_CAB_CD_CAB_GROUP.CDGR_DESC).GetHtml()</td>*@
            @*<td></td><td></td>*@
            <td class="info">Authorized</td>
            <td class="info">@Html.DevExpress().TextBox(t => { t.Name = "CABC_IS_AUTHORISED"; }).Bind(Model.CABC_IS_AUTHORISED).GetHtml()</td>

        </tr>
        <tr>
            <td>PD Groep</td>
            <td>@Html.Partial("PDGroupPartial")</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4" style="padding:20px;">
                @Html.DevExpress().PageControl(
            settings => {
                settings.Name = "pcCABMisc";
                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                settings.TabPages.Add(p => {
                    p.Text = "Properties";
                    p.Text = Extensions.dict(Usr.Language, "properties");
                    p.Name = "tabCABProperties";
                    p.TabImage.Url = "~/Content/users.png";
                    p.TabImage.Height = Unit.Pixel(16);
                    p.TabImage.Width = Unit.Pixel(16);
                    p.SetContent(() => {
                        Html.RenderPartial("CABPropertiesPartial", Model.F_CAB_CAB_DETAIL.ToList());
                    });
                });
                settings.TabPages.Add(p => {
                    //p.Text = "Casks";
                    p.Text = Extensions.dict(Usr.Language, "casks");
                    p.Name = "tabCABCasks";
                    p.TabImage.Url = "~/Content/map.png";
                    p.TabImage.Height = Unit.Pixel(16);
                    p.TabImage.Width = Unit.Pixel(16);
                    p.SetContent(() => {
                        Html.RenderPartial("CABCasksPartial", Model.F_CAB_CAB_CASK_MATRIX.ToList());
                    });
                });
                settings.TabPages.Add(p => {
                    //p.Text = "VBN";
                    p.Text = Extensions.dict(Usr.Language, "VBN");
                    p.Name = "tabCABVBN";
                    p.TabImage.Url = "~/Content/loginlock.png";
                    p.TabImage.Height = Unit.Pixel(16);
                    p.TabImage.Width = Unit.Pixel(16);
                    p.SetContent(() => {
                        Html.RenderPartial("CABVBNPartial", Model.F_CAB_CAB_VBN_MATRIX.ToList());
                    });
                });

            }).GetHtml()
@Html.DevExpress().Button(b => {
    b.Name = "btn_Refresh";
    b.ControlStyle.CssClass = "button";
    //b.Text = "Update Propertytable";
    b.Text = Extensions.dict(Usr.Language, "update_proptable");
    b.Attributes.CssStyle.Add("margin", "5px;");
    b.Images.Image.Url = "~/Content/refresh.png";
    b.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
    b.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
    b.Width = System.Web.UI.WebControls.Unit.Pixel(100);
    b.ClientSideEvents.Click = "fnRefreshPropertyTable";
}).GetHtml()

            </td>

        </tr>
        <tr>
            <td colspan="4" style="padding:10px;">
                @Html.DevExpress().Button(btnSettings => {
               btnSettings.Name = "btnUpdateCABCode";
               btnSettings.ControlStyle.CssClass = "button";
               //btnSettings.Text = "Opslaan";
               btnSettings.Text = Extensions.dict(Usr.Language, "save");
               btnSettings.Images.Image.Url = "~/Content/save.png";
               btnSettings.Images.Image.Height = Unit.Pixel(16);
               btnSettings.Images.Image.Width = Unit.Pixel(16);
               btnSettings.Style.Add("float", "left");
               btnSettings.Style.Add("margin", "10px");
               btnSettings.Width = Unit.Pixel(100);
               btnSettings.ClientSideEvents.Click = "function(s, e){ gvCABCodes.UpdateEdit(); }";
           }).GetHtml()
                @Html.DevExpress().Button(btnSettings => {
               btnSettings.Name = "btnCancelCABCode";
               btnSettings.ControlStyle.CssClass = "button";
               //btnSettings.Text = "Cancel";
               btnSettings.Text = Extensions.dict(Usr.Language, "cancel");
               btnSettings.Images.Image.Url = "~/Content/cancel.png";
               btnSettings.Images.Image.Height = Unit.Pixel(16);
               btnSettings.Images.Image.Width = Unit.Pixel(16);
               btnSettings.Style.Add("float", "left");
               btnSettings.Style.Add("margin", "10px");

               btnSettings.Width = Unit.Pixel(100);
               btnSettings.ClientSideEvents.Click = "function(s, e){ gvCABCodes.CancelEdit(); }";
           }).GetHtml()
            </td>

        </tr>
    </table>
</form>
