@using CAB.Data.EF.Models;
@{
    var cabSequence = (int)System.Web.HttpContext.Current.Session["currentCABSequence"];
}
@model List<F_CAB_CAB_VBN_MATRIX>
@Html.DevExpress().GridView(settings => {
    settings.Name = "gvCABVBN";
    settings.KeyFieldName = "CVMA_SEQUENCE";
    settings.Width = Unit.Percentage(100);
    settings.CallbackRouteValues = new { Controller = "CAB", Action = "CABVBNPartial" };
    settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "CAB", Action = "CABVBNPartialUpdate" };
    settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "CAB", Action = "CABVBNPartialAdd" };
    settings.SettingsEditing.Mode = GridViewEditingMode.Inline;
    GridViewCommandColumn commandColumn = new GridViewCommandColumn();
    commandColumn.Width = Unit.Pixel(50);
    commandColumn.Visible = true;
    commandColumn.ShowEditButton = true;
    commandColumn.ShowNewButton = true;
    settings.Columns.Add(commandColumn);

    settings.Columns.Add(column => {
        column.FieldName = "F_CAB_CD_CAB_CODE.CABC_CAB_CODE";
        column.Caption = "CAB Code";
        column.SetEditItemTemplateContent(t => {
            var cabSeq = DataBinder.Eval(t.DataItem, "CVMA_FK_CAB_CODE");
            if (cabSeq == null) {
                Html.DevExpress().TextBox(tbs => {
                    tbs.Name = "CVMA_FK_CAB_CODE";
                    tbs.ClientVisible = false;
                }).Bind(cabSequence).Render();
            } else {             
                Html.DevExpress().TextBox(tbs => {
                    tbs.Name = "CVMA_FK_CAB_CODE";
                    tbs.ClientVisible = false;
                }).Bind(DataBinder.Eval(t.DataItem, "CVMA_FK_CAB_CODE")).Render();
            }
            var cabCode = DataBinder.Eval(t.DataItem, "F_CAB_CD_CAB_CODE.CABC_CAB_CODE") as string;
            var cabDesc = DataBinder.Eval(t.DataItem, "F_CAB_CD_CAB_CODE.CABC_CAB_DESC") as string;
            ViewContext.Writer.Write(string.Format("<span style=\"padding:10px;\">{0}: {1}</span>", cabCode, cabDesc));
            
        });
        column.SetDataItemTemplateContent(t => {
            var cabCode = DataBinder.Eval(t.DataItem, "F_CAB_CD_CAB_CODE.CABC_CAB_CODE") as string;
            var cabDesc = DataBinder.Eval(t.DataItem, "F_CAB_CD_CAB_CODE.CABC_CAB_DESC") as string;
            ViewContext.Writer.Write(string.Format("<span style=\"padding:10px;\">{0}: {1}</span>", cabCode, cabDesc));
        });
    });    
    
    settings.Columns.Add(column => {
        column.FieldName = "F_CAB_CD_VBN_CODE.VBNC_VBN_CODE";
        column.Caption = "VBN Code";
        column.SetEditItemTemplateContent(t => {
            Html.RenderPartial("VBNComboPartial");
        });
        column.SetDataItemTemplateContent(t => {
            var vbnCode = DataBinder.Eval(t.DataItem, "F_CAB_CD_VBN_CODE.VBNC_VBN_CODE") as string;
            var vbnDesc = DataBinder.Eval(t.DataItem, "F_CAB_CD_VBN_CODE.VBNC_DESC") as string;
            ViewContext.Writer.Write(string.Format("<span style=\"padding:10px;\">{0}: {1}</span>", vbnCode, vbnDesc));
        });        
    });

}).Bind(Model).GetHtml()                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         