﻿@using LogiCAB.Web.Domain;
@model IQueryable<CABCode>
@{
    ViewBag.Title = "CAB Codes";
    int compatibleControllerVersion = 5175;
    int controllerVersion = ViewContext.Controller.GetType().Assembly.GetName().Version.Build;
    bool viewTooOld = controllerVersion > compatibleControllerVersion;
    string viewname = Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath));
    string viewnameFull = VirtualPath;
}
<h2>CAB Codes</h2>
@*@Html.VersionCheck(compatibleControllerVersion, VirtualPath)*@
@if (viewTooOld) { 
    <table border="1">
        <thead>
            <tr>
                <th>Controller</th>
                <th>View</th>
                <th>ViewName</th>
                <th>Conclusion</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr>
            <td style="padding:3px;">@controllerVersion</td>
            <td style="padding:3px;">@compatibleControllerVersion</td>
            <td style="padding:3px;">@viewnameFull</td>
            <td style="padding:3px;"><p style="color:red;font-weight:bold;">Controller is newer than view</p></td>
            <td style="padding:3px;">
                @Html.DevExpress().Button(s => {
               s.Name = "btnReportViewControllerMismatchJS";
               //s.Text = "Report issue";
               s.Text = Extensions.dict(Usr.Language, "bugreport");
               s.Images.Image.Url = Url.Content("~/Content/needsupdate.png");
               s.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
               s.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
               s.Width = System.Web.UI.WebControls.Unit.Pixel(120);
               s.Height = System.Web.UI.WebControls.Unit.Pixel(16);
               s.Attributes.CssStyle.Add("margin", "5px;");
               s.ClientSideEvents.Click = "function(s,e) {console.log('"+viewnameFull+"'); }";
               //           s.UseSubmitBehavior = false;
           }).GetHtml()

            </td>
        </tr>
    </table>
}
@Html.Partial("List", Model)
<div style="display: none; position: absolute; z-index: 110; left: 400px; top: 100px; width: 15px; height: 15px" id="preview_div"></div>
