﻿@using CAB.Domain.Helpers;
@using CAB.Data.EF.Models
@using LogiCAB.Web.Domain;
@model List<F_CAB_CD_CAB_CODE>
@{
    ViewBag.Title = "CAB Codes";
}
<script>
    function btnMgPressed(s, e) {
        //        console.log(s.GetValue());
        $.ajax({
            type: "POST",
            url: '@Url.Action("setSelectedMainGroupJson", "User")',
            data: { id: mgCombo.GetValue() },
            success: function (msg) {
                gvCABCodes.Refresh();
            }
        });
    }
    function fnSetPropertyLookupList(s, e) {
        var selectedPropType = s.GetValue();
        $.ajax({
            type: "POST",
            url: '@Url.Action("setSelectedPropertyType", "CAB")',
            data: { id: selectedPropType },
            success: function (msg) {
                CABD_VALUE.PerformCallback();
                CABD_VALUE.SetText('Select property');
            }
        });
    }
    function fnRefreshPropertyTable(s, e) {
        var origImgUrl = s.GetImageUrl();
        s.SetImageUrl('@Url.Content("~/Content/loader.gif")');
        s.SetText('Updating..');
        //s.SetText('Logging in...');
        $.ajax({
            type: "POST",
            url: '@Url.Action("RefreshPropertyTable", "CAB")',
            success: function (msg) {
                s.SetText('Completed.');
                s.SetImageUrl('@Url.Content("~/Content/ok.png")');
                setTimeout(function () {
                    s.SetImageUrl(origImgUrl);
                    s.SetText('Update Propertytable');
                }, 5000);
            }
        });
    }
</script>
<h2>CAB Codes</h2>
<table>
    <tr>
        <td>
            @Html.DevExpress().ComboBox(settings => {
    settings.Name = "mgCombo";
    settings.Width = 280;
    settings.SelectedIndex = Usr.SelectedMaingroup-1;
    settings.Properties.DisplayFormatString = "Maingroup: {0}";
    settings.Properties.ValueType = typeof(string);
    
    settings.Properties.Items.Add("Planten", 1);
    settings.Properties.Items.Add("Bloemen", 2);
    settings.Properties.Items.Add("Vissen", 3);
    settings.Properties.Items.Add("Aanverwante producten", 4);
    settings.Properties.Items.Add("Droogbloemen", 5);
    //    settings.Properties.ClientSideEvents.SelectedIndexChanged = "mgComboChanged";
}).GetHtml()            
        </td>
        <td>
            @Html.DevExpress().Button(
            settings => {
                settings.Name = "btnSelectMg";
                settings.Width = 90;
                //settings.Text = "Select";
                settings.Text = Extensions.dict(Usr.Language, "select");
                settings.ClientSideEvents.Click = "btnMgPressed";

            }).GetHtml()            
        </td>
    </tr>
</table>

@Html.Partial("List", Model)
<div style="display: none; position: absolute; z-index: 110; left: 400px; top: 100px; width: 15px; height: 15px" id="preview_div"></div>

