﻿@using CAB.Data.EF.Models
@using LogiCAB.Web.DAL;
@using LogiCAB.Web.Domain;
@{
    var imgUrl = Url.Action("ShowImage", "Image");
}
@model List<F_CAB_CD_CAB_CODE>
@Html.DevExpress().GridView(settings => {
    settings.Name = "gvCABCodes";
    settings.KeyFieldName = "CABC_SEQUENCE";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.CallbackRouteValues = new { Controller = "CAB", Action = "List" };
    settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "CAB", Action = "CABUpdate" };
    settings.SettingsEditing.Mode = GridViewEditingMode.EditForm;
    settings.Settings.UseFixedTableLayout = true;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.TopAndBottom;
    settings.SettingsPager.PageSize = 15;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;

    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowFooter = true;
    settings.Settings.ShowHeaderFilterButton = true;
    settings.SettingsPopup.HeaderFilter.Height = 200;        




    GridViewCommandColumn commandColumn = new GridViewCommandColumn();
    commandColumn.Width = Unit.Pixel(50);
    commandColumn.Visible = true;

    commandColumn.ShowEditButton = true;
    settings.SettingsCommandButton.EditButton.ButtonType = GridCommandButtonRenderMode.Image;
    settings.SettingsCommandButton.EditButton.Image.IsResourcePng = true;
    settings.SettingsCommandButton.EditButton.Image.Url = "~/Content/edit.png";
    settings.Columns.Add(commandColumn);        
    
    settings.Columns.Add(column => {
        column.FieldName = "CABC_CAB_DESC";
        column.Caption = "Omschrijving ";
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.SetDataItemTemplateContent(t => {
            var desc = DataBinder.Eval(t.DataItem, "CABC_CAB_DESC") as string;
            var cabdetails = EFHelper.ctx.F_CAB_CAB_DETAIL.Where(x => x.CABD_FK_CAB_CODE == (int)t.KeyValue).ToList();
            var props = string.Empty;
            foreach (var d in cabdetails) {
                props += d.CABD_VALUE + ", ";
            }
            props = props.Substring(0, props.Length - 3);
            ViewContext.Writer.Write(String.Format("{0}<br />{1}", desc, props));

        });        
    });    
    
    settings.Columns.Add(column => {
        column.FieldName = "CABC_CAB_CODE";
        column.Caption = "Code";
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;             
    });    

    settings.Columns.Add(column => {
        column.Caption = "Photo";
        column.SetDataItemTemplateContent(t => {
            var img = (int)DataBinder.Eval(t.DataItem, "CABC_FK_PICTURE");
            ViewContext.Writer.Write(String.Format("<img src=\"{0}/{1}\" height=\"80\" />", imgUrl, img));
        });
    });
    
    settings.Columns.Add(column => {
        column.FieldName = "F_CAB_CD_CAB_GROUP.CDGR_DESC";
        column.Caption = "Group";
        column.Width = System.Web.UI.WebControls.Unit.Pixel(120);
    });
  
    settings.Columns.Add(column => {
        column.FieldName = "CABC_IS_AUTHORISED";
        column.Caption = "Is Geauthoriseerd";
        column.ColumnType = MVCxGridViewColumnType.CheckBox;
        column.Width = System.Web.UI.WebControls.Unit.Pixel(120);
    });

    settings.SetEditFormTemplateContent(c => {
        F_CAB_CD_CAB_CODE cabcode = Model.Single(x => x.CABC_SEQUENCE == (int)c.KeyValue);
        Html.RenderPartial("CABEditPartial", cabcode);
    });
    
}).Bind(Model).GetHtml()
