﻿<script src="~/Scripts/knockout-3.2.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<h2>Properties</h2>
CAB Prop Groups:
<select data-bind="options: CABPropGroups, optionsText: 'Description', value: selectedCABPropGroup, event: { change: selectedCABPropGroups }"></select>
<select data-bind="options: CABPropTypes, optionsText: 'Description', value: selectedCABPropType, event: { change: selectedCABPropTypes }"></select>
<hr />
<table>
    <tr>
        <td style="background-color:red; width:50px;"></td>
        <td>Double space</td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <select data-bind="options: CABPropLookups, optionsText: 'Value', value: selectedCABPropLookup1,optionsAfterRender: setOptionColor" size=" 25" style="width:225px;"></select>
        </td>
        <td>
            <select data-bind="options: CABPropLookups, optionsText: 'Value', value: selectedCABPropLookup2,optionsAfterRender: setOptionColor" size=" 25" style="width:225px;"></select>
        </td>
        <td style="vertical-align:top;">
            <table border="1">
                <tr>
                    <td>
                        <input data-bind="value: newPropertyValue" />
                    </td>
                    <td>
                        <input data-bind="click: addNewProperty, value: addButtonText" type="button" value="Add property" style="height: 32px; font-weight: bold; font-size: 16px; color: blue;" id="addPropertyButton" />
                    </td>
                </tr>
            </table>
            <table border="1">
                <tr>
                    <td>
                        <div data-bind="visible: selectedCABPropLookup1">
                            <h2 data-bind="text: selectedCABPropLookup1() ? selectedCABPropLookup1().Value : 'unknown'"></h2>
                        </div>
                    </td>
                    <td>
                        <div data-bind="visible: fromAndToSelected">
                            <input data-bind="event: { click: executePropertySwap }" type="button" value="Execute" style="height: 48px; font-weight: bold; font-size: 19px; color: red;" />
                        </div>
                    </td>
                    <td>
                        <div data-bind="visible: selectedCABPropLookup2">
                            <h2 data-bind="text: selectedCABPropLookup2() ? selectedCABPropLookup2().Value : 'unknown'"></h2>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div data-bind="visible: swapExecuted">
                            <input data-bind="event: { click: selectedCABPropTypes }" type="button" value="Refresh list" style="height: 48px; font-weight: bold; font-size: 19px; color: green;" />
                        </div>

                    </td>
                    <td>
                        <div data-bind="visible: swapExecuted">
                            <h2>Affected CAB-codes</h2>
                        </div>
                    </td>
                    <td>
                        <div data-bind="visible: swapExecuted">
                            <h2 data-bind="text: resultText()"></h2>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <input data-bind="event: { click: syncProperties }, value: syncButtonText" type="button" value="Run SyncProperties(Users will see blank properties for 3-4 minutes!)" style="height: 32px; font-weight: bold; font-size: 12px; color: red;" id="syncButton" />
            <img src="@Url.Content("~/Content/loader.gif")" id="syncLoader" style="display:none;" />
        </td>

    </tr>

</table>
<script src="~/Scripts/CABProperties.js?r=2"></script>
<script>
    var viewModel = new CABProperties();
    ko.applyBindings(viewModel);
</script>