﻿@using LogiCAB.Web.DAL;
@{
    ViewBag.Title = "Properties";
    var propertyGroups = from cdpg in EFHelper.ctx.F_CAB_CD_CAB_PROP_GROUP select cdpg;

}
<script>
    function propGroupChanged(s, e) {
        $.ajax({
            type: "POST",
//            url: baseUrl + "/CAB/setPropGroup",
            url: '@Url.Action("setPropGroup", "CAB")',
            data: {
                id: s.GetValue()
            },
            success: function (data) {
                cbpPropType.PerformCallback();
            }
        });
    }

    function fillPropertyLists() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("getPropertyLookups", "CAB")',
            success: function (data) {
                $("#PropertyLookupDiv1").empty();
                $("#PropertyLookupDiv2").empty();

                $("#PropertyLookupDiv1").append('<select id="PropertyLookup1" name="PropertyLookup1" size="20" style="width:100%;background-color: #ff6161;"></select>');
                $("#PropertyLookupDiv2").append('<select id="PropertyLookup2" name="PropertyLookup2" size="20" style="width:100%;background-color: #92ff7d;"></select>');
                $('#PropertyLookup1').click(function (e) { showPlanOfChange1($('#PropertyLookup1').val()); });
                $('#PropertyLookup2').click(function (e) { showPlanOfChange2($('#PropertyLookup2').val()); });
                var PropertyLookup1 = $('#PropertyLookup1');
                var PropertyLookup2 = $('#PropertyLookup2');
                for (var i = 0; i < data.length; i++) {
                    if (
                        (data[i].CDPL_LOOKUP_DESC.indexOf(' ') == data[i].CDPL_LOOKUP_DESC.length - 1) || // After
                        (data[i].CDPL_LOOKUP_DESC.indexOf(' ') == 0) // Before
                        ) {
                        PropertyLookup1.append($('<option>', { value: data[i].CDPL_SEQUENCE }).addClass('containsSpace').text(data[i].CDPL_LOOKUP_DESC));
                        PropertyLookup2.append($('<option>', { value: data[i].CDPL_SEQUENCE }).addClass('containsSpace').text(data[i].CDPL_LOOKUP_DESC));
                    } else {
                        PropertyLookup1.append($('<option>', { value: data[i].CDPL_SEQUENCE }).addClass('missingPropertyLink').text(data[i].CDPL_LOOKUP_DESC));
                        PropertyLookup2.append($('<option>', { value: data[i].CDPL_SEQUENCE }).addClass('missingPropertyLink').text(data[i].CDPL_LOOKUP_DESC));
                    }

                }
            }
        });
    }

    function propTypeChanged(s, e) {
        $.ajax({
            type: "POST",
            //url: baseUrl + "/CAB/setPropType",
            url: '@Url.Action("setPropType", "CAB")',
            data: {
                id: s.GetValue()
            },
            success: function (dataBool) {
                fillPropertyLists();
            }
        });
    }
    function showPlanOfChange1(propValue) {
        $('#fromProp').html($('#PropertyLookup1 option[value="' + propValue + '"]').html());
        $('#planPanel').show();
    }
    function showPlanOfChange2(propValue) {
        $('#toProp').html($('#PropertyLookup2 option[value="' + propValue + '"]').html());
        $('#planPanel').show();
    }

    function executePropertyChange() {
        $.ajax({
            type: "POST",
            //url: baseUrl + "/CAB/executePropertyChange",
            url: '@Url.Action("executePropertyChange", "CAB")',
            data: {
                correct: $('#PropertyLookup2').val(),
                notcorrect: $('#PropertyLookup1').val()
            },
            success: function (data) {
                $('#executeResult').html(data + ' CAB-Details affected.');
                fillPropertyLists();
            }
        });
    }

    function executePropertyAdd() {
        $.ajax({
            type: "POST",
            //url: baseUrl + "/CAB/executeAddProperty",
            url: '@Url.Action("executeAddProperty", "CAB")',
            data: {
                value: txtNewProperty.GetValue()
            },
            success: function (data) {
                $('#executeResultAdd').html(txtNewProperty.GetValue() + ' Added.');
                fillPropertyLists();
            }
        });
    }
</script>
<style>
    .containsSpace {
        background-color: rgb(22, 245, 227);
    }
</style>
<h2>Properties</h2>
<table>
    <tr>
        <td>
            @Html.DevExpress().Label(s => {
           s.AssociatedControlName = "comboBox1";
           //s.Text = "Property Group";
           s.Text = Extensions.dict(Usr.Language, "prop_group");
            }).GetHtml()
           @Html.DevExpress().ComboBox(
                settings => {
                    settings.Name = "comboBox1";
                    settings.Width = 180;
                    settings.Properties.TextField = "CDPG_DESC";
                    settings.Properties.ValueField = "CDPG_SEQUENCE";                    
                    //settings.SelectedIndex = 0;
                    settings.Properties.ClientSideEvents.Init = "function(s,e) { if(s.GetValue() == null) { s.SetText('Select Property Group'); } }";
                    settings.Properties.ClientSideEvents.SelectedIndexChanged = "propGroupChanged";
                }
            ).BindList(propertyGroups).GetHtml()
        </td>
        <td>
            @*@Html.DevExpress().Label(s => {
           s.AssociatedControlName = "comboBox2";
           s.Text = "Property Type";
            }).GetHtml()*@
            @Html.Partial("PropertyCallbackPartial")
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3">
            <div style="width:150px; height:20px;background-color: rgb(22, 245, 227);">Bevaat spaties.</div>
        </td>
    </tr>
    <tr>
        
        <td>
            <h3>Not Correct</h3>
            <div id="PropertyLookupDiv1" style="width:100%;"></div>
        </td>
        <td>
            <h3>Correct</h3>
            <div id="PropertyLookupDiv2" style="width:100%;"></div>
        </td>
        <td style="padding-left:15px; display:none;" id="planPanel">
            <p>Property:</p>
            <div id="fromProp" style="font-size:18px; font-weight:bold;"></div>
            <br />
            <p>Becomes:</p>
            <div id="toProp"  style="font-size:18px; font-weight:bold;"></div>
            <br />
            <p style="color:red; font-style:italic; text-decoration:underline; font-weight:bold;">Old property will be deleted.</p>
            @Html.DevExpress().Button(s => {
                s.Name = "btnPropertyExectute";
                //s.Text = "Execute";
                s.Text = Extensions.dict(Usr.Language, "execute");
                s.Images.Image.Url = Url.Content("~/Content/ok.png");
                s.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                s.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
                s.Width = System.Web.UI.WebControls.Unit.Pixel(120);
                s.Height = System.Web.UI.WebControls.Unit.Pixel(32);           
                s.ClientSideEvents.Click = "executePropertyChange";
                s.UseSubmitBehavior = false;
            }).GetHtml()
            <div id="executeResult" style="color:red; font-size:18px;font-weight:bold;"></div>
        </td>
    </tr>
    </table>
<hr />
<table>
    
    <tr>
        <td>
            @Html.DevExpress().Label(s => {
           s.AssociatedControlName = "txtNewProperty";
           //s.Text = "Property value:";
           s.Text = Extensions.dict(Usr.Language, "prop_value");
           s.Attributes.CssStyle.Add("margin", "5px;");
                }).GetHtml()
            @Html.DevExpress().TextBox(s => {
                s.Name = "txtNewProperty";
                s.Attributes.CssStyle.Add("margin", "5px;");
                s.Width = System.Web.UI.WebControls.Unit.Pixel(200);
            }).GetHtml()
            @Html.DevExpress().Button(s => {
                s.Name = "btnPropertyAddExectute";
                //s.Text = "Add";
                s.Text = Extensions.dict(Usr.Language, "add");
                s.Images.Image.Url = Url.Content("~/Content/ok.png");
                s.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                s.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
                s.Width = System.Web.UI.WebControls.Unit.Pixel(120);
                s.Height = System.Web.UI.WebControls.Unit.Pixel(16);
                s.Attributes.CssStyle.Add("margin", "5px;");   
                s.ClientSideEvents.Click = "executePropertyAdd";
                s.UseSubmitBehavior = false;
            }).GetHtml()
        </td>
        <td style="vertical-align:top; padding-top:20px;">

            <div id="executeResultAdd" style="color:red; font-size:16px;font-weight:bold;"></div>
        </td>
    </tr>
</table>


