﻿@using CAB.Data.EF.Models;
@using LogiCAB.Web.DAL;
@model List<F_CAB_CD_CAB_PROP_LOOKUP>
    @Html.DevExpress().CallbackPanel(
        settings => {
            settings.Name = "cbpPropLookup";
            settings.CallbackRouteValues = new { Controller = "CAB", Action = "PropertyLookupCallbackPartial" };
            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            if (Model != null) {
                settings.SetContent(() => {
                    ViewContext.Writer.Write("<b>hi</b>");
                    //if (Model != null) {
                    //    ViewContext.Writer.Write("<td><h3>Prop1</h3>");
                    //    Html.DevExpress().ListBox(s => {
                    //        s.Name = "Prop1";
                    //        s.Width = 200;
                    //        s.Height = 550;
                    //        s.Properties.TextField = "CDPL_LOOKUP_VALUE";
                    //        s.Properties.ValueField = "CDPL_SEQUENCE";
                    //    }).BindList(Model).GetHtml();
                    //    ViewContext.Writer.Write("</td><td><h3>Prop2</h3>");
                    //    Html.DevExpress().ListBox(s => {
                    //        s.Name = "Prop2";
                    //        s.Width = 200;
                    //        s.Height = 550;
                    //        s.Properties.TextField = "CDPL_LOOKUP_VALUE";
                    //        s.Properties.ValueField = "CDPL_SEQUENCE";
                    //        //    s.Properties.SelectionMode = ListEditSelectionMode.CheckColumn;

                    //    }).BindList(Model).GetHtml();
                    //    ViewContext.Writer.Write("</td>");
                    //   }
                });
            }
        }).GetHtml();
}
