﻿<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<style>
    .top-buffer { margin-top:20px; }
    #searchCAB, #searchVBN { 
        width: 200px; 
        float: right;
    }
</style>
<script>
    var apiUrl = "http://api.logicab.nl/authtest";
    var apiUrlPropGroups = "http://api.logicab.nl/api/v1/propgroups";
    var apiUrlPropTypes = "http://api.logicab.nl/api/v1/proptypes/";
    var apiUrlPropLookups = "http://api.logicab.nl/api/v1/proplookups/";
    var apiUrlVBNPropLookups = "http://api.logicab.nl/api/v1/vbnproplookups/";
    $(document).ready(function () {
        var USERNAME = "bloemk";
        var PASSWORD = "bloemk";
        
        $.ajaxSetup({
            headers: {
                'Authorization': "Basic " + btoa(USERNAME + ":" + PASSWORD)
            }
        });
        getPropGroups();

        $('#searchCAB').keyup(function () {
            var val = $('#searchCAB').val();
            val = val.toLowerCase();
            if(val != "") {
                $('#cabPropLookups td[data-lookupvalue*="' + val + '"]').show();
                $('#cabPropLookups td:not([data-lookupvalue*="' + val + '"])').hide();
                $('#cabSearchResultCount').html( $('#cabPropLookups td[data-lookupvalue*="' + val + '"]').length );
            } else {
                $('#cabPropLookups td').show();
                $('#cabSearchResultCount').html($('#cabPropLookups td').length);
            }
        });
        $('#searchVBN').keyup(function () {
            var val = $('#searchVBN').val();
            val = val.toLowerCase();
            if (val != "") {
                $('#vbnPropLookups td[data-lookupvalue*="' + val + '"]').show();
                $('#vbnPropLookups td:not([data-lookupvalue*="' + val + '"])').hide();
                $('#vbnSearchResultCount').html($('#vbnPropLookups td[data-lookupvalue*="' + val + '"]').length);
            } else {
                $('#vbnPropLookups td').show();
                $('#vbnSearchResultCount').html($('#vbnPropLookups td').length);
            }
        });

    });

    function adjustProgress(val) {
        $('.progress-bar').html(val + '%');
        $('.progress-bar').attr('aria-valuenow', val);
        $('.progress-bar').css('width', val + '%');
    }

    function getPropLookups(id) {
        // also get vbn prop
        adjustProgress(0);
        $.ajax({
            type: "GET",
            url: apiUrlPropLookups + id,
            dataType: 'json',
            async: false,
            //data: '{ "comment" }',
            success: function (data) {
                console.log(data);
//                $('#cabPropTypes').html('');
                $('#cabPropLookups').html('');
                for (var i = 0; i < data.length; i++) {
                    $('#cabPropLookups').append('<tr><td data-lookupvalue="' + data[i].CDPL_LOOKUP_VALUE.toLowerCase() + '">' + data[i].CDPL_LOOKUP_VALUE + '</td></tr>');
//                    $('#cabPropTypes').append('<button type="button" class="btn btn-info" style="margin-right:10px;" onclick="getPropLookups(' + data[i].CDPT_SEQUENCE + ');">' + data[i].CDPT_DESC + '</button>');
                }
                $('#cabSearchResultCount').html($('#cabPropLookups td').length);
                adjustProgress(100);
            }
        });
    }

    function getVBNPropLookups(id) {
        adjustProgress(0);
        $.ajax({
            type: "GET",
            url: apiUrlVBNPropLookups + id,
            dataType: 'json',
            async: false,
            //data: '{ "comment" }',
            success: function (data) {
                console.log(data);
                //                $('#cabPropTypes').html('');
                $('#vbnPropLookups').html('');
                for (var i = 0; i < data.length; i++) {
                    $('#vbnPropLookups').append('<tr><td data-lookupvalue="' + data[i].CDVL_LOOKUP_DESC.toLowerCase() + '">' + data[i].CDVL_LOOKUP_DESC + '</td></tr>');
                    //                    $('#cabPropTypes').append('<button type="button" class="btn btn-info" style="margin-right:10px;" onclick="getPropLookups(' + data[i].CDPT_SEQUENCE + ');">' + data[i].CDPT_DESC + '</button>');
                }
                $('#vbnSearchResultCount').html($('#vbnPropLookups td').length);
                adjustProgress(100);
            }
        });
        
    }


    function getPropTypes(id) {
        adjustProgress(0);
        $.ajax({
            type: "GET",
            url: apiUrlPropTypes + id,
            dataType: 'json',
            async: false,
            //data: '{ "comment" }',
            success: function (data) {
                console.log(data);
                $('#cabPropTypes').html('');
                for (var i = 0; i < data.length; i++) {
                    $('#cabPropTypes').append('<button type="button" class="btn btn-info" style="margin-right:10px;" onclick="getPropLookups(' + data[i].CDPT_SEQUENCE + ');getVBNPropLookups(' + data[i].CDPT_FK_VBN_PROP_TYPE + ');">' + data[i].CDPT_DESC + '</button>');
                }
                adjustProgress(100);
            }
        });
    }

    function getPropGroups() {
        adjustProgress(0);
        $.ajax({
            type: "GET",
            url: apiUrlPropGroups,
            dataType: 'json',
            async: false,
            //data: '{ "comment" }',
            success: function (data) {                
                console.log(data);
                $('#cabPropGroups').html('');
                console.log("anything?");
                for (var i = 0; i < data.length; i++) {
                    $('#cabPropGroups').append('<button type="button" class="btn btn-info" style="margin-right:10px;" onclick="getPropTypes('+data[i].CDPG_SEQUENCE+');">' + data[i].CDPG_DESC  + '</button>');
                }
                adjustProgress(100);
            }
        });
    }

</script>
<div style="width:100%; height:100%;">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Test</h1>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="." id="cabPropGroups">

                </div>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="." id="cabPropTypes">

                </div>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title pull-left" style="padding-top: 7.5px;"><i class="glyphicon glyphicon-star"></i> CAB</h4>
                        <div class="input-group">
                            <input id="searchCAB" type="text" class="form-control" placeholder="Search">
                            <div class="pull-right" style="margin-right:10px;"><h4><span id="cabSearchResultCount"></span></h4></div>
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                                <!-- <button class="btn btn-primary"><i class="glyphicon glyphicon-wrench"></i></button>-->
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody id="cabPropLookups"></tbody>
                        </table>
                    </div>
                    <!-- Table -->

                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title pull-left" style="padding-top: 7.5px;"><i class="glyphicon glyphicon-star"></i> VBN</h4>
                        <div class="input-group">
                            <input id="searchVBN" type="text" class="form-control" placeholder="Search">
                            <div class="pull-right" style="margin-right:10px;"><h4><span id="vbnSearchResultCount"></span></h4></div>
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                                <!-- <button class="btn btn-primary"><i class="glyphicon glyphicon-wrench"></i></button>-->
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody id="vbnPropLookups"></tbody>
                        </table>
                    </div>
                    <!-- Table -->

                </div>
            </div>
        
        </div>
    </div>





</div>