﻿@using CAB.Data.EF.Models;
@using LogiCAB.Web.Domain;
@using LogiCAB.Web.DAL;
@using CAB.Domain.Helpers;
@using CAB.Domain.Enums;
@model IQueryable<F_CAB_DELIVERY_MOMENT_DETAILS>
@{
    string defaultAddress = "1431 GZ, Aalsmeer, Witteweg62";
    int currentHandshake = (int)ViewBag.CurrentHandshake;
    List<F_CAB_HANDSHAKE_OPTION_FIELDS> handshakeFields = new List<F_CAB_HANDSHAKE_OPTION_FIELDS>();
    if (Usr.OrganisationType == OrgaType.Grower) {
        handshakeFields = EFHelper.ctx.F_CAB_HANDSHAKE_OPTION_FIELDS.Where(x => x.HNOF_AUTH_LEVEL_GROWER.Contains("R")).ToList();
    } else {
        handshakeFields = EFHelper.ctx.F_CAB_HANDSHAKE_OPTION_FIELDS.Where(x => x.HNOF_AUTH_LEVEL_BUYER.Contains("R")).ToList();
    }
    F_CAB_HANDSHAKE_OPTION_FIELDS deliveryField = handshakeFields.SingleOrDefault(x => x.HNOF_FIELD == "HNDO_LATEST_DELIVERY_TIME");
    bool allowEdit = ((Usr.OrganisationType == OrgaType.Buyer || Usr.OrganisationType == OrgaType.Comm) && deliveryField.HNOF_AUTH_LEVEL_BUYER.Contains("W")) || (Usr.OrganisationType == OrgaType.Grower && deliveryField.HNOF_AUTH_LEVEL_GROWER.Contains("W"));
}
@Html.DevExpress().GridView(g => {
    g.Name = "gvDelMoments";
    g.KeyFieldName = "DMDT_SEQUENCE";
    g.Width = System.Web.UI.WebControls.Unit.Pixel(800);
    g.CallbackRouteValues = new { Controller = "Handshake", Action = "DeliveryMoments", id = currentHandshake };
    g.SettingsEditing.UpdateRowRouteValues = new { Controller = "Handshake", Action = "UpdateDeliveryMoments", id = currentHandshake };
    g.SettingsEditing.AddNewRowRouteValues = new { Controller = "Handshake", Action = "AddDeliveryMoments", id = currentHandshake };
    g.SettingsEditing.DeleteRowRouteValues = new { Controller = "Handshake", Action = "DeleteDeliveryMoments", id = currentHandshake };
    g.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;    
    GridViewCommandColumn cc = new GridViewCommandColumn();
    cc.Width = System.Web.UI.WebControls.Unit.Pixel(50);
    cc.Visible = true;
    
    cc.ShowDeleteButton = true;
    g.SettingsCommandButton.DeleteButton.ButtonType = GridCommandButtonRenderMode.Image;
    g.SettingsCommandButton.DeleteButton.Image.Url = "~/Content/delete.png";
    g.SettingsCommandButton.DeleteButton.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
    g.SettingsCommandButton.DeleteButton.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);

    cc.ShowEditButton = true;
    g.SettingsCommandButton.EditButton.ButtonType = GridCommandButtonRenderMode.Image;
    g.SettingsCommandButton.EditButton.Image.Url = "~/Content/edit.png";
    g.SettingsCommandButton.EditButton.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
    g.SettingsCommandButton.EditButton.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
    
//    if (allowEdit) {
        g.Columns.Add(cc);
//    }


    // TODO: Setup Partial with the layout of adding new Delivery Moment
        g.SetEditFormTemplateContent(t => {
            ViewContext.Writer.Write(String.Format("<p style=\"margin:5px;\">Add DeliveryMoment for day: {0}", 1));
            Html.RenderPartial("DeliveryMomentsAddPartial");
        });

    g.ClientSideEvents.EndCallback = "OnEndDMCallback";
    

    g.SettingsPager.PageSize = 100;

    
    g.SetGroupRowTemplateContent(t => {
        // TODO: Setup selected parameters, Clientside.
        int day = (int)DataBinder.Eval(t.DataItem, "DMDT_WEEKDAY_NUMBER");
        string htmlContent = String.Empty;
        if (allowEdit) {
            htmlContent = String.Format("<div style=\"border-bottom:1px solid grey;\"><span style=\"float:left;\">{0}</span><span style=\"float:right; cursor:pointer;\" onclick=\"addDeliveryMoment({2}, '{3}', {4});\"><img src=\"{1}\" width=\"16\" height=\"16\" /></span><div style=\"clear:both;\"></div></div>", day.Day(), Url.Content("~/Content/plus.png"), day, day.Day(), currentHandshake);
        } else {
            htmlContent = String.Format("<div style=\"border-bottom:1px solid grey;\"><span style=\"float:left;\">{0}</span><div style=\"clear:both;\"></div></div>", day.Day());            
        }
        ViewContext.Writer.Write(htmlContent);
    });

    g.SettingsBehavior.AutoExpandAllGroups = true;
  
    g.Columns.Add(column => {
        column.FieldName = "DMDT_WEEKDAY_NUMBER";
        column.Caption = Extensions.dict(Usr.Language, "weekday");
        column.SortIndex = 0;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Ascending;
        column.GroupIndex = 0;
        column.SetDataItemTemplateContent(t => {
            int day = (int)DataBinder.Eval(t.DataItem, "DMDT_WEEKDAY_NUMBER");
            ViewContext.Writer.Write(day.Day());
        });
    });
    g.Columns.Add(column => {
        column.FieldName = "DMDT_DELIVERY_TYPE";
        column.Caption = Extensions.dict(Usr.Language, "deliverytype");
        column.ColumnType = MVCxGridViewColumnType.ComboBox;
        column.SetDataItemTemplateContent(t => {
            string dtype = (string)DataBinder.Eval(t.DataItem, "DMDT_DELIVERY_TYPE");
            ViewContext.Writer.Write(dtype.DeliveryDesc());
        });
    });
    g.Columns.Add(column => {
        column.FieldName = "DMDT_FK_ADDR_SEQ_DELIVERY";
        column.Caption = Extensions.dict(Usr.Language, "deliveryaddress");
        column.SetDataItemTemplateContent(t => {
            int? addr= (int?)DataBinder.Eval(t.DataItem, "DMDT_FK_ADDR_SEQ_DELIVERY");
            if (addr == null) {
                ViewContext.Writer.Write(defaultAddress);
            } else {
                F_CAB_ADDRESS faddr = (F_CAB_ADDRESS)DataBinder.Eval(t.DataItem, "DMDT_FK_ADDR_SEQ_DELIVERY.F_CAB_ADDRESS");
                ViewContext.Writer.Write(faddr.AddressStr());
            }            
        });        
    });
    g.Columns.Add(column => {
        column.FieldName = "DMDT_MAX_ORDER_TIME";
        column.Caption = Extensions.dict(Usr.Language, "max_ordertime");
/*        column.SetDataItemTemplateContent(t => {
            string dtype = (string)DataBinder.Eval(t.DataItem, "DMDT_DELIVERY_TYPE");
            ViewContext.Writer.Write(dtype.DeliveryDesc());
        });*/
    });
    g.Columns.Add(column => {
        column.FieldName = "DMDT_MAX_DELIVERY_TIME";
        column.Caption = Extensions.dict(Usr.Language, "max_deliverytime");
        /*        column.SetDataItemTemplateContent(t => {
                    string dtype = (string)DataBinder.Eval(t.DataItem, "DMDT_DELIVERY_TYPE");
                    ViewContext.Writer.Write(dtype.DeliveryDesc());
                });*/
    });                
}).Bind(Model).GetHtml()