﻿
<p style="margin:5px;">Add DeliveryMoment for day</p>
@*<input type="text" name="dayText" id=""/>*@
<select id="DMDT_WEEKDAY_NUMBER" name="DMDT_WEEKDAY_NUMBER">
    <option value="0">Zondag</option>
    <option value="1">Maandag</option>
    <option value="2">Dinsdag</option>
    <option value="3">Woensdag</option>
    <option value="4">Donderdag</option>
    <option value="5">Vrijdag</option>
    <option value="6">Zaterdag</option>
</select>

@*<input type="text" name="DMDT_MAX_ORDER_TIME" id="DMDT_MAX_ORDER_TIME" placeholder="Ordertijd" />*@
@*<input type="text" name="DMDT_MAX_DELIVERY_TIME" id="DMDT_MAX_DELIVERY_TIME" placeholder="Levertijd" />*@
<table>
    <tr>
        <td>Ordertijd</td>
        <td>
            <input type="text" name="DMDT_MAX_ORDER_TIME" id="DMDT_MAX_ORDER_TIME" placeholder="Ordertijd" />
            @*@Html.DevExpress().TimeEdit(s => {
    s.Name = "DMDT_MAX_ORDER_TIME";
    //s.Properties.UseMaskBehavior = true;
    s.Properties.EditFormat = EditFormat.Custom;
    s.Properties.EditFormatString = "HH:mm";
    //s.Date = endDateTime;
    //s.Properties.TimeSectionProperties.Visible = true;
    s.Properties.NullDisplayText = "Ordertijd";
    s.Attributes.CssStyle.Add("margin", "5px;");
}).GetHtml()*@
        </td>
        <td>
            Levertijd
        </td>
        <td>
            <input type="text" name="DMDT_MAX_DELIVERY_TIME" id="DMDT_MAX_DELIVERY_TIME" placeholder="Levertijd" />
            @*@Html.DevExpress().TimeEdit(s => {
                s.Name = "DMDT_MAX_DELIVERY_TIME_";
                //s.Properties.UseMaskBehavior = true;
                s.Properties.EditFormat = EditFormat.Custom;
                s.Properties.EditFormatString = "HH:mm";

                //s.Date = endDateTime;
                //s.Properties.TimeSectionProperties.Visible = true;
                //s.Properties.CalendarProperties.
                s.Properties.NullDisplayText = "Levertijd";
                s.Attributes.CssStyle.Add("margin", "5px;");
            }).GetHtml()*@
        </td>
    </tr>
</table>




<select id="DMDT_DELIVERY_TYPE" name="DMDT_DELIVERY_TYPE">
    <option value="EXV">@LogiCAB.Web.Domain.Extensions.DeliveryDesc("EXW")</option>
    <option value="DDP">@LogiCAB.Web.Domain.Extensions.DeliveryDesc("DDP")</option>
</select>

        @Html.DevExpress().Button(btnSettings => {
            btnSettings.Name = "btnUpdate";
            btnSettings.ControlStyle.CssClass = "button";
            btnSettings.Text = "Update";
            btnSettings.Images.Image.Url = "~/Content/save.png";
            btnSettings.Images.Image.Height = Unit.Pixel(16);
            btnSettings.Images.Image.Width = Unit.Pixel(16);
            btnSettings.Width = Unit.Pixel(100);
            btnSettings.Style.Add("float", "right");
            btnSettings.Style.Add("margin-left", "10px");
            btnSettings.ClientSideEvents.Click = "function(s, e){ gvDelMoments.UpdateEdit(); }";
        }).GetHtml()
       @Html.DevExpress().Button(btnSettings => {
            btnSettings.Name = "btnCancel";
            btnSettings.ControlStyle.CssClass = "button";
            btnSettings.Text = "Cancel";
            btnSettings.Images.Image.Url = "~/Content/cancel.png";
            btnSettings.Images.Image.Height = Unit.Pixel(16);
            btnSettings.Images.Image.Width = Unit.Pixel(16);
            btnSettings.Width = Unit.Pixel(100);
            btnSettings.Style.Add("float", "right");
            btnSettings.ClientSideEvents.Click = "function(s, e){ gvDelMoments.CancelEdit(); }";
        }).GetHtml()