﻿@using System.Web.UI.WebControls;
@using CAB.Data.EF.Models;
@using LogiCAB.Web.Domain;
@using LogiCAB.Web.DAL;
@using CAB.Domain.Helpers;
@using CAB.Domain.Enums;
@{    
    List<F_CAB_HANDSHAKE_OPTION_FIELDS> handshakeFields = new List<F_CAB_HANDSHAKE_OPTION_FIELDS>();
    if (Usr.OrganisationType == OrgaType.Grower) {
        handshakeFields = EFHelper.ctx.F_CAB_HANDSHAKE_OPTION_FIELDS.Where(x => x.HNOF_AUTH_LEVEL_GROWER.Contains("R")).ToList();
    } else {
        handshakeFields = EFHelper.ctx.F_CAB_HANDSHAKE_OPTION_FIELDS.Where(x => x.HNOF_AUTH_LEVEL_BUYER.Contains("R")).ToList();
    }
    IEnumerable<DeliveryMomentHeader> deliveryProfiles = LogiCAB.Web.Controllers.UserController._getDMHDList();
    var currentDeliveryProfileSequence = Model.hndo.HNDO_FK_DMHD_SEQ;
    
}
@model LogiCAB.Web.Domain.Handshake
<div style="margin: 10px;">
<table style="width:800px; border: 1px solid black; padding: 10px;">
@if(Usr.OrganisationType == OrgaType.Grower) {
    <tr>
        <td style="width:150px;">
            Organisatie:
        </td>
        <td>
            <h3>@Model._buyerOrga.ORGA_NAME</h3>
        </td>
        @{
            var imgUrl = Url.Content(String.Format("~/Image/ShowImage/{0}", Model._buyerOrga.ORGA_FK_PICTURE ?? -1));
        }
        <td rowspan="8"><img src="@imgUrl" style="max-width:300px;margin-left: 35px;" /></td>
    </tr>
    <tr>
        <td>
            E-mail:
        </td>
        <td>
            @Model._buyerOrga.ORGA_EMAIL
        </td>
    </tr>    
    <tr>
        <td>
            Telefoon:
        </td>
        <td>
            @Model._buyerOrga.ORGA_PHONE_NO
        </td>
    </tr>       
} else if (Usr.OrganisationType== OrgaType.Buyer || Usr.OrganisationType == OrgaType.Comm) {
    <tr>
        <td>
            Organisatie:
        </td>
        <td>
            <h3>@Model._growerOrga.ORGA_NAME</h3>
        </td>
        @{
            var imgUrl = Url.Content(String.Format("~/Image/ShowImage/{0}", Model._growerOrga.ORGA_FK_PICTURE ?? -1));
        }
        <td rowspan="8"><img src="@imgUrl" style="max-width:300px;margin-left: 35px;" /></td>
    </tr>
    <tr>
        <td>
            E-mail:
        </td>
        <td>
            @Model._growerOrga.ORGA_EMAIL
        </td>
    </tr>    
    <tr>
        <td>
            Telefoon:
        </td>
        <td>
            @Model._growerOrga.ORGA_PHONE_NO
        </td>

    </tr>           
} 
@if (Model.hndo != null) {
    foreach (F_CAB_HANDSHAKE_OPTION_FIELDS field in handshakeFields) {
        bool allowEdit = ((Usr.OrganisationType== OrgaType.Buyer || Usr.OrganisationType== OrgaType.Comm) && field.HNOF_AUTH_LEVEL_BUYER.Contains("W")) || (Usr.OrganisationType == OrgaType.Grower && field.HNOF_AUTH_LEVEL_GROWER.Contains("W"));
        if (field.HNOF_FIELD.Contains("DELIVERY_TYPE")) {
        <tr>        
            <td>Levertype</td>
            <td>
                @if (allowEdit) {
                    @Html.DevExpress().ComboBox(ccs => {
                   ccs.Name = "dtCombo_DELIVERY_TYPE_" + Model.seq;
                   ccs.Properties.Items.Add("Thuis gehaald", "EXW");
                   ccs.Properties.Items.Add("Afl. locatie klant", "DDP");
                   if (String.IsNullOrEmpty(Model.hndo.HNDO_DELIVERY_TYPE)) {
                       ccs.SelectedIndex = 0;
                   } else {
                       if (Model.hndo.HNDO_DELIVERY_TYPE == "EXW")
                           ccs.SelectedIndex = 0;
                       else
                           ccs.SelectedIndex = 1;
                   }
                   ccs.Properties.ClientSideEvents.SelectedIndexChanged = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
                   ccs.Properties.ClientSideEvents.TextChanged = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
                   ccs.Properties.ClientSideEvents.CloseUp = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
                   ccs.Properties.ClientSideEvents.LostFocus = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
               }).GetHtml();
                } else {                        
                    @Model.hndo.HNDO_DELIVERY_TYPE
                }
            </td>
        </tr>              
        }
        if (field.HNOF_FIELD.Contains("FK_ADDR")) {
        <tr>        
            <td>Leveradress</td>
            <td>
                @{
            F_CAB_ADDRESS addr;
            if (Usr.OrganisationType == OrgaType.Grower) {
                addr = null;
            } else {
                addr = Model._growerOrga.F_CAB_ADDRESS.FirstOrDefault();
            }
            //var sAddress = String.Format("{0}, {1}, {2} {3}", addr.ADDR_ZIPCODE, addr.ADDR_CITY, addr.ADDR_STREET, addr.ADDR_NO);                
                }
                @*@sAddress*@
            </td>
        </tr>             
        }
        if (field.HNOF_FIELD.Contains("DELIVERY_TIME")) {
        <tr>        
            <td>Levertijd</td>
            <td>
                @{ string fieldTime = Model.hndo.HNDO_LATEST_DELIVERY_TIME.ToString("HH:mm"); }
                @if (allowEdit) {
                    @Html.DevExpress().TextBox(txt => {
                   txt.Name = "deliveryTimeTxt_" + Model.seq;
                   txt.Text = fieldTime;
                   txt.Properties.ClientSideEvents.LostFocus = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
               }).GetHtml()                            
                } else {
                    @fieldTime
                }
            </td>
        </tr>              
        }
        if (field.HNOF_FIELD.EndsWith("EKT_YN")) {
        <tr>        
            <td>Auto EKT</td>
            <td>
                @Html.DevExpress().CheckBox(chkSettings => {
               chkSettings.Name = "chk_EKT_YN_" + Model.seq;
               if (allowEdit) {
                   chkSettings.ReadOnly = false;
                   chkSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
               } else {
                   chkSettings.ReadOnly = true;
               }
           }).Bind(Model.hndo.HNDO_AUTO_EKT_YN).GetHtml()
            </td>
        </tr>
        }
        if (field.HNOF_FIELD.EndsWith("KWB_YN")) {
        <tr>        
            <td>Auto KWB</td>
            <td>                    
                @Html.DevExpress().CheckBox(chkSettings => {
               chkSettings.Name = "chk_KWB_YN_" + Model.seq;
               if (allowEdit) {
                   chkSettings.ReadOnly = false;
                   chkSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
               } else {
                   chkSettings.ReadOnly = true;
               }
           }).Bind(Model.hndo.HNDO_AUTO_KWB_YN).GetHtml()
            </td>
        </tr>            
        }
        if (field.HNOF_FIELD.EndsWith("CONFIRM_YN")) {
        <tr>        
            <td>Auto Accept</td>
            <td>
                @Html.DevExpress().CheckBox(chkSettings => {
               chkSettings.Name = "chk_CONFIRM_YN_" + Model.seq;
               if (allowEdit) {
                   chkSettings.ReadOnly = false;
                   chkSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, 'hndo.{0}', '{1}', '{2}'); }}", field.HNOF_FIELD, Model.seq, Url.Action("UpdateHandshake", "Handshake", null));
               } else {
                   chkSettings.ReadOnly = true;
               }
           }).Bind(Model.hndo.HNDO_AUTO_CONFIRM_YN).GetHtml()
            </td>
        </tr>            
        }

    }
    <tr>
        <td>@Extensions.dict(Usr.Language, "Transporter")</td>
        <td>
            @{Html.RenderAction("Transporters", "Handshake", new { handshake = Model.seq });}
            @{
                F_CAB_ORGANISATION tOrga = null;
                if (Model.hndo.HNDO_FK_HAND_SEQ != null) {
                    var selTransporter = Model.hndo.HNDO_FK_ORGA_SEQ;
                    tOrga = EFHelper.ctx.F_CAB_ORGANISATION.FirstOrDefault(x => x.ORGA_SEQUENCE == selTransporter);                    
                }
            }
            @if (tOrga != null) { 
                <span>
                    <p style="color:#009d00;font-weight:bold; font-size:10px;">@Extensions.dict(Usr.Language, "selected") @Extensions.dict(Usr.Language, "Transporter") : @tOrga.ORGA_NAME</p>
                </span>
            }
            @*<span style="float:right;">
                <input type="checkbox" name="Send EKT" id="chkTransporterEKT" />Send EKT
            </span>*@
        </td>
    </tr>
    <tr>
        <td>
            @Extensions.dict(Usr.Language, "DeliveryProfile")   
        </td>
        <td>
            @if (Usr.OrganisationType == OrgaType.Grower)
            {
                var cbDel = Html.DevExpress().ComboBox(settings => {
                    settings.Name = "deliveryProfileCombo";
                    settings.Width = 220;
                    settings.Properties.DropDownWidth = 380;
                    //           settings.SelectedIndex = 0;
                    settings.Properties.ValueType = typeof(int);
                    settings.Properties.TextField = "Description";
                    settings.Properties.ValueField = "Sequence";
                    settings.Properties.Columns.Add("Description", Extensions.dict(Usr.Language, "Description"));
                    settings.Properties.ClientSideEvents.SelectedIndexChanged = "deliveryProfileComboChanged";
                }).BindList(deliveryProfiles);
                if (currentDeliveryProfileSequence != null)
                {
                    cbDel.Bind(currentDeliveryProfileSequence);
                }
                @cbDel.GetHtml()
            }
            @*@if (tOrga != null) {*@
            @*<span>*@
                @if (currentDeliveryProfileSequence != null)
                {
                    <p style="color:#009d00;font-weight:bold; font-size:10px;">@Extensions.dict(Usr.Language, "selected") @Extensions.dict(Usr.Language, "DeliveryProfile") : @Model.hndo.F_CAB_DELIVERY_MOMENT_HEADERS.DMHD_DESCRIPTION</p>
    <table border="1" style="width:500px;">
        <thead>
            <tr>
                <th>@Extensions.dict(Usr.Language, "Day")</th>
                <th>@Extensions.dict(Usr.Language, "MaxOrder")</th>
                <th>@Extensions.dict(Usr.Language, "MaxDelivery")</th>
                <th>@Extensions.dict(Usr.Language, "Type")</th>
            </tr>
        </thead>


        @foreach (var dd in Model.hndo.F_CAB_DELIVERY_MOMENT_HEADERS.F_CAB_DELIVERY_MOMENT_DETAILS)
        {
            <tr>
                <td style="padding:5px;">@dd.DMDT_WEEKDAY_NUMBER.Day()</td>
                <td style="padding:5px;">@dd.DMDT_MAX_ORDER_TIME</td>
                <td style="padding:5px;">@dd.DMDT_MAX_DELIVERY_TIME</td>
                <td style="padding:5px;">@dd.DMDT_DELIVERY_TYPE.DeliveryDesc()</td>
            </tr>
        }
    </table>
                }
                else
                {
                    <p style="color:#009d00;font-weight:bold; font-size:10px;">@Extensions.dict(Usr.Language, "none_selected")</p>
                }
            @*</span>*@
            @*}*@
        </td>

    </tr>
}
</table>
</div>
@*<div id="deliveryMoments" style="margin:10px;">
@{   
    Html.RenderAction("DeliveryMoments", "Handshake", new { id = Model.seq });
}
</div>*@