﻿@using CAB.Domain.Helpers;
@using LogiCAB.Web.Domain;
@model IEnumerable<LogiCAB.Web.Domain.Handshake>

@{
    ViewBag.Title = "Index";
}
<div>
    <img src="~/Content/users.png" height="48" style="float:right; position:relative; top: -15px;" />
    <h2>@Extensions.dict(Usr.Language, "Relation management")</h2>
    <hr />
</div>
<script>
    function fnSendHandshakeRequest(s, e) {
        console.log(s.cpHandshake);
        s.SetImageUrl('@Url.Content("~/Content/loader.gif")');
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendHandshakeRequest", "Handshake")',
            data: { id: s.cpHandshake },
            success: function (data) {
                s.SetImageUrl('@Url.Content("~/Content/ok.png")');
                console.log(data);
            }
        });
    }
</script>
@Html.DevExpress().PageControl(settings => {
    settings.Name = "tabOrganisationAdmin";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

    settings.TabPages.Add(p => {
        if (Usr.OrganisationType == "BUYR" || Usr.OrganisationType == "COMM") { 
            p.Text = Extensions.dict(Usr.Language, "growers");
        }
        if (Usr.OrganisationType == "GROW") {
            p.Text = Extensions.dict(Usr.Language, "buyers");
        }
        p.Name = "tabBuyerRelations";
        p.TabImage.Url = "~/Content/users.png";
        p.TabImage.Height = Unit.Pixel(16);
        p.TabImage.Width = Unit.Pixel(16);
        p.SetContent(() => {
//            Html.RenderPartial("List", Model); // BuyersRelations w 2 tabs, active and open
            Html.RenderAction("HandshakeBuyers", "Handshake");
        });
    });
    settings.TabPages.Add(p => {
        p.Text = Extensions.dict(Usr.Language, "transporters");
        p.Name = "tabTransportRelations";
        p.TabImage.Url = "~/Content/map.png";
        p.TabImage.Height = Unit.Pixel(16);
        p.TabImage.Width = Unit.Pixel(16);
        p.SetContent(() => {
            //Html.Partial("List", Model);
            //Html.RenderAction("Transporters", "Handshake");
            Html.RenderAction("HandshakeTransporters", "Handshake");
//            Html.RenderAction("TransportersList", "Handshake"); // BuyersRelations w 2 tabs, active and open
        });
    });  
/*    settings.TabPages.Add(p => {
        p.Text = Extensions.dict(Usr.Language, "open_handshakes");
        p.Name = "tabPendingRelations";
        p.TabImage.Url = "~/Content/pending.png";
        p.TabImage.Height = Unit.Pixel(16);
        p.TabImage.Width = Unit.Pixel(16);
        p.SetContent(() => {
            Html.RenderPartial("ListPending", Model);
        });
    });    

    settings.TabPages.Add(p => {
        p.Text = Extensions.dict(Usr.Language, "open_handshakes");
        p.Name = "tabTransportRelationsOpen";
        p.TabImage.Url = "~/Content/pending.png";
        p.TabImage.Height = Unit.Pixel(16);
        p.TabImage.Width = Unit.Pixel(16);
        p.SetContent(() => {
            //Html.Partial("List", Model);
            //Html.RenderAction("Transporters", "Handshake");
//            Html.RenderAction("TransportersList", "Handshake");
        });
    });    */
}).GetHtml()

<div style="display: none; position: absolute; z-index: 110; left: 400px; top: 100px; width: 15px; height: 15px" id="preview_div"></div>
<script>


    var tmpChkBox = null;
    function OnValueChanged(s, fieldName, keyValue, url) {
        $.ajax({
            type: "POST",
            url: url,
            data: { key: keyValue, field: fieldName, value: s.GetValue() }
        });
    }

    var dayg = null;
    var daytextg = null;
    var handseqg = null;
    function addDeliveryMoment(day, daytext, handseq) {
        console.log('add delivery moment for day: ' + day);
        //        $('#dayText').
        gvDelMoments.AddNewRow();
        dayg = day;
        daytextg = daytext;
        handseqg = handseq;
        /*        $('#DMDT_WEEKDAY_NUMBER').attr('daynum', day);
                $('#DMDT_WEEKDAY_NUMBER').attr('disabled', '');
                $('#DMDT_WEEKDAY_NUMBER').attr('handseq', handseq);
                $('#DMDT_WEEKDAY_NUMBER').val(daytext);*/

    }

    function OnEndDMCallback(s, e) {

        /*        $('#DMDT_WEEKDAY_NUMBER').attr('daynum', dayg);
                $('#DMDT_WEEKDAY_NUMBER').attr('disabled', '');
                $('#DMDT_WEEKDAY_NUMBER').attr('handseq', handseqg);
                $('#DMDT_WEEKDAY_NUMBER').val(daytextg);*/
        console.log('OnEndDMCallback');
    }
    function processLogisticsChange(s, e) {
        console.log('Setting Logistic Provider to: ' + s.GetValue());
        $.ajax({
            type: "POST",
            url: '@Url.Action("processLogisticsChange", "Handshake")',
            data: { orgaseq: s.GetValue() },
            success: function (data) {
                console.log(data);
            }
        });

    }

    function updatePersonFilter(chkBox, grower, buyer, person) {
        tmpChkBox = chkBox;
        var checked = chkBox.checked;
        var val = chkBox.value;
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdatePersonFilter", "Handshake")',
            data: {
                toggled: checked,
                maingroup: val,
                grower: grower,
                buyer: buyer,
                person: person
            },
            success: function (data) {
                $(chkBox).siblings().css('display', 'block');
                setTimeout(function () {
                    $(chkBox).siblings().fadeToggle();
                }, 2500);
            }
        });
    }
    function deliveryProfileComboChanged(s, e) {
        var newProfile = s.GetValue();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateDeliveryProfile", "Handshake")',
            data: {
                profile: newProfile
            },
            success: function (data) {
                console.log('deliveryProfileComboChanged Success');
            }
        });
    }



</script>