﻿@model IEnumerable<LogiCAB.Web.Domain.Handshake>

@{
    ViewBag.Title = "Index";
}
<h2>@Extensions.dict(Usr.Language, "Relation management") (@Extensions.dict(Usr.Language, "grower"))</h2>
@Html.Partial("ListAsGrower", Model)
<div style="display: none; position: absolute; z-index: 110; left: 400px; top: 100px; width: 15px; height: 15px" id="preview_div"></div>
<script>
    var tmpChkBox = null;
    function OnValueChanged(s, fieldName, keyValue, url) {
        $.ajax({
            type: "POST",
            url: url,
            data: { key: keyValue, field: fieldName, value: s.GetValue() }
        });
    }

    var dayg = null;
    var daytextg = null;
    var handseqg = null;
    function addDeliveryMoment(day, daytext, handseq) {
        console.log('add delivery moment for day: ' + day);
        //        $('#dayText').
        gvDelMoments.AddNewRow();
        dayg = day;
        daytextg = daytext;
        handseqg = handseq;
        /*        $('#DMDT_WEEKDAY_NUMBER').attr('daynum', day);
                $('#DMDT_WEEKDAY_NUMBER').attr('disabled', '');
                $('#DMDT_WEEKDAY_NUMBER').attr('handseq', handseq);
                $('#DMDT_WEEKDAY_NUMBER').val(daytext);*/

    }

    function OnEndDMCallback(s, e) {

        /*        $('#DMDT_WEEKDAY_NUMBER').attr('daynum', dayg);
                $('#DMDT_WEEKDAY_NUMBER').attr('disabled', '');
                $('#DMDT_WEEKDAY_NUMBER').attr('handseq', handseqg);
                $('#DMDT_WEEKDAY_NUMBER').val(daytextg);*/
        console.log('OnEndDMCallback');
    }
    function processLogisticsChange(s, e) {
        console.log('Setting Logistic Provider to: ' + s.GetValue());
        $.ajax({
            type: "POST",
            url: '@Url.Action("processLogisticsChange", "Handshake")',
            data: { orgaseq: s.GetValue() },
            success: function (data) {
                console.log(data);
            }
        });

    }

    function updatePersonFilter(chkBox, grower, buyer, person) {
        tmpChkBox = chkBox;
        var checked = chkBox.checked;
        var val = chkBox.value;
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdatePersonFilter", "Handshake")',
            data: {
                toggled: checked,
                maingroup: val,
                grower: grower,
                buyer: buyer,
                person: person
            },
            success: function (data) {
                $(chkBox).siblings().css('display', 'block');
                setTimeout(function () {
                    $(chkBox).siblings().fadeToggle();
                }, 2500);
            }
        });
    }
</script>