﻿@using System.Web.UI.WebControls;
@using CAB.Data.EF.Models;
@using LogiCAB.Web.Domain;
@using LogiCAB.Web.DAL;
@using CAB.Domain.Helpers;
@using CAB.Domain.Enums;
@{
    List<F_CAB_HANDSHAKE_OPTION_FIELDS> handshakeFields = new List<F_CAB_HANDSHAKE_OPTION_FIELDS>();
    handshakeFields = EFHelper.ctx.F_CAB_HANDSHAKE_OPTION_FIELDS.ToList();
}

@model IEnumerable<Handshake>
@Html.DevExpress().GridView(settings => {
    settings.Name = "gvEditing";
    settings.KeyFieldName = "seq";
    settings.Width = Unit.Percentage(100);
    settings.CallbackRouteValues = new { Controller = "Handshake", Action = "ListAdmin" };
    settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Handshake", Action = "UpdateHandshake" };
    settings.SettingsEditing.Mode = GridViewEditingMode.EditForm;

    settings.SettingsPager.Position = PagerPosition.TopAndBottom;

    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowFooter = true;

    settings.Settings.ShowHeaderFilterButton = true;
    settings.SettingsPopup.HeaderFilter.Height = 200;

    settings.SettingsPager.PageSize = 15;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;


    GridViewCommandColumn commandColumn = new GridViewCommandColumn();
    commandColumn.Width = Unit.Pixel(50);
    commandColumn.Visible = true;

    commandColumn.ShowEditButton = true;
    settings.SettingsCommandButton.EditButton.ButtonType = GridCommandButtonRenderMode.Image;
    settings.SettingsCommandButton.EditButton.Image.IsResourcePng = true;
    settings.SettingsCommandButton.EditButton.Image.Url = "~/Content/edit.png";
    settings.Columns.Add(commandColumn);

    settings.HtmlRowPrepared = (s, e) => {
        if (e.RowType == GridViewRowType.Data) {
            DateTime? accept_date = (DateTime?)e.GetValue("accept_date");
            if (accept_date == null) {
                e.Row.Style.Add("background-color", "rgb(255, 150, 150)");
            }
        }
    };



    settings.Columns.Add(column => {
        column.FieldName = "active";
        column.Caption = Extensions.dict(Usr.Language, "Blocked");
        column.Width = Unit.Pixel(60);
        column.ColumnType = MVCxGridViewColumnType.CheckBox;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        column.Index = 1;
        column.SetDataItemTemplateContent(c => {
            Html.DevExpress().CheckBox(txtSettings => {
                txtSettings.Name = "chk_blocked_" + c.KeyValue + DateTime.Now.Ticks;
                txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
        });
    });

    settings.Columns.Add(column => {
        column.FieldName = "request_date";
        column.Caption = "Aanvraagdatum";
        column.Width = Unit.Pixel(80);
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
        column.Settings.AllowHeaderFilter = DefaultBoolean.False;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        column.Index = 2;
        column.Visible = false;
    });

    settings.Columns.Add(column => {
        column.FieldName = "accept_date";
        column.Caption = "Acceptiedatum";
        column.Width = Unit.Pixel(80);
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
        column.Settings.AllowHeaderFilter = DefaultBoolean.False;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        column.Index = 3;
        column.Visible = false;
    });


    
        settings.Columns.Add(column => {
            column.FieldName = "growerOrga";
            column.Caption = "Kweker";
            column.Index = 4;
        });
    
        settings.Columns.Add(column => {
            column.FieldName = "buyerOrga";
            column.Caption = "Koper";
            column.Index = 4;
        });
    
    foreach (F_CAB_HANDSHAKE_OPTION_FIELDS field in handshakeFields) {
        settings.Columns.Add(column => {
            column.FieldName = "hndo." + field.HNOF_FIELD;
            column.Caption = field.HNOF_FIELD;
            column.Width = Unit.Pixel(80);
            column.Index = 8;
            bool allowEdit = ((Usr.OrganisationType == OrgaType.Buyer || Usr.OrganisationType == OrgaType.Comm) && field.HNOF_AUTH_LEVEL_BUYER.Contains("W")) || (Usr.OrganisationType == OrgaType.Grower && field.HNOF_AUTH_LEVEL_GROWER.Contains("W"));
            if (field.HNOF_FIELD.EndsWith("EKT_YN")) {
                column.Caption = "Auto EKT";
                column.Index = 9;
                column.ColumnType = MVCxGridViewColumnType.CheckBox;
                column.SetDataItemTemplateContent(c => {
                    if (allowEdit) {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_EKT_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    } else {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_EKT_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.ReadOnly = true;
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    }
                });
            }
            if (field.HNOF_FIELD.EndsWith("KWB_YN")) {
                column.Caption = "Auto KWB";
                column.Index = 9;
                column.ColumnType = MVCxGridViewColumnType.CheckBox;
                column.SetDataItemTemplateContent(c => {
                    if (allowEdit) {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_KWB_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    } else {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_KWB_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.ReadOnly = true;
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    }
                });
            }
            if (field.HNOF_FIELD.EndsWith("RECV_OFFER_MAIL_YN")) {
                column.Caption = "Offertemail";
                column.Index = 11;
                column.ColumnType = MVCxGridViewColumnType.CheckBox;
                column.SetDataItemTemplateContent(c => {
                    if (allowEdit) {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_RCV_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    } else {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_RCV_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.ReadOnly = true;
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    }
                });
            }
            if (field.HNOF_FIELD.EndsWith("CONFIRM_YN")) {
                column.Caption = "Auto Accept";
                column.Index = 7;
                column.ColumnType = MVCxGridViewColumnType.CheckBox;
                column.SetDataItemTemplateContent(c => {
                    if (allowEdit) {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_CONFIRM_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    } else {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_CONFIRM_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.ReadOnly = true;
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    }
                });
            }
            if (field.HNOF_FIELD.Contains("DELIVERY_TIME")) {
                column.Caption = "Levertijd";
                column.PropertiesEdit.DisplayFormatString = "t";
                column.Index = 6;
                column.SetDataItemTemplateContent(c => {
                    if (c != null) {
                        try {
                            DateTime fieldVal = (DateTime)DataBinder.Eval(c.DataItem, c.Column.FieldName);
                            if (fieldVal != null) {
                                string fieldTime = fieldVal.ToString("HH:mm");
                                ViewContext.Writer.Write(fieldTime);
                            }

                        } catch (Exception ex) {
                        }
                    }
                });
            }
            if (field.HNOF_FIELD.Contains("DELIVERY_TYPE")) {
                column.Caption = "Levertype";
                column.Index = 5;
                column.SetDataItemTemplateContent(c => {
                    F_CAB_HANDSHAKE_OPTIONS options = (F_CAB_HANDSHAKE_OPTIONS)DataBinder.Eval(c.DataItem, "hndo");
                    if (options != null) {
                        switch (options.HNDO_DELIVERY_TYPE) {
                            case "EXW":
                                ViewContext.Writer.Write("Thuis gehaald");
                                break;
                            case "DDP":
                                ViewContext.Writer.Write("Afl. locatie klant");
                                break;
                            default:
                                ViewContext.Writer.Write("Thuis gehaald");
                                break;
                        }
                    }
                });

            }
            if (field.HNOF_FIELD.Contains("FK_ADDR")) {
                column.Caption = "Leveradress";
                column.Index = 6;
                column.Width = Unit.Pixel(250);
                column.PropertiesEdit.Style.HorizontalAlign = HorizontalAlign.Left;
                column.SetDataItemTemplateContent(c => {
                    F_CAB_HANDSHAKE_OPTIONS options = (F_CAB_HANDSHAKE_OPTIONS)DataBinder.Eval(c.DataItem, "hndo");
                    if (options != null) {
                        string sAddress = "";
                        if (Usr.OrganisationType == OrgaType.Grower) {
                            CAB.Domain.Models.Address addr = Usr.Organisation.Addresses.FirstOrDefault();
                            if (addr != null) {
                                sAddress = String.Format("{0}, {1}, {2} {3}", addr.Zipcode, addr.City, addr.Street, addr.StreetNr);
                            }
                        } else {
                            F_CAB_ORGANISATION gOrga = DataBinder.Eval(c.DataItem, "_growerOrga") as F_CAB_ORGANISATION;
                            F_CAB_ADDRESS addr = gOrga.F_CAB_ADDRESS.FirstOrDefault();
                            if (addr != null) {
                                sAddress = String.Format("{0}, {1}, {2} {3}", addr.ADDR_ZIPCODE, addr.ADDR_CITY, addr.ADDR_STREET, addr.ADDR_NO);
                            }
                        }
                        ViewContext.Writer.Write(sAddress);
                    }
                });
            }
            column.Settings.AllowHeaderFilter = DefaultBoolean.False;
        });
    }
}).Bind(Model).GetHtml()



