﻿@using System.Web.UI.WebControls;
@using CAB.Data.EF.Models;
@using LogiCAB.Web.Domain;
@using LogiCAB.Web.DAL;
@using CAB.Domain.Helpers;
@using CAB.Domain.Enums;
@{
    List<F_CAB_HANDSHAKE_OPTION_FIELDS> handshakeFields = new List<F_CAB_HANDSHAKE_OPTION_FIELDS>();
    if(Usr.OrganisationType == OrgaType.Grower) {
        handshakeFields = EFHelper.ctx.F_CAB_HANDSHAKE_OPTION_FIELDS.Where(x => x.HNOF_AUTH_LEVEL_GROWER.Contains("R")).ToList();
    } else {
        handshakeFields = EFHelper.ctx.F_CAB_HANDSHAKE_OPTION_FIELDS.Where(x => x.HNOF_AUTH_LEVEL_BUYER.Contains("R")).ToList();
    }
    IQueryable<F_CAB_ADDRESS> addresses = EFHelper.ctx.F_CAB_ADDRESS;
}

@model IEnumerable<LogiCAB.Web.Domain.Handshake>
@Html.DevExpress().GridView(settings => {
    settings.Name = "gvEditingPending";
    settings.KeyFieldName = "seq";
    settings.Width = Unit.Percentage(100);
    settings.CallbackRouteValues = new { Controller = "Handshake", Action = "ListPending" };
    settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Handshake", Action = "UpdateHandshake" }; 
    settings.SettingsEditing.Mode = GridViewEditingMode.EditForm;

    settings.SettingsPager.Position = PagerPosition.TopAndBottom;

    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowFooter = true;

    settings.Settings.ShowHeaderFilterButton = true;
    settings.SettingsPopup.HeaderFilter.Height = 200;

    settings.SettingsPager.PageSize = 50;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
   
    settings.HtmlRowPrepared = (s, e) => {
        if (e.RowType == GridViewRowType.Data) { 
            DateTime? accept_date = (DateTime?)e.GetValue("accept_date");
            if (accept_date == null) {
                e.Row.Style.Add("background-color", "rgb(255, 150, 150)");
            }
        }
    };    

            
    settings.Columns.Add(column => {
        column.FieldName = "request_date";
        column.Caption = Extensions.dict(Usr.Language, "request_date");
        column.Width = Unit.Pixel(80);
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
        column.Settings.AllowHeaderFilter = DefaultBoolean.False;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        column.Index = 2;
        column.Visible = true;
    });
            
    settings.Columns.Add(column => {
        column.FieldName = "accept_date";
        column.Caption = Extensions.dict(Usr.Language, "accept_date");
        column.Width = Unit.Pixel(80);
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
        column.Settings.AllowHeaderFilter = DefaultBoolean.False;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        column.Index = 3;
        column.Visible = true;
        column.SetDataItemTemplateContent(dit => {
            DateTime reqDate = (DateTime)DataBinder.Eval(dit.DataItem, "request_date"); 
            var diff = DateTime.Now - reqDate;
            if (diff.Days > 403) {
                Html.DevExpress().Button(btnSettings => {
                    btnSettings.Name = "btnResend" + dit.KeyValue;
                    btnSettings.CustomJSProperties = (s, e) => {
                        e.Properties["cpHandshake"] = dit.KeyValue;
                    };
                    btnSettings.ControlStyle.CssClass = "button";
                    btnSettings.Text = String.Format("Resend ({0} dagen geleden)", diff.Days);
                    btnSettings.Images.Image.Url = "~/Content/refresh.png";
                    btnSettings.Images.Image.Height = Unit.Pixel(16);
                    btnSettings.Images.Image.Width = Unit.Pixel(16);
                    btnSettings.Width = Unit.Pixel(100);
                    btnSettings.ClientSideEvents.Click = "fnSendHandshakeRequest";
                }).Render();
            } else {
                
            }

        });
    });


    if (Usr.OrganisationType == OrgaType.Buyer || Usr.OrganisationType == OrgaType.Comm) {
        settings.Columns.Add(column => {
            column.FieldName = "growerOrga";
            column.Caption = Extensions.dict(Usr.Language, "grower");
            column.Index = 4;
        });
    } else if (Usr.OrganisationType == OrgaType.Grower) {
        settings.Columns.Add(column => {
            column.FieldName = "buyerOrga";
            column.Caption = Extensions.dict(Usr.Language, "buyer");
            column.Index = 4;
        });                    
    }
}).Bind(Model.Where(x => x.accept_date == null)).GetHtml()



