﻿@using System.Web.UI.WebControls;
@using CAB.Data.EF.Models;
@using CAB.Domain.Helpers;
@using CAB.Domain.Enums;
@using LogiCAB.Web.Domain;
@using LogiCAB.Web.DAL;
@{
    List<F_CAB_HANDSHAKE_OPTION_FIELDS> handshakeFields = new List<F_CAB_HANDSHAKE_OPTION_FIELDS>();
    handshakeFields = EFHelper.ctx.F_CAB_HANDSHAKE_OPTION_FIELDS.Where(x => x.HNOF_AUTH_LEVEL_GROWER.Contains("R")).ToList();
    IQueryable<F_CAB_ADDRESS> addresses = EFHelper.ctx.F_CAB_ADDRESS;
}
@model IEnumerable<LogiCAB.Web.Domain.Handshake>
@{
var grid = Html.DevExpress().GridView(s => {
    s.Name = "gvEditing";
    s.KeyFieldName = "seq";
    s.Width = Unit.Percentage(100);
    s.CallbackRouteValues = new { Controller = "Handshake", Action = "ListAsGrower" };
    s.SettingsEditing.UpdateRowRouteValues = new { Controller = "Handshake", Action = "UpdateHandshake" }; // TODO
    s.SettingsEditing.Mode = GridViewEditingMode.EditForm;

    s.SettingsPager.Position = PagerPosition.TopAndBottom;

    s.Settings.ShowFilterRow = true;
    s.Settings.ShowGroupPanel = true;
    s.Settings.ShowFooter = true;

    s.Settings.ShowHeaderFilterButton = true;
    s.SettingsPopup.HeaderFilter.Height = 200;

    s.SettingsPager.PageSize = 15;
    s.SettingsPager.PageSizeItemSettings.Visible = true;
    GridViewCommandColumn commandColumn = new GridViewCommandColumn();
    commandColumn.Width = Unit.Pixel(50);
    commandColumn.Visible = true;
    commandColumn.ShowEditButton = true;
    s.SettingsCommandButton.EditButton.ButtonType = GridCommandButtonRenderMode.Image;

    s.SettingsCommandButton.EditButton.Image.IsResourcePng = true;
    s.SettingsCommandButton.EditButton.Image.Url = "~/Content/edit.png";

    s.Columns.Add(commandColumn);


    s.SetEditFormTemplateContent(c => {
        var data = ViewData["DataItem"] != null ? ViewData["DataItem"] : c.DataItem;
        Html.RenderAction("HandshakeEditPartial", new { id = c.KeyValue });
        Html.DevExpress().Button(btn => {
            btn.Name = "btnUpdate";
            btn.ControlStyle.CssClass = "button";
            btn.Text = "Opslaan";
            btn.Images.Image.Url = "~/Content/save.png";
            btn.Images.Image.Height = Unit.Pixel(16);
            btn.Images.Image.Width = Unit.Pixel(16);
            btn.Style.Add("float", "left");
            btn.Style.Add("margin", "10px");
            btn.Width = Unit.Pixel(100);
            btn.ClientSideEvents.Click = "function(s, e){ gvEditing.CancelEdit(); }";
        }).Render();
        Html.DevExpress().Button(btn => {
            btn.Name = "Annuleren";
            btn.ControlStyle.CssClass = "button";
            btn.Text = "Cancel";
            btn.Images.Image.Url = "~/Content/cancel.png";
            btn.Images.Image.Height = Unit.Pixel(16);
            btn.Images.Image.Width = Unit.Pixel(16);
            btn.Style.Add("float", "left");
            btn.Style.Add("margin", "10px");

            btn.Width = Unit.Pixel(100);
            btn.ClientSideEvents.Click = "function(s, e){ gvEditing.CancelEdit(); }";
        }).Render();
    });

    s.Columns.Add(col => {
        col.FieldName = "active";
        col.Caption = Extensions.dict(Usr.Language, "Blocked");
        col.Width = Unit.Pixel(60);
        col.ColumnType = MVCxGridViewColumnType.CheckBox;
        col.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        col.Index = 1;
        col.SetDataItemTemplateContent(c => {
            Html.DevExpress().CheckBox(txtSettings => {
                txtSettings.Name = "chk_blocked_" + c.KeyValue + DateTime.Now.Ticks;
                if (Usr.OrganisationType == OrgaType.Buyer) {
                    txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                } else {
                    txtSettings.Enabled = false;
                }
            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
        });
    });

    s.Columns.Add(col => {
        col.FieldName = "request_date";
        col.Caption = Extensions.dict(Usr.Language, "request_date");
        col.Width = Unit.Pixel(80);
        col.ColumnType = MVCxGridViewColumnType.DateEdit;
        col.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
        col.Settings.AllowHeaderFilter = DefaultBoolean.False;
        col.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        col.Index = 2;
        col.Visible = false;
    });

    s.Columns.Add(col => {
        col.FieldName = "accept_date";
        col.Caption = Extensions.dict(Usr.Language, "accept_date");
        col.Width = Unit.Pixel(80);
        col.ColumnType = MVCxGridViewColumnType.DateEdit;
        col.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
        col.Settings.AllowHeaderFilter = DefaultBoolean.False;
        col.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        col.Index = 3;
        col.Visible = false;
    });

        s.Columns.Add(col => {
            col.FieldName = "buyerOrga";
            col.Caption = Extensions.dict(Usr.Language, "buyer");
            col.Index = 4;
            col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        });
    foreach (F_CAB_HANDSHAKE_OPTION_FIELDS field in handshakeFields) {
        s.Columns.Add(col => {
            col.FieldName = "hndo." + field.HNOF_FIELD;
            col.Caption = field.HNOF_FIELD;
            col.Width = Unit.Pixel(80);
            col.Index = 8;
            bool allowEdit = ((Usr.OrganisationType == OrgaType.Buyer || Usr.OrganisationType == OrgaType.Comm) && field.HNOF_AUTH_LEVEL_BUYER.Contains("W")) || (Usr.OrganisationType == OrgaType.Grower && field.HNOF_AUTH_LEVEL_GROWER.Contains("W"));
            if (field.HNOF_FIELD.EndsWith("EKT_YN")) {
                col.Caption = Extensions.dict(Usr.Language, "auto_ekt");
                col.Index = 9;
                col.ColumnType = MVCxGridViewColumnType.CheckBox;
                col.SetDataItemTemplateContent(c => {
                    if (allowEdit) {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_EKT_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    } else {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_EKT_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.ReadOnly = true;
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    }
                });
            }
            if (field.HNOF_FIELD.EndsWith("KWB_YN")) {
                col.Caption = Extensions.dict(Usr.Language, "auto_kwb");
                col.Index = 9;
                col.ColumnType = MVCxGridViewColumnType.CheckBox;
                col.SetDataItemTemplateContent(c => {
                    if (allowEdit) {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_KWB_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    } else {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_KWB_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.ReadOnly = true;
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    }
                });
            }
            if (field.HNOF_FIELD.EndsWith("SEND_CONFIRM_MAIL_YN")) {
                col.Caption = Extensions.dict(Usr.Language, "auto_confirm_mail");
                col.Index = 11;
                col.ColumnType = MVCxGridViewColumnType.CheckBox;
                col.SetDataItemTemplateContent(c => {
                    if (allowEdit) {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_SCM_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    } else {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_SCM_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.ReadOnly = true;
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    }
                });
            }
            if (field.HNOF_FIELD.EndsWith("RECV_OFFER_MAIL_YN")) {
                col.Caption = Extensions.dict(Usr.Language, "offermail");
                col.Index = 11;
                col.ColumnType = MVCxGridViewColumnType.CheckBox;
                col.SetDataItemTemplateContent(c => {
                    if (allowEdit) {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_RCV_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    } else {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_RCV_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.ReadOnly = true;
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    }
                });
            }
            if (field.HNOF_FIELD.EndsWith("CONFIRM_YN")) {
                col.Caption = Extensions.dict(Usr.Language, "auto_accept");
                col.Index = 7;
                col.ColumnType = MVCxGridViewColumnType.CheckBox;
                col.SetDataItemTemplateContent(c => {
                    if (allowEdit) {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_CONFIRM_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    } else {
                        Html.DevExpress().CheckBox(txtSettings => {
                            txtSettings.Name = "chk_CONFIRM_YN_" + c.KeyValue + DateTime.Now.Ticks;
                            txtSettings.ReadOnly = true;
                        }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                    }
                });
            }
            if (field.HNOF_FIELD.Contains("DELIVERY_TIME")) {
                col.Caption = Extensions.dict(Usr.Language, "deliverytime");
                col.PropertiesEdit.DisplayFormatString = "t";
                col.Index = 6;
                col.SetDataItemTemplateContent(c => {
                    if (c != null) {
                        try {
                            DateTime fieldVal = (DateTime)DataBinder.Eval(c.DataItem, c.Column.FieldName);
                            if (fieldVal != null) {
                                string fieldTime = fieldVal.ToString("HH:mm");
                                ViewContext.Writer.Write(fieldTime);
                            }

                        } catch (Exception ex) {
                        }
                    }
                });
            }
            if (field.HNOF_FIELD.Contains("DELIVERY_TYPE")) {
                col.Caption = Extensions.dict(Usr.Language, "deliverytype");
                col.Index = 5;
                col.SetDataItemTemplateContent(c => {
                    F_CAB_HANDSHAKE_OPTIONS options = (F_CAB_HANDSHAKE_OPTIONS)DataBinder.Eval(c.DataItem, "hndo");
                    if (options != null) {
                        switch (options.HNDO_DELIVERY_TYPE) {
                            case "EXW":
                                ViewContext.Writer.Write("Thuis gehaald");
                                break;
                            case "DDP":
                                ViewContext.Writer.Write("Afl. locatie klant");
                                break;
                            default:
                                ViewContext.Writer.Write("Thuis gehaald");
                                break;
                        }
                    }
                });

            }
            if (field.HNOF_FIELD.Contains("FK_ADDR")) {
                col.Caption = Extensions.dict(Usr.Language, "deliveryaddress");
                col.Index = 6;
                col.Width = Unit.Pixel(250);
                col.PropertiesEdit.Style.HorizontalAlign = HorizontalAlign.Left;
                col.SetDataItemTemplateContent(c => {
                    F_CAB_HANDSHAKE_OPTIONS options = (F_CAB_HANDSHAKE_OPTIONS)DataBinder.Eval(c.DataItem, "hndo");
                    if (options != null) {
                        //F_CAB_ADDRESS addr;
                        CAB.Domain.Models.Address addr;
                        if (Usr.OrganisationType == OrgaType.Grower) {
                            //addr = user.orga.F_CAB_ADDRESS.FirstOrDefault();
                            addr = Usr.Organisation.Addresses.FirstOrDefault();
                        } else {
                            F_CAB_ORGANISATION gOrga = DataBinder.Eval(c.DataItem, "_buyerOrga") as F_CAB_ORGANISATION;
                            F_CAB_ADDRESS addrdb = gOrga.F_CAB_ADDRESS.FirstOrDefault();
                            if (addrdb == null) {
                                addr = new CAB.Domain.Models.Address {
                                    Zipcode = "1234",
                                    City = "Missing",
                                    Street = "Missing",
                                    StreetNr = "N/A"
                                };
                            } else { 
                                addr = new CAB.Domain.Models.Address {
                                    Zipcode = addrdb.ADDR_ZIPCODE,
                                    City = addrdb.ADDR_CITY,
                                    Street = addrdb.ADDR_STREET,
                                    StreetNr = addrdb.ADDR_NO
                                };
                            }
                        }
                        string sAddress = "";
                        if (addr != null) {
                            sAddress = String.Format("{0}, {1}, {2} {3}", addr.Zipcode, addr.City, addr.Street, addr.StreetNr);
                        }
                        ViewContext.Writer.Write(sAddress);
                    }
                });
            }
            col.Settings.AllowHeaderFilter = DefaultBoolean.False;
        });
    }
});
if (ViewData["EditError"] != null) {
    grid.SetEditErrorText((string)ViewData["EditError"]);
}
}
@grid.Bind(Model).GetHtml().ToHtmlString()



