﻿@using CAB.Domain.Helpers;
@using LogiCAB.Web.Domain;
@model List<CAB.Data.EF.Models.F_CAB_ORGANISATION>
@*<select id="selTransporters">
    @foreach (CAB.Data.EF.Models.F_CAB_ORGANISATION orga in Model) {
        <option value="@orga.ORGA_NAME" data-id="@orga.ORGA_SEQUENCE">@orga.ORGA_NAME</option>
    }
</select>*@
@if (Usr.OrganisationType == CAB.Domain.Enums.OrgaType.Grower) { 
    @Html.DevExpress().ComboBox(s => {
        s.Name = "logpComboList";
        s.Width = 200;
        s.Properties.DropDownWidth = 380;
    //    s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
    //    s.Properties.DropDownStyle = DropDownStyle.DropDown;
        s.Properties.FilterMinLength = 2;
        //s.SelectedIndex = 0;
        s.SelectedIndex = -1;
        s.Properties.CallbackPageSize = 15;
    //    s.Properties.TextField = "ORGA_NAME";
        s.Properties.TextFormatString = "{0}";
        s.Properties.NullDisplayText = Extensions.dict(Usr.Language, "transporter");
        s.Properties.NullText = Extensions.dict(Usr.Language, "transporter"); ;
        s.Properties.ValueField = "ORGA_SEQUENCE";
        s.Properties.ValueType = typeof(int);
        s.Properties.Columns.Add("ORGA_NAME", Extensions.dict(Usr.Language, "Name"));
        s.Properties.Columns.Add("ORGA_PHONE_NO", Extensions.dict(Usr.Language, "phone"), 100);
        s.Properties.Columns.Add("ORGA_EMAIL", Extensions.dict(Usr.Language, "email"), 200);
        s.Properties.ClientSideEvents.SelectedIndexChanged = "processLogisticsChange";
    }).BindList(Model).GetHtml()
}
