﻿@using System.Web.UI.WebControls;
@using CAB.Data.EF.Models;
@using LogiCAB.Web.Domain;
@using LogiCAB.Web.DAL;
@using CAB.Domain.Helpers;
@using CAB.Domain.Enums;
@{
}

@model IEnumerable<LogiCAB.Web.Domain.Handshake>
@Html.DevExpress().GridView(settings => {
    settings.Name = "gvTransporters";
    settings.KeyFieldName = "seq";
    settings.Width = Unit.Percentage(100);
    settings.CallbackRouteValues = new { Controller = "Handshake", Action = "TransportersList" };

    settings.SettingsPager.Position = PagerPosition.TopAndBottom;

    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowFooter = true;

    settings.Settings.ShowHeaderFilterButton = true;
    settings.SettingsPopup.HeaderFilter.Height = 200;

    settings.SettingsPager.PageSize = 15;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;

/*
    GridViewCommandColumn commandColumn = new GridViewCommandColumn();
    commandColumn.Width = Unit.Pixel(50);
    commandColumn.Visible = true;

    commandColumn.ShowEditButton = true;
    settings.SettingsCommandButton.EditButton.ButtonType = GridCommandButtonRenderMode.Image;
    settings.SettingsCommandButton.EditButton.Image.IsResourcePng = true;
    settings.SettingsCommandButton.EditButton.Image.Url = "~/Content/edit.png";
    settings.Columns.Add(commandColumn);*/

    settings.HtmlRowPrepared = (s, e) => {
        if (e.RowType == GridViewRowType.Data) {
            DateTime? accept_date = (DateTime?)e.GetValue("accept_date");
            if (accept_date == null) {
                e.Row.Style.Add("background-color", "rgb(255, 150, 150)");
            }
        }
    };
    settings.Columns.Add(column => {
        column.FieldName = "active";
        column.Caption = Extensions.dict(Usr.Language, "Blocked");
        column.Width = Unit.Pixel(60);
        column.ColumnType = MVCxGridViewColumnType.CheckBox;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        column.Index = 1;
        column.SetDataItemTemplateContent(c => {
            Html.DevExpress().CheckBox(txtSettings => {
                txtSettings.Name = "chk_blocked_" + c.KeyValue + DateTime.Now.Ticks;
                txtSettings.Properties.ClientSideEvents.CheckedChanged = String.Format("function (s, e) {{ OnValueChanged(s, '{0}', '{1}', '{2}'); }}", c.Column.FieldName, c.KeyValue, Url.Action("UpdateHandshake", "Handshake", null));
            }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
        });
    });

    settings.Columns.Add(column => {
        column.FieldName = "request_date";
        column.Caption = Extensions.dict(Usr.Language, "request_date");
        column.Width = Unit.Pixel(80);
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
        column.Settings.AllowHeaderFilter = DefaultBoolean.False;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        column.Index = 2;
        column.Visible = false;
    });

    settings.Columns.Add(column => {
        column.FieldName = "accept_date";
        column.Caption = Extensions.dict(Usr.Language, "accept_date");
        column.Width = Unit.Pixel(80);
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
        column.Settings.AllowHeaderFilter = DefaultBoolean.False;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        column.Index = 3;
        column.Visible = false;
    });

    settings.Columns.Add(column => {
        column.FieldName = "buyerOrga";
        column.Caption = Extensions.dict(Usr.Language, "buyer");
        column.Index = 4;
    });
}).Bind(Model).GetHtml()



