﻿@*@model String*@
@{
    ViewBag.Title = "Error";
    string errorCode = ViewBag.ErrorCode as string;
}

<h2>An error occured while trying to display the current page</h2>
<p style="font-size: 14px; font-weight:bold;">The error was:</p>
@switch (errorCode) {
    case "404":
        <span style="font-size: 24px;font-weight: bold; color: rgb(255, 82, 82);">@ViewBag.ErrorCode Page Not Found!</span>
        break;
    default:
    <span style="font-size: 24px;font-weight: bold; color: rgb(255, 82, 82);">@ViewBag.ErrorCode Error!</span>
        break;
}


