﻿@using LogiCAB.Service.Models;
@model IEnumerable<ServiceOffer>
@Html.DevExpress().GridView(settings => {
    settings.Name = "gvLogiServiceLog";
    settings.KeyFieldName = "Seq";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(70);
    settings.CallbackRouteValues = new { Controller = "Log", Action = "ListLogiServiceOfferlist" };

    settings.Settings.UseFixedTableLayout = true;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.TopAndBottom;
    settings.SettingsPager.PageSize = 15;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;


    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowFooter = true;
    settings.Settings.ShowHeaderFilterButton = true;
    settings.SettingsPopup.HeaderFilter.Height = 200;
    settings.ClientSideEvents.BeginCallback = "LogiService_BeginCallback";
    settings.ClientSideEvents.EndCallback = "imagePreview";

    settings.HtmlDataCellPrepared = (sender, e) => {
        if (e.DataColumn.FieldName == "ArticleImage") {
            e.Cell.Attributes.Add("href", e.CellValue.ToString());
            e.Cell.Attributes.Add("title", "");
            e.Cell.CssClass = "dxgv preview";
        }
    };

    settings.Columns.Add(column => {
        column.FieldName = "ArticleDescription";
        column.Caption = "Description";
        column.SortIndex = 1;
        column.Width = Unit.Pixel(185);
        
        //column.Width = System.Web.UI.WebControls.Unit.Pixel(80);
    });
    settings.Columns.Add(column => {
        column.FieldName = "ArticleImage";
        column.Caption = "Picture";
        column.ColumnType = MVCxGridViewColumnType.Image;
        column.Width = Unit.Pixel(95);
        var imageProperties = column.PropertiesEdit as ImageEditProperties;
        imageProperties.ImageHeight = System.Web.UI.WebControls.Unit.Pixel(80);
        //column.SortIndex = 1;
        //column.Width = System.Web.UI.WebControls.Unit.Pixel(80);
    });
    //    settings.Columns.Add(column => {
    //        column.FieldName = "Quantity";
    //        column.Caption = "Quantity";
    //column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
    //    });    
    settings.Columns.Add(column => {
        column.FieldName = "SupplierName";
        column.Caption = "Supplier";
        column.Width = Unit.Pixel(185);
        //column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
    });
    settings.Columns.Add(column => {
        column.FieldName = "DeliveryMoments";
        column.Caption = "DeliveryMoments";
        column.Width = Unit.Pixel(400);
        
        column.SetDataItemTemplateContent(t => {
            DeliveryMoments dMoments = DataBinder.Eval(t.DataItem, "DeliveryMoments") as DeliveryMoments;
            Html.RenderPartial("DeliveryMomentsPartial", dMoments);
        });
        //column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
    });    
    //settings.Columns.Add(c => {
    //    c.FieldName = "DeliveryMoments";
    //    c.Caption = "Delivery";
    //    c.SetDataItemTemplateContent(t => {
    //        string moments = "";
           
    //        List<DateTime> dMoments = DataBinder.Eval(t.DataItem, "DeliveryMoments") as List<DateTime>;
    //        foreach (var d in dMoments) {
    //            moments += d.ToString() + "<br />";
    //        }
    //        ViewContext.Writer.Write("<span style=\"color:green;font-weight: bold;\">" + moments + "</span>");
    //    });
    //});
    settings.Columns.Add(column => {
        //column.FieldName = "Remark";
        column.Name = "Unbound";
        column.Caption = "Order";
        column.Width = Unit.Pixel(200);        
        column.SetDataItemTemplateContent(t => {
            var identifier = new Random().Next(100000).ToString();
            Html.DevExpress().Button(btnSettings => {
                btnSettings.Name = "orderItem" + t.ID;
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Order 1 unit";
                btnSettings.Attributes.CssStyle.Add("margin", "5px;");
                //btnSettings.Attributes.CssStyle.Add("padding-top", "13px;");
                btnSettings.Images.Image.Url = "~/Content/updatearrow.png";
                btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(10);
                btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(10);
                btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(160);
                //btnSettings.ClientSideEvents.Click = "btnCallServiceClicked";
            }).GetHtml();
        });
        //column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
    });
    settings.Columns.Add(column => {
        //column.FieldName = "Remark";
        column.Name = "Unbound2";
        column.Caption = "#";
    });    
}).Bind(Model).GetHtml()
