﻿@{
    ViewBag.Title = "LogiServiceOfferlist";
    List<string> Endpoints = (List<string>)ViewBag.Endpoints;
}

<h2>LogiServiceOfferlist</h2>

<script>
//    $(document).ready(function () {
//        gvLogiServiceLog.Refresh();
//    });
    function LogiService_BeginCallback(s, e) {
        e.customArgs["username"] = username.GetText();
        e.customArgs["password"] = password.GetText();
        e.customArgs["version"] = $('#version07').is(':checked') == true ? "0.7" : "0.5";
    }
    function btnCallServiceClicked(s, e) {
        gvLogiServiceLog.Refresh();
    }

</script>
<table>
    <tr>
        <td>
            @Html.DevExpress().TextBox(s => {
           s.Name = "username";
           s.Text = "koper1";
           s.Properties.NullDisplayText = "Username";
           s.Attributes.CssStyle.Add("margin", "5px;");
           s.Width = System.Web.UI.WebControls.Unit.Pixel(100);
       }).GetHtml()
    </td>
    <td>
        @Html.DevExpress().TextBox(s => {
           s.Name = "password";
           s.Text = "koper";
           s.Properties.NullDisplayText = "Password";
           s.Attributes.CssStyle.Add("margin", "5px;");
           s.Width = System.Web.UI.WebControls.Unit.Pixel(100);
       }).GetHtml()
</td>
<td>
    @Html.RadioButton("version", "0.5", false, new { id = "version05" }) 0.5
    @Html.RadioButton("version", "0.7", true, new { id = "version07" }) 0.7
</td>
<td>
    @Html.DevExpress().Button(btnSettings => {
    btnSettings.Name = "callService";
    btnSettings.ControlStyle.CssClass = "button";
    btnSettings.Text = "Call Service";
    btnSettings.Attributes.CssStyle.Add("margin", "5px;");
    //btnSettings.Attributes.CssStyle.Add("padding-top", "13px;");
    btnSettings.Images.Image.Url = "~/Content/ok.png";
    btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(10);
    btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(10);
    btnSettings.Width = System.Web.UI.WebControls.Unit.Pixel(160);
    btnSettings.ClientSideEvents.Click = "btnCallServiceClicked";
}).GetHtml()
</td>
</tr>
</table>
<h4>Endpoints:</h4>
<ul>
    @foreach (var e in Endpoints) {
        <li>@e</li>
    }
</ul>

<div style="display: none; position: absolute; z-index: 110; left: 400px; top: 100px; width: 15px; height: 15px" id="preview_div"></div>
@Html.Partial("ListLogiServiceOfferlist")