﻿@{
    ViewBag.Title = "LogiOffer";
}

<h2>LogiOffer</h2>


<script>
    $(document).ready(function () {
        gvLogiOfferLog.Refresh();
    });
</script>

@Html.Partial("ListLogiOffer")