﻿@{
    ViewBag.Title = "LogiCAB";
}

<h2>LogiCAB</h2>

<script>
    $(document).ready(function () {
        gvLogiServiceLog.Refresh();
    });
</script>

@Html.Partial("ListLogiService")