﻿@{
    ViewBag.Title = "LogiOfferte";
}

<h2>LogiCAB</h2>

<script>
    $(document).ready(function () {
        gvLogiOfferteLog.Refresh();
    });
</script>

@Html.Partial("ListLogiOfferte")