﻿<style>
.plain {
    /*-webkit-box-shadow:  4px 4px 15px 1px rgba(0, 0, 0, 50);        
    box-shadow:  4px 4px 15px 1px rgba(0, 0, 0, 50);*/
    border: 3px solid black;
 }
    .paddingRight {
        padding-right: 25px;
    }
#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	/*background: #ccc;*/
	padding: 8px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #FFF;
}

    #navigation table {
        margin-right: 5px;
    }

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container
{
	float: left;
	width: 100%;
	/*background: #FFF url(layout-two-liquid-background.gif) repeat-y 68% 0;*/
}

#content
{
	clear: left;
	float: left;
	/*width: 50%;*/
	/*padding: 20px 0;*/
    padding: 20px;
	/*margin: 0 0 0 2%;*/
	display: inline;
    /*border: 1px solid red;*/
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	/*width: 40%;*/
	padding: 20px 0;
	margin: 0 3% 0 0;
	display: inline;
    /*border: 1px solid blue;*/
}

#aside h3 { margin: 0; }

#footer
{
	clear: left;
	background: #ccc;
	/*text-align: right;*/
	padding: 20px;
	/*height: 1%;*/
}
    #table1 tr td:first-child {
        /*padding-right: 20px;*/
        /*background-color: #8CFF94;*/
    }
    #table2 tr td:first-child {
        /*padding-right: 20px;
        background-color: #8CFF94;*/
    }
</style>