﻿

body{border:0; margin:0; padding:0;
     font-family: Tahoma, Arial, Helvetica, sans-serif;
     font-size: 12px;
     color: #4F4F4F;
     height: 100%;
     background-color:#e9f1ff;
}

#container {

	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
    margin-top: 80px;
}
#content {
    margin: 10px;
  margin-left:  200px;
/*  border: 1px solid red;*/
  padding: 10px;
  
  
}
#navbar {
    /*margin: 10px;
    padding: 10px;*/
  float: left;
  width: 180px;
  /*border: 1px solid blue;*/
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  position: fixed;
  
}
.push {
    height: 80px;
}
#footer {
    /*border: 1px solid green;*/
	clear: both ;
    background: url(../Content/CABheader_c.png);    
    height: 80px;
    /*padding: 10px;*/
    position: fixed;
    bottom: 0;
    width: 100%;
}
#header {
    background: url(../Content/CABheader_c.png);
    height: 82px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 80px;
    display:block;
	/*border: 1px solid purple;*/
}

.title_h2 {
 padding:12px 0 0 18px;
}

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}

#uploadContainer {
    /*float:left;*/

}

.imagePreview {
    float: right;
}

.imagePreviewReq {
    float: left;
}


.mainimage {
  max-width: 400px;
  max-height: 400px;
  width: expression(this.width > 400 ? "400px" : true);
  height: expression(this.height > 400 ? "400px" : true);
}

.label {
    padding: 2px;
    margin: 3px;
}

.editor {
    margin: 3px;
    padding: 2px;
}

.line {
    clear:both;
    display: block;
}

.carousel a {
    color:#9fc01b;
    text-decoration:none;    
    padding-left: 0;
}

.carousel a:visited {
    color:#9fc01b;
    text-decoration:none;    
}
.carousel a:hover {
    text-decoration:underline;
}

.carousel ul {
    font-size: 1.3em;
    font-weight: bold;
    list-style: none;
    padding-left: 3px;
}

.carousel ul>li{
    padding-left: 5px;
    font-size: .8em;
}
