﻿/* Reset Body Property */
body{border:0; margin:0; padding:0;
     font-family: Tahoma, Arial, Helvetica, sans-serif;
     font-size: 12px;
     color: #4F4F4F;

}

#loginheader {
    border-bottom: 1px solid #4F4F4F;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    margin-bottom: 20px;
}

#loginheader>h3{
    padding-bottom: 0;
    margin-bottom: 0;
}

#navbar-container{background:#000000;}
#int-site-container{
background: url() left top repeat-x;
/*height:166px;*/
}
#logo, #navbar, #int-site{
width:100%;
margin:0 auto;
}
#login-container {

    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    overflow:auto;
    padding-left: 120px;
    background: url(loginlock.png) 20px 40px no-repeat;
}
.usernameLine {
    overflow: hidden;
    margin-bottom: 10px;
}

/*------------------*/
/* LOGO */
#logo{height:80px; background: url(CABheader_c.png) left top repeat-x; }

/*------------------*/
/* Nav Bar */
#navbar{
height:26px;
line-height:26px;
}
#navbar a:link, #navbar a:visited, #navbar a:hover{
color:#FFFFFF;
font-weight:bold;
margin-right:20px;
text-decoration:none;
}

.edit_form {
    padding: 10px;
    overflow: auto;
    padding-top: 2px;
}




/*Image Title Styling*/

.title_h2 {
 padding:12px 0 0 18px;
}

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}

#uploadContainer {
    /*float:left;*/

}

.imagePreview {
    float: right;
}

.imagePreviewReq {
    float: left;
}


.mainimage {
  max-width: 400px;
  max-height: 400px;
  width: expression(this.width > 400 ? "400px" : true);
  height: expression(this.height > 400 ? "400px" : true);
}

.label {
    padding: 2px;
    margin: 3px;
}

.editor {
    margin: 3px;
    padding: 2px;
}

.line {
    clear:both;
    display: block;
}

.carousel a {
    color:#9fc01b;
    text-decoration:none;    
    padding-left: 0;
}

.carousel a:visited {
    color:#9fc01b;
    text-decoration:none;    
}
.carousel a:hover {
    text-decoration:underline;
}

.carousel ul {
    font-size: 1.3em;
    font-weight: bold;
    list-style: none;
    padding-left: 3px;
}

.carousel ul>li{
    padding-left: 5px;
    font-size: .8em;
}

.pCont {
    display: none;
    position: absolute;
    z-index: 110;
    left: 400px;
    top: 100px;
    width: 15px;
    height: 15px;
}
#validationSection {
    color: red;
}