﻿#CabPropGroups, #CabPropertyTypes,#CabPropertyLookups, #CabPropGroups {
    width: 250px;
}
#VBNPropGroups, #VBNPropertyTypes,#VBNPropertyLookups, #VBNPropGroups {
    width: 250px;
}

.missingPropertyLink {
    background-color: #ff6161;
}

.addedPropertyLink {
    background-color: #92ff7d;
}


#CABLinkContainer {
    width: 370px;
    float: left;
}
    #CABLinkContainer > h2 {
        padding-bottom: 10px;
    }

#VBNLinkContainer {
    width: 370px;
    float: right;
}
    #VBNLinkContainer > h2 {
        padding-bottom: 50px;
    }



#VBNPropertiesMissing {
    width: 370px;
    float: left;    
}
    #VBNPropertiesMissing > h2 {
        padding-bottom: 10px;
    }

#VBNPropertyTypes {
    width: 270px;
    float: left;    
}

    #VBNPropertyTypes > h2 {
        padding-bottom: 10px;
    }

#VBNCodeGroups {
    width: 370px;
    float: left;    
    margin-left: 150px;
}
    #VBNCodeGroups > h2 {
        padding-bottom: 10px;
    }

#VBNCodes {
    width: 370px;
    float: left;
    margin-left: 150px;
}
    #VBNCodes > h2 {
        padding-bottom: 10px;
    }    
    
#LinkButtonContainer {
    float: left;
    padding-top: 200px;
}
    #LinkButtonContainer > input {
        width: 100px;
        height: 60px;
        font-size: 20px;
    }

#insertVBNProperties {
    width: 407px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: -3px;
}

#insertVBNCodes {
    width: 434px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: 0px;    
}
    
.hiddenLoading {
    display: none;
    visibility: hidden;
}

#startDownloadParse {
    width: 450px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
}

#infopanel {
    width: 600px;
    /*height: 400px;*/
}

#NewVBNProperties {
    width: 450px;
}

#NewVBNCodes {
    width: 450px;
}

#NewVBNGroups {
    width: 450px;
}

#VBNPropertyTypesSelection {
    width: 400px;
}

.clear {
    clear: both;
}

#CABRequests-wrapper {
    /*border: 1px solid red;*/
    width: 95%;
}

#CABRequests {
    list-style: none;
    overflow: hidden;    
    
}
    #CABRequests>li {
        float: left;
        padding: 15px;
        /*border: 1px solid green;*/
        margin: 15px;
        height: 200px;
        width: 210px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.1);
        position: relative;
        
    }
        #CABRequests li:hover {
                    background-color: rgba(0, 0, 0, 0.2);
        }
    

#CABRequests img {
    height: 100px;
    z-index: 20;
}

.CABRequest {
    width: 210px;
    float: left;
    z-index: 10;
}
    .CABRequest > h2 {
        width: 100px;
        word-wrap:normal;
    }

#form67 {
    position:absolute;
    top: 15px;
    right: 20px;
    z-index: 5;
    float: right; 
    
    width: 655px;
}
