﻿@using LogiCAB.Web.Domain;
@using CAB.Domain.Helpers;
@using CAB.Data.EF.Models;
@model HandshakeAdmin
@{
    ViewBag.Title = "HandshakeEditPartial";
}
<style>
    .handshakeEdit {
        padding:15px;
        width: 700px;
        border: 1px solid red;
        margin:10px;
    }
</style>
<div class="handshakeEdit">
    <form>
        <input type="hidden" value="@Model.GrowerSequence" name="GrowerSequence" />
        <input type="hidden" value="@Model.BuyerSequence" name="BuyerSequence" />
        <table style="width:100%;">
            <tr>
                <td colspan="4" style="border-bottom:1px solid green;">
                    <h3>Handshake Edit</h3>
                </td>
            </tr>
            <tr>
                <td style="width:100px;">
                    @Extensions.dict(Usr.Language, "Mail")
                </td>
                <td>
                    @Html.DevExpress().TextBox(txt => {
                        txt.Name = "Mail";
                    }).Bind(Model.Mail).GetHtml()
                </td>
                <td style="text-align:right;">
                     @Html.DevExpress().CheckBox(chk => {
                        chk.Name = "Options.AutoKWB";
                    }).Bind(Model.Options.AutoKWB).GetHtml()
                </td>
                <td>
                    @Extensions.dict(Usr.Language, "Auto_KWB")
                </td>
            </tr>
            <tr>
                <td>
                    @Extensions.dict(Usr.Language, "Request_date")
                </td>
                <td>                    
                    @Html.DevExpress().DateEdit(dt => {
                        dt.Name = "RequestDate";
                    }).Bind(Model.RequestDate).GetHtml()
                </td>
                <td style="text-align:right;">
                    @Html.DevExpress().CheckBox(chk => {
                        chk.Name = "Options.AutoEKT";
                    }).Bind(Model.Options.AutoEKT).GetHtml()
                </td>
                <td>
                    @Extensions.dict(Usr.Language, "Auto_EKT")
                </td>
            </tr>
            <tr>
                <td>
                    @Extensions.dict(Usr.Language, "Accept_date")
                </td>
                <td>
                    @Html.DevExpress().DateEdit(dt => {
                        dt.Name = "AcceptDate";
                    }).Bind(Model.AcceptDate).GetHtml()
                </td>
                <td style="text-align:right;">
                    @Html.DevExpress().CheckBox(chk => {
                        chk.Name = "Blocked";
                    }).Bind(Model.Blocked).GetHtml()
                </td>
                <td>
                    @Extensions.dict(Usr.Language, "Blocked")
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:right;">
                   @Extensions.dict(Usr.Language, "Buyer")
                </td>
                <td>
                    @Html.DevExpress().TextBox(txt => {
                        txt.Name = "Buyer";
                    }).Bind(Model.Buyer).GetHtml()                    
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:right;">
                    @Extensions.dict(Usr.Language, "Grower")
                </td>
                <td>
                    @Html.DevExpress().TextBox(txt => {
                        txt.Name = "Grower";
                    }).Bind(Model.Grower).GetHtml()
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:right;">
                    @Extensions.dict(Usr.Language, "Remark")
                </td>
                <td>
                    @Html.DevExpress().Memo(m => {
                        m.Name = "Remark";
                        m.Properties.Rows = 5;
                        m.Properties.Columns = 40;
                    }).Bind(Model.Remark).GetHtml()
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DevExpress().Button(btnSettings => {
                       btnSettings.Name = "btnUpdate";
                       btnSettings.ControlStyle.CssClass = "button";
                       btnSettings.Text = Extensions.dict(Usr.Language, "save");
                       btnSettings.Images.Image.Url = "~/Content/save.png";
                       btnSettings.Images.Image.Height = Unit.Pixel(16);
                       btnSettings.Images.Image.Width = Unit.Pixel(16);
                       btnSettings.Width = Unit.Pixel(100);
                       btnSettings.ClientSideEvents.Click = "function(s, e){ gvHandshakes.UpdateEdit(); }";
                    }).GetHtml()
                </td>
                <td>
                    @Html.DevExpress().Button(btnSettings => {
                       btnSettings.Name = "btnCancel";
                       btnSettings.ControlStyle.CssClass = "button";
                       btnSettings.Text = Extensions.dict(Usr.Language, "cancel");
                       btnSettings.Images.Image.Url = "~/Content/cancel.png";
                       btnSettings.Images.Image.Height = Unit.Pixel(16);
                       btnSettings.Images.Image.Width = Unit.Pixel(16);
                       btnSettings.Width = Unit.Pixel(100);
                       btnSettings.ClientSideEvents.Click = "function(s, e){ gvHandshakes.CancelEdit(); }";
                    }).GetHtml()
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>

