﻿@using CAB.Data.EF.Models;
@model List<HandshakeAdmin>
@{
    ViewBag.Title = "LogiCAB - " + Extensions.dict(Usr.Language, "handshakes");
}

<h2 style="float:left;">Handshake Management</h2>




@Html.DevExpress().PageControl(settings =>
{
    settings.Name = "tabHandshakeAdmin";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

    settings.TabPages.Add(p =>
    {
        p.Text = Extensions.dict(Usr.Language, "Handshakes");
        p.Name = "tabHandshakes";
        p.TabImage.Url = "~/Content/handshake.png";
        p.TabImage.Height = Unit.Pixel(16);
        p.TabImage.Width = Unit.Pixel(16);
        p.SetContent(() =>
        {
            Html.RenderPartial("List");
        });
    });
    settings.TabPages.Add(p =>
    {
        p.Text = Extensions.dict(Usr.Language, "new_handshake");
        p.Name = "tabNewHandshake";
        p.TabImage.Url = "~/Content/plus.png";
        p.TabImage.Height = Unit.Pixel(16);
        p.TabImage.Width = Unit.Pixel(16);
        p.SetContent(() =>
        {
            Html.RenderPartial("CreateHandshake", new CAB.Domain.Models.Handshake());
        });
    });
}).GetHtml()
