﻿@using CAB.Domain.Helpers;
@using LogiCAB.Web.Domain;

@{ LogiCAB.Web.Domain.UserInformation userinfo = (LogiCAB.Web.Domain.UserInformation)Session["userinfo"]; }        
@Html.DevExpress().GridView(sub2settings => {
    sub2settings.Name = "gvSub2Editing";
    sub2settings.KeyFieldName = "seq";
    sub2settings.Styles.Table.BackColor = System.Drawing.Color.PaleGoldenrod;
    sub2settings.Width = System.Web.UI.WebControls.Unit.Percentage(60);
    sub2settings.CallbackRouteValues = new { Controller = "CABRequest", Action = "RequestCasks" };
    sub2settings.Attributes.CssStyle.Add("margin", "5px;");
    sub2settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "CABRequest", Action = "RequestCasksAdd" };
    sub2settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "CABRequest", Action = "RequestCasksDelete" };
    sub2settings.SettingsPager.PageSize = 50;

    GridViewCommandColumn commandColumn2 = new GridViewCommandColumn();
    commandColumn2.Width = System.Web.UI.WebControls.Unit.Pixel(50);
    commandColumn2.Visible = true;
    commandColumn2.ShowDeleteButton = true;
    sub2settings.SettingsCommandButton.DeleteButton.Image.IsResourcePng = true;
    sub2settings.SettingsCommandButton.DeleteButton.Image.Url = "~/Content/cancel.png";
    sub2settings.SettingsCommandButton.DeleteButton.Image.Height = System.Web.UI.WebControls.Unit.Pixel(18);
    sub2settings.SettingsCommandButton.DeleteButton.Image.Width = System.Web.UI.WebControls.Unit.Pixel(18);

    sub2settings.Columns.Add(commandColumn2);    
    
    
    sub2settings.Columns.Add(column => {
        column.Caption = "Fustcode";

        column.FieldName = "caskcode";
        column.Width = System.Web.UI.WebControls.Unit.Pixel(48);
    });
    sub2settings.Columns.Add(column =>
    {
        column.Caption = "Omschrijving";
        column.FieldName = "caskdesc";
        column.Width = System.Web.UI.WebControls.Unit.Pixel(191);
    });    
    sub2settings.Columns.Add(column => {
        column.Caption = "Aantal per fust";
        column.FieldName = "cask_prunit";
        column.Width = System.Web.UI.WebControls.Unit.Pixel(120);
    });
    sub2settings.Columns.Add(column => {
        column.Caption = "Fusten per laag";
        column.FieldName = "cask_prlayer";
        column.Width = System.Web.UI.WebControls.Unit.Pixel(120);
    });
    
    string cask_prtrolley_caption = "";
    switch(userinfo.selectedMaingroup) {
        case 1:
            cask_prtrolley_caption = "Lagen per CC";
            break;
        case 2:
            cask_prtrolley_caption = "Lagen per VBA";
            break;        
        default:
            cask_prtrolley_caption = "Lagen pr Kar";
            break;
    }
    
    sub2settings.Columns.Add(column => {
        column.Caption = cask_prtrolley_caption;
        column.FieldName = "cask_prtrolley";
        /*column.Width = System.Web.UI.WebControls.Unit.Pixel(120);*/   
    });
    sub2settings.SetEditFormTemplateContent(c => {
        ViewContext.Writer.Write("<table><tr><td style=\"padding-left: 65px;\">");
        //Html.DevExpress().Label(s => {
        //    s.AssociatedControlName = "cb_newCask";
        //    s.Text = "Fustcode:";
        //    s.Attributes.CssStyle.Add("margin", "5px;");
        //}).Render();
        Html.RenderAction("CaskComboPartial", "CABRequest");
//        Html.RenderAction("Req/CaskComboPartial");           
        ViewContext.Writer.Write("</td><td>");
        //Html.DevExpress().Label(s => {
        //    s.AssociatedControlName = "cask_prunit";
        //    s.Text = "Aantal per fust";
        //    s.Attributes.CssStyle.Add("margin", "5px;");
        //}).Render();
        Html.DevExpress().TextBox(s => {
            s.Name = "cask_prunit";
            s.Width = System.Web.UI.WebControls.Unit.Pixel(120);
            s.Properties.NullText = Extensions.dict(Usr.Language, "cask_prunit");
            s.Attributes.CssStyle.Add("margin", "5px;");
        }).Render();
        ViewContext.Writer.Write("</td><td>");
        //Html.DevExpress().Label(s => {
        //    s.AssociatedControlName = "cask_prlayer";
        //    s.Text = "Fusten per laag";
        //    s.Attributes.CssStyle.Add("margin", "5px;");
        //}).Render();
        Html.DevExpress().TextBox(s => {
            s.Name = "cask_prlayer";
            s.Attributes.CssStyle.Add("margin", "5px;");
            s.Properties.NullText = Extensions.dict(Usr.Language, "cask_prlayer");
            s.Width = System.Web.UI.WebControls.Unit.Pixel(120);
        }).Render();
        ViewContext.Writer.Write("</td><td>");
        Html.DevExpress().TextBox(s => {
            s.Name = "cask_prtrolley";
            s.Properties.NullText = Extensions.dict(Usr.Language, "cask_prtrolley");
            s.Attributes.CssStyle.Add("margin", "5px;");
            s.Width = System.Web.UI.WebControls.Unit.Pixel(120);
        }).Render();
        ViewContext.Writer.Write("</td></tr><tr><td></td><td></td><td>");
        Html.DevExpress().Button(btnSettings => {
            btnSettings.Name = "btnSaveCask";
            btnSettings.ControlStyle.CssClass = "button";
            btnSettings.Attributes.CssStyle.Add("margin", "5px;");
            btnSettings.Text = "Opslaan";
            btnSettings.Images.Image.Url = "~/Content/save.png";
            btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
            btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
            btnSettings.Width = System.Web.UI.WebControls.Unit.Percentage(93);
            btnSettings.ClientSideEvents.Click = "addNewCaskToRequest";
        }).Render();   
        ViewContext.Writer.Write("</td><td>");
        Html.DevExpress().Button(btnSettings => {
            btnSettings.Name = "btnCancelCask";
            btnSettings.ControlStyle.CssClass = "button";
            btnSettings.Attributes.CssStyle.Add("margin", "5px;");
            btnSettings.Text = "Annuleren";
            btnSettings.Images.Image.Url = "~/Content/cancel.png";
            btnSettings.Images.Image.Height = System.Web.UI.WebControls.Unit.Pixel(16);
            btnSettings.Images.Image.Width = System.Web.UI.WebControls.Unit.Pixel(16);
            btnSettings.Width = System.Web.UI.WebControls.Unit.Percentage(93);
            btnSettings.ClientSideEvents.Click = "function(s, e){ gvSub2Editing.CancelEdit(); }";
        }).Render();                 
        ViewContext.Writer.Write("</td></tr></table>");
    });     
}).Bind(LogiCAB.Web.Controllers.CABRequestController.getRequestCasks(userinfo.currentRequest.QCRQ_SEQUENCE, false)).GetHtml()
